<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.wechat.course.mapper.MyInfoMapper">

	<!-- 查找主播的学员、课程数  -->
	<select id="selectCollegeCourseXmbNumber" resultType="java.math.BigDecimal">
		( select count(*) as number from apply_r_grade_course where course_id in 
		  (select id from oe_course where user_lecturer_id = #{userId} ) )
		UNION ALL 
        ( select count(*) as number from oe_course  where user_lecturer_id =#{userId} ) )
	</select>	
	
	
    <!-- 查找出这个主播被购买的课程 、        通过课程id查找这个课程送的礼物总额   -->
	
	<select id="selectCollegeCourseXmbNumber" resultType="java.math.BigDecimal">
		( select count(*) as number from apply_r_grade_course where course_id in 
		  (select id from oe_course where user_lecturer_id = #{userId} ) )
		UNION ALL 
        ( select count(*) as number from oe_course  where user_lecturer_id =#{userId} ) )
	</select>	
	
	
	
</mapper>