<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.wechat.course.mapper.WatchHistoryMapper">

	<select id="selectWatchHistory" resultType="com.xczhihui.wechat.course.vo.WatchHistoryVO">
		SELECT
		  owh.course_id as courseId,
		  owh.lecturer_id as lecturerId,
		  oc.grade_name as gradeName,
		  oc.lecturer as lecturerName,
		  owh.create_time as watchTime,
		  oc.live_source_type as liveSourceType,
		  if(oc.type =3,4,IF(oc.type =1,3,if(oc.multimedia_type=1,1,2))) as type,
		  if(oc.is_free =0,0,1) as watchState,
		  oc.collection as collection,
		  oc.live_source_type as liveSourceType,
		  if(oc.live_status = 2,if(DATE_ADD(now(),INTERVAL 10 MINUTE)>=oc.start_time and now()&lt;oc.start_time,4,
                    if(DATE_ADD(now(),INTERVAL 2 HOUR)>=oc.start_time and now()&lt;oc.start_time,5,oc.live_status)),oc.live_status) AS lineState
                    
		FROM
		  oe_watch_history1 owh 
		  inner join oe_course oc on owh.course_id = oc.id
		  where owh.user_id =#{userId}   order by owh.create_time desc limit 0,5
	</select>		  
	
<!-- 	@Param("userId") Integer type, @Param("courseId") -->
	<select id="findWatchHistoryByUserIdAndCourseId" resultType="com.xczhihui.wechat.course.model.WatchHistory" >
		SELECT
		  *
		FROM
		  oe_watch_history1 owh where owh.user_id = #{userId}
		  and  owh.course_id = #{courseId}
	</select>
	
    <select id="findWatchHistoryByUserId" resultType="com.xczhihui.wechat.course.model.WatchHistory" >
		SELECT
		  *
		FROM
		  oe_watch_history1 owh where owh.user_id = #{userId}  limit 0,5
	</select>
	
	<delete  id="deleteBatch">    
        delete  from  oe_watch_history1  	
       	  where id  in 
        <foreach collection="list" item="model" open="(" separator="," close=")" >    
            	#{model.id}
        </foreach>  
	</delete >
	
	<delete  id="deleteWatchHistoryByUserId">    
        delete  from  oe_watch_history1  where user_id = #{userId}
	</delete >
	
	
</mapper>