<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.wechat.course.mapper.WeiboClientUserMappingMapper">

	<!-- 微博用户唯一标识获取  -->
	<select id="selectWeiboClientUserMappingByUid" resultType="com.xczhihui.wechat.course.model.WeiboClientUserMapping">
		SELECT
			*
		FROM
		  weibo_client_user_mapping wcum
				WHERE wcum.uid = #{uid}  limit 1
	</select>
	
	<!-- 通过熊猫中医用户id获取  -->
	<select id="selectWeiboClientUserMappingByUserId" resultType="com.xczhihui.wechat.course.model.WeiboClientUserMapping">
		SELECT
			*
		FROM
		  weibo_client_user_mapping wcum
				WHERE wcum.user_id = #{userId} and wcum.uid = #{uid} limit 1
	</select>
</mapper>