
<!--<iframe id="viewFramePlan" url="http://o.officeweb365.com/p/pv.aspx?PowerPointView=ReadingView&WOPISrc=http%3A%2F%2Fow365%2Fwopi%2Ffiles%2F%40%2Fwopi%3FvId%3DlAIdWJvvqr7zOqZ49IRc_w%3D%3D&bs=b2ZmaWNld2ViMzY1LmNvbS44MFzmipXotYTorqHliJLnu5@orqHkuI7nrqHnkIbvvIjljZfkuqzlj5HlsZXmlLnpnanorqHliJLmipXotYTlpITvvIkucHB0eA==&token=pLLW_reB0pVXEODc88NDqeYaLDikhozf&cancopy=" style="border:0;width:100%;height:100%;"></iframe>-->
{{if resourceDB.success}}
	{{if resourceDB.resultObject.items != ''}}
	<iframe id="viewFramePlan" src="{{resourceDB.resultObject.items[0].url}}"  style="border:0;width:100%;height:100%;"></iframe>
	{{else}}
	<div class="nodeta">
		<span>没有可观看的教案资源</span>
	</div>
	{{/if}}
{{/if}}