<div class="modal in" id="login" data-backdrop="static" style="display: block; padding-right: 8px;">
	<div class="modal-dialog login-module" role="document">
		<div class="cymylogin">
			<div class="cymylogin-top clearfix">
				<div class="cymyloginclose" data-dismiss="modal" aria-label="Close" data-backdrop="static"></div>
				<div class="cymyloginlogo">欢迎登录&nbsp;&nbsp;熊猫中医云课堂</div>
				<div class="cymyloginhint cymlogin" style="top: 221px; display: none;">请输入6-18位密码</div>
			</div>
			<div class="cymylogin-bottom form-login"><input type="text" class="cyinput1 form-control" maxlength="30"
			                                                placeholder="请输入手机号或邮箱" autocomplete="off">
				<div class="cymyloginclose1" style="display: block;"></div>
				<input type="password" class="cyinput2 form-control" maxlength="18" placeholder="请输入6-18位密码"
				       autocomplete="off">
				<div class="cymyloginclose2" style="display: block;"></div>
				<button class="cymyloginbutton">登<em></em>录</button>
				<div class="cymyloginpassword">
					<a class="atOnceRegister" href="/web/html/login.html?ways=register">立即注册</a>
					<a class="atOnceResetPassword" href="/web/html/resetPassword.html">忘记密码?</a></div>
			</div>
		</div>
	</div>
</div>