<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
	<ul class="layui-tab-title">
		<li class="video-tab-title layui-this"  data-type="0"><i class="icon iconfont icon-shipin1"></i>视频</li>
		<li data-type="1"><i class="icon iconfont icon-yinpin"></i>音频</li>
		<li data-type="2"><i class="icon iconfont icon-ppt"></i>PPT</li>
		<li data-type="3"><i class="icon iconfont icon-jiaoan"></i>教案</li>
		<li data-type="4"><i class="icon iconfont icon-image"></i>图片</li>
		<li data-type="5"><i class="icon iconfont icon-wenben"></i>文本</li>
		<li data-type="6"><i class="icon iconfont icon-xiazai"></i>下载</li>
		<li data-type="7"><i class="icon iconfont icon-wenda1"></i>问题</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item video-tab-item  layui-show">
			<div id="video-view" style="height: 100%;"></div>
		</div>
		<div class="layui-tab-item">
			<div class="details-audio" id="audio-view"></div>
		</div>
		<div class="layui-tab-item">
			<div class="ppt-bg" id="ppt-view"></div>
		</div>
		<div class="layui-tab-item">
			<div class="plan-bg" id="plan-view"></div>
		</div>
		<div class="layui-tab-item">
			<div class="pic-box">
				<div class="pic-bg">
					<ul id="pic-view"></ul>

					<div class="pic-page" id="pic-page"></div>
				</div>
			</div>
		</div>
		<div class="layui-tab-item">
			<div class="text-bg" id="text-view"></div>
		</div>
		<div class="layui-tab-item">
			<div class="download-bg">
				<div class="download-btn-box" id="download-view"></div>
			</div>
		</div>
		<div class="layui-tab-item">
			<div class="problem-bg">
				<div class="problem" id="problem-view"></div>
				<div class="problem" id="problem-page"></div>
			</div>
		</div>
	</div>
</div>