<div class="details-body">
	<div class="details-header">
		<span class="layui-breadcrumb" style="visibility: visible;">
		  <a href="/web/html/myStudyCenter.html">学习中心
			  <span class="layui-box">&gt;</span>
		  </a>
		  <a href="/web/html/myStudyCenter.html">院校班级
			  <span class="layui-box">&gt;</span>
		  </a>
		  <a id="nav-top" href="/web/html/myStudyCenter.html">复习列表
			  <span class="layui-box">&gt;</span>
		  </a>
		  <a><cite>
			  {{if treeDB.success}}
			  {{treeDB.resultObject.courseName}}
			  {{/if}}
		  </cite></a>
		</span>

		<!--进度条-->
		<!--
		<div class="progress">
			<div class="pro-box">
				<div class="pro-bar" style="width: if treeDB.success  treeDB.resultObject.progress100  else  0 /if  %;"></div>
			</div>

			<div class="pro-text">
				 if treeDB.success
				 treeDB.resultObject.progress100 %
				 /if
			</div>
		</div>
		-->
		<!--end进度条-->

	</div>
	<div class="details-box">

		<div class="details-left" id="details-box"></div>

		<div class="details-right">

			<div class="details-right-btn">
				<a href="javascript:;" class="J-btn-shrink">
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</div>

			<div class="details-tree">
				<!--<ul id="demo"></ul>-->
				<br />




				<ul id="demo1" class="layui-box layui-tree">
					{{if treeDB.success}}
						{{if treeDB.resultObject.reviewStudentPointTree}}
						<li  class="J-li-1 tree-li-1">
							<div class="li-box">
								{{if treeDB.resultObject.reviewStudentPointTree.children != ''}}
								<i class="layui-icon layui-tree-spread"></i>
								{{else}}
								<span class="tree-no-i"></span>
								{{/if}}
								<a href="javascript:;" class="J-toggle-li-1 J-request" data-id="{{treeDB.resultObject.reviewStudentPointTree.pointId}}" title="{{treeDB.resultObject.reviewStudentPointTree.name}}" data-vttime="{{treeDB.resultObject.reviewStudentPointTree.duration}}" data-only="{{treeDB.resultObject.reviewStudentPointTree.onlyShow+''}}" style="{{if treeDB.resultObject.reviewStudentPointTree.onlyShow}}cursor: default;{{/if}}">
									<cite>{{treeDB.resultObject.reviewStudentPointTree.name}}</cite>
								</a>
								{{if treeDB.resultObject.reviewStudentPointTree.duration != 0}}
								{{if !treeDB.resultObject.reviewStudentPointTree.onlyShow}}
									<span class="rate">{{treeDB.resultObject.reviewStudentPointTree.progress100}}%</span>
								{{/if}}
								{{/if}}
							</div>
							<ul class="J-ul-2 tree-ul-1 layui-show">

								{{if treeDB.resultObject.reviewStudentPointTree.children}}
									{{each treeDB.resultObject.reviewStudentPointTree.children as tree2 i}}
										<li  class="J-li-2 tree-li-2">
											<div class="li-box">
												{{if tree2.children != ''}}
												<i class="layui-icon layui-tree-spread"></i>
												{{else}}
												<span class="tree-no-i"></span>
												{{/if}}
												<a href="javascript:;" class="J-toggle-li-2 J-request" data-id="{{tree2.pointId}}" title="{{tree2.name}}"  data-vttime="{{tree2.duration}}" data-only="{{tree2.onlyShow+''}}" style="{{if tree2.onlyShow}}cursor: default;{{/if}}">
													<cite>{{tree2.name}}</cite>
												</a>
												{{if tree2.duration != 0}}
												{{if !tree2.onlyShow}}
													<span class="rate">{{tree2.progress100}}%</span>
												{{/if}}
												{{/if}}
											</div>
											<ul class="J-ul-3 tree-ul-3 layui-show">

												{{if tree2.children}}
													{{each tree2.children as chiTree3 ci}}
													<li  class="J-li-3 tree-li-3">
														<div class="li-box">
															{{if chiTree3.children != ''}}
															<i class="layui-icon layui-tree-spread"></i>
															{{else}}
															<span class="tree-no-i"></span>
															{{/if}}
															<a href="javascript:;" class="J-toggle-li-3 J-request" data-id="{{chiTree3.pointId}}" title="{{chiTree3.name}}"  data-vttime="{{chiTree3.duration}}" data-only="{{chiTree3.onlyShow+''}}" style="{{if chiTree3.onlyShow}}cursor: default;{{/if}}">
																<cite>{{chiTree3.name}}</cite>
															</a>
															{{if chiTree3.duration != 0}}
															{{if !chiTree3.onlyShow}}
																<span class="rate">{{chiTree3.progress100}}%</span>
															{{/if}}
															{{/if}}
														</div>

														<ul class="J-ul-4 tree-ul-4 layui-show">

															{{if chiTree3.children}}
																{{each chiTree3.children as chiTree4 ci}}
																<li  class="J-li-4 tree-li-4">
																	<div class="li-box">
																		{{if chiTree4.children != ''}}
																		<i class="layui-icon layui-tree-spread"></i>
																		{{else}}
																		<span class="tree-no-i"></span>
																		{{/if}}
																		<a href="javascript:;" class="J-toggle-li-4 J-request"  data-id="{{chiTree4.pointId}}" title="{{chiTree4.name}}" data-vttime="{{chiTree4.duration}}" data-only="{{chiTree4.onlyShow+''}}" style="{{if chiTree4.onlyShow}}cursor: default;{{/if}}">
																			<cite>{{chiTree4.name}}</cite>
																		</a>
																		{{if chiTree4.duration != 0}}
																		{{if !chiTree4.onlyShow}}
																			<span class="rate">{{chiTree4.progress100}}%</span>
																		{{/if}}
																		{{/if}}
																	</div>

																	<ul class="J-ul-5 tree-ul-5 layui-show">
																		{{if chiTree4.children != undefined || chiTree4.children != '' || chiTree4.children != null}}
																			{{each chiTree4.children as chiTree5 ci}}
																			<li  class="J-li-5 tree-li-5">
																				<div class="li-box">
																					{{if chiTree5.children != ''}}
																					<i class="layui-icon layui-tree-spread"></i>
																					{{else}}
																					<span class="tree-no-i"></span>
																					{{/if}}
																					<a href="javascript:;" class="J-toggle-li-5 J-request"  data-id="{{chiTree5.pointId}}" title="{{chiTree5.name}}" data-vttime="{{chiTree5.duration}}" data-only="{{chiTree5.onlyShow+''}}" style="{{if chiTree5.onlyShow}}cursor: default;{{/if}}">
																						<cite>{{chiTree5.name}}</cite>
																					</a>
																					{{if chiTree5.duration != 0}}
																					{{if !chiTree5.onlyShow}}
																					<span class="rate">{{chiTree5.progress100}}%</span>
																					{{/if}}
																					{{/if}}
																				</div>
																			</li>
																			{{/each}}
																		{{/if}}

																	</ul>

																</li>
																{{/each}}
															{{/if}}

														</ul>

													</li>
													{{/each}}
												{{/if}}

											</ul>
										</li>
									{{/each}}
								{{/if}}
							</ul>
						</li>
						{{/if}}
					{{/if}}
				</ul>


			</div>



		</div>

	</div>

</div>