*{margin: 0; padding: 0;}
.z{float: left;}
.y{float: right;}
a:hover{text-decoration: none;}
a{text-decoration: none;}
ul li{list-style: none;}
body{
	background: #f0f0f0;
	font-size: 14px;
	font-family: "微软雅黑";
}
.head-wrapper{
	width: 100%;
	height: 56px;
	position: relative;
}
.head-top{
	width: 100%;
	height: 56px;
	background: #f8f8f8;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 99;
}
.head-top .left-title{
	line-height: 56px;
	color: #666666;
	margin-left: 50px;
}
.head-top .middle-top{
	width: 375px;
	height: 56px;
	margin: 0 auto;
	text-align: center;
	line-height: 56px;
}
.head-top .middle-top a{
	float: right;
	display: block;
	width: 82px;
	height: 36px;
	background: #00bc12;
	color: white;
	line-height: 36px;
	border-radius: 4px;
	margin-top: 10px;
}
.ware-content{
	width: 375px;
	margin: 0 auto;
	position: relative;
	background: white;
	overflow: hidden;
}
.operator-main{
	width: 100%;
	padding: 2px 0;
	overflow: hidden;
	background: white;
	font-size: 12px;
}
.operator-main ul{
	margin: 0;
	overflow: hidden;
	float: left;
}
.operator-main ul li{
	    float: left;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin-top: 4px;
    margin-left: 2px;
}
.operator-main img{
	width: 22px;
	display: block;
    margin-top: 3px;
    margin-right: 3px;
}
/*轮播图*/
.banner-wrap{
	width: 375px;
	height: 375px;	
}
.banner-indicators{
	 margin-bottom: 0;
    bottom: 5px;
}
.banner-carousel>.item>img{
	height: 375px;
}

.banner-indicators li{
	display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    width: 7px;
    height: 7px;
    margin: 0 5px;
}
.banner-indicators .active{
	width: 7px;
	height: 7px;
	background: #00bc12;
	border: 1px solid #00bc12;
	margin: 0 5px;
}
/*轮播图结束*/
.ware-title{
	width: 100%;
	line-height: 20px;
	font-size: 14px;
	padding: 0 10px;
	position: relative;
	max-height: 40px;
	overflow: hidden;
   	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin: 10px 0;
} 
.ware-price{
	color: #F97215;
	padding-left: 10px;
	margin-bottom: 0;
	font-size: 20px;
	overflow: hidden;
}
.ware-price .ware-original{
	color: #999;
	margin-left: 10px;
	font-weight: normal;
	font-size: 14px;
	margin-top: 6px;
}

.ware-price .sold-goods{
	color: #999;
	margin-right: 10px;
	font-weight: normal;
	font-size: 14px;
	margin-top: 6px;
}
.line{
	height:10px;
	border-width:0;
	background-color:#dedddd;	
	margin: 10px 0;
	clear: both;
}
.physician-title {
	padding: 0 10px;
	overflow: hidden;
}
.physician-title span{
	float: left;
	font-size: 16px;
}
.physician-title p{
	float: right;
	color: #F97215;
}
.physician-inf-main{
	padding: 0 10px;
	overflow: hidden;
}
.physician-inf-main .physician-head{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.physician-inf-main .physician-head img{
	width: 100%;
	height: 100%;
}
.physician-inf-main .physician-name{
	font-size: 16px;
	color: #666666;
	margin-left: 10px;
}
.physician-inf-main .physician-groom{
	color: #999;
    margin: 2px 10px 0;
}
.physician-inf-main .groom-img{
	width: 80px;
	display: block;
	margin-top: 5px;
}
.physician-inf-main .physician-inf{
	overflow: hidden;
	margin: 10px 0 20px 10px;
}
.physician-inf-main .physician-text{
	margin-bottom: 0;
}
/*商品评价*/
.ware-evaluate {
	overflow: hidden;

}
.ware-evaluate .evaluate-head{
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 10px;
}
.ware-evaluate .evaluate-head img{
	width: 100%;
	height: 100%;
}
.ware-evaluate .evaluate-name{
	margin: 6px 0 0 10px;
}
.ware-evaluate .buy-inf{
	margin-left: 10px;
	color: #999;
	padding: 10px 0;
	clear: both;
	margin-bottom: 0;
}
.ware-evaluate .evaluate-text{
	    width: 100%;
    line-height: 20px;
    padding: 0 10px;
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	margin-bottom: 0;
}
/*商品详情*/
.ware-detail{
	overflow: hidden;	
}

.ware-detail-img img{
	width: 100% !important;
	display: block;
}
/*是否下架*/
.lower-frame{
	position: fixed;
	width: 375px;
	height: 46px;
	bottom: 46px;
	background: #6f6f6f;
	color: white;
	text-align: center;
	line-height: 46px;
}
.bottom{
	width: 100%;
	height: 46px;
	position: relative;
}
.slide-bottom{
	width: 375px;
	height: 46px;
	position: fixed;
	bottom: 0;
	background: #dedede;
}
.left-bottom {
	margin-left: 5px;
}
.left-bottom ul li{
	float: left;
	width: 39px;
	text-align: center;
	font-size: 12px;
	margin-top: 3px;
	margin-right: 20px;
	
}
.left-bottom ul li img{
	width: 18px;
	height: 18px;
}
.left-bottom ul li p{
	margin: 5px 0 0;
}
.right-bottom{
	margin-top: 6px;
	margin-right: 10px;
}
.right-bottom ul li{
	float: left;
	width: 115px;
	height: 36px;
	color: white;
	text-align: center;
	line-height: 36px;
}
.right-bottom ul li:nth-child(1){
	border-radius: 18px 0 0 18px;
	background: #F97215;
}
.right-bottom ul li:nth-child(2){
	border-radius: 0 18px 18px 0;
	background: #FF4012;
}
/*二维码*/
.section-detail{
	width: 180px;
	background: white;
	position: fixed;
	left: 50%;
	margin-left: 247px;
	top: 0;
	margin-top: 220px;
	padding: 10px;
}
.wechat-top{
	    padding: 0 10px 10px;
    border-bottom: 1px dashed #dedede;
}
.wechat-top img{
	width: 28px;
}
.wechat-top span{
	color: #6dc016;
	margin-left: 6px;
	font-size: 16px;
}
.section-detail .wechat-tip{
	text-align: center;
	margin: 5px 0;
	color: #666;
}
.section-detail .wechat-data{
	width: 158px;
	height: 158px;
	margin: 0 auto;
	overflow: hidden;
}
.section-detail .wechat-data img{
	width: 158px;
	height: 158px;
	display: block;
}
