/**
 * Created by admin on 2016/12/1.
 */
html,
body {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  background-color: #f7f7f7;
}
body,
html,
p,
ul,
li,
a,
img,
ol,
li {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: inline-block;
}
.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
#assignmentBox {
  width: 1200px;
  margin: 20px auto 0;
}
#assignmentBox .examBasicInfo {
  padding: 24px 30px 40px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fff;
}
#assignmentBox .examBasicInfo .examBasicInfoTop .examName {
  font-size: 22px;
  color: #333;
}
#assignmentBox .examBasicInfo .examBasicInfoTop .tiCount,
#assignmentBox .examBasicInfo .examBasicInfoTop .tijiaoTime {
  font-size: 16px;
  color: #999;
  display: inline-block;
  margin-top: 11px;
}
#assignmentBox .examBasicInfo .examBasicInfoTop .tiCount {
  margin-right: 35px;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre {
  margin-top: 20px;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .score {
  float: left;
  margin-left: 80px;
  vertical-align: middle;
  margin-top: 15px;
  margin-right: 130px;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .score .jindu {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .score .jindu canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .score .jindu .defen {
  width: 128px;
  height: 128px;
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fafafa;
  color: #ff4012;
  font-size: 35px;
  line-height: 128px;
  text-align: center;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .score .jindu .defen span {
  font-size: 18px;
  color: #ff4012;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .score .totalFen {
  width: 148px;
  text-align: center;
  font-size: 14px;
  margin-top: 25px;
  color: #333;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType {
  float: left;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .zuguanTi {
  text-align: right;
  margin-bottom: 5px;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .zuguanTi span {
  font-size: 14px;
  color: #999;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .zuguanTi .redStar {
  color: #ff4012;
  display: inline-block;
  margin-right: 5px;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal {
  border: 1px solid #f0f0f0;
  background-color: #fafafa;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal .correntAnswer {
  color: #2cb82c;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal .errorAnser {
  color: #ff4012;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal .totalDeFen {
  color: #e7b5a8;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul {
  border-right: 1px solid #f0f0f0;
  float: left;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul li {
  width: 158px;
  height: 46px;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul li:last-child {
  border-bottom: none;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul:last-child {
  border-right: none;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul:nth-child(2) {
  width: 188px;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul:nth-child(2) li {
  width: 100%;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul:nth-child(3) {
  width: 188px;
}
#assignmentBox .examBasicInfo .timuTypeAndSocre .timuType .timuTotal ul:nth-child(3) li {
  width: 100%;
}
#assignmentBox .timuTypeBox {
  padding: 0px 30px;
  width: 1200px;
  background-color: #fff;
  height: 59px;
  line-height: 59px;
}
#assignmentBox .timuTypeBox li {
  width: 65px;
  float: left;
  text-align: center;
  margin-right: 30px;
  font-size: 16px;
  color: #333;
  padding: 0 5px;
  cursor: pointer;
}
#assignmentBox .timuTypeBox .select {
  color: #2cb82c;
  border-bottom: 2px solid #2cb82c;
}
#assignmentBox .timuTypeBox.examFloat {
  z-index: 1005;
  bottom: auto;
  position: fixed;
  left: 50%;
  margin-left: -600px;
  top: 0px;
  -webkit-box-shadow: 0px 0px 6px 3px #ccc;
  -moz-box-shadow: 0px 0px 6px 3px #ccc;
  box-shadow: 0px 0px 6px 3px #ccc;
}
#assignmentBox .examContent {
  margin-top: 20px;
}
#assignmentBox .examContent .timuAndAnswer {
  float: left;
  width: 896px;
  background-color: #fff;
  padding: 0 30px 60px;
}
#assignmentBox .examContent .timuAndAnswer .timu {
  font-size: 14px;
}
#assignmentBox .examContent .timuAndAnswer .timu > li {
  border-bottom: 1px solid #e4e4e4;
  padding: 25px 0;
}
#assignmentBox .examContent .timuAndAnswer .timu > li p {
  font-size: 14px;
}
#assignmentBox .examContent .timuAndAnswer .timu > li p span {
  display: inline-block;
}
#assignmentBox .examContent .timuAndAnswer .timu > li img {
  width: 200px;
}
#assignmentBox .examContent .timuAndAnswer .timu > li p:first-child {
  display: inline-block;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .ExamAnswer {
  margin-top: 6px;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .ExamAnswer span {
  word-wrap: break-word;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .ExamAnswer li {
  color: #666;
  width: 100%;
  line-height: 42px;
  font-size: 14px;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .ExamAnswer li:hover {
  background-color: #f5f8fb;
  color: #2cb82c;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .ExamAnswer i {
  padding-left: 10px;
  vertical-align: middle;
  margin-top: -3px;
  display: inline-block;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .ExamAnswer img {
  max-width: 836px;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .cankaoAnswer,
#assignmentBox .examContent .timuAndAnswer .timu > li .answerShouMing {
  color: #2cb82c;
  font-size: 14px;
  display: inline-block;
  word-wrap: break-word;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .cankaoAnswer {
  margin-top: 20px;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .answerShouMing {
  margin-top: 9px;
  word-wrap: break-word;
}
#assignmentBox .examContent .timuAndAnswer .timu > li .answerShouMing + span span {
  display: inline-block;
}
#assignmentBox .examContent .timuAndAnswer .timu .timu > li:first-child {
  padding-top: 30px;
}
#assignmentBox .examContent .answerCard {
  float: right;
  width: 284px;
  background-color: #fff;
}
#assignmentBox .examContent .answerCard div {
  border-bottom: 1px solid #eee;
}
#assignmentBox .examContent .answerCard div .answerStatus {
  padding: 20px;
}
#assignmentBox .examContent .answerCard div .answerStatus li {
  float: left;
  margin-right: 30px;
  height: 18px;
}
#assignmentBox .examContent .answerCard div .answerStatus li em {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 8px;
}
#assignmentBox .examContent .answerCard div .answerStatus li span {
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
}
#assignmentBox .examContent .answerCard div .answerStatus .corrent {
  background-color: #aedeae;
}
#assignmentBox .examContent .answerCard div .answerStatus .error {
  background-color: #ff4012;
}
#assignmentBox .examContent .answerCard div .answerStatus .noAnswer {
  background-color: #ddd;
}
#assignmentBox .examContent .answerCard .thirdLeiAnswer {
  background-color: #fff;
}
#assignmentBox .examContent .answerCard .thirdLeiAnswer .radioAnswer {
  padding: 0px 20px 8px;
}
#assignmentBox .examContent .answerCard .thirdLeiAnswer .radioAnswer span {
  font-size: 16px;
  color: #333;
}
#assignmentBox .examContent .answerCard .thirdLeiAnswer .radioAnswer ol {
  width: 110%;
  overflow: hidden;
}
#assignmentBox .examContent .answerCard .thirdLeiAnswer .radioAnswer ol li {
  float: left;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 3px 3px 0 0;
  color: #fff;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
#assignmentBox .examContent .answerCard .thirdLeiAnswer .radioAnswer ol .select {
  background-color: #2cb82c;
  color: #fff;
}
#assignmentBox .examContent .answerCard.answerCardFloat {
  position: fixed;
  left: 0;
  top: 79px;
}
#assignmentBox .corrent {
  background-color: #aedeae!important;
}
#assignmentBox .error {
  background-color: #e7b5a8!important;
}
#assignmentBox .noAnswer {
  background-color: #ddd!important;
}
#assignmentBox .correntAns {
  color: #ff4012!important;
}
#assignmentBox .errorAns {
  color: #2cb82c!important;
}
