@font-face {
  font-family: "iconfont";
  src: url('../assets/details-icon/iconfont.eot?t=1482457751552');
  /* IE9*/
  src: url('../assets/details-icon/iconfont.eot?t=1482457751552#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../assets/details-icon/iconfont.woff?t=1482457751552') format('woff'), /* chrome, firefox */ url('../assets/details-icon/iconfont.ttf?t=1482457751552') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../assets/details-icon/iconfont.svg?t=1482457751552#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shipin1:before {
  content: "\e627";
}
.icon-zhengque:before {
  content: "\e600";
}
.icon-ordinaryshijian:before {
  content: "\e646";
}
.icon-wenben:before {
  content: "\e632";
}
.icon-xiazai:before {
  content: "\e628";
}
.icon-cuowu:before {
  content: "\e609";
}
.icon-yinpin:before {
  content: "\e695";
}
.icon-wenda1:before {
  content: "\e633";
}
.icon-fangdajing:before {
  content: "\e601";
}
.icon-ppt:before {
  content: "\e639";
}
.icon-image:before {
  content: "\e680";
}
.icon-jiaoan:before {
  content: "\e6a3";
}
.icon-zaixiankecheng:before {
  content: "\e602";
}
.icon-wodewenda:before {
  content: "\e603";
}
.icon-wodedingdan:before {
  content: "\e604";
}
.icon-yuanxiaobanji:before {
  content: "\e605";
}
.icon-biji:before {
  content: "\e606";
}
.icon-bianji:before {
  content: "\e607";
}
.icon-huifu:before {
  content: "\e608";
}
.icon-guanbi:before {
  content: "\e60a";
}
.icon-shanchu:before {
  content: "\e60b";
}
.icon-pinglun:before {
  content: "\e60c";
}
.icon-tousu:before {
  content: "\e60d";
}
.icon-shoucang:before {
  content: "\e60e";
}
.icon-wenda:before {
  content: "\e60f";
}
.icon-weikaishi:before {
  content: "\e610";
}
.icon-xuanzhong:before {
  content: "\e611";
}
.icon-xiala:before {
  content: "\e612";
}
.icon-yulan:before {
  content: "\e613";
}
.icon-xueyuan:before {
  content: "\e614";
}
.icon-zan:before {
  content: "\e615";
}
.icon-left:before {
  content: "\e616";
}
.icon-tanhao:before {
  content: "\e617";
}
.icon-wenhao:before {
  content: "\e618";
}
.icon-yijianfankui:before {
  content: "\e619";
}
.icon-tuichu:before {
  content: "\e61a";
}
.icon-ziyuan:before {
  content: "\e61b";
}
.icon-xiangji:before {
  content: "\e61c";
}
.icon-fenxiang:before {
  content: "\e61d";
}
.icon-qianbao:before {
  content: "\e61e";
}
.icon-ku:before {
  content: "\e61f";
}
.icon-dawancheng:before {
  content: "\e620";
}
.icon-shipin:before {
  content: "\e621";
}
.icon-shijuan:before {
  content: "\e622";
}
.icon-weikaishi1:before {
  content: "\e623";
}
.icon-xiaowancheng:before {
  content: "\e624";
}
.icon-xiaolian:before {
  content: "\e625";
}
.icon-xuexizhong:before {
  content: "\e626";
}
.details-body {
  background: #252525;
  overflow: hidden;
}
.details-body .details-header {
  width: 100%;
  height: 58px;
  line-height: 58px;
  margin-left: 80px;
  overflow: hidden;
}
.details-body .details-header span.layui-breadcrumb {
  float: left;
}
.details-body .details-header span.layui-breadcrumb a {
  font-size: 16px;
  color: #FFFFFF !important;
}
.details-body .details-header span.layui-breadcrumb a cite {
  color: #FFFFFF;
}
.details-body .details-header span.layui-breadcrumb a span {
  color: #FFFFFF;
}
.details-body .details-header .progress {
  float: left;
  margin-left: 48px;
  overflow: hidden;
}
.details-body .details-header .progress .pro-box {
  float: left;
  margin-top: 22px;
  width: 150px;
  height: 10px;
  background: #464646;
  border-radius: 5px;
}
.details-body .details-header .progress .pro-box .pro-bar {
  height: 100%;
  background: #2cb82c;
}
.details-body .details-header .progress .pro-text {
  float: left;
  margin-left: 10px;
  font-size: 16px;
  color: #2cb82c;
}
.details-body .details-box {
  padding-left: 80px;
  padding-right: 369px;
  min-height: 900px;
  background: #000000;
  overflow: hidden;
  position: relative;
}
.details-body .details-box .details-left {
  float: left;
  width: 100%;
  min-height: 900px;
  background: #000000;
}
.details-body .details-box .details-left .layui-tab {
  margin: 0px;
  min-height: 900px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-title {
  height: 80px;
  border-bottom: none;
}
.details-body .details-box .details-left .layui-tab .layui-tab-title li {
  width: 87px;
  height: 100%;
  line-height: 80px;
  color: #FFFFFF;
  padding: 0px;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-title li i {
  font-size: 20px;
  margin-right: 10px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-title .layui-this {
  height: 100%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-title .layui-this::after {
  height: 100%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content {
  padding: 0px;
  width: 100%;
  height: 100%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item {
  position: relative;
  width: 100%;
  height: 700px;
  background: #eeeeee;
  overflow: hidden;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item #video-view {
  background: url('../images/bg/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .details-audio {
  position: relative;
  height: 100%;
  background: url('../images/bg/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .details-audio .audiojs {
  width: auto;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 80px;
  right: 80px;
  margin-top: -18px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .details-audio .audiojs .scrubber {
  width: 70%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-box {
  height: 100%;
  overflow: auto;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg {
  height: 100%;
  padding: 30px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg ul {
  margin-left: -30px;
  overflow: hidden;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg ul li {
  float: left;
  width: 50%;
  margin-bottom: 40px;
  height: 410px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg ul li .pic {
  margin-left: 30px;
  margin-bottom: 30px;
  height: 100%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg ul li a {
  display: block;
  width: 100%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg ul li img {
  width: 100%;
  height: 378px;
  display: block;
  margin: 0 auto;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg ul li h3 {
  font-size: 16px;
  color: #333333;
  margin-top: 15px;
  text-align: center;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .pic-bg .pic-page {
  text-align: center;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .text-bg,
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .plan-bg,
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .ppt-bg,
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg {
  height: 100%;
  overflow: auto;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .download-bg {
  position: relative;
  background: url('../images/bg/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  z-index: 9;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .download-bg .download-btn-box {
  height: 100%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .download-bg .download-btn-box .download-btn {
  display: block;
  width: 260px;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  background: #2cb82c;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -130px;
  margin-top: -40px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg {
  background: #eeeeee;
  padding: 0px 30px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg .problem ul {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 28px;
  padding-top: 25px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg .problem ul li .problem-box {
  overflow: hidden;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg .problem ul li .problem-box .p-left {
  float: left;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg .problem ul li .problem-box .p-left h3 {
  font-size: 16px;
  line-height: 28px;
  color: #2cb82c;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg .problem ul li .problem-box .p-right {
  margin-left: 100px;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .problem-bg .problem ul li .problem-box .p-right p {
  line-height: 28px;
  font-size: 16px;
  color: #333333;
  word-wrap: break-word;
  word-break: break-all;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .nodeta {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: url(../images/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .nodeta span {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #FF0000;
  position: absolute;
  top: 50%;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .laypage_main {
  width: 260px;
  margin: 0 auto;
  overflow: hidden;
}
.details-body .details-box .details-left .layui-tab .layui-tab-content .layui-tab-item .laypage_main a {
  display: block;
  float: left;
  width: 40%;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #FFFFFF;
  background: #2CB82C;
  border: none;
}
.details-body .details-box .details-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 277px;
  min-height: 900px;
  background: #000000;
}
.details-body .details-box .details-right .details-right-btn {
  width: 12px;
  height: 100%;
  background: #363636;
  position: absolute;
  top: 0px;
  left: -10px;
}
.details-body .details-box .details-right .details-right-btn a {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
}
.details-body .details-box .details-right .details-right-btn a i {
  font-size: 25px;
  color: #a1a2a4;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.details-body .details-box .details-right .details-tree {
  padding: 22px 10px;
  height: 800px;
  overflow: auto;
}
.details-body .details-box .details-right .details-tree .active {
  border: #424242 1px solid;
  background: #303030;
}
.details-body .details-box .details-right .details-tree cite {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
.details-body .details-box .details-right .details-tree .tree-li-1 cite {
  width: 100%;
}
.details-body .details-box .details-right .details-tree .tree-li-1 .tree-li-2 cite {
  width: 100%;
}
.details-body .details-box .details-right .details-tree .tree-li-1 .tree-li-2 .tree-li-3 cite {
  width: 100%;
}
.details-body .details-box .details-right .details-tree .tree-li-1 .tree-li-2 .tree-li-3 .tree-li-4 cite {
  width: 100%;
}
.details-body .details-box .details-right .details-tree .tree-li-1 .tree-li-2 .tree-li-3 .tree-li-4 .tree-li-5 cite {
  width: 100%;
}
.details-body .details-box .details-right .details-tree .tree-no-i {
  display: inline-block;
  vertical-align: top;
  height: 26px;
  cursor: pointer;
  padding-left: 6px;
  float: left;
}
.details-body .details-box .details-right .details-tree .layui-tree li {
  min-height: 35px;
  line-height: 35px;
  overflow: visible;
}
.details-body .details-box .details-right .details-tree .layui-tree li .li-box {
  height: 35px;
  margin-left: -40px;
  padding-left: 40px;
  overflow: hidden;
}
.details-body .details-box .details-right .details-tree .layui-tree li i {
  color: #FFFFFF;
  padding: 0px;
  float: left;
}
.details-body .details-box .details-right .details-tree .layui-tree li a {
  float: left;
  display: block;
  height: 100%;
  width: 68%;
  margin-left: -5px;
}
.details-body .details-box .details-right .details-tree .layui-tree li a i,
.details-body .details-box .details-right .details-tree .layui-tree li a cite {
  color: #FFFFFF;
  padding: 0px;
  margin-left: 10px;
}
.details-body .details-box .details-right .details-tree .layui-tree li .rate {
  float: right;
  font-size: 16px;
  color: #29992a;
}
.details-body .details-box .details-right .details-tree .layui-tree li ul {
  padding-left: 20px;
  margin-left: 0px;
}
