*, body, html {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft Yahei'
}

.container {
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	top: 240px;
	bottom: 0;
	overflow: hidden;
	cursor: pointer
}

.header {
	position: absolute;
	width: 100%;
	height: 36px;
	line-height: 36px;
	top: 0;
	background-color: #201f25;
	z-index: 3
}

.header a {
	width: 33.33%;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #ddd
}

.header a.active {
	background-color: #f33;
	color: #fff
}

.chatmsg-box, .question-msg-box {
	padding-top: 36px;
	padding-bottom: 70px;
	box-sizing: border-box;
	height: 100%;
	display: none;
	overflow-y: auto;
	background-color: #282830
}

.notice-msg-box {
	padding-top: 36px;
	box-sizing: border-box;
	height: 100%;
	display: none;
	overflow-y: auto;
	background-color: #282830;
	color: #bcbcbc;
	font-size: 14px
}

.notice-msg-box ul {
	list-style: none
}

.notice-msg-box ul>li {
	padding: 10px 22px
}

.notice-msg-box ul>li>div {
	width: 100%;
	word-wrap: break-word;
	overflow: hidden
}

.notice-msg-box ul>li>span {
	font-size: 12px;
	color: #6f6f6f
}

.chatmsg-box.active, .notice-msg-box.active, .question-msg-box.active {
	display: block
}

.mCSB_inside>.mCSB_container {
	margin-right: 0
}

.send-box {
	position: absolute;
	bottom: 0;
	height: 70px;
	background: #201f25;
	width: 100%;
	color: #bcbcbc
}

.send-box textarea {
	height: 40px;
	width: 100%;
	resize: none;
	outline: 0;
	background-color: #201f25;
	border: none;
	padding: 10px;
	color: #bcbcbc;
	box-sizing: border-box
}

.send-box .face {
	position: absolute;
	right: 70px;
	display: inline-block;
	width: 22px;
	height: 22px;
	background-color: red;
	background:
		url(http://cnstatic01.e.vhall.com/static//images/chat/chat-icon.png)
		no-repeat 0 -72px;
	margin-top: 45px
}

.send-chat {
	margin-top: 45px;
	position: absolute;
	right: 5px;
	display: inline-block;
	width: 52px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	background-color: #353540;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
	text-align: center
}

.chatmsg li {
	overflow: hidden;
	padding: 6px 7px;
	text-align: left;
	list-style: none
}

.chatmsg li a {
	text-decoration: none
}

.chatmsg li img {
	vertical-align: middle
}

.chatmsg li .avatar {
	display: inline-block;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	line-height: 0;
	position: absolute;
	left: 15px
}

.chatmsg li .msg {
	float: left;
	/*margin-left: 45px;*/
	width: 280px;
}

.chatmsg li .msg p {
	color: #6f6e6e;
	line-height: 16px;
	font-size: 12px;
	margin: 0;
	word-wrap: break-word;
    width: 288px;
    word-break: break-all;
}

.chatmsg li .msg p .tips {
	display: inline-block;
	float: left;
	text-align: center;
	border: 1px solid #f33;
	font-size: 12px;
	width: 42px;
	height: 16px;
	line-height: 16px;
	margin-right: 10px
}

.chatmsg li .msg p .tips.host {
	color: #f33;
	border: 1px solid #f33
}

.chatmsg li .msg p .tips.guest {
	color: #a4824b;
	border: 1px solid #ffc864
}

.chatmsg li .msg p .tips.assistant {
	color: #446ea4;
	border: 1px solid #5da6fc
}

.chatmsg li .msg p .name {
	display: inline-block;
    color: #6f6e6e;
    /*width: 252px;*/
    line-height: 18px;
    vertical-align: middle;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    word-wrap: break-word;
    margin-top: -1px;
}

.chatmsg li .msg p .time {
	float: right
}

.chatmsg li .msg .content {
	line-height: 18px;
	font-size: 14px;
	color: #bcbcbc;
	word-wrap: break-word;
	word-break: break-all;
	margin-top: 8px
}

.chatmsg li .msg .content.sys {
	color: #fff
}

.chatmsg li .msg .content.sys a {
	color: #f33
}

.chatmsg li .msg .content.redp {
	color: #fff
}

.chatmsg li .msg .content.redp .name {
	display: inline-block;
	color: #fff;
	width: auto;
	max-width: 128px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left
}

.chatmsg li .msg .content.redi {
	color: #fbd75a
}

.question-msg li a {
	text-decoration: none
}

.question-msg li {
	overflow: hidden;
	padding: 10px 22px;
	text-align: left;
	list-style-type: none
}

.question-msg li .avatar {
	display: inline-block;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	line-height: 0
}

.question-msg li .msg {
	margin-left: 45px
}

.question-msg li .msg p {
	color: #6f6e6e;
	line-height: 16px;
	font-size: 12px;
	margin: 0;
	padding-right: 10px
}

.question-msg li .msg p .tips {
	display: inline-block;
	float: left;
	text-align: center;
	border: 1px solid #f33;
	font-size: 12px;
	width: 42px;
	height: 16px;
	line-height: 16px;
	margin-right: 10px
}

.question-msg li .msg p .tips.host {
	color: #f33;
	border: 1px solid #f33
}

.question-msg li .msg p .tips.guest {
	color: #a4824b;
	border: 1px solid #ffc864
}

.question-msg li .msg p .tips.assistant {
	color: #446ea4;
	border: 1px solid #5da6fc
}

.question-msg li .msg p .name {
	display: inline-block;
	color: #6f6e6e;
	width: 128px;
	line-height: 18px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	text-decoration: none
}

.question-msg li .msg p .time {
	float: right
}

.question-msg li .msg .content {
	line-height: 18px;
	font-size: 14px;
	color: #bcbcbc;
	word-wrap: break-word;
	word-break: break-all;
	margin-top: 8px
}

.question-msg li .answerlist {
	position: relative;
	margin-left: 42px;
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid #393940;
	background-color: #202026;
	padding: 10px
}

.question-msg li .answerlist .triangle {
	position: absolute;
	top: -10px;
	left: 14px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #37373e;
	font-size: 0;
	line-height: 0
}

.question-msg li .answerlist .triangle div {
	position: absolute;
	top: 2px;
	left: -8.5px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #202026;
	font-size: 0;
	line-height: 0
}

.question-msg li .answerlist ul li {
	padding: 0
}

.question-msg li .answerlist ul li p {
	font-size: 12px;
	color: #909090;
	line-height: 20px;
	vertical-align: middle
}

.question-msg li .answerlist ul li p .role {
	color: #f34b46
}

.question-msg li .answerlist ul li p .role.host {
	color: #f33
}

.question-msg li .answerlist ul li p .role.guest {
	color: #a4824b
}

.question-msg li .answerlist ul li p .role.assistant {
	color: #446ea4
}

.question-msg li .answerlist ul li p .time {
	float: right
}

.question-msg li .answerlist ul li .content {
	color: #e2e1e1;
	word-wrap: break-word;
	word-break: break-all
}

body, html {
	height: 100%
}

.player-container {
	height: 240px;
	position: relative;
	z-index: 3
}

.video {
	height: 240px;
	background: #000
}

.doc {
	height: 260px;
	width: 100%;
	margin-top: 36px;
	position: absolute;
	z-index: 3
}

.page-pc .player-container {
	height: 100%;
	background: #000;
	margin-right: 320px
}

.page-pc .container {
	width: 320px;
	right: 0;
	top: 0
}

.page-pc .video {
	position: absolute;
	width: 320px;
	height: 180px;
	z-index: 4
}

.page-pc .doc {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 0
}

.page-pc .hideVideo {
	display: none
}

.doc.on {
	display: none
}

.hideVideo {
	position: absolute;
	right: 5px;
	bottom: 40px
}

.modal {
	display: none;
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #e1e1e1
}

.modal {
	box-sizing: border-box;
	padding: 50px 0
}

.modal li {
	line-height: 30px;
	text-align: center
}

.modal li.active {
	color: #f33
}

.exchange {
	bottom: 70px
}

/* .page-pc .layer {
	width: 500px;
	margin-left: -250px
} */
.page-pc .layer {
	margin-left: -220px
}

/* .layer {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 350px;
	margin-left: -45%;
	margin-top: -180px;
	z-index: 10000;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	display: none
}
 */
 
 .layer {
    position: fixed;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 600px;
    margin-left: -45%;
    margin-top: -18%;
    z-index: 10000;
    background-color: #000;
    border: 1px solid #e5e5e5;
    display: none;
  }  
.layer-header {
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	color: #4e4e4e;
	background-color: #f7f7f7;
	text-align: center;
	position: relative
}

.layer-header img {
	width: 13px;
	height: 14px;
	position: absolute;
	right: 20px;
	top: 16px;
	cursor: pointer
}

.layer-textarea {
	width: 80%;
	height: 200px;
	margin: auto;
	display: block;
	resize: none;
	outline: 0;
	margin-top: 20px
}

.layer-btn {
	display: block;
	margin: auto;
	margin-top: 20px;
	background-color: #f15c5c;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	width: 80%;
	border-radius: 4px;
	border: 0
}

.page-pc .sign {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 350px;
	margin-left: -250px;
	margin-top: -180px;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	display: none
}

.page-pc .sign.active {
	display: block
}

.sign.active {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}

.sign {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 11;
	background-color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);
	font-size: 12px
}

.sign.active {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}

.sign-header {
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	color: #4e4e4e;
	background-color: #f7f7f7;
	text-align: center;
	position: relative
}

.sign-header img {
	width: 13px;
	height: 14px;
	position: absolute;
	right: 20px;
	top: 16px;
	cursor: pointer
}

.page-pc .sign-img {
	display: none
}

.sign-img {
	width: 22px;
	margin: auto;
	display: block;
	margin-top: 25px
}

.page-pc .sign-title {
	font-size: 20px;
	color: #333;
	font-weight: 700;
	margin-top: 50px
}

.sign-title {
	color: #f15c5c;
	text-align: center;
	margin-top: 15px
}

.sign-time {
	text-align: center;
	margin-top: 25px;
	color: #4e4e4e
}

.sign-time>span {
	color: #f15c5c
}

.sign-btn {
	display: block;
	margin: auto;
	margin-top: 50px;
	background-color: #f15c5c;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	width: 80%;
	border-radius: 4px;
	border: 0
}

.help-wrap {
	position: absolute;
	top: 100px;
	z-index: 10;
	right: 0
}

.page-pc #exchange, .page-pc #hideVideo {
	display: none
}

.help-tool {
	position: absolute;
	right: 10px;
	width: 50px;
	padding: 5px 0;
	text-align: center;
	border-radius: 15px;
	font-size: 12px;
	color: #3385ff;
	cursor: pointer;
	background-color: rgba(255, 255, 255, .6);
	cursor: pointer
}

.help-item {
	position: absolute;
	width: 115px;
	background-color: red;
	right: -10px;
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
	color: #3385ff;
	background-color: rgba(255, 255, 255, .6);
	-webkit-transition: all .3s cubic-bezier(.08, .13, 0, 1.27);
	transition: all .3s cubic-bezier(.08, .13, 0, 1.27);
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0)
}

.help-item.active {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}

#userEvent {
	top: 40px
}

#userData {
	top: 80px
}

#exchange {
	top: 120px
}

#hideVideo {
	top: 160px
}