.page-main{
    display: flex;
    flex-direction: column;
    /*margin-left: 50px;*/
}

.page-main div{
    font-size: 16px;
}

.page-main img{
    width: 300px;
    height: 200px;
}

.doctor-name-container{
    display: flex;
    margin-bottom: 20px;
}

/*.doctor-name, .doctor-name-text{*/
    /*font-size: 16px;*/
/*}*/

.doctor-cardnum-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-cardPicture-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-cardPositive-img{
    /*width: 300px;*/
    /*height: 200px;*/
    margin-right: 60px;
    /*margin-left: 30px;*/
}

.doctor-cardNegative-img{
    /*width: 300px;*/
    /*height: 200px;*/
}

.doctor-qualification-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-qualification-img{
    /*width: 300px;*/
    /*height: 200px;*/
}

.doctor-professional-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-professional-img{
    /*width: 300px;*/
    /*height: 200px;*/
}

.doctor-headPortrait-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-headPortrait-img{
    /*width: 300px;*/
    /*height: 200px;*/
}

.doctor-title-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-titleProve-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-titleProve-img{
    /*width: 300px;*/
    /*height: 200px;*/
}

.doctor-departments-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-cardnum-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-field-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-description-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-description{
    width: 16%;
}

.doctor-hospital-container{
    display: flex;
    margin-bottom: 20px;
}

.doctor-address-container{
    display: flex;
    margin-bottom: 20px;
}

.procince{
    font-size: 16px;
    margin-right: 10px;

}

.city{
    font-size: 16px;
    margin-right: 10px;
}

.address-detail{
    font-size: 16px;
    margin-right: 10px;
}

.pass{
    width: 90px;
    height: 36px;
    background-color: #2db84b;
    margin-right: 40px;
    color: #ffffff;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;
}

.reject{
    width: 90px;
    height: 36px;
    background-color: #de3535;
    margin-right: 40px;
    color: #ffffff;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;
}

.action{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.doctor-departments-text{
    margin-right: 10px;
}
.doctor-description-text p{
	font-size: 16px !important;
}
.doctor-description-text span{
	font-size: 16px !important;
}
/*后加样式*/
.doctor-name{
	width: 170px;
	text-align: right;
}
.doctor-cardnum{
	width: 170px;
	text-align: right;
}
.doctor-cardPicture{
	width: 170px;
	text-align: right;
}
.doctor-qualification{
	width: 170px;
	text-align: right;
}
.doctor-professional{
	width: 170px;
	text-align: right;
}
.doctor-headPortrait{
	width: 170px;
	text-align: right;
}
.doctor-title{
	width: 170px;
	text-align: right;
}
.doctor-titleProve{
	width: 170px;
	text-align: right;
}
.doctor-departments{
	width: 170px;
	text-align: right;
}
.doctor-field{
	width: 170px;
	text-align: right;
}
.doctor-description{
	width: 170px;
	text-align: right;
}
.doctor-address{
	width: 170px;
	text-align: right;
}

