/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    width: 100%;
    border: none;
}
.both{
    clear: both;
}
header {
    width: 7.5rem;
    height: .88rem;
    line-height: .88rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 9;
    border-bottom: 1px solid #D8DDE6;
    margin-left: -3.75rem;
}
.header {
    height: 100%;
}
.header_return {
    width: 1.24rem;
    height: .88rem;
    /* background: red; */
    margin-right: .362rem;
    float: left;
    position: absolute;
    z-index: 10;
}
.header_return img {
    width: .24rem;
    height: .43rem;
    margin-top: .22rem;
    display: block;
    margin-left: .26rem;
}
.invitation_card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: .36rem;
    text-align: center;
    color: #333;
}

/* .invitation_card{
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #fff;
    font-size: 
} */
.imgBox{
    width: 100%;
    height: 100vh;
    background: #333;
    position: relative;
}
.slectBox{
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    background: #FFF;
}

.slectBox .content{
    /*min-width: 200%;*/
    width: 100%;
    height: auto;
    padding: .3rem 0;
    font-size: 0;
    display: flex;  
}
.slectBox li{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .23rem;
    margin-left: .32rem;
    display: inline-block;
    border-radius: 17px;
    /*background: blue;*/
    border: 2px solid #fff;
}
.slectBox li img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 15px;
}
.imgBoxWrapper{
    width: 5rem;
    height: 8.89rem;
    position: absolute;
    left: 50%;
    top: 1.5rem;
    transform: translate(-50%,0);
    box-sizing: border-box;
    font-size: .3rem;
    background-repeat: repeat;
    /* background: red; */
    /* margin-top: 1.48rem; */
    /* margin-top: 1.08rem; */
}

.imgBoxWrapper .avatar{
    text-align: center;
    
}
.imgBoxWrapper .avatar img{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 2px 8px 0 #8b8989;
}
.er{
    width: 1.5rem;
    margin: 0 auto;
    font-size: .18rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.mainIma1{
    /* padding: 0 .4rem;
    margin-top:.4rem;
    margin-bottom: .4rem; */
}
.tip{
    color:#fff;
    font-size: .20rem;
}
.mask{
    font-size: .18rem;  
    top: 0;
    left: 0;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    z-index: 9;
}
.mask .c{
    position: fixed;
    top: 30%;
    left: 50%;

    transform: translateX(-50%);
}
.mask .c img{
    margin-bottom: .4rem;
    user-select: none;
    -webkit-user-select: none;
}
.mask .c p{
    text-align: center;
}
.er{
    text-align: center;
}

.imgBoxWrapper3 .er{
    float: right;
}
.imgBoxWrapper{
    display: none;
}
.active{
    display: block
}
.active .imgBoxWrapper {
    display: block;
}
.imgBoxWrapperTop{
    z-index: 10;
    display: block
}

/*新加*/
.slectBox{
    white-space: nowrap;
    overflow-x:auto; 
    overflow-y: hidden;
}
.logo{
    width: 1.77rem;
    height: .52rem;
    margin-left: .2rem;
    padding-top: .2rem;
}
.logo img{
    width: 1.77rem;
    height: .52rem;
}
.sub_imgBoxWrapper1 .avatar{
    margin-top: .16rem;
}
.sub_imgBoxWrapper1 .avatar .p1{
    width: 3.4rem;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .24rem;
    color: #333333;
    text-align: center;
    margin-top: 0.18rem;
    margin-bottom: 0.1rem;
}
.sub_imgBoxWrapper1 .size{
    width: 3.5rem;
    margin: 0 auto;
    font-size: .2rem;
    color: #51696E;
    margin-bottom: .2rem;
    text-align: center;
}
.sub_imgBoxWrapper1 .mainIma1 img{
    width: 4.2rem;
    height: 2.35rem;
    margin: 0 auto;
    display: block;
    box-shadow:0 4px 4px 0 #8b8989;
    margin-bottom: .24rem;
}
.sub_imgBoxWrapper1 .des .title{
    width: 4.2rem;
    height: .56rem;
    margin: 0 auto;
    font-size: .2rem;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.sub_imgBoxWrapper1 .des .site{
    width: 4.2rem;
    height: .56rem;
    margin: 0 auto;
    font-size: .2rem;
    color: #BA8046;
    margin-bottom: .26rem;
    margin-top: .2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.sub_imgBoxWrapper1 .QR_code{
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 0 auto;
}
.sub_imgBoxWrapper1 .QR_code_fize{
    width: 100%;
    font-size: .18rem;
    color: #555555;
    text-align: center;
    margin-top: .2rem;
    padding-bottom: .3rem;
}

.sub_imgBoxWrapper1 .logo{
    /*float: right;*/
    margin-right: .4rem;
    margin-bottom: 0.3rem;
}
.imgBoxWrapper2 .img_cont{
    width: 5rem;
    height: 8.89rem;
}
.imgBoxWrapper2 .img_cont .size{
    width: 4.2rem;
    margin: 0 auto;
    font-family: FZQKBYSJW--GB1-0;
    font-size: .22rem;
    color: #333333;
    margin-bottom: 0.28rem;
}
.imgBoxWrapper2 .img_cont .logo{
    float: right;
    margin-right: 0.4rem;
    padding-top: 0.4rem;
}
.imgBoxWrapper2 .img_cont .mainIma1{
    width: 4.2rem;
    height: 2.35rem;
    margin: 0 auto;
    border: 2px solid #f0e3a6;
    border-radius: 4px;
    margin-bottom: .3rem;
}
.imgBoxWrapper2 .img_cont .mainIma1 img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.imgBoxWrapper2 .img_cont .des .title{
    width: 4.2rem;
    height: .68rem;
    margin: 0 auto;
    font-size: .2rem;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.imgBoxWrapper2 .avatar img{
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 100px;
    border: 2px solid #f0e3a6;
    margin-bottom: .2rem;
}
.imgBoxWrapper2 .avatar .p1{
    width: 3.4rem;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .24rem;
    color: #C2832A;
    text-align: center;
    margin-bottom: 0.22rem;
}
.imgBoxWrapper2 .er{
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: .28rem;
    padding: 0;
}
.imgBoxWrapper2 .img_cont .site{
    width: 4.2rem;
    margin: 0 auto;
    font-size: .2rem;
    color: #666666;
    text-align: center;
    padding-bottom: 0.25rem;
}
.imgBoxWrapper .img_cont{
    width: 5rem;
    height: 8.89rem;
}
