<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<contextName>attachment_center</contextName>

	<appender name="stdout_appender" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%n%msg%n%date [%level] [%thread] %logger{80} %line%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file_appender"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%n%msg%n%date [%level] [%thread] %logger{80} %line%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/logs/attachment_center/attachment_center_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<root>
		<level value="warn" />
		<appender-ref ref="stdout_appender" />
		<appender-ref ref="file_appender" />
	</root>

</configuration>
