<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.directwebremoting.org/schema/spring-dwr
	http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd">
	
	<context:property-placeholder location="classpath:config.properties" />

	<context:component-scan
		base-package="com.xczhihui.attachment.center.server.web.controller" />
		
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5242880000" /><!--500M -->
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<mvc:annotation-driven>  
	    <mvc:message-converters>  
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
	            <property name="supportedMediaTypes">  
	                <list>  
	                    <value>text/json;charset=UTF-8</value>  
	                </list>  
	            </property>
	            <property name="objectMapper">
	                <bean class="com.fasterxml.jackson.databind.ObjectMapper">
	                    <property name="dateFormat">
	                        <bean class="java.text.SimpleDateFormat">
	                            <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
	                        </bean>
	                    </property>
	                </bean>
	            </property> 
	        </bean>  
	    </mvc:message-converters>  
	</mvc:annotation-driven>
	
	<bean id="handlerExceptionResolver" class="com.xczhihui.bxg.common.web.exception.JsonSimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Throwable">common/500</prop>
				<prop key="org.apache.shiro.authz.AuthorizationException">common/unauth</prop>
			</props>
		</property>
	</bean>
	
	<mvc:resources mapping="${picture.path}**" location="file:${picture.path}"  />
	<mvc:resources mapping="${attachment.path}**" location="file:${attachment.path}"  />
	<mvc:default-servlet-handler />
<!-- 
	<mvc:interceptors>
		<mvc:interceptor>
		    <mvc:mapping path="/attachment/upload" />
			<bean class="com.xczhihui.attachment.center.server.web.interceptors.AttachmentCenterServerInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
 -->
</beans>