*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "汉仪全唐诗简";
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	border: 0px;
	border: none;
}
.both{
	clear: both;
}
/*登录开始*/
.last{
	width: 100%;
	height: 18rem;
	background: url(../img/dl081501.jpg) center -3rem no-repeat;
	/*background-size: 100% 8rem;*/
	/*background-color: blue;*/
}
.last_top{
	width: 100%;
	/*height: 42.8125rem;*/
	/*background: red;*/
}
.last_top a{
	font-size: 0.74rem;
    float: left;
    margin-top: 0.2rem;
    color: #91b18a;
    margin-left: 0.4rem;
}
.dl{
	width: 83%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    color: #666;
}
.last_input{
	width: 85%;
	height: 10rem;
	margin: 0 auto;
	margin-top: 7.25rem;
	font-size: 0.74rem;
	color:#999;
	font-family: "微软雅黑";
}
.phone{
	width: 100%;
	font-family: "微软雅黑";
	border-bottom: 0.01rem solid #ccc;
    padding-bottom: 4.1px;
}
.phone_bottom1{
	margin-bottom: 1.5rem;
}
.last_input input{
	width: 36%;
    font-size: 0.74rem;
    color: #999;
    font-family: "微软雅黑";
    border: 0px;
    border: none;
    background: none;
    outline: none;
}
.phone_password{
	color: #91b18a;
	float: right;
	margin-top: -0.2rem;
}
.phone_bottom2{
	margin-bottom: 1.5rem;
}
.last_bu1{
	width: 100%;
    height: 1.4rem;
    background-color: #91b18a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    outline: none;
    margin-top: 1.4rem;
    font-size: 0.74rem;
    color: #fff;
}
.last_bu2{
	width: 100%;
	height: 1.2rem;
	border: none;
	background: none;
    outline: none;
    margin-top: 1rem;
}
.last_bu2 a{
	font-size: 0.74rem;
	color: #91b18a;
}
.footer{
	width: 90%;
	margin: 0 auto;
	margin-top: 2rem;
}
.footer_b1{
	width: 5.3rem;
	color: #ccc;
}
.footer_headline{
	width: 100%;
	text-align: center;
	/*background: url(../img/footer_bg.png) no-repeat;*/
	/*background-size: 34rem 100%;*/
	font-size: 0.7rem;
}

.last_weixin{
	width: 2rem;
    height: 2rem;
    display: -webkit-box;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.8rem;
}
.last_weixin img{
	width: 2rem;
}
/*登录结束*/
/*注册开始*/
.return{
	width: 0.65rem;
    height: 1rem;
    background: red;
    display: inline-block;
    float: left;
    background: url(../img/return.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
}
.gain{
	margin-top: -0.2rem;
}
.phone_span{
	width: 4.5rem;
    /*height: 1.1rem;*/
    background: #91b18a;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: "微软雅黑";
    border-radius: 6px;
    /*line-height: 1.1rem;*/
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
/*注册结束*/
/*找回密码开始*/
.find{
	width: 100%;
}
.find_top{
	width: 100%;
    border-bottom: 0.08rem solid #ccc;
    padding-bottom: 0.5rem;
}
/*找回密码结束*/

/*首页开始*/
/*头部开始*/
header{
	width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background: #fff;
    padding-bottom: 0.3rem;
    padding-top: 0.2rem;
}
.home{
	width: 100%;
}
.home_top{
	width: 100%;
	height: ;
}
.home_img{
	width: 0.9rem;
    height: 1rem;
    background: red;
    display: inline-block;
    float: left;
    background: url(../img/grabble.png) no-repeat;
    background-size: 100% 100%;
    /* margin-top: 0.2rem; */
    margin-left: 0.4rem;
}
.home_top span{
	font-size: 1.2rem;
    display: table-cell;
    width: 82%;
    float: left;
    text-align: center;
    margin-top: 0.2rem;
}
.home_img_right{
	width: 0.9rem;
    height: 1rem;
    background: red;
    display: inline-block;
    float: right;
    background: url(../img/reteam01.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 0.4rem;
}
/*头部结束*/
/*中间内容开始*/
.content{
	width: 95%;
	margin: 0 auto;
	/*height: 900px;*/
	/*background: #c6cdbf;*/
}
/*列表1开始*/
.home_list1{
	width: 100%;
	height: 13.5rem;
	background: #fff;
	/*margin-top: 2rem;*/
	position: relative;
}
.broadcast1{
	width: 3.8rem;
	height: 0.85rem;
	border-radius: 50px;
	border: 0.01rem solid #ccc;
	position: absolute;
    left: 0.4rem;
    top: 0.4rem;
}
.broadcast1 img{
	width: 0.63rem;
    position: absolute;
    left: 0.5rem;
    top: 0.1rem;
}
.broadcast1 span{
	position: absolute;
    right: 0.3rem;
    top: 0.1rem;
    font-size: 0.74rem;
    color: #fff;
    /*font-family: "微软雅黑";*/
}

.home_list1 video{
	height: 11rem;
}
.list1_bottom{
	width: 95%;
	height: 2.1rem;
	margin: 0 auto;
	/*background: blue;*/
	padding-top: 0.155rem;
}
.list1_img{
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 60px;
	/*margin-top: 0.13rem;*/
	float: left;
}
.list1_title{
	width: 54%;
	height: 1.8rem;
	/*margin: 0 auto;*/
	/*background: red;*/
	overflow: hidden;
	margin-left: 0.2rem;
	float: left;
}
.list1_title_top{
	width: 100%;
	overflow: hidden;
	height: 0.94rem;
	font-size: 0.74rem;
	font-family: "微软雅黑";
	color: #000;
}
.list1_title_bottom{
	width: 100%;
	height: 0.94rem;
	font-size: 0.7rem;
	overflow: hidden;
	font-family: "微软雅黑";
	color: #999;
}
.list1_right{
	float: right;
	padding-top: 0.4rem;
}
.list1_right img{
	width: 1rem;
}
.list1_right span{
	font-size: 0.8rem;
	color: #91b18a;
	font-family: "微软雅黑";
}
/*列表1结束*/


/*列表2开始*/
.home_list2{
	width: 100%;
	height: 13.5rem;
	background: #fff;
	margin-top: 0.6rem;
	position: relative;
}
.home_list2 video{
	height: 11rem;
}

.broadcast2{
	width: 9rem;
	height: 0.85rem;
	border-radius: 50px;
	border: 0.01rem solid #ccc;
	position: absolute;
    left: 0.4rem;
    top: 0.4rem;
}

.broadcast2 span{
	position: absolute;
    right: 0.3rem;
    top: 0.1rem;
    font-size: 0.74rem;
    color: #fff;
    /*font-family: "微软雅黑";*/
}
/*列表2结束*/
/*列表3开始*/
.home_list3{
	width: 100%;
	height: 13.5rem;
	background: #fff;
	margin-top: 0.6rem;
	position: relative;
}
.home_list3 video{
	height: 11rem;
}

.broadcast3{
	width: 3.2rem;
	height: 0.85rem;
	border-radius: 50px;
	border: 0.01rem solid #ccc;
	position: absolute;
    left: 0.4rem;
    top: 0.4rem;
}
.broadcast3 img{
	width: 0.63rem;
    position: absolute;
    left: 0.5rem;
    top: 0.1rem;
}
.broadcast3 span{
	position: absolute;
    right: 0.3rem;
    top: 0.1rem;
    font-size: 0.74rem;
    color: #fff;
    /*font-family: "微软雅黑";*/
}
/*列表3结束*/
/*中间内容结束*/

/*底部开始*/
.footer_k{
	width: 100%;
	height: 2.4rem;
	/*background: red;*/
}
footer{
	width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background: #fff;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}
.base{
	width: 100%;
}
.base ul li{
	height: 1.5rem;
	float: left;
	margin-left: 2.39rem;
}
.base ul li a{
	display: inline-block;
	width: 1rem;
	height: 1.5rem;
	/*background: red;*/
}
.base_a1{
	background: url(../img/a1.png) no-repeat;
	background-size: 100% 100%;
}
.base_a2{
	background: url(../img/a2.png) no-repeat;
	background-size: 100% 100%;
}
.base_a3{
	background: url(../img/a3.png) no-repeat;
	background-size: 100% 100%;
}
.base_a4{
	background: url(../img/a4.png) no-repeat;
	background-size: 100% 100%;
}


.base_a01{
	background: url(../img/a01.png) no-repeat;
	background-size: 100% 100%;
}
.base_a02{
	background: url(../img/a02.png) no-repeat;
	background-size: 100% 100%;
}
.base_a03{
	background: url(../img/a03.png) no-repeat;
	background-size: 100% 100%;
}
.base_a04{
	background: url(../img/a04.png) no-repeat;
	background-size: 100% 100%;
}
/*底部结束*/

/*历史观看记录开始*/
.history_top{
	width: 100%;
}
.history_img{
	width: 1rem;
    height: 1rem;
    background: red;
    display: inline-block;
    float: left;
    background: url(../img/grabble.png) no-repeat;
    background-size: 100% 100%;
    /* margin-top: 0.2rem; */
    margin-left: 0.4rem;
}
.history_span{
	font-size: 0.9rem;
    display: table-cell;
    width: 80%;
    float: left;
    text-align: center;
    margin-top: 0.2rem;
    color: #91b18a;
}
.history_span span{
	margin-right: 2rem;
}
.history_span01{
	border-bottom: 0.05rem solid #666;
	margin-left: 2rem;
}
.history_span1{
	font-size: 0.7rem;
    display: table-cell;
    width: 83%;
    float: left;
    text-align: center;
    margin-top: 0.2rem;
    display: none;
}
.history_span1 span{
	margin-right: 2rem;
}
.history_span_addclass{
	border-bottom: 0.05rem solid #666;
	color: #666;
}
.history_span2{
	font-size: 0.7rem;
    display: table-cell;
    width: 83%;
    float: left;
    text-align: center;
    margin-top: 0.2rem;
    display: none;
}
.history_span2 span{
	margin-right: 2rem;
}
.history_img_right{
	width: 1.6rem;
    display: inline-block;
    float: right;
    margin-right: 0.02rem;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}
/*直播开始*/
.zhibo{
	width: 95%;
	margin: 0 auto;
}
.zhibo_list{
	width: 96%;
	height: 4rem;
	background: #fff;
	margin: 0 auto;
	padding: 0 0.32rem;
	margin-bottom: 0.4rem;
}
.zhibo_list img{
	width: 4rem;
	height: 2.9rem;
    margin-top: 0.57rem;
    /*display: inline-block;*/
    float: left;
    margin-right: 0.4rem;
}
.zhibo_list_title{
	width: 9rem;
	padding-top: 0.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zhibo_list_title a{
	font-size: 0.9rem;
	font-family: "微软雅黑";
	color: #000;
}
.zhibo_list_size{
	font-size: 0.74rem;
	font-family: "微软雅黑";
	color: #999;
}
.zhibo_list_size img{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 60px;
}
.zhibo_list_size span{
	margin-top: 0.7rem;
    display: inline-block;
}
.zhibo_list_time{
	float: right;
}
/*直播结束*/

/*视频开始*/
.shipin{
	width: 95%;
	/*height: 900px;*/
	margin: 0 auto;
	display: none;
}
/*视频结束*/

/*音频开始*/
.yinpin{
	width: 95%;
	/*height: 900px;*/
	margin: 0 auto;
	display: none;
}
/*音频结束*/
/*历史观看记录结束*/

/*搜索开始*/
.grabble{
	width: 100%;
}
.grabble_top{
	width: 100%;
}
.grabble_img{
	width: 0.65rem;
    height: 1rem;
    background: red;
    display: inline-block;
    float: left;
    background: url(../img/return.png) no-repeat;
    background-size: 100% 100%;
     margin-top: 0.1rem; 
    margin-left: 0.4rem;
}
.grabble_top input{
	width: 12rem;
	height: 1.2rem;
	background: #d1e3cd;
	margin-left: 0.6rem;
	margin-top: -0.2rem;
	border: 0px;
	border-radius: 60px;
	text-indent: 0.5rem;
	outline: none;
	font-size: 0.68rem;
}
.grabble_top ::-webkit-input-placeholder{
	color: #91b18a;
}
.grabble_top :-moz-placeholder{
	color: #91b18a;
}
.grabble_top :-ms-placeholder{
	color: #91b18a;
}
.grabble_top placeholder{
	color: #91b18a;
}
.history_img_right button{
	background: none;
	border: 0px;
	color: #91b18a;
	outline: none;
	font-size: 0.7rem;
}
/*搜索结束*/

/*热门播主开始*/
.hot_zhibo_ul{
	width: 100%;
	margin: 0 auto;
	background: red;
}
.hot_zhibo_ul li{
	width: 3.2rem;
	float: left;
	margin-left: 0.5rem;
	overflow: hidden;
}
.hot_zhibo_ul li a{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #000;
	width: 3.2rem;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hot_zhibo_ul li a span{
	display: inline-block;
	width: 3.2rem;
	overflow: hidden;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hot_zhibo_ul li a img{
	margin-left: 0.4rem;
	width: 2.5rem;
	border-radius: 60px;
}
/*热门播主结束*/


/*热门直播开始*/
.hot_zhibo{
	width: 100%;
	background: #fff;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin-bottom: 0.4rem;
}
.hot_zhibo p{
	font-size: 1rem;
	color: #666;
	margin-left: 0.4rem;
	margin-bottom: 0.4rem;
}


.zhibo_list1{
	width: 96%;
	height: 3rem;
	background: #fff;
	margin: 0 auto;
	padding: 0 0.32rem;
	margin-bottom: 0.4rem;
}
.zhibo_list1 img{
	width: 4rem;
	height: 2.9rem;
    /*margin-top: 0.57rem;*/
    /*display: inline-block;*/
    float: left;
    margin-right: 0.4rem;
}
.zhibo_list_title1{
	width: 9rem;
	/*padding-top: 0.6em;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zhibo_list_title1 a{
	font-size: 0.74rem;
	font-family: "微软雅黑";
	color: #000;
}
.zhibo_list_size1{
	font-size: 0.74rem;
	font-family: "微软雅黑";
	color: #999;
}
.zhibo_list_size1 img{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 60px;
	margin-top: 0.57rem;
}
.zhibo_list_size1 span{
	margin-top: 0.7rem;
    display: inline-block;
}
.zhibo_list_time1{
	float: right;
}
/*热门直播结束*/


/*热门搜索结果开始*/
.result_zhibo_ul{
	width: 100%;
	margin: 0 auto;
	background: red;
}
.result_zhibo_ul li{
	width: 14.8rem;
	float: left;
	margin-left: 0.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.result_zhibo_ul li a{
	font-size: 0.64rem;
	font-family: "微软雅黑";
	color: #000;
	width: 14rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}
.result_zhibo_ul_div{
	width: 10.2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0.4rem;
	margin-left: 3.2rem;
	font-size: 0.7rem;
	font-family: "微软雅黑";
}
.result_zhibo_ul li a img{
	margin-left: 0.4rem;
	width: 2.5rem;
	border-radius: 60px;
	float: left;
}
.result_zhibo_ul_div p{
	margin-left:0rem;
	margin-top: 0.2rem;
	font-size: 0.7rem;
	color: #666;
	font-family: "微软雅黑";
}
#result_input{
	background: none;
	border: 0.02rem solid #91b18a;
}
/*热门搜索结果结束*/


/*视频详情开始*/
.details{
	position: relative;
}
.details_bottom{
	width: 100%;
}
.details_size{
	position: absolute;
	bottom: 2.23rem;
	width: 100%;
	font-size: 0.64rem;
	color: #fff;
	font-family: "微软雅黑";
}
.details_footer{
	width: 100%;

}
.details_footer_width{
	width: 80%;
	margin: 0 auto;
	background: red;
}
.details_footer_width ul{
	width: 100%;
}
.details_footer_width ul li{
	float: left;
	font-size: 1rem;
	margin-left: 0.72rem;
	color: #91b18a;
}
/*详情聊天开始*/
.details_chat{
	width: 100%;
	background: #fff;
	/*padding: 0.6rem 0;*/
	border-bottom: 0.001rem solid #d2d2d2;
	position: fixed;
    top: 15.4rem;
    /*display: none;*/
    z-index: 2;
    padding-bottom: 0.3rem;
}
.details_chat_center{
	width: 95%;
	margin: 0 auto;
	/*height: 150px;*/
	background: red;
}
.details_chat1{
	width: 2.55rem;
	border-radius: 60px;
	float: left;
	margin-top: 0.5rem;
	margin-right: 0.3rem;
}
.details_chat_attention{
	float: left;
	width: 7rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0.6rem;
}
.details_chat_attention p{
	font-family: "微软雅黑";
}
.details_chat_attention .p1{
	font-size: 0.82rem;
	color: #000;
    margin-bottom: 0.2rem;
}
.details_chat_attention .p2{
	font-size: 0.7rem;
	color: #999;
	margin-bottom: 0.1rem;
}
.details_chat_attention .p2 span{
	color: #000;
}
.details_chat_attention .p3{
	font-size: 0.7rem;
	color: #999;
}
.details_chat_attention .p3 span{
	color: #000;
}
.details_chat2{
	float: left;
    padding: 0.25rem;
    width: 2.6rem;
    background: #8cc427;
    border-radius: 9px;
    margin-top: 1rem;
}
.details_chat2 img{
	width: 1rem;
	float: left;
	margin-right: 0.2rem;
}
.details_chat2 p{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #fff;
}
.close{
	float: right;
}
.close img{
	width: 0.5rem;
	margin-top: 1.4rem;
    margin-right: 0.2rem;
}


.coze{
	width: 100%;
	background: #efefef;
	display: none;
}
.coze_center{
	width: 95%;
	margin: 0 auto;
}
.coze_cen{
	margin-bottom: 0.4rem;
}
.coze_cen_left_img{
	width: 2.5rem;
	margin-right: 0.6rem;
	float: left;
}
.coze_cen_bg{
	position: relative;
	max-width: 10rem;
	background: #fff;
	border: 0.01rem solid #ccc;
	float: left;
	padding: 0.3rem;
	font-size: 0.8rem;
	color: #000;
}
.coze_cen_bg img{
	position: absolute;
	top: 0.5rem;
	left: -0.45rem;
	z-index: 1;
}

.coze_cen_ri{
	margin-bottom: 0.4rem;
}
.coze_cen_ri_img{
	width: 2.5rem;
	/*margin-right: 0.6rem;*/
	float: right;
	margin-left: 0.6rem;
}
.coze_cen_bg_ri{
	position: relative;
	max-width: 10rem;
	background: #d1e3cd;
	border: 0.01rem solid #ccc;
	float: right;
	padding: 0.3rem;
	font-size: 0.8rem;
	color: #000;
	
}
.coze_cen_bg_ri img:nth-child(2){
	    vertical-align: middle !important;
	
}
.coze_cen_bg_ri img{
	position: absolute;
	top: 0.5rem;
	right: -0.45rem;
	z-index: 1;
}



.coze_bottom{
	width: 100%;
	background: #f5f5f6;
	/*padding: 0.4rem 0;*/
	padding-top: 0.4rem;
	border-top: 0.01rem solid #ccc;
	position: fixed;
    bottom: 0;
    z-index: 9999;
}
.coze_bottom_input{
	float: left;
	margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.coze_bottom input{
	width: 12.5rem;
	height: 1.3rem;
	line-height: 1.3rem;
	border: 0.01rem solid #ccc;
	outline: none;
	font-size: 0.7rem;
	text-indent: 0.3rem;
	color: #999;
	border-radius: 9px;
}
.coze_bottom img{
	width: 1.5rem;
	margin-top: -0.1rem;
}
/*详情聊天结束*/
/*详情主播开始*/
.details1{
	display: none;
}
.details_anchor{
	width: 100%;
	background: #fff;
	padding: 0.6rem 0;
	border-bottom: 0.001rem solid #d2d2d2;
}
.details_anchor_center{
	width: 95%;
	margin: 0 auto;
	/*height: 150px;*/
	background: red;
}
.details_portrait{
	width: 2.55rem;
	border-radius: 60px;
	float: left;
	margin-top: 0.5rem;
	margin-right: 0.3rem;
}
.details_anchor_attention{
	float: left;
	width: 9rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.details_anchor_attention p{
	font-family: "微软雅黑";
}
.details_anchor_attention .p1{
	font-size: 0.82rem;
	color: #000;
    margin-bottom: 0.2rem;
}
.details_anchor_attention .p2{
	font-size: 0.7rem;
	color: #999;
	margin-bottom: 0.1rem;
}
.details_anchor_attention .p2 span{
	color: #000;
}
.details_anchor_attention .p3{
	font-size: 0.7rem;
	color: #999;
}
.details_anchor_attention .p3 span{
	color: #000;
}
.details_attention{
	float: right;
    padding: 0.25rem;
    width: 2.6rem;
    background: #8cc427;
    border-radius: 9px;
    margin-top: 1.4rem;
}
.details_attention img{
	width: 1rem;
	float: left;
	margin-right: 0.2rem;
}
.details_attention p{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #fff;
}
.details_anchor_title{
	width: 100%;
	font-size: 0.9rem;
	color: #000;
	font-family: "微软雅黑";
	background: #efefef;
	padding: 0.4rem 0rem 0.4rem 0;
}
.anchor_center{
	width: 100%;
	/*height: 600px;*/
	background: #fff;
	padding: 0.8rem 0 0.8rem;
	border-top: 0.001rem solid #d2d2d2;
	border-bottom: 0.001rem solid #d2d2d2;
}
.anchor_center_div1{
	width: 85%;
	margin: 0 auto;
	font-size: 0.74rem;
	font-family: "微软雅黑";
}
.anchor_center_div1{
	width: 86%;
    display: inline-flex;
    margin-left: 1.2rem;
}


    
/*详情主播结束*/

/*排行榜开始*/
.leaderboard{
	width: 100%;
	/*height: 600px;*/
	background: #fff;
	display:none;
	
}
.leaderboard_list{
	width: 95%;
	/*height: 500px;*/
	/*background: red;*/
	margin: 0 auto;
	border-bottom: 0.02rem solid #d2d2d2;
	padding-bottom: 0.4rem;
}
.leaderboard_left{
	float: left;
	margin-top: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}
.leaderboard_left span{
	display: block;
    margin-top: -0.2rem;
    font-size: 0.74rem;
    margin-left: 0.28rem;
    color: #91b18a;
}
.leaderboard_center{
	width: 11rem;
	float: left;
	margin-top: 0.4rem;
}
.leaderboard_center img{
	float: left;
    margin-right: 0.4rem;
    border: 0.16rem solid #ededed;
    border-radius: 60px;
}
.leaderboard_center_size .p1{
	font-size: 0.74rem;
	color: #000;
	font-family: "微软雅黑";
	margin-top: 0.25rem;
}
.leaderboard_center_size .p2{
	font-size: 0.7rem;
	color: #8cc427;
	font-family: "微软雅黑";
}
.leaderboard_list_right{
	float: right;
	margin-top: 1.2rem;
}
/*排行榜结束*/

/*文档开始*/
.document{
	width: 100%;
	display: none;
}
.document_ceneter{
	width: 100%;
	/*height: 500px;*/
	margin: 0 auto;
	background: #fff;
	padding-top: 1.4rem;
}
.document_ceneter a{
	color: #000;
}
.document_ceneter_ppt{
	width: 6.5rem;
    height: 4rem;
    background: blue;
    float: left;
    margin-left: 1rem;
    background: url(../img/longwen.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0.6rem;
	box-shadow: 0px 1px 2px #efefef;
	position: relative;
}
.document_ceneter_ppt img{
	width: 4.5rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.08rem;
}
.ppt_bottom{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	background: #fff;
	border-top: 0.02rem solid #d2d2d2;
	text-align: center;
	font-size: 0.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	bottom: 0px;
}

.details{
	color: #000;
}
/*文档结束*/
/*视频详情结束*/




/*购买课程开始*/
.buy{
	margin-top: 0.8rem;
}
.buy_size{
	color: #ff0000;
}
.buy_pay{
	width: 89%;
    height: 1.4rem;
    background: #fff;
    margin: 0 auto;
    /*padding: 0 0.32rem;*/
    margin-left: 1rem;
    margin-bottom: 0.6rem;
}
.buy_pay_img{
	width: 4rem;
	float: left;
	margin-right: 0.6rem;
}
.buy_pay_size img{
	width: 0.7rem;
    display: block;
    margin-top: 0.2rem;
    float: left;
}
.buy_pay span{
	float: right;
    margin-right: 0.3rem;
}
.buy_pay_size p{
	font-size: 0.7rem;
	float: left;
	margin-left: 0rem;
	margin-right: 0.8rem;
    margin-top: 0.1rem;
}
.pay_put1{
	outline: none;
	float: right;
	margin-top: 0.4rem;
}

.label01{
	width: 2rem;
    height: 2rem;
    background: url(../img/lable1.png);
    background-size: 100% 100%;
}
.label02{
	width: 2rem;
    height: 2rem;
    background: url(../img/lable1.png);
    background-size: 100% 100%;
}
.label1{
	width: 2rem;
    height: 2rem;
    background: url(../img/lable.png);
    background-size: 100% 100%;
}
.buy_put{
	width: 1.2rem;
	height: 0.8rem;
	opacity: 0;
}

/*同意条款开始*/
.buy_clause{
	width: 100%;
    background: #fff;
    padding: 0.5rem 0;
    padding-bottom: 0.4rem;
}
.buy_clause span{
	margin-left: 0.7rem;
    float: left;
    margin-top: -0.2rem;
    margin-right: 0.4rem;
}
.label03{
	width: 2rem;
    height: 2rem;
    background: url(../img/lable1.png);
    background-size: 100% 100%;
}
.buy_clause_a{
	font-size: 0.7rem;
	font-family: "微软雅黑";
}
.buy_clause_a a{
	color: #25abee;
	font-family: "微软雅黑";
}
/*同意条款结束*/
.foote_buy{
	width: 100%;
}
.buy_bottom ul li{
	margin-left: 0.4rem;
}
.buy_bottom ul li p{
	font-family: "微软雅黑";
}
.buy_bottom_p1{
	font-size: 1.3rem;
	color: #ff0000;
	margin-top: -0.5rem;
}
.buy_bottom_p2{
	font-size: 0.5rem;
    margin-left: 0.3rem;
    color: #666;
}
.buy_left{
	float: left;
}
#buy_right{
	float: right;
}
#buy_right a{
	width: 5rem;
    line-height: 3.07rem;
    height: 3.07rem;
    background: #91b18a;
    margin-top: -0.8rem;
    display: inline-block;
    text-align: center;
    color: #f9f8ee;
}
/*购买课程结束*/

/*底部购买开始*/
.buy_bottom_bg{
	width: 100%;
	height: 100%;
	position: relative;
}
.buy_bg{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 1.8rem;
	z-index: 9999;
}
/*底部购买结束*/


/*观看登录开始*/
.buy_center{
	width: 80%;
	height: 7rem;
	background: #fff;
	border-radius: 10px;
	/*margin: 0 auto;*/
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -4rem;
	margin-left: -40%;
	z-index: 99999;
}
.look_main{
	width: 100%;
	height: 100%;
	position: relative;
}
.look_main p{
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
    font-size: 1rem;
}
.look_put input{
	width: 11rem;
	height: 1.5rem;
	border: 0.001rem solid #d2d2d2;
	outline: none;
	border-radius: 10px;
	margin-left: 0.89rem;
	text-indent: 0.5rem;
	color: #999;
}
.look_put button{
	width: 3rem;
	height: 1.6rem;
	line-height: 1.5rem;
	border:0;
	background: #91b18a;
	font-size: 0.85rem;
	text-align: center;
	color: #fff;
	outline: none;
	border-radius: 0 10px 10px 0px;
	position: absolute;
    right: 0;
    margin-right: 0.89rem;
    /*top: 0rem;*/
}
/*观看登录结束*/


/*预约开始*/
.order{
	width: 100%;
    height: 12.1rem;
    background: #000;
}
.order_center{
	width: 50%;
	height: 6rem;
	margin: 0 auto;
	padding-top: 3rem;
}
.order_center p{
	color: #fff;
	text-align: center;
}
.order_center .p1{
	font-size: 0.9rem;
	color: #8cc427;
}
.order_center .p2{
	font-size: 0.7rem;
	width: 100%;
	padding-bottom: 0.3rem;
	border-bottom: 0.001rem solid #f9f8ee;
	margin-bottom: 0.3rem;
}
.order_center .p3{
	font-size: 0.7rem;
	margin-bottom: 1rem;
}
.order_center a{
	color: #f9f8ee;
    background: #91b18a;
    padding: 0.3rem 1.6rem;
    font-size: 1rem;
    margin-left: 0.26rem;
    border-radius: 10px;
}




/*预约结束*/



/*首页结束*/


