

.fontsize10{
	font-size: 0.625em;
}
.fontsize12{
	font-size: 0.75em;
}
.fontsize13{
	font-size: 0.813em;
}

.fontsize14{
	font-size: 0.875em;
}
.fontsize17{
	font-size: 1.0625em;
}
.fontsize18{
	font-size: 1.125em;
}

.fontcolor_blak{
	color: #333333;
}
.fontcolor_pink{
	color: #ff265a;
}
.fontcolor_orage{
	color: #DB751D;
}
.fontcolor_gray{
	color: #aaa;
}
.fontcolor_gray_qian{
	color: #bbb!important;
	
}
.fontcolor_white{
	color: #FFFFFF;
	
}
.fontcolor_red{
	color: #fc104d;
}
.fontcolor_green{
	color: #21d282;
}

.bgcolor_orage{
	background: #DB751D;;
}
.bgcolor_white{
	background: #FFFFFF;;
}
.mui-table-view-cell:after{
	left: 0px;
}
.kongbai{
     margin-top: 48%;
    margin-left: 39%;
    width: 29%;
}

.shengl{
	   overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.mui-btn-success{
				background: #21d282;
}
.mui-btn-success1{
			border:1px solid #21d282;
			color: #21d282;
}
.bggreen{
	background: #00d580;
}
.btnself{
	width: 80%;
	margin: 0 auto;
	    /* font-size: 18px; */
    display: block;
    /* width: 100%; */
    /* margin-bottom: 10px; */
    padding: 15px 0;
}
.tabspan_padding{
	padding-top: 5px;
}
