.price .sharemoney{
	padding: 5px 25px;
	display: inline-block;
	border-radius: 3px;
}
.yuan{
	padding:1px;
	border-radius: 3px;
	margin-right: 3px;
}
.price .bordertop:after{
	border: none;
	border-top: dashed 1px red;
	border: dashed 0.3px #AAAAAA!important;
	left: 0px;
	background-color: #FAFAFA;
}

#segmentedControl a.mui-active{
	border-bottom: 1px solid #DB751D;
	color:#DB751D;
}
#segmentedborder{
	border: 1px solid #DB751D;
}
.oncebuy{
	background: #DB751D;
	color: #FFFFFF!important;
	
}

