<!DOCTYPE html>
	<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<head>
<meta charset="UTF-8">
<title>熊猫中医</title>

<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />

<link rel="stylesheet" type="text/css" href="/xcview/css/physician/article.css?v=wechat_1.1.1"/>
<link rel="stylesheet" type="text/css" href="/xcview/css/alert/sharecss.css?v=wechat_1.1.1"/>
<!--手机嵌入模板-->
<script type="text/javascript" src="/xcview/js/common/layout.js"></script>
<script>
	// 判断横屏展示时的状态
	window.onorientationchange=function(){
	    if(window.orientation==90||window.orientation==-90){
	        window.location.reload();  /*横屏状态刷新*/
	    }else{
	        window.location.reload();  /*竖屏状态刷新*/
	    }
	}	
</script>
<style>
	.consilia_main{
		/*margin-top: 0.88rem;*/
	}
	.opacity_heights{
		width: 100%;
		height: 0.88rem;
	}
</style>
</head>
<body style="background: #F8F8F8;">
	<!--头部开始-->
	<header>
		<div class="header">
			<div class="headers">
				<p>媒体报道</p>
			</div>
<!-- 			<div class="arror_return" onclick="javascript:window.history.back();return false;"> -->
            <div class="arror_return" onclick="common_share_back();">
				<img src="/xcview/images/back icon.png" />
			</div>
			<div class="header_news">
				<img src="/xcview/images/share_img.png" alt="" />
			</div>
		</div>
	</header>
	<div class="opacity_heights" style="display: block !important;"></div>
	<!--头部结束-->
	<!-- 中间内容开始 -->
	<div class="consilia_main">
		<!-- <div class="consilia_main_center">
			<h2>全国名中医潘敏求 宁失亿万身家只为做“良医”</h2>
			<div class="article">
				<div class="article_main">
					<div class="article_border_left"></div>
					<div class="article_time">
						<div class="">华夏晚报 2018.6.16 01:40</div>
					</div>
					<div class="article_border_right"></div>
					<div class="both"></div>
				</div>
			</div>
			<div class="both"></div>
		</div> -->

		<div class="consilia_main_center" id="consilia_main_center">
			<script type="text/html" id="consilia_main_center_id">
			<h2>{{items.title}}</h2>
			<div class="article">
				<div class="article_main">
					<!--<div class="article_border_left"></div>-->
					<div class="article_time">
						<div class="">{{items.author}}</div>
					</div>
					<!--<div class="article_border_right"></div>-->
					<div class="both"></div>
				</div>
			</div>
			<div class="both"></div>
			<div class="consilia_center">
				<div class="consilia_textarea"></div>
				<div class="consilia_center_url">本文来源：<span></span>。转载请注明出处。</div>
			</div>
			</script>
		</div>


		<!-- 评价开始 -->
		<div class="evaluation_start">
			<div class="wrap_comment_title">
				<p class="border"></p>
				<p>评价</p>
			</div>

			<div class="wrap_all_returned">
				<script type="text/html" id="broadcastroom_id">
				{{each items as item i}} 
				<div class="wrap_people_comment">
					<div class="wrap_comment_text">
						<!--头像-->
						<div class="user_header">
							<img src="{{item.author.smallHeadPhoto}}" onerror="nofinds();">
						</div>
						<!--右边评价-->
						<div class="user_text">
							<div class="wrap_userName">
								<p class="z">{{item.author.name}}</p>
							</div>
						</div>
						<!--回复的内容-->
						<p class="write_text">
							{{item.content}}
						</p>
						<!--被回复的内容灰色部分-->
						{{if item.reply != null}}
							<div class="uesr_returned">
								<p class="returned_id z">{{item.reply.author.name}}：<span style="color: #333333;">{{item.reply.content}}</span></p>
							</div>
						{{/if}}

						
						<!--回复时间/点赞/评价按钮-->
						<div class="wrap_returned_btn">
							<ul>
								<li>{{item.createTime.slice(0,16)}}</li>
								<li class="btn_littleReturn " style="margin-left: 0.3rem;" id="{{item.id}}">
									<img src="/xcview/images/returned.png">
								</li>
								<li class="btn_click_zan"  data-id ="{{item.id}}"  >
									{{if item.praised }}
									<img src="/xcview/images/zan001.png"/>&nbsp;<span id="zan001">{{item.praiseCnt}}</span>
									{{else}}
									<img src="/xcview/images/zan01.png"/>&nbsp;<span id="zan01">{{item.praiseCnt}}</span>
									{{/if}}
								</li>

							</ul>
						</div>
					</div>
				</div>
				{{/each}}
            	</script>


				
			</div>
			

		</div>
		<div class="opacity_height"></div>
		<!-- 底部评论框开始 -->
		<div class="wrap_user_input">
			<div class="wrap_input">
				<img src="/xcview/images/inp_retured.png">
				<span>来点神聊</span>
			</div>
		</div>


		<!-- 回复评价信息开始 -->
		<!--评价用户弹出框-->
		<div class="bg_userModal"></div>
		<div class="wrapLittle_comment">
			<p class="detailed_comments little_comment">详细评价</p>
			<div class="text_write_box">
				<textarea id="littlt_return" name="" rows="" cols="" placeholder="写评价，回复一下"></textarea>
			</div>
			<!--表情/提交评价-->
			<ul class="brow_btn">
				<li style="display: none;">
					<img src="/xcview/images/brow.png"/>
				</li>
				<li class="return_btn">发表评价</li>
			</ul>
		</div>
		<!-- 回复评价信息结束 -->

		<!-- 评价信息 -->
		<div class="bg_modal"></div>
		<div class="wrapAll_comment"><p class="set_title" >发表评价</p>
			
		<div class="text_write_box">
			<textarea name="" id="comment_detailed" rows="" cols="" placeholder="写评价，给文章评价一下"></textarea>
		</div>
		<!--表情/提交评价-->
		<ul class="brow_btn">
			<li style="display: none;">
				<img src="/xcview/images/brow.png">
			</li>
			<li class="report_btn">发表评价</li>
		</ul></div>
		<!-- 底部评论框结束 -->
		<!-- 评价结束 -->

		<!-- 点击分享按钮开始 -->
		<div class="weixin_ceng">
			<div class="weixin_ceng_bg"></div>
			<div class="weixin_img"><img src="/xcview/images/fenxiang1.png" data-bd-imgshare-binded="1"></div>
		</div>
		<!-- 点击分享按钮结束 -->
	</div>
	<!-- 中间内容结束 -->

	<div class="quie_pic" style="padding-bottom: 0px;">
		<img src="/xcview/images/no_comment.png">	
		<p>还没有评价？快来抢沙发呀~</p>
		<!-- <span onclick="btn_user_allComment()">去评价</span> -->
	</div>
	<div style="width:100%;height: 1.1rem;"></div>
</body>
<script type="text/javascript" src="/xcview/js/common/jquery-2.1.1.min.js"></script>
<script type="text/JavaScript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="/xcview/js/common/mui.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/common.js?v=wechat_1.1.1"></script> 
<script type="text/javascript" src="/xcview/js/common/template.js"></script>    <!--数据模板引入-->
<script type="text/javascript" src="/xcview/js/physician/index.js"></script> 

<script type="text/javascript" src="/xcview/js/physician/article.js"></script> 
<script type="text/javascript" src="/xcview/js/share/share.js?v=wechat_1.1.1"></script>
<script>
	window.onload = function(){
		/*if($('#comment_detailed').val()==""){
            $(".report_btn").css("opacity","0.3");
            alert(2121);
        }else{
            $(".report_btn").css("opacity","1");
             alert(1111);
        }*/

        // 点击底部聊天区显示
        $(".wrap_user_input").click(function(){
        	$(".bg_modal").show();
        	$(".wrapAll_comment").show();
        });

        // 点击背景色隐藏
        $(".bg_modal").click(function(){
        	$(".bg_modal").hide();
        	$(".wrapAll_comment").hide();
        });

        //点击发表评价隐藏
        $(".report_btn").click(function(){
        	$(".bg_modal").hide();
        	$(".wrapAll_comment").hide();
        });

        // 点击分享按钮
        $(".header_news").click(function(){
        	$(".weixin_ceng").show();
        });
        // 点击分享背景色
        $(".weixin_ceng").click(function(){
        	$(".weixin_ceng").hide();
        });

        // 点击回复背景色隐藏
        $(".bg_userModal").click(function(){
        	$(".bg_userModal").hide();
        	$(".wrapLittle_comment").hide();
        });

        function delHtmlTag(str){
		    return str.replace(/<[^>]+>/g,"");
		}
	};
</script>
<!-- 公用弹框 -->
<script type="text/javascript" src="/xcview/js/common/alertPopShow.js?v=wechat_1.1.1"></script>
</html>