<!DOCTYPE html>
	<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<head>
<meta charset="UTF-8">
<title>熊猫中医</title>
<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="/xcview/css/physician/voice_broadcast.css"/>

<script type="text/javascript" src="/xcview/js/common/layout.js"></script><!--手机嵌入模板-->
<!--微吼弹幕引入js-->
<script src="https://static.vhallyun.com/jssdk/vhall-jssdk-chat-1.0.0.js"></script>
<script src="https://static.vhallyun.com/jssdk/vhall-jssdk-base-1.0.0.js"></script>
<script type="text/javascript" src="/xcview/js/common/popups.js"></script>  <!-- 公用弹框 -->
<link rel="stylesheet" type="text/css" href="/xcview/css/popups.css"/> <!-- 公用弹框 -->

<link rel="stylesheet" href="/xcview/html/physician/voice/style/main.css">
<!--刷新 -->
<link rel="stylesheet" href="/xcview/css/minirefresh/minirefresh.css?version=71e5ea2f95&version=71e5ea2f95&version=71e5ea2f95">
<script type="text/javascript" src="/xcview/js/minirefresh/minirefresh.js?version=db3081c0a1&version=db3081c0a1&version=db3081c0a1"></script>

<script>
	// 判断横屏展示时的状态
	window.onorientationchange=function(){
	    if(window.orientation==90||window.orientation==-90){
	        window.location.reload();  /*横屏状态刷新*/
	    }else{
	        window.location.reload();  /*竖屏状态刷新*/
	    }
	}	
</script>
<style>
	/*添加语音后的加的宽度*/
	.container{
		width: 6.98rem;
		overflow: hidden;
	}
	.main{
		width: 6.98rem;
	    height: 100%;
	    margin: 0 auto;
	    height: 100%;
	    margin: 0 auto;
	    position: fixed;
	    top: 5.3rem;
	    left: 50%;
	    margin-left: -3.49rem;
	    z-index: -1;
	}
	.askBackground{
		background: #F97B49;
		border-radius: 5px;
		font-size: 0.24rem;
		color: #FFFFFF;
		padding: 0 0.04rem;
		margin-right: 0.1rem;
	}

	/*处理刷新*/
	.minirefresh-wrap{
		top: 1.1rem;
	}
	.minirefresh-theme-default .minirefresh-downwrap{
		height: 1rem;
		line-height: 1rem;
	}
	.minirefresh-theme-default .downwrap-content{
		padding: 0;
	}
	.minirefresh-theme-default .minirefresh-upwrap{
		height: 1rem;
		max-height: 0.5rem;
		line-height: 0.6rem;
		padding: 0;
		/*margin-top: -0.5rem;*/
	}
	.minirefresh-scroll{
		background: none;
	}
	/*处理只看问题刷新列表*/
	#minirefresh .minirefresh-upwrap{
		margin-bottom: 1.3rem;
	}
	#minirefresh .upwrap-tips{
		padding-top: 0 !important;
		line-height: 0;
	}
</style>
</head>
<body style="background: #F8F8F8;">
	<!-- 头部开始 -->
	<div class="voice_broadcast_top">
		<div class="header">
			<div class="header_return">
				<img src="/xcview/images/anchorj.png" alt="" />
			</div>
			<div class="share">
				<img src="/xcview/images/anchorf.png" alt="" />
			</div>
		</div>
		<div class="surface_plot">
			<div class="surface_plot_img">
				<img src="/xcview/images/xianxia_03.jpg" alt="" />
				<div class="surface_plot_bg"></div>
				<div class="surface_plot_fize">
					<p class="surface_plot_fize_title">即将直播：如何治疗感冒及普通感冒的推荐治疗冒的推荐治疗冒的推荐治疗</p>
					<!-- <p class="surface_plot_fize_time">开课时间：08:00</p> -->
					<div id="box1"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 头部结束 -->
	<!-- 关注区域开始 -->
	<div class="attention">
		<div class="attention_main">
			<div class="anchor_head">
				<img src="/xcview/images/touxiang.png" alt="" />
			</div>
			<div class="anchor_message">
				<div class="anchor_message_name">这里是主播名字</div>
				<div class="anchor_message_number">320人<span class="subscribe">预约</span><span class="live_streaming"><div class="live_streaming_dot"></div>直播中</span></div>
			</div>
			<div class="booking_person booking_person_bg">
				<img src="/xcview/images/weigz.png" alt="" />
				<p>加关注</p>
			</div>
		</div>
	</div>
	<!-- 关注区域结束
	<div class="instructions">
		<div class="instructions_title">操作指南</div>
		<ul>
			<li>听不到声音请往下翻，点击语音即可播放，并确认手机没有静音；</li>
			<li>课程语音永久保留，可重复回听</li>
		</ul>
	</div> -->

	<!-- 中间内容开始 -->
	<!-- <div class="live_to">直播开始</div> -->
	<div class="main">
		
		<!-- <div class="anchor">
			<div class="anchor_img">
				<img src="/xcview/images/touxiang.png" alt="" />
			</div>
			<div class="anchor_main">
				<div class="anchor_name">我是一只快乐的小青蛙<span>主播</span></div>
				<div class="anchor_center">首乌12克，枸杞子12克，菟丝子12克，桑螵蛸12克，赤石脂12克，狗脊12克，熟地24克，藿香6克，砂仁6克</div>
				<div class="anchor_favour">
					<div class="favour_img"></div>
					<span>1</span>
					<div class="both"></div>
				</div>
			</div>
			<div class="both"></div>
		</div>
		主播回復
		<div class="anchor">
			<div class="anchor_img">
				<img src="/xcview/images/touxiang.png" alt="" />
			</div>
			<div class="anchor_main">
				<div class="anchor_name">我是一只快乐的小青蛙<span>主播</span></div>
				<div class="anchor_center"></div>
				<div class="anchor_center">@柠檬<span class="anchor_center_ask">问</span>风寒感冒和风热感冒的区别
				
				<div class="anchor_main_border"></div>
		
				首乌12克，枸杞子12克，菟丝子12克，桑螵蛸12克，赤石脂12克，狗脊12克，熟地24克，藿香6克，砂仁6克</div>
				<div class="anchor_favour">
					<div class="favour_img"></div>
					<span>1</span>
					<div class="both"></div>
				</div>
			</div>
			<div class="both"></div>
		</div> -->

		<!-- 语音 -->
		<div class="container">
	        <img src="./voice/img/loading.gif" alt="" style="display:none;">
	        <div class="home">
	        	<!-- 这段注释也要放到刷新里面
	        					<div class="instructions">
	        						<div class="instructions_title">操作指南</div>
	        						<ul>
	        							<li>听不到声音请往下翻，点击语音即可播放，并确认手机没有静音；</li>
	        							<li>课程语音永久保留，可重复回听</li>
	        						</ul>
	        					</div>
	        					<div class="live_to">直播开始</div>
	        					这段注释也要放到刷新里面 -->

	            <div class="scroll-box">
	            	<!-- 这段注释也要放到刷新里面 -->

					<div class="instructions">
						<div class="instructions_title">操作指南</div>
						<ul>
							<li>听不到声音请往下翻，点击语音即可播放，并确认手机没有静音；</li>
							<li>课程语音永久保留，可重复回听</li>
						</ul>
					</div>
					
					<!-- 这段注释也要放到刷新里面 -->
	                <div class="scroll-wrapper">

						<div class="main_time">10:02</div>
	                    <!-- <p class="tips"><span>上次看到这里了</span></p> -->
	                    <div class="live_to">直播开始</div>
	                    <script id="msg" type="text/html">
	                        {{each items as item i}}
	                            <div class="item"  data-message-id="{{item.id}}">
	                                <div class="message" data-id-{{item.id}}>
	                                    <div class="box-left">
	                                        <div class="head">
	                                            <div class="head-box" style="background-image:url({{item.imgUrl}})"></div>
	                                        </div>
	                                    </div>
	                                    <div class="box-right">
	                                        <div class="nickname">{{item.name}}</div>
	                                        <div class="content">
	                                            {{if item.contentType == 2}}
	                                                <div class="soundbody" data-id="{{item.id}}">
	                                                    <div class="flex-box">
	                                                        <div class="play_status">
	                                                            <p class="iconfont playing">&#xe61c;</p>
	                                                            <p class="iconfont paused">&#xe616;</p>
	                                                        </div>
	                                                        <div class="play_ui">
	                                                            <div class="play_line"></div>
	                                                            <div class="play_btn"></div>
	                                                            <div class="drag">
	                                                                <p><span>0</span>″</p>
	                                                            </div>
	                                                        </div>
	                                                        <div class="second">{{item.length}}″</div>
	                                                    </div>
	                                                    <div class="label">
	                                                        <div class="complete iconfont">&#xe6c1;</div>
	                                                        <div class="dot"></div>
	                                                    </div>
	                                                </div>
	                                            {{else}}
	                                                <div class="text">
	                                                    <p>{{item.content}}</p>
	                                                </div>
	                                            {{/if}}
	                                        </div>
	                                        <div class="like">
	                                            <p><span class="iconfont">&#xe63e;</span> {{ item.likes }}</p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        {{/each}}
	                    </script>
	                </div>
	            </div>
	        </div>
	        <div class="currentPosition">
	            <p>回到播放位置</p>
	        </div>
	    </div>

	</div>
	<div class="main_height"></div>
	<!-- 只看问题开始 -->
	<div class="comment_area">
		<div class="comment_area_top">
			<div class="comment_area_problem">
				<!-- 只看问题 -->
				<div class="comment_area_problem_left">
					<div class="comment_area_problem_bg">
						<label for="" class="problem_label_bg"></label>
						<input type="checkbox" class="problem_label_put" onclick="getcontentList(1,'down')"/>
						<!-- <input type="chebox"> -->
					</div>
					<span>只看问题</span>
				</div>
				<div class="comment_area_close">×</div>
			</div>
			<div class="comment_area_height"></div>
			<!-- 评论区 -->

			<div id="minirefresh" class="minirefresh-wrap">
				<div class="minirefresh-scroll">
			<div class="comment_area_main">
				<script type="text/html" id="comment_area_list">
					{{each items as item i}}
				<div class="comment_area_cen">
					<div class="criticism">
						<img src="{{item.imgUrl}}" alt="" class="criticism_img" />
						<span class="name">{{item.name}}</span>
						{{if item.anchor == true}}
						<span class="criticism_hint">主播</span>
						{{/if}}

					</div>
					<div class="host_response">
						{{if item.question == true}}
						<span class="askBackground">问</span>
						{{/if}}
						{{item.content}}</div>
					{{if item.courseLiveAudioDiscussionVO != null}}
					<div class="respond_questions">
						<span class="name">{{item.courseLiveAudioDiscussionVO.name}}：<span class="ask">问</span>{{item.courseLiveAudioDiscussionVO.content}}</span>
					</div>
					{{/if}}
					<div class="time">{{item.createTime}}</div>
				</div>
					{{/each}}
				</script>
			</div>
				</div>
			</div>
			<!--<div class="comment_area_main">
				<div class="comment_area_cen">
					<div class="criticism">
						<img src="/xcview/images/touxiang.png" alt="" class="criticism_img" />
						<span class="name">我是一只快乐的小跳蛙</span>
						<span class="criticism_hint">主播</span>
					</div>
					<div class="host_response">我是一只快乐的小跳蛙我是一只快乐的小跳蛙我是一只快乐的小跳蛙我是一只快乐的小跳蛙我是一只快乐的小跳蛙</div>
					<div class="respond_questions">
						<span class="name"><span class="ask">问</span>风寒感冒和风热感冒的区别是什么？应该风寒感冒和风热感冒的区别是什么？应该</span>
					</div>
					<div class="time">2017.12.25</div>
				</div>
			</div>-->
			
		</div>
	</div>
	<!-- 只看问题结束 -->
	
	<!-- 中间内容结束 -->

	<!-- 底部开始 -->
	<div class="footer_bg"></div>
	<div class="footer">
		<div class="msgCont">
		
		</div>
		<div class="chat">
			<img src="/xcview/images/inp_retured.png" alt="" class="chat_img" />
			<input type="text" placeholder="来点儿神聊或提问" class="chat_put" id="chat_put" />
			<div class="chat_radio">
				<label for="" class="radio_lable"></label>
				<input type="checkbox" class="radio_put" />
				<span>提问</span>
			</div>
		</div>
		<!-- 弹幕开关 -->
		<div class="barrage_switch"></div>
		<div class="chat_all"></div>
		<div class="transmit" onclick="sendDiscussion()">发送</div>
	</div>
	<!-- 底部结束 -->
	<div class="show"></div>
	<!-- 给底部一个高度--配合底部输入框 -->
	<div class="main-height" style="height:6.4rem;width:100%;display: none;"></div>

	<!-- 分享给的提示开始 -->
	<div class="weixin_ceng">
		<div class="weixin_ceng_bg"></div>
		<div class="weixin_img"><img src="/xcview/images/fenxiang1.png" data-bd-imgshare-binded="1"></div>
	</div>
	<!-- 分享给的提示结束 -->
</body>
<script type="text/javascript" src="/xcview/js/common/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/mui.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/common.js?v=wechat_1.1.1"></script> 
<script type="text/javascript" src="/xcview/js/common/template.js"></script>    <!--数据模板引入--> 
<!-- <script type="text/javascript" src="/xcview/js/physician/quiz.js"></script>  -->
<script type="text/javascript" src="/xcview/js/physician/voice_broadcast.js"></script>

<script>
	window.onload = function(){
		
	}
</script>

<!-- 倒计时开始 -->
<script>
	$(function() {
	    setInterval(timer, 1000);
	    function timer() {
	        //设置结束的时间
	        var endtime = new Date("2018/10/01 00:00:00");
	        //设置当前时间
	        var now = new Date();
	        //得到结束与当前时间差 ： 毫秒
	        var t = endtime.getTime() - now.getTime();
	        if (t > 0) {
	            //得到剩余天数
	            var tian = Math.floor(t / 1000 / 60 / 60 / 24);
	            //得到还剩余的小时数（不满一天的小时）
	            var h = Math.floor(t / 1000 / 60 / 60 % 24);
	            //得到分钟数
	            var m = Math.floor(t / 1000 / 60 % 60);
	            //得到的秒数
	            var s = Math.floor(t / 1000 % 60);
	            var str = "距离10月1回家：" + tian + " 天 " + h + " 小时  " + m + " 分 " + s + " 秒 ";
	            $("#box1").html(str);
	        } else {
	            // clearInterval(timer); //这里可以添加倒计时结束后需要执行的事件 
	            $("#box1").html("您已在回家的路上");
	        }
	    }
	});
</script>

<!-- 语音直播引用文件开始 -->
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/Mock.js/1.0.0/mock-min.js"></script>
<script src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
<script src="/xcview/html/physician/voice/js/main.js"></script>
<!-- 语音直播引用文件结束 -->

<script>
window.onload = function(){
	// 点击分享按钮
	$(".share").click(function(){
		$(".weixin_ceng").show();
	});
	// 点击背景色
	$(".weixin_img").click(function(){
		$(".weixin_ceng").hide();
	});

	//聊天最大高度
	var container_height=$(window).height()-$(".main-height").height();
	$(".container").height(container_height);

	// 聊天区域高度
	var main_height=$(window).height()-$(".main-height").height();
	$(".main").height(main_height);

	// 聊天区域高度
	var home_height=$(window).height()-$(".main-height").height();
	$(".container .home").height(home_height);

	// alert(main_height);
};
	
</script>

</html>