<p style="">
	<font size="4" style="font-weight: 700;">视频可以多次重复观看吗？</font> 
</p>
<p style="">
	<font size="3">我们的视频均可以进行多次重复观看，观众可根据自己的时间对学习过程进行安排，最大化地利用时间。</font>
</p>
<p style="">
	<font size="3"><br></font>
</p>
<p style="">
	<font size="4" style="font-weight: 700;">购买的课程，是否有缴费凭证？</font>
</p>
<p style="">
	<font size="3">熊猫中医平台会提供购买课程的缴费凭证。详情请联系我们的客服人员。</font>
</p>
<p style="">
	<font size="3"><br></font>
</p>
<p style="">
	<font size="4" style="font-weight: 700;">有线下课程吗？</font>
</p>
<p style="">
	<font size="3">您对中医学习有不同的需求和习惯。正因如此，我们持续开设线下课程 ，详情欢迎咨询客服人员。</font>
</p>
<p style="">
	<font size="3"><br></font>
</p>
<p style="">
	<font size="4" style="font-weight: 700;">有哪些知识阶层的中医课程？</font>
</p>
<p style="">
	<font size="3">我们对所有课程根据学识储备进行个性化的划分，保证每个认知阶段的用户都能找到心仪的课程。</font>
</p>
<p style="">
	<font size="3"><br></font>
</p>
<p style="">
	<font size="4" style="font-weight: 700;">没有中医基础，可以学习课程吗？</font>
</p>
<p style="">
	<font size="3">零基础也能学中医！许多学员推荐“古籍经典”系列以及【小宝中医带你快速入门学针灸】课程作为他们的入门必备。</font>
</p>
<p style="">
	<font size="3"><br></font>
</p>
<p style="">
	<font size="4" style="font-weight: 700;">学习中需要大家准备什么工具？</font>
</p>
<p style="">
	<font size="3">所有熊猫中医课程都有建议配套使用的教具。例如【小宝中医带你快速入门学针灸】系列课程，老师推荐需要配合我们的【新手包】来进行学习。</font>
</p>
<p style="">
	<font size="3"><br></font>
</p>
<p style="">
	<font size="4" style="font-weight: 700;">【新手包】中有什么内容？</font>
</p>
<p style="">
	<font size="3">【新手包】中包含有针具、练针包、课程推荐练针板、用于针灸经络记忆的《外治基础手册》，以及讲师所著《医路十年》。</font>
</p>
<p style="">
	<font size="3"><br></font>
</p>
<p style="">
	<font size="4" style="font-weight: 700;">如何购买【新手包】？</font>
</p>
<p style="">
	<font size="3">请联系我们平台的客服，获取购买【新手包】的详细信息。</font>
</p>