*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.both{
	clear: both;
}
body{
	width: 7.5rem;
    margin: 0 auto;
}

/*头部搜索开始*/
header{
	width: 100%;
	height: 0.89rem;
	background: #fff;
}
.header{
	width: 7rem;
	height: 100%;
	margin-left: 0.26rem;
	padding-top: 0.14rem;
}

.header_seek{
	width: 6.18rem;
	height: 0.6rem;
    line-height: 0.6rem;
	background: #F0F0F0;
	border-radius: 100px;
	position: relative;
	text-indent: 0.24rem;
	float: left;
}
.header_seek_main{
	position: absolute;
	top: 0;
	left: 0.65rem;
	font-size: 0.26rem;
	/*font-size: 0.636rem;*/
	color: #999999;
	pointer-events: none;
}
.header_seek .span{
    width: 0.7rem;
    height: 0.6rem;
    display: inherit;
    background: #f0f0f0;
    position: absolute;
    z-index: 9;
    border-radius: 25px 0px 0px 25px;
}
.header_seek_main img{
	width: 0.766rem;
	height: 0.766rem;
	vertical-align: -webkit-baseline-middle;
    vertical-align: text-bottom;
    margin-right: 0.383rem;
}
.sousuo{
	width: 0.36rem;
    height: 0.36rem;
    vertical-align: -webkit-baseline-middle;
    vertical-align: text-bottom;
    margin-right: 0.383rem;
    position: absolute;
    top: 0.13rem;
    left: 0.3rem;
}
.header_seek input{
	width: 6.16rem;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 100px;
    position: relative;
    text-indent: 0.87rem;
    float: right;
    border: 0;
    background: none;
    /* margin-right: 0.15rem; */
    outline: none;
    font-size: 0.26rem;
    color: #333;
    margin-left: 0.02rem;
}
.header_cancel{
	float: right;
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: right;
    font-size: 0.28rem;
    color: #2F2F2F;
    /*background: red;*/
}

/*热门搜索开始*/
.search_hot{
	width: 100%;
	min-height: 1.83rem;
	background: #fff;
	margin-top: 0.2rem;
	margin-bottom: 0.426rem;
	/*padding-bottom: 0.638rem;*/
	overflow: hidden;
}
.search_hot_title{
	font-size: 0.26rem;
    color: #999;
    margin-left: 0.26rem;
    margin-bottom: 0.3rem;
    padding-top: 0.3rem;
    /* padding-bottom: 0.638re
}
.search_hot_main{
	width: 100%;
	/*height: 100%;*/
}
.search_hot_main_one{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 2rem;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    font-size: 0.28rem;
    color: #333;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    float: left;
    margin-left: 0.26rem;
    margin-bottom: 0.4rem;
    padding: 0 0.5rem;
}
/*热门搜索结束*/

/*搜索历史开始*/
.search_history{
	width: 100%;
	height: 100%;
	background: #fff;
    /*padding-bottom: 0.638rem;*/
}
.search_history_title{
	width: 6.98rem;
    margin: 0 auto;
    padding-top: 0.31rem;
    /*padding-bottom: 0.638rem;*/
}
.search_history_title div{
	font-size: 0.28rem;
}
.search_history_title .div0{
	float: left;
	color: #999;
}
.search_history_title .div1{
	float: right;
	color: #00BC12;
}

.search_history_list{
	width: 7.26rem;
    float: right;
    background: #fff;
}
.search_history_list_one{
	border-bottom: 1px solid #F0F0F0;
    height: 0.8rem;
    line-height: 0.8rem;
}

.search_history_list_one .div0{
	font-size: 0.28rem;
    float: left;
    color: #2f2f2f;
    width: 5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*background: red;*/
}
.search_history_list_one .div1{
	float: right;
    font-size: 0.4rem;
    margin-right: 0.26rem;
    color: #999;
}
.search_history_list .search_history_list_one:last-child{
	border: 0;
}
/*搜索历史结束*/
