<p style="line-height: 2em;">
    <span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">*以下预填内容仅作参考，您可以完全删除并自行填写。</span>
</p>
<p style="line-height: 2em;">
    <span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">课程简介</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">（请在此板块介绍本节课程的大概内容）</span>
</p>
<p style="line-height: 2em;">
    <span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">课程内容梗概</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">（如果课程内容有明确的划分，请在此版块加以说明）</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">1、</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">2、</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">3、</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">......</span>
</p>
<p style="line-height: 2em;">
    <span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">课程适合人群</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">（或专业度相关，例如中医相关专业在校生、中医从业人员、中医爱好者等；或受益者相关，例如中老年人、高血压患者、婴幼儿父母等）</span>
</p>
<p style="line-height: 2em;">
    <span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">购买课程可以得到什么？</span>
</p>
<p style="line-height: 1.75em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">（可在此板块提供您的助理联系方式、或粉丝群的加入方法）</span>
</p>
<p style="line-height: 1.5em;">
    <span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"><br/></span>
</p>
<p style="line-height: 1.5em;">
    <span style="font-family: 微软雅黑; color: rgb(0, 176, 80);"><br/></span>
</p>
<p>
    <br/>
</p>