<p style="line-height: 1.5em;"><img src="https://file.xczhihui.com/18611201212/7379477e1912-图片.png?imageslim"
                                    title="" alt="图片.png"/></p><p style="line-height: normal;"><br/></p><p
        style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">李杭州，安徽亳州人，中医育儿讲师。自幼受母亲熏陶，立志于医学，2000年至2011年在北京中医药大学学习，研究生阶段师从肖相如来时，在校期间多次获得学校奖励表彰，2002年至2013年跟随首都名中医孔光一先生临床实习，是北京中医药大学孔光一名医传承工作站成员。是北京中医药大学仲景中医药协会的发起人，并曾任该协会第一任会长</span>。</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">善于针药并用治疗各科疑难病症，对小儿感冒、发烧、咳嗽及脾胃病的治疗与调理有比较丰富的临床经验；对妇科各类疾病的调理亦能达到满意的效果，尤其对妇女更年期综合症的治疗经验丰富，效果甚佳。</span>
</p><p style="text-align: justify; line-height: 1.5em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"><br/></span><br/></p>