<p style="line-height: 2em;"><span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">说在课前</span></p><p
        style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">本课程为《跟着中医学养娃—杭州大夫育儿十讲》合辑中的内容，直接购买更优惠哟！</span>
</p><p style="line-height: 1.75em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(84, 141, 212);">《某某课程名》</span></a></p><p
        style="line-height: 1.5em;"><br/></p><p style="line-height: 2em;"><span
        style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">课程简介</span></p><p
        style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">小儿为“少阳之体”因此在成长过程中，发烧就成了非常常见的现象，感冒会引起发烧、积食会引起发烧，偶尔还会见到因为在长身体引起的“生理性发热”。</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">孩子发烧，家长最忌病急乱投医，那么孩子在发烧的时候，作为家长，该怎么判断引起孩子发烧的原因？该如何判断该不该吃退烧药，或者该不该去医院打针？在孩子发烧的时候有哪些做法是可取的，而又有哪些我们以为正确的做法，其实都是错误的？</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">本节可李杭州老师都会为您一一解答。<br/></span>
</p><p style="line-height: 1.5em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"><br/></span></p><p
        style="line-height: 1.5em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"></span>
</p><p style="line-height: 2em;"><span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">课程内容梗概</span>
</p><p style="line-height: 1.75em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">1、孩子发烧的原因</span></p><p
        style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">2、孩子发热时该如何用药</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">3、几种常见退烧药的区别</span>
</p><p style="line-height: 1.5em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"><br/></span></p><p
        style="line-height: 1.5em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"></span>
</p><p style="line-height: 2em;"><span
        style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">购买课程可以得到什么？<br/></span></p><p
        style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">购买后，我们的客服会主动跟您联系，邀请您加入李杭州在线咨询群，随时随地可以向老师提问啦</span>
</p><p style="line-height: 1.5em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"><br/></span></p><p
        style="line-height: 1.5em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"></span>
</p><p style="line-height: 2em;"><span style="font-family: 微软雅黑; font-size: 16px; color: rgb(0, 176, 80);">本课程适合人群<br/></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">准父母、家有七岁以下小儿的家长</span>
</p><p style="line-height: 1.75em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);">中医儿科爱好者<br/></span></p><p
        style="line-height: 1.5em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"></span><br/></p><p
        style="line-height: 1.5em;"><span
        style="font-family: 微软雅黑; font-size: 14px; color: rgb(89, 89, 89);"></span><br/></p><p
        style="line-height: 1.5em;"><br/></p><p style="line-height: 1.5em;"><span
        style="font-family: 微软雅黑; color: rgb(0, 176, 80);"><br/></span></p><p><br/></p>