
.page_emotion dd{
	display: inline-block;
	float:left;
	width:14.2%;
	height:24px;
	margin:5px 0;
	text-align:center;
}
.list_emotion *[data-key]{
	color:transparent;
	display: block;
	width:24px;
	height:24px;
	margin: auto;
	background:url(img/default.gif) no-repeat 0 0;
	-webkit-background-size:auto 24px;
}
.list_emotion *.del{
	background-image:url(img/del.png);
}
.nav_emotion{
	/*padding:10px 0;*/
	text-align: center;
}
.nav_emotion span{
	display: inline-block;
	width:8px;
	height:8px;
	border-radius:10px;
	background: #ebebeb;
	margin:0 5px;
}
.nav_emotion span.on{
	background-color:#bbb;
}

/*处理表情*/
#page_emotion{
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    height: 2.6rem;
    background: #fff;
    position: fixed;
    bottom: -2.8rem;
    /*bottom: 0rem;*/
    padding-top: 0.18rem;
    border: 1px solid #f0f0f0;
    z-index: 2;
}
#page_emotion dt{
	height: 0.5rem;
    /*background: red;*/
    line-height: 0;
}
.comment{
	width: 7.5rem;
    background: white;
    /* height: 0.98rem; */
    min-height: 0.9rem;
    padding: 0.01rem 0.26rem 0.2rem 0.26rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    border-top: 1px solid #f0f0f0;
    margin-left: -3.75rem;
    z-index: 1;
    /*display: none;*/
}
#form_article{
	width: 5.25rem;
    /* height: 0.6rem; */
    margin: 0 auto;
    background: #f0f0f0;
    margin-top: 0.2rem;
    border-radius: 0.3rem;
    /* display: flow-root; */
    line-height: 0.6rem;
    border: 0;
    float: left;
    color: #c1c1c1;
    outline: none;
    margin-left: 0.84rem;
    padding-left: 0.15rem;
    font-size: 0.3rem;
}
#form_article img{
	vertical-align: middle;
}
.comment .face{
	width: 0.7rem;
    height: 0.7rem;
    margin-top: 0.12rem;
    float: left;
    margin-right: 0.2rem;
    position: absolute;
    bottom: 0.15rem;
}
.comment h3{
	font-size: 0.3rem;
    color: #00bc12;
    width: 0.65rem;
    float: right;
    /* background: red; */
    text-align: right;
    margin-top: 0.3rem;
    position: absolute;
    bottom: 0.27rem;
    right: 0.26rem;
}