/*编辑地址开始*/
.vanish{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish_bg{
	width: 8rem;
    height: 1.4rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 1.4rem;
    z-index: 999999992;
    
}
.vanish_size{
	width: 8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
}

.vanish0{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish0_bg{
	width: 8rem;
    height: 1.4rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    border-radius: 8px;
    z-index: 999999992;
    
}
.vanish0_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 1.4rem;
    z-index: 999999992;
    
}
.vanish0_size{
	width: 8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
}

.vanish1{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish1_bg{
	width: 8rem;
    height: 1.4rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish1_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 1.4rem;
    z-index: 999999992; 
}
.vanish1_size{
	width: 8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
}

/*多行*/
.vanish2{
	width: 100%;
	height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish2_bg{
	width: 10rem;
    height: 2.5rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -5rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish2_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 10rem;
    height: 2.5rem;
    z-index: 999999992;
}
.vanish2_size{
	width: 8rem;
    height: 2.5rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
    margin-top: 0.28rem;
}

/* 余额不足提醒使用  */
.vanish02{
	width: 100%;
	height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish02_bg{
	width: 10rem;
    height: 2.5rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -5rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish02_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 10rem;
    height: 2.5rem;
    z-index: 999999992;
}
.vanish02_size{
	width: 8rem;
    height: 2.5rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
    margin-top: 0.28rem;
}





/*单行*/
.vanish3{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish3_bg{
	width: 8rem;
    height: 1.4rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish3_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 1.4rem;
    z-index: 999999992;
}
.vanish3_size{
	width: 8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
}

/*更改职业信息*/
.vanish4{
	width: 100%;
	height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish4_bg{
	width: 10rem;
    height: 2.5rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -5rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish4_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 10rem;
    height: 2.5rem;
    z-index: 999999992;
}
.vanish4_size{
	width: 8rem;
    height: 2.5rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
    margin-top: 0.28rem;
}



.vanish5{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish5_bg{
	width: 8rem;
    height: 1.4rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish5_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 1.4rem;
    z-index: 999999992;
}
.vanish5_size{
	width: 8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
}




.vanish6{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish6_bg{
	width: 8rem;
    height: 1.4rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish6_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 1.4rem;
    z-index: 999999992;
}
.vanish6_size{
	width: 8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
}


.vanish7{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}
.vanish7_bg{
	width: 8rem;
    height: 1.4rem;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    border-radius: 8px;
    z-index: 999999992;
}
.vanish7_cen{
	position: absolute;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 1.4rem;
    z-index: 999999992;
}
.vanish7_size{
	width: 8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
}

.vanish8{
	width: 100%;
    height: 1.4rem;
    position: fixed;
    bottom: 2rem;
    z-index: 999999992;
}









