<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>云课堂-熊猫中医</title>
		<link rel="stylesheet" href="/Views/h5/css/mui.min.css">
		<link rel="stylesheet" href="/Views/h5/css/common.css">
		<link rel="stylesheet" type="text/css" href="/Views/h5/css/own.css" />
		<link rel="stylesheet" type="text/css" href="/Views/h5/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="/Views/h5/font/iconfont.css" />
		<style type="text/css">
			.mui-table-view.mui-grid-view .mui-table-view-cell {
				margin-right: 0px;
				vertical-align: bottom;
			}
			
			#lunboimg img {
				height: 170px;
			}
			
			.assortment:after {
				background-color: #FFFFFF;
				-webkit-transform: none;
				transform: none;
				height: 0px;
			}
			
			.assortment:before {
				height: 0px;
				background-color: #FFFFFF;
			}
			
			#assortment img {
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
			
			.posrel {
				position: relative;
			}
			
			.posab {
				position: absolute;
				z-index: 2;
				bottom: 28px;
				height: 16px;
				width: 100%;
				background-color: #333333;
				opacity: .6;
				text-align: left;
			}
			
			.mui-segmented-control.mui-scroll-wrapper {
				height: 40px;
				background: #fff;
			}
			
			.muiskin img {
				position: relative;
			}
			
			.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
				display: block;
				width: 100%;
				background: #000000;
				opacity: .6;
				/*background: linear-gradient(#a2a1a1,#000b1f);*/
				/*opacity: .6;*/
				text-align: left;
				margin-top: 8px;
				text-overflow: ellipsis;
				color: #fff;
				position: absolute;
				bottom: 21px;
				height: 20px;
				line-height: 25px;
				font-size: 0.8em;
				padding-bottom: 25px;
				padding-left:10px;
			}
			
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				color: #01d37f;
			}
			
			#skin {
				text-align: left;
			}
				
			.mui-bar-tab .mui-tab-item.mui-active {
				color: #00D580;
			}
			.mui-popup-backdrop {
			    position: fixed;
			    z-index: 10000;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    -webkit-transition-duration: 400ms;
			    transition-duration: 400ms;
			    opacity: 0;
			    background: rgba(0,0,0,0.1);
			}
			#menutitle a{
				font-size: 17px;
			}
			.mui-slider .mui-slider-group .mui-slider-item{
				height:173px;
			}

		</style>

	</head>

	<body>
	  <!--
        	作者：offline
        	时间：2017-01-11
        	描述：轮播图效果
      -->
		<div id="slider" class="mui-slider">
			<div class="mui-slider-group mui-slider-loop" id="lunboimg">

			</div>
			<div class="mui-slider-indicator" id="dianlb">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>
		<!--轮播图结束-->

		<div id="sliderscroll" class="mui-slider mui-fullscreen" style="top:190px ;">
			<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll" id="menutitle">

				</div>
			</div>

			<div class="mui-slider-group">
				<div id="pullrefresh" class="mui-scroll-wrapper">
					<div id="scrollHeight" class="mui-scroll">
						<ul class="mui-table-view mui-grid-view navtab" id="goodslist">
							<!--

								<li class="mui-table-view-cell mui-media mui-col-xs-6 muiskin">
									<a href="coursedetail.html">
										<img class="mui-media-object" src="http://dcloudio.github.io/mui/assets/img/shuijiao.jpg">
										<div id="skin" class="fontsize13">
											￥12
										</div>
										<div class="mui-media-body">幸福就是可以一起睡觉</div>
									</a>
								</li>
	                            -->

						</ul>
					</div>
				</div>
			</div>


		</div>

		<!--
      	作者：offline
      	时间：2017-01-11
      	描述：底部菜单栏
     -->
		<nav class="mui-bar mui-bar-tab navtab">
			<a class="mui-tab-item mui-active" href="javascript:;">
				<span class="mui-icon iconfont icon-shu"></span>
				<span class="mui-tab-label tabspan_padding">云课堂</span>
			</a>
			<!-- <a class="mui-tab-item" href="/bxg/page/share/">
				<span class="mui-icon iconfont icon-hehuoren"></span>
				<span class="mui-tab-label tabspan_padding">合伙人</span>
			</a> -->
			<a class="mui-tab-item" href="/bxg/page/personal">
				<span class="mui-icon iconfont icon-wode"></span>
				<span class="mui-tab-label tabspan_padding">个人中心</span>
			</a>
		</nav>

		</div>
		<div class="mui-popup-backdrop mui-active" style="display: none;" id="cover_div">
				<div class="mui-pull-loading mui-icon mui-spinner" style="position: fixed;top: 37%;left: 49%;"></div>
		</div>
		<script type="text/javascript" src="/Views/h5/js/mui.min.js"></script>
		<!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
		<script type="text/javascript" src="/Views/h5/js/common.js"></script>
		<script src="/Views/h5/js/mui.pullToRefresh.js"></script>
		<script src="/Views/h5/js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript">
           /**
            * 如果
            */
			console.log("param_code"+param_code);
			console.log("param_openId"+param_openId);
	    	if(wxOrbrower == "wx") {
				//var openid = getUrlParam("openid");
			    //var code = getUrlParam("code");
				//console.log(openid);
				var openid = localStorage.openid;
				var testurl = window.location.href;
				var urlparm = {
					openid: openid,
					jsconfig_url: testurl
				}
				//alert('testurl='+testurl);//alert(location.href.split('#')[0]);	
				//这个其实就不用走了。
				requestService("/bxg/wxjs/getWxJsConfig ", urlparm, function(data) {
					if(data.success) {
						var configresult = data.resultObject;
						var jsApiList = configresult.jsApiList;
						var signature = configresult.signature;
						var timestamp = configresult.timestamp;
						var nonceStr = configresult.nonce_str;
						var appId = configresult.appid;

						//timestamp = "'" + timestamp + "'";
						//signature = "'" + signature + "'";
						//nonceStr 	= "'" + nonceStr  + "'";

						//alert('jsApiList=['+jsApiList + ']');
						//alert('signature=['+signature + ']');
						//alert('timestamp=['+timestamp + ']');
						//alert('nonceStr=['+nonceStr + ']');

							wx.config({
								debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
								appId: appId, //appId: 'wx42fe48fd3935151e', // 必填，公众号的唯一标识
								timestamp: timestamp, // 必填，生成签名的时间戳
								nonceStr: nonceStr, // 必填，生成签名的随机串
								signature: signature, // 必填，签名
								jsApiList: jsApiList // 必填，需要使用的JS接口列表
							});
					   }
				});
			}

			// console.log(localStorage.openid);
			//通过ready接口处理成功验证
/* 			wx.ready(function() {
				//alert('ready'); //在这里执行wx js script;
				//wx.checkJsApi({
				//	jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
				//	success: function(res) {
				//		alert('success');
				//		// 以键值对的形式返回，可用的api值true，不可用为false
				//		// 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
				//	}
				//});	        	
			});

			wx.error(function(res) {
				//alert(res.errMsg);
			}); */
		</script>

		<script type="text/javascript">
		     
		    //TODO  
		    //获取轮播图的数据
			requestService("/bxg/binner/list", {}, function(data) {
				var lunboimg = document.getElementById("lunboimg");
				//console.log(data.success);
				if(data.success) {
					var img = data.resultObject;
					var fristimg = img[0].img_path;
					var fristurl = stringnull(img[0].url) ? img[0].url : "javascript:;";
					var imglength = img.length;
					var lastimg = img[imglength - 1].img_path;
					var lasturl = stringnull(img[imglength - 1].url) ? img[imglength - 1].url : "javascript:;";
					var imgpj = '';
					var dian = '';
					for(var k = 0; k < imglength; k++) {

						var imgurl = stringnull(img[k].url) ? img[k].url : "javascript:;";
						imgpj = imgpj + '<div class="mui-slider-item mui-slider-item-duplicate" >' +
							'<a href="' + imgurl + '">' +
							'	<img src="' + img[k].img_path + '">' +
							'	</a>' +
							'</div>';
						dian = dian + '<div class="mui-indicator"></div>	';
					}

					lunboimg.innerHTML = '<div class="mui-slider-item mui-slider-item-duplicate" >' +
						'	<a href="' + lasturl + '">' +
						'		<img src="' + lastimg + '">' +
						'	</a>' +
						'</div>' + imgpj + '<div class="mui-slider-item mui-slider-item-duplicate" >' +
						'	<a href="' + fristurl + '">' +
						'		<img src="' + fristimg + '" >' +
						'	</a>' +
						'</div>';
					dianlb.innerHTML = dian;
					dianlb.children[0].classList.add("mui-active");
				}
			})

			mui.init();
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			(function($) {
				//阻尼系数
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: deceleration
				});
			    
				$.ready(function() {
					var menutitle = document.getElementById("menutitle");
					
					//请求分类的数据  - 横滚动条的位置
					requestService("/bxg/course/category/list", {}, function(data) {
						//console.log(data.success);
						if(data.success) {
							var result = data.resultObject;
							var _length = result.length;
							var widthset = 0;
							if(_length > 0) {
								for(var i = 0; i < _length; i++) {
									var odiv = document.createElement("a");
									odiv.className = "mui-control-item";
									var categoryid = result[i].id;
									odiv.setAttribute("categoryId", categoryid);
									odiv.innerHTML = result[i].name;
									menutitle.appendChild(odiv);
									menutitle.childNodes[1].classList.add('mui-active');

								}

								menutitle.setAttribute("style", "transform: translate3d(-" + widthset + "px, 0px, 0px) translateZ(0px); transition-duration: 0ms;")

							}

							var cans = result[0].id;
							console.log(cans + '/////')
							var pramgoods = {
								start_num: 0,
								end_num: 6,
								menu_id: cans
							}
							goodslist(pramgoods);
						}
					})

					//各个分类标签
					//var category_id = getUrlParam("category_id")
					mui("#menutitle").on('tap', '.mui-control-item', function() {
						var goodslist2 = document.getElementById("goodslist");
						goodslist2.innerHTML = "";
						var categoryId = this.getAttribute('categoryId');
						var pramgoods = {
							start_num: 0,
							end_num: 6,
							menu_id: categoryId
						}
						document.getElementById("cover_div").style.display = "block";
						document.getElementById("scrollHeight").setAttribute("style", "transform: translate3d(0px, 0px, 0px) translateZ(0px);")

						goodslist(pramgoods);
					})

				});
			})(mui);
			
			function goodslist(categoryId) {
				requestService("/bxg/course/list ", categoryId, function(data) {
					if(data.success) {
						
						var sharecode = localStorage.sharecode;
					    document.getElementById("cover_div").style.display = "none";
						var goodslist = document.getElementById("goodslist");
						//goodslist.innerHTML = "";
						var result = data.resultObject;
						var _length = result.length;
						//console.log(_length);
						var shareNo ;
						if(stringnull(sharecode)){
							shareNo = sharecode;
						}else{
							shareNo ='';
						}
						if(_length != 0) {
							for(var i = 0; i < _length; i++) {
								
								var oli = document.createElement("li");
								oli.className = "mui-table-view-cell mui-media mui-col-xs-6 muiskin";
								var ymoney = result[i].original_cost;
								var xmoney = result[i].current_price;
								var imgurl = stringnull(result[i].smallimg_path) ? result[i].smallimg_path : "";
								var coursename = result[i].course_name;
								
								oli.innerHTML = '<a href="/bxg/page/courseDetail/' + result[i].course_id + '/'+coursename+'/'+shareNo+'" class="posrel">' +
									'<img class="mui-media-object" src="' + imgurl + '" onerror=this.src="/Views/h5/img/moren.png">' +
									' <div  id="skin" class="fontsize14"> <span class="fontcolor_pink fontsize14">￥' + xmoney + ' </span><del style="color:#999999" class="fontsize12">￥' + ymoney + '</del><spa style="float: right;color:#999999"><span class="mui-icon iconfont icon-wode"></span>'+ result[i].learnd_count+'</spa></div>' +
									'<div class="mui-media-body coursename fontsize14">' + result[i].course_name + '</div>' +
									' </a>';
									
								goodslist.appendChild(oli);
							}
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(false); //参数为true代表没有更多数据了。

						} else {
							var oli = document.createElement("li");
							oli.className = "mui-table-view-cell mui-media mui-col-xs-12 muiskin";
							var cells = document.body.querySelectorAll('.mui-table-view-cell');
							var num = cells.length;
							console.log(num);
							if(num == "0") {
								oli.innerHTML = "暂无商品";
								goodslist.appendChild(oli);
							} else {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							}

						}

					}

				})
			}

			function pulldownRefresh() {
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view');
					var cells = document.body.querySelectorAll('.mui-table-view-cell');

					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view');
					var cells = document.body.querySelectorAll('.mui-table-view-cell');
					var num = cells.length;
					//console.log(cells.length);
					var categoryId = null;
					mui("#menutitle a").each(function() {
						var clssname = this.getAttribute("class");
						//console.log(clssname);
						if(clssname == "mui-control-item mui-active") {
							categoryId = this.getAttribute('categoryId');
							//console.log(categoryId)
						}
					})
					console.log(categoryId + '---')
					var pramgoods = {
						start_num: num,
						end_num: num + 1,
						menu_id: categoryId
					}
					goodslist(pramgoods);

				}, 1500);
			}

			//轮播图
			mui.init();
			var slider = mui("#slider");
			setTimeout("luoboing()", 1000)

			function luoboing() {
//				console.log(23232323)
				slider.slider({
					interval: 500
				})
			}
		</script>
		
	</body>
</html>