<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />		
	</head>

	<body>				
		<div class="mui-content">			
		</div>
		<script src="js/mui.min.js"></script>	
		<script type="text/javascript" src="/Views/h5/js/common.js"></script>
		<script type="text/javascript">			
		var openid = getUrlParam("openid");
		var courseId = getUrlParam("courseId");
		 localStorage.openid = openid;
		 window.location.href = "http://wx.ixincheng.com/bxg/page/courseDetail/"+courseId;
		</script>
	</body>
	
</html>