<%@page pageEncoding="UTF-8"%> 
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>云课堂-熊猫中医</title>
	<link rel="stylesheet" href="/Views/h5/css/mui.min.css">
	<link rel="stylesheet" href="/Views/h5/css/common.css">
	<script type="text/javascript" src="/Views/h5/js/mui.min.js"></script>
	<script type="text/javascript" src="/Views/h5/js/common.js"></script>
</head>

<body >
	<div id="orderpage">
		
	</div>
	<div id="" style="margin-top: 50px;">
		<button id="btn_share" type="button" class="mui-btn mui-btn-success  btnself">提交订单</button>
	</div>
	<script type="text/javascript">
	    //课程id
	    var id = param_id;
		 requestService("/bxg/course/orderDetail",{course_id :id},function(data) {
		 	if(data.success){
		 		var orderdetail = data.resultObject
		 		var orderpage = document.getElementById("orderpage");
		 		orderpage.innerHTML = '<div class="mui-table-view" style="padding: 5px 0px  10px 15px;">'+
										'<p>订单信息</p>'+
										'<p class="fontcolor_blak">课程名称: '+orderdetail.course_name+'</p>'+
									'	<p class="fontcolor_blak">有效期: '+orderdetail.course_expiry_date+'</p>'+
									'	<p class="fontcolor_blak">课程时长: '+orderdetail.course_length+'分钟<span style="margin-left: 30px;">授课老师: '+orderdetail.teacher_name+'</span></p>'+
									'</div>'+
									'<div class="mui-table-view" style="margin-top: 15px;padding: 11px 15px 1px 15px;">'+
									'	<p class="fontcolor_blak">需支付: 	<span class="fontcolor_red" style="float: right;">￥'+orderdetail.current_price+'</span></p>'+
									'</div>';
		 		
		 	}
		 });
		 var btn_share = document.getElementById("btn_share");
		 btn_share.addEventListener("tap",function(){
		 	   var useid = localStorage.useid ;
		 	   
		 	   //orderFrom
		 	   var access =  localStorage.access;
		 	   if (access = "wx") {
		 		  orderFrom =3;
		 	   } else {
		 		  orderFrom =4;
		 	   }
		 	   requestService("/bxg/order/save",{courseId :id,
		 		   userId:useid,orderFrom:orderFrom},function(data) {
		 	   			if(data.success){
		 	   				var infocourse = data.resultObject;
		 	   				var courseName = infocourse.courseName;
		 	   				var currentPrice =infocourse.currentPrice;
		 	   				var orderNo = infocourse.orderNo;
		 	   		    	document.location.href = '/bxg/page/to_pay/'+orderNo;
		 	   			}else{
		 	   				mui.toast(data.errorMessage);
		 	   			}
		 	   	
		 	   })
		 })
	</script>
</body>
</html>