<%@page pageEncoding="UTF-8"%> 
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的分享</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" href="/Views/h5/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="/Views/h5/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="/Views/h5/font/iconfont.css" />
		<style>
			.btn_div{width:100%;height:20px;position:absolute;margin-top: 0px;z-index: 10000;}
			.mui-control-content {
				background-color: white;
				
			}
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			.mui-slider .mui-slider-group .mui-slider-item{
				height: 150px;
			}
			.mui-slider .mui-slider-group .mui-slider-item img{
				height: 150px;
			}
			#content2,#content1{
				padding: 10px;
			}
		</style>
	</head>
	<body>
		
		<!--<header class="mui-bar mui-bar-nav" style="background-color: #000000; height: 40px; z-index: 9999;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" ></a>
			<a  style="float: right;">...</a>
			<a class="mui-action-back" style="float: left;"> <h5 id="title" style="font-size: 14px;line-height: 33px; color: #FFFFFF;margin-left: 100px;">我的分享</h5></a>
		</header>-->
		
		<div class="mui-content">

			<a href="#"><img id="title_img" src="" style="height: 150px;width: 100%"></a>

			
			<p style="background:#fff;padding: 15px 13px;margin-top:0px;font-size: 17px;" id="p_name">一元成为合伙人，分享赚取学费</p>
			
			<div id="slider" class="mui-slider" style="background: white;margin-top: -5px;">
				<div id="sliderSegmentedControl"  class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-positive" style="padding: 5px 0px;font-size: 17px;">
					<a class="mui-control-item" href="#item1mobile">合伙人介绍</a>
					<a class="mui-control-item" href="#item2mobile">分享流程</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div style="width: 100%; height:auto;margin-top:3px;" id="content1"></div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div style="width: 100%; height:auto;margin-top:3px;" id="content2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn_div">
				<button id="btn_share" type="button" class="mui-btn mui-btn-success mui-btn-block" style="margin-bottom: 0px;">成为合伙人</button>
			</div>
			
		</div>
	</body>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="/Views/h5/js/mui.min.js"></script>
	<script type="text/javascript" src="/Views/h5/js/common.js"></script>
	<script>
		var courseId;
		mui.init({
				swipeBack: false
		});
		//微信配置
		
		var useid = localStorage.useid;
		var openid = localStorage.openid;
		var testurl = window.location.href;
			var urlparm = {
				openid: openid,
				jsconfig_url: testurl
			}
		
	
		requestService("/bxg/wxjs/getWxJsConfig ", urlparm, function(data) {
				if(data.success) {
					var configresult = data.resultObject;
					var jsApiList = configresult.jsApiList;
					var signature = configresult.signature;
					var timestamp = configresult.timestamp;
					var nonceStr = configresult.nonce_str;
					var appId = configresult.appid;
					wx.config({
						debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
						appId: appId, //appId: 'wx42fe48fd3935151e',//openid, // 必填，公众号的唯一标识
						timestamp: timestamp, // 必填，生成签名的时间戳
						nonceStr: nonceStr, // 必填，生成签名的随机串
						signature: signature, // 必填，签名
						jsApiList: jsApiList // 必填，需要使用的JS接口列表
					});
				}
			});
		(function($) {
			$('.mui-scroll-wrapper').scroll({
				indicators: false //是否显示滚动条
			});
			//选项卡切换
			var sliderSegmentedControl = document.getElementById('sliderSegmentedControl');
			$('.mui-input-group').on('change', 'input', function() {
				if (this.checked) {
					sliderSegmentedControl.className = 'mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-' + this.value;
					//force repaint
					sliderProgressBar.setAttribute('style', sliderProgressBar.getAttribute('style'));
				}
			});
			//请求数据
			requestService("/bxg/share/OneCourse",{},function(data) {
				if(data.success && data.resultObject!=null){
					document.getElementById("title_img").src=data.resultObject.img_url;
					document.getElementById("p_name").innerText=data.resultObject.grade_name;
					document.getElementById("content1").innerHTML=data.resultObject.share_desc;
					document.getElementById("content2").innerHTML=data.resultObject.work_flow;
					courseId = data.resultObject.course_id;
					
				}
			 })
			//根据用户数据判断需要加载的按钮信息		
			//alert(localStorage.sharecode);
			if(stringnull(localStorage.sharecode)){
				document.getElementById('btn_share').innerText="查看我的分享";	
			}else{
				document.getElementById('btn_share').innerText="成为合伙人";	
			}
			
		})(mui);
		
		//按钮事件
		document.getElementById('btn_share').addEventListener('tap', function() {
			if(stringnull(localStorage.useid)){
				if(this.innerText=="成为合伙人"){
					//此处跳转到微信支付页面				
					requestService("/bxg/order/save",{courseId:courseId,userId:useid},function(data) {
						if(data.success && data.resultObject!=null){						
							var orderNo = data.resultObject.orderNo;
							
						      qupay(useid, orderNo);
						}else{
							//alert('-----'+data.errorMessage);
						}
				 	})
				}else if(this.innerText=="查看我的分享"){
					location.href ="/bxg/page/my_share";
				}
			}else{
				location.href ="/bxg/page/login/3";
			}
		});
	       var height =  document.body.clientHeight;
			var contentheight = height -313;
			document.getElementById("item1mobile").setAttribute("style","height:"+contentheight+"px;");
			document.getElementById("item2mobile").setAttribute("style","height:"+contentheight+"px;");
	</script>
</html>