<%@page pageEncoding="UTF-8"%> 
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>我的订单</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="/Views/h5/css/mui.min.css">
		<link rel="stylesheet" href="/Views/h5/css/common.css">
		<link rel="stylesheet" href="/Views/h5/css/wait-money.css">
		<link rel="stylesheet" type="text/css" href="/Views/h5/font/iconfont.css" />
		<script type="text/javascript" src="/Views/h5/js/mui.min.js"></script>
		<script src="/Views/h5/js/mui.pullToRefresh.js"></script>
		<script src="/Views/h5/js/mui.pullToRefresh.material.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript" src="/Views/h5/js/common.js?ver=1.0"></script>

	</head>
	<style type="text/css">
		.mui-btn-outlined.mui-btn-green,
		.mui-btn-outlined.mui-btn-positive,
		.mui-btn-outlined.mui-btn-success {
			color: #fff;
		}
		
		.qxbtn span {
			display: inline-block;
			width: 80px;
			line-height: 30px;
			cursor: pointer;
		}
		
		.sure {
			margin-right: 5px;
			background: #00D580;
			color: #fff;
		}
		
		.close {
			margin-left: 5px;
			background: #F0F0F0;
		}
	</style>

	<body>
		<div class="wm-body fontsize13">

			<div class="nav-wrap" id="ordermoneynum">
				<p class="orederjt" id=""><span id="orederjt">
				    	全部订单
				    </span> <i class="iconfont icon-xiajiantou1"></i></p>
				<div class="select" id="select">
					<p class="" dataindex="-1">全部订单</p>
					<p class="" dataindex="0">待支付</p>
					<p class="" dataindex="1">已支付</p>
					<p class="" dataindex="2">已失效</p>
				</div>
			</div>
			<div id="pullrefresh" class="mui-scroll-wrapper"  style="top: 40px;">
					<div id="scrollHeight" class="mui-scroll">
						<div class="nav-content" id="wm-content" >
			
				<!--
                	作者：offline
                	时间：2017-02-24
                	描述：	<img src="/Views/h5/img/kongbai.png" alt="" class="kongbai" id="kongb"/>
               
	            <div class="wm-block">
	                <div class="border">订单号：SH2014199313185264589  <span class="f-r fontcolor_gray">123213</span></div>
	                <hr class="set-line">
	                <div class="img-des clear-after">
	                    <img src="img/center1.jpg" alt="" class="wm-img f-l">
	                    <div class="clear-after id-right">
	                        <p class="img-p">[录播]微信小程序实战开发</p>
	                        <p class="img-p">实付金额：￥199</p>
	                    </div>
	                </div>
	                <hr class="set-line">
	                <div class="clear-after">
	                	 <div class="f-l fontcolor_gray" style="margin-top: 5px;">待付款</div>
	                    <div class="f-r">
	                        <button type="button" class="mui-btn">取消订单</button>
	                        <button type="button" class="mui-btn mui-btn-warning bgcolor_orage">付款</button>
	                    </div>
	                </div>
	            </div> -->
			</div>
					</div>
				</div>
			
			<div class="mui-popup-backdrop mui-active" style="display: none;" id="cover_div">
				<div id="" style="position: fixed;z-index: 10000;width: 70%;height:150px ;background: #FFFFFF;top: 38%;left: 15%;">
					<div id="">
						<img src="/Views/h5/img/problem.png" alt="" style="height: 40px;margin-left: 45%; margin-top: -19px;" />
						<p style="text-align: center;line-height: 60px;font-size: 16px;color: #333;">确定删除该订单记录吗?</p>
						<p class="qxbtn" style="text-align: center;"><span id="sure" class="sure">确定</span><span id="click_div" class="close">取消</span></p>
					</div>

				</div>
			</div>
			<script type="text/javascript">
				var openid = localStorage.openid;
				var ordermoneynum = document.getElementById("ordermoneynum");
				var children = mui('.nav-wrap')[0].children;
				var useid = localStorage.useid;
				//var useid = "e9ebc316a0644d33aceeabc2b1f2321f";
				var _index =-1;
				//未完成和已完成的切换

				mui(".nav-wrap").on('click', ".orederjt", function() {
					var nextselect = document.getElementById("select");
					nextselect.setAttribute("style", "display:block");
				});

				mui(".select").on('click', 'p', function() {
					mui.init();
					var wmcontent = document.getElementById("wm-content");
					wmcontent.innerHTML = "";
					_index = this.getAttribute("dataindex");
					var orederjt = document.getElementById("orederjt");
					orederjt.innerText = this.innerText;
					this.parentNode.setAttribute("style", "display:none");
					mui(".select p").each(function() {
						this.classList.remove('nav-active');
					});
					document.getElementById("scrollHeight").setAttribute("style", "transform: translate3d(0px, 0px, 0px) translateZ(0px);")

					this.classList.add('nav-active');
					var findorder = {
						status: _index,
						pageNumber: 0,
						userId: useid
					};
					ordermoney(findorder);
				});
				
				document.getElementById("wm-content").addEventListener("tap",function(){
					document.getElementById("select").setAttribute("style", "display:none");
				});
				
				//请求订单列表
				var findorder = {
					status: -1,
					pageNumber: 0,
					userId:useid
				};
				ordermoney(findorder);
				//订单列表的渲染10代表未完成   20代表已完成
				function ordermoney(wmorder,refresh) {
					requestService("/bxg/order/list", wmorder, function(data) {
						var wmcontent = document.getElementById("wm-content");
						if(data.success) {
							if(refresh){
								wmcontent.innerHTML = "";
							}
							var resultorder = data.resultObject;
							var orderlenght = resultorder.length;
							if(orderlenght > 0) {
								//document.getElementById("kongb").style.display = "none";
								for(var i = 0; i < orderlenght; i++) {	
									var odiv = document.createElement("div");
									odiv.className = "wm-block mui-table-view-cell";
									odiv.id = 'div' + i;
									var xmoney = money(resultorder[i].origin_fee);
									var acture = money(resultorder[i].acture_fee);
									var orderwairmonery = resultorder[i].allCourse;
									var orderdiv = "";
									var waitpay = "";
									var stutas = "";
									var courseid ="";
									var courseName="";
									for(var j = 0; j < orderwairmonery.length; j++) {
										courseid = orderwairmonery[j].id;
										courseName = orderwairmonery[j].gradeName
										var img = stringnull(orderwairmonery[j].smallImgPath)  ? orderwairmonery[j].smallImgPath:  "/Views/h5/img/moren.png";
										orderdiv = orderdiv + '<hr class="set-line">' +
											'   <div class="img-des clear-after">' +
											'       <img src="' + img + '" alt="" class="wm-img f-l">' +
											'       <div class="clear-after id-right">' +
											'          <p class="img-p">' + orderwairmonery[j].gradeName + '</p>' +
											' <p class="img-p">实付金额：￥' + orderwairmonery[j].actualPay + '</p>' +

											'      </div>' +
											'  </div>';

									}
									if(resultorder[i].orderStatus == "0") {
										stutas = "待支付"
										waitpay = '<button type="button" class="mui-btn mui-btn-outlined quxioorder" id="quxioorder" index="' + i + '" value="' + resultorder[i].orderNo + '">取消订单</button>' +
											' <button type="button" class="mui-btn mui-btn-success mui-btn-outlined gopaymoney" value="' + resultorder[i].orderNo + '" id="gopaymoney">去付款</button>';

									}
									if(resultorder[i].orderStatus == "1") {
										stutas = "已支付"
										waitpay = ' <button type="button" class="mui-btn mui-btn-success mui-btn-outlined gostudy" value="' + resultorder[i].orderNo + '" id="gostudy">去学习</button>';

									}
									if(resultorder[i].orderStatus == "10") {
										stutas = "已支付"
										waitpay = ' <button type="button" class="mui-btn mui-btn-success mui-btn-outlined gotuij" coursename="'+courseName+'" value="' + courseid + '" id="gostudy">去推荐</button>';

									}
									if(resultorder[i].orderStatus == "2") {
										stutas = "已失效"
										waitpay = '<button type="button" class="mui-btn mui-btn-outlined deleorder" id="deleorder"  index="' + i + '" value="' + resultorder[i].orderNo + '">删除订单</button>' +
											' <button type="button" class="mui-btn mui-btn-success mui-btn-outlined gopaymoney" value="' + resultorder[i].orderNo + '" id="gopaymoney">重新购买</button>';

									}

									odiv.innerHTML = ' <div class="border">订单号：' + resultorder[i].orderNo + '  <span class="f-r fontcolor_gray">' + stutas + '</span></div>' +
										'<div id="ordergoodslist">' + orderdiv +
										' </div>' +
										'  <hr class="set-line">' +
										'  <div class="clear-after">' +
										'	 <div class="f-l fontcolor_gray" style="margin-top: 5px;">' + resultorder[i].payTime + '</div>' +

										'     <div class="f-r">' + waitpay + '</div>' +
										'  </div>';
									wmcontent.appendChild(odiv);
								}
									mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							} else {
								
									var cells = document.body.querySelectorAll('.mui-table-view-cell');
									var num = cells.length;
									console.log(num);
									if(num == "0") {
										document.getElementById("scrollHeight").innerHTML ="";
										var odiv = document.createElement("div");
										odiv.id = 'wm-content';
										 odiv.innerHTML = '<img src="/Views/h5/img/kongbai.png" alt="" class="kongbai" />';
										document.getElementById("scrollHeight").appendChild(odiv);
										
									} else {
										mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
									}
							}

						}
					})

				}

				//订单的删除
				document.getElementById("click_div").addEventListener('tap', function() {
					document.getElementById("cover_div").style.display = "none";
				})

				
				//删除订单
				var useid = localStorage.useid;
				mui(".nav-content").on('click', '.deleorder', function() {
						var deleid = this.value;
						var pams = {
							type: "0",
							orderNo: deleid,
							userId: useid
						}
						var index = this.getAttribute("index");
						document.getElementById("cover_div").style.display = "block";
						closeorder(pams,index);
					})
				//取消订单
				mui(".nav-content").on('click', '.quxioorder', function() {
						var deleid = this.value;
						var pams = {
							type: "1",
							orderNo: deleid,
							userId: useid
						}
						var index = this.getAttribute("index");
						document.getElementById("cover_div").style.display = "block";
						closeorder(pams,index);
					})
				//删除订单弹框
				function closeorder(pams,index){
					document.getElementById("sure").addEventListener("tap", function() {
							requestService("/bxg/order/update", pams, function(data) {
								if(data.success) {
									var obj = document.getElementById("div" + index);
									console.log(obj)
									obj.parentNode.removeChild(obj);
									document.getElementById("cover_div").style.display = "none";
								}
							})

						})
				}
					//qupay(openid,ordernum);gopaymoney
					//q去学习
				mui(".nav-content").on('click', '.gostudy', function() {
						window.location.href = "/bxg/page/my_course";
					})
					//订单支付
					//去支付
				var openid = localStorage.openid;
				var testurl = window.location.href;
				var urlparm = {
					openid: openid,
					jsconfig_url: testurl
				}
				requestService("/bxg/wxjs/getWxJsConfig ", urlparm, function(data) {
					if(data.success) {
						var configresult = data.resultObject;
						var jsApiList = configresult.jsApiList;
						var signature = configresult.signature;
						var timestamp = configresult.timestamp;
						var nonceStr = configresult.nonce_str;
						var appId = configresult.appid;

						wx.config({
							debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
							appId: appId, //appId: 'wx42fe48fd3935151e', //openid, // 必填，公众号的唯一标识
							timestamp: timestamp, // 必填，生成签名的时间戳
							nonceStr: nonceStr, // 必填，生成签名的随机串
							signature: signature, // 必填，签名
							jsApiList: jsApiList // 必填，需要使用的JS接口列表
						});
					}
				});
				mui(".nav-content").on('click', '.gopaymoney', function() {
					console.log(this.value);
					
					var payid = this.value;
					//location.href = "to_pay.html?orderNo=" + payid
					location.href = "/bxg/page/to_pay/"+payid;
				})

				mui(".nav-content").on('click', '.gotuij', function() {
					console.log(this.value);
					var sharecode = localStorage.sharecode;
					var shareNo ;
					if(stringnull(sharecode)){
						shareNo =  sharecode;
					}else{
						shareNo ='';
					}
					var course_id = this.value;
					var namecourse = this.getAttribute("coursename");
					location.href = "/bxg/page/courseDetail/"+course_id+"/"+namecourse+"/"+shareNo;

				})
				mui.init();
				mui.init({
					pullRefresh: {
						container: '#pullrefresh',
						down: {
							callback: pulldownRefresh
						},
						up: {
							contentrefresh: '正在加载...',
							callback: pullupRefresh
						}
					}
				});

				function pulldownRefresh() {
					setTimeout(function() {
						var table = document.body.querySelector('.mui-table-view');
						var cells = document.body.querySelectorAll('.mui-table-view-cell');
						/* var num = cells.length; */
						var num = 0;
						//console.log(cells.length);

						var findorder = {
							status: _index,
							pageNumber: num,
							userId:useid
						};
						ordermoney(findorder,true);
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
					}, 1500);
				};
				var count = 0;
				/**
				 * 上拉加载具体业务实现
				 */
				function pullupRefresh() {
					setTimeout(function() {
						//mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
						var table = document.body.querySelector('.mui-table-view');
						var cells = document.body.querySelectorAll('.mui-table-view-cell');
						var num = cells.length;
						//console.log(cells.length);
						
							var findorder = {
								status: _index,
								pageNumber: num,
								userId:useid
							};
							ordermoney(findorder);

					}, 1500);
				}
			</script>
		</div>
	</body>

</html>