<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.doctor.mapper.MedicalDoctorQuestionMapper">

    <select id="selectQuestionByDoctorId" resultType="com.xczhihui.medical.doctor.model.MedicalDoctorQuestion">
          select 
            mdq.*,
            ou.small_head_photo as userImg,
            mdai.head_portrait  as doctorImg
         from  medical_doctor_question as mdq
            inner join oe_user as  ou on ou.id = mdq.user_id
            inner join medical_doctor as md on md.id = mdq.doctor_id
            LEFT JOIN `medical_doctor_authentication_information` mdai ON md.`authentication_information_id` = mdai.`id`
         where mdq.answer is not null  and mdq.doctor_id = #{doctorId}
           and ou.status = 0  and ou.is_delete =0
           and  md.deleted = 0 AND md.status = 1
           order by mdq.update_time desc
    </select>
</mapper>