<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.doctor.mapper.MedicalDoctorFieldMapper">

	<insert id="insertBatch">
		INSERT INTO
			medical_doctor_field
			(id, doctor_id, field_id)
		VALUES
		<foreach collection="fields" item="field" separator=",">
			(#{field.id}, #{field.doctorId}, #{field.fieldId})
		</foreach>
	</insert>


</mapper>