<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.doctor.mapper.MedicalDoctorPostsMapper">

    <select id="selectMedicalDoctorPostsPage" resultType="com.xczhihui.medical.doctor.model.MedicalDoctorPosts">
        SELECT
        mdp.*,
        oc.grade_name AS gradeName,
        oc.current_price*10 AS currentPrice,
        oc.smallimg_path as smallImgPath,
        oc.collection as collection,
        oc.start_time as startTime,
        oc.city as courseAddress,
        oc.status as courseStatus,
        oc.multimedia_type as multimediaType,
        oba.content as articleContent,
        oba.type_id as typeId,
        oba.title as articleTitle,
        oba.img_path as articleImgPath,
        oba.status as articleStatus,
        mw.id as writingsId,
        oc.type as courseType,
        oc.is_teaching teaching,
        mtai.id as treatmentId,
        mtai.status as treatmentStatus,
        mtai.name as pupilName
        FROM medical_doctor_posts mdp
        LEFT JOIN oe_course oc
        ON oc.id = mdp.course_id
        LEFT JOIN medical_writings mw
        ON mw.article_id = mdp.article_id
        LEFT JOIN oe_bxs_article oba
        ON oba.id = mdp.article_id
        LEFT JOIN medical_treatment_appointment_info mtai
        ON mtai.id = oc.appointment_info_id

        WHERE mdp.deleted = 0 and mdp.status = 1 and mdp.doctor_id=#{doctorId}
        <if test="type == 1">
            and oc.type = 1 and oc.multimedia_type != 2
        </if>
        <if test="type == 2">
            and mdp.course_id is not null and oc.type !=1 and oc.multimedia_type !=2
        </if>
        <if test="type == 3">
            and oba.type_id = 8
        </if>
        <if test="type == 4">
            and oba.type_id != 8
        </if>
        <if test="type == 5">
            and (mdp.type = 1 or mdp.type = 2 or mdp.type = 3)
        </if>
        <if test="type == 6">
            and oc.type = 1 and oc.multimedia_type = 2
        </if>
        <if test="type == 7">
            and mdp.product_id is not null
        </if>
        ORDER BY mdp.stick desc,mdp.create_time desc

    </select>

    <insert id="addMedicalDoctorPosts" parameterType="com.xczhihui.medical.doctor.model.MedicalDoctorPosts">
        INSERT INTO medical_doctor_posts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="medicalDoctorPosts.content != null">
                content,
            </if>
            <if test="medicalDoctorPosts.type != null">
                type,
            </if>
            <if test="medicalDoctorPosts.pictures != null">
                pictures,
            </if>
            <if test="medicalDoctorPosts.video != null">
                video,
            </if>
            <if test="medicalDoctorPosts.coverImg != null">
                cover_img,
            </if>
            <if test="medicalDoctorPosts.title != null">
                title,
            </if>
            <if test="medicalDoctorPosts.deleted != null">
                deleted,
            </if>
            <if test="medicalDoctorPosts.status != null">
                status,
            </if>
            <if test="medicalDoctorPosts.createTime != null">
                create_time,
            </if>
            <if test="medicalDoctorPosts.doctorId != null">
                doctor_id,
            </if>
            <if test="medicalDoctorPosts.updateTime != null">
                update_time,
            </if>
            <if test="medicalDoctorPosts.courseId != null">
                course_id,
            </if>
            <if test="medicalDoctorPosts.articleId != null">
                article_id,
            </if>
            <if test="medicalDoctorPosts.productId != null">
                product_id,
            </if>
            <if test="medicalDoctorPosts.level != null">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="medicalDoctorPosts.content != null">
                #{medicalDoctorPosts.content},
            </if>
            <if test="medicalDoctorPosts.type != null">
                #{medicalDoctorPosts.type},
            </if>
            <if test="medicalDoctorPosts.pictures != null">
                #{medicalDoctorPosts.pictures},
            </if>
            <if test="medicalDoctorPosts.video != null">
                #{medicalDoctorPosts.video},
            </if>
            <if test="medicalDoctorPosts.coverImg != null">
                #{medicalDoctorPosts.coverImg},
            </if>
            <if test="medicalDoctorPosts.title != null">
                #{medicalDoctorPosts.title},
            </if>
            <if test="medicalDoctorPosts.deleted != null">
                #{medicalDoctorPosts.deleted},
            </if>
            <if test="medicalDoctorPosts.status != null">
                #{medicalDoctorPosts.status},
            </if>
            <if test="medicalDoctorPosts.createTime != null">
                #{medicalDoctorPosts.createTime},
            </if>
            <if test="medicalDoctorPosts.doctorId != null">
                #{medicalDoctorPosts.doctorId},
            </if>
            <if test="medicalDoctorPosts.updateTime != null">
                #{medicalDoctorPosts.updateTime},
            </if>
            <if test="medicalDoctorPosts.courseId != null">
                #{medicalDoctorPosts.courseId},
            </if>
            <if test="medicalDoctorPosts.articleId != null">
                #{medicalDoctorPosts.articleId},
            </if>
            <if test="medicalDoctorPosts.productId != null">
                #{medicalDoctorPosts.productId},
            </if>
            <if test="medicalDoctorPosts.level != null">
                #{medicalDoctorPosts.level},
            </if>
        </trim>
    </insert>

    <update id="updateMedicalDoctorPosts" parameterType="com.xczhihui.medical.doctor.model.MedicalDoctorPosts">
        UPDATE
        medical_doctor_posts mdp
        SET
        <if test="medicalDoctorPosts.content != null">
            mdp.content = #{medicalDoctorPosts.content},
        </if>
        <if test="medicalDoctorPosts.type != null">
            mdp.type = #{medicalDoctorPosts.type},
        </if>
        <if test="medicalDoctorPosts.pictures != null">
            mdp.pictures = #{medicalDoctorPosts.pictures},
        </if>
        <if test="medicalDoctorPosts.video != null">
            mdp.video = #{medicalDoctorPosts.video},
        </if>
        <if test="medicalDoctorPosts.coverImg != null">
            mdp.cover_img = #{medicalDoctorPosts.coverImg},
        </if>
        <if test="medicalDoctorPosts.title != null">
            mdp.title = #{medicalDoctorPosts.title},
        </if>
        <if test="medicalDoctorPosts.deleted != null">
            mdp.deleted = #{medicalDoctorPosts.deleted},
        </if>
        <if test="medicalDoctorPosts.status != null">
            mdp.status = #{medicalDoctorPosts.status},
        </if>
        <if test="medicalDoctorPosts.createTime != null">
            mdp.create_time = #{medicalDoctorPosts.createTime},
        </if>
        <if test="medicalDoctorPosts.doctorId != null">
            mdp.doctor_id = #{medicalDoctorPosts.doctorId},
        </if>
        <if test="medicalDoctorPosts.courseId != null">
            mdp.course_id = #{medicalDoctorPosts.courseId},
        </if>
        <if test="medicalDoctorPosts.articleId != null">
            mdp.article_id = #{medicalDoctorPosts.articleId},
        </if>
        <if test="medicalDoctorPosts.productId != null">
            mdp.product_id = #{medicalDoctorPosts.productId},
        </if>
        <if test="medicalDoctorPosts.level != null">
            mdp.level = #{medicalDoctorPosts.level},
        </if>
        mdp.`update_time` = NOW()
        WHERE mdp.id = #{medicalDoctorPosts.id}
    </update>

    <update id="deleteMedicalDoctorPosts">
        UPDATE
        medical_doctor_posts mdp
        SET
        mdp.`deleted` = 1
        WHERE mdp.id = #{id}
    </update>

    <update id="updateStickMedicalDoctorPosts">
        UPDATE
        medical_doctor_posts mdp
        SET
        mdp.`stick` = #{stick}
        WHERE mdp.id = #{id}
    </update>

    <select id="getMedicalDoctorPostsById" resultType="com.xczhihui.medical.doctor.model.MedicalDoctorPosts">
        SELECT *
        from
        medical_doctor_posts
        WHERE id = #{id}

    </select>
    <select id="getMedicalDoctorPostsByCourseId"
            resultType="com.xczhihui.medical.doctor.model.MedicalDoctorPosts">
        SELECT * FROM medical_doctor_posts WHERE course_id = #{courseId}


    </select>
    
    <select id="getProductPostsByProductIdAndDoctorId"  resultType="java.util.Map">
       
       select 
    	mdp.id,mdp.content,mdp.doctor_id doctorId,md.name doctorName,mdai.head_portrait doctorHeadImg,
    	mdp.product_id productId,mdp.level 
    		from medical_doctor_posts mdp
    	inner join medical_doctor md on mdp.doctor_id = md.id
    	left join medical_doctor_authentication_information mdai on md.`authentication_information_id` = mdai.`id`
    		where  1=1 
    		<if test="productId != null">
	          and mdp.product_id = #{productId} 
	        </if>
    		<if test="doctorId != null">
	          and mdp.doctor_id= #{doctorId} 
	        </if>
    		order by mdp.create_time desc limit #{pageNumber},#{pageSize}
    </select>

</mapper>