<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.doctor.mapper.MedicalDoctorQuestionMapper">

    <select id="selectQuestionByDoctorId" resultType="com.xczhihui.medical.doctor.model.MedicalDoctorQuestion">
          select 
            mdq.*,
            ou.small_head_photo as userImg,
            mdai.head_portrait  as doctorImg
         from  medical_doctor_question as mdq
            inner join oe_user as  ou on ou.id = mdq.user_id
            inner join medical_doctor as md on md.id = mdq.doctor_id
            LEFT JOIN `medical_doctor_authentication_information` mdai ON md.`authentication_information_id` = mdai.`id`
         where  mdq.doctor_id = #{doctorId}
           and ou.status = 0  and ou.is_delete =0
           and  md.deleted = 0 AND md.status = 1
           order by mdq.update_time desc
    </select>
    
    <select id="selectDoctorQuestionByUserId" resultType="com.xczhihui.medical.doctor.model.MedicalDoctorQuestion">
         select 
            mdq.*,
            ou.name as quizzerName
         from  medical_doctor_question as mdq
            inner join  oe_user ou  on  mdq.user_id = ou.id
	         where 
	          ou.status = 0 and ou.is_delete =0  and 
	          mdq.doctor_id = (select doctor_id from medical_doctor_account mda where mda.account_id = #{userId})
	            <if test="isAnswer != null and  isAnswer == 1 ">
                    and  mdq.answer is not null
                </if>
                <if test="isAnswer != null and  isAnswer == 0 ">
                    and  mdq.answer is null
                 </if>
	           order by mdq.create_time desc
    </select>
    
    
    <update id="updateQuestion" parameterType="com.xczhihui.medical.doctor.vo.DoctorQuestionVO">
        UPDATE
          medical_doctor_question mdq
        SET
        <if test="doctorQuestionVO.question != null">
            mdq.question = #{doctorQuestionVO.question},
        </if>
        
        <if test="doctorQuestionVO.answer != null">
            mdq.answer = #{doctorQuestionVO.answer},
        </if>
        
        <if test="doctorQuestionVO.deleted != null">
            mdq.deleted = #{doctorQuestionVO.deleted},
        </if>
        <if test="doctorQuestionVO.status != null">
            mdq.status = #{doctorQuestionVO.status},
        </if>
        <if test="doctorQuestionVO.createTime != null">
            mdq.create_time = #{doctorQuestionVO.createTime},
        </if>
        mdq.`update_time` = NOW()
        WHERE mdq.id = #{doctorQuestionVO.id}
    </update>
</mapper>