.wp{width: 1200px; margin: 0 auto;}
.z{float: left;}
.y{float: right;}
.left-listNav{
	    width: 220px;
    display: block;
    height: 100%;
    min-height: 520px;
    background-color: #fff;
    float: left;
    margin-top: 20px;
    padding-bottom: 39px;
}
.doctor_inf{
	text-align: center;
    padding-top: 20px;
    position: relative;
}
.doctor_inf img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.doctor_inf h4 {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  padding-top: 10px;
}
.doctor_inf p {
  color: #999999;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}
/*.contentWrap{
	margin-top: 20px;
}*/
.select_box{
	width: 950px;
    display: block;
    float: right;
    vertical-align: top;
    padding: 0 30px;
    min-height: 642px;
    background-color: #fff;
    padding-bottom: 50px;
    display: none;
    margin-top: 20px;
}
/*左边菜单开始*/
.select_list{
	width: 220px;
}
.select_list ul li{
	list-style: none;
	margin-top: 32px;
	cursor: pointer;
}

.select_list ul li span{
	margin-left: 15px;
	font-size: 16px;
}
.select_list ul li .left_range{
	margin-left: 30px;
	color: #cacbcb;
	font-size: 14px;
}
.select_list ul li .ino_color{
	color: #00bc12;
}
.select_list ul li:hover .left_range{
	color: #00bc12;
}
.select_list ul li .arrow_jt{
	margin-left: 70px;
	color: #cacbcb;
}
.select_list ul li:hover{
	color: #00bc12;
}
.select_list .active{
	color: #00bc12;
}
.select_list .littleBox{
	background: #e2e2e2;
	margin-top: 16px;
	display: none;
}
.select_list .littleBox p{
	color: #666666;
	margin: 0;
	padding: 16px 0;
	margin-left: 65px;
	font-size: 16px;
}
.select_list .littleBox p:hover{
	color: #00bc12;
	
}
.select_list .littleBox .activeP{
	color: #00bc12;
}
/*<!--课程/直播/资源/盒子-->*/
.wrap_box .little_box{
	width: 950px;
    display: block;
    float: right;
    vertical-align: top;
    padding: 0 30px;
    min-height: 520px;
    background-color: #fff;
    padding-bottom: 50px;
    display: none;
    margin-top: 20px;
}
.arrow_jt{
	color: #d8d8d8;
}
#open_list{
	
}

.doctor_inf .picModal {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 60px;
  width: 26px;
  height: 26px;
  color: #2CB82C;
  background: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
  -moz-border-radius: 100px;
  /* Firefox */
  -webkit-border-radius: 100px;
  /* Safari 和 Chrome */
  border-radius: 100px;
  /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
  margin: 10px auto 15px;
}
.doctor_inf .picModal .icon-xiangji {
  font-size: 12px;
}
