/*大家专栏*/
.both{
    clear: both;
}
.colomn_li img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    float: left;
    margin-right: 20px;
    
}
.colomn_li_p{
    float: left;
    width: 160px;
}
.colomn_li_p .p0{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.colomn_li_p .p1{
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.about_doctor ul li{
    margin-top: 10px;
}