* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.clearfix:after {
  /*最简方式*/
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  /*兼容 IE*/
  zoom: 1;
}

.content_box {
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 60px;
}
.content_box #main .main_left {
  width: 860px;
  float: left;
  background-color: #f0f0f0;
}

.content_box #main .main_left > div {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
}
.content_box #main .main_left .doctor_list{
	padding-top: 0px;
}
.content_box #main .main_left .doctor{
	margin-bottom: 20px;
	padding-bottom: 0;
}
.content_box #main .main_left #doctor_list{
	min-height: 400px;
	margin-bottom: 20px;
}

.content_box #main .main_left .doctor .doctor_search_top h3{
	float: left;
}
.content_box #main .main_left .doctor .doctor_search_top > div{
	float: right;
	width: 280px;
	height: 36px;
}
.content_box #main .main_left .doctor .doctor_search_top > div >input{
	display: inline-block;
	width: 220px;
	height: 36px;
	float: left;
    text-indent: 2em;
    border: 1px solid #F0F0F0;
    outline: none;
    background-image: url(../images/hospital/hos_search.png);
    background-repeat: no-repeat;
    background-position: 9px 11px;
}

.content_box #main .main_left .doctor .doctor_search_top > div > button{
	width: 60px;
	height: 36px;
	float: left;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: #FFFFFF;
	background: #00BC12;
	border: none;
	outline: none;
}
.content_box #main .main_left .doctor .doctor_search_top{
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 20px;
}
.content_box #main .main_left .doctor .doctor_search_bottom{
	min-height: 194px;
	padding: 20px;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_class > span,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_keshi > span,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_condition >span{
	color: #999;
	font-size: 14px;
	vertical-align: top;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_class ul,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_keshi ul,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_condition ul  {
	margin-bottom: 0;
	display: inline-block;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_class ul li a,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_keshi ul li a{
	color: #333;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_class ul li,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_keshi ul li,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_condition ul li{
	float: left;
	margin-right: 60px;
	font-size: 14px;
	margin-bottom: 20px;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_condition ul li{
	font-size: 12px;
	    padding: 2px;
    border: 1px solid #dedede;
    margin-right: 10px;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_condition ul li >a,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_condition ul li >div{
		
		color: #00BC12;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_condition ul li >a{
	margin: 0 5px;
}
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_class ul li:last-child,
.content_box #main .main_left .doctor .doctor_search_bottom .doctor_search_keshi ul li:last-child{
	margin-right: 0;
}
.content_box #main .main_left .doctor_list #doctor_list> li {
	padding: 20px 0;
	border-bottom: 1px solid #f0f0f0; 
	position: relative;
}
.content_box #main .main_left .doctor_list #doctor_list> li .doctor_pic{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 10px;
}
.content_box #main .main_left .doctor_list #doctor_list> li .doctor_pic img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.content_box #main .main_left .doctor_list #doctor_list> li >a {
	    position: absolute;
    width: 100%;
    height: 73%;
    left: 0;
}
.content_box #main .main_left .doctor_list #doctor_list> li .doctor_inf{
	float: left;
}
.content_box #main .main_left .doctor_list #doctor_list> li .doctor_inf > h4{
	font-size: 14px;
	font-weight: 700;
}
.content_box #main .main_left .doctor_list #doctor_list> li .doctor_inf span{
	color: #333;
	font-size: 14px;
	padding-top: 8px;
}
.content_box #main .main_left .doctor_list #doctor_list> li .doctor_inf p {
	color: #666;
}
.content_box #main .main_left .doctor_list #doctor_list> li .doctor_inf p{
	width: 710px;
}
.content_box #main .main_left .search_more{
	text-align: center;
}
.content_box #main .main_left .search_more button{
	 width: 122px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
    outline: none;
}
   
.content_box #main .main_right {
  width: 320px;
  float: right;
  background-color: #f0f0f0;
}
.content_box #main .main_right > div {
  margin-bottom: 20px;
}


.content_box #main .main_right .about_doctor {
  background-color: #fff;
  padding: 20px;
}
.content_box #main .main_right .about_doctor h3 {
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 400;
}
.content_box #main .main_right .about_doctor .about_doctor_list > li {
  width: 60px;
  text-align: center;
  float: left;
  margin-right: 13px;
  margin-bottom: 20px;
 	position: relative;
}
.content_box #main .main_right .about_doctor .about_doctor_list > li>a{
	position: absolute;
	width: 100%;
	height: 100%;
}
.content_box #main .main_right .about_doctor .about_doctor_list > li>p{
	font-size: 14px;
	font-weight: 700;
}
.content_box #main .main_right .about_doctor .about_doctor_list > li .about_doctor_pic {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.content_box #main .main_right .about_doctor .about_doctor_list > li .about_doctor_pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.content_box #main .main_right .about_doctor .about_doctor_list > li:nth-child(4n) {
  margin-right: 0;
}
