html,
body {
  margin: 0;
  padding: 0;
  font-family: "Baskerville Old Face", "Microsoft Yahei", "Hiragino Sans GB", sans-serif !important;
  min-width: 1200px;
  -ms-overflow-style: scrollbar;
  /*浏览器提示*/
  /*管理提示*/
  /*登陆和注册*/
}
html input:-webkit-autofill,
body input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
}
html ::-moz-placeholder,
body ::-moz-placeholder {
  color: #999;
}
html ::-webkit-input-placeholder,
body ::-webkit-input-placeholder {
  color: #999;
}
html :-ms-input-placeholder,
body :-ms-input-placeholder {
  color: #999;
}
html .login-module,
body .login-module {
  margin-top: 10%;
}
html .webSiteNotice,
body .webSiteNotice {
  display: none;
  height: 38px;
  width: 100%;
  background-color: #e9f1f6;
  border-bottom: 1px solid #d5e1e9;
  overflow: hidden;
}
html .webSiteNotice .innerBox,
body .webSiteNotice .innerBox {
  width: 1200px;
  vertical-align: middle;
  margin: 7px auto 0;
}
html .webSiteNotice .innerBox .xiaoxilaba,
body .webSiteNotice .innerBox .xiaoxilaba {
  color: #2cb82c;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}
html .webSiteNotice .innerBox .noticeInfo,
body .webSiteNotice .innerBox .noticeInfo {
  font-size: 14px;
  color: #333;
}
html .webSiteNotice .innerBox .noticeInfo a,
body .webSiteNotice .innerBox .noticeInfo a {
  font-size: 14px;
  margin: 0 3px;
  color: #2cb82c;
  text-decoration: none;
}
html .webSiteNotice .innerBox .noticeClose,
body .webSiteNotice .innerBox .noticeClose {
  float: right;
  color: #999;
  font-size: 12px;
  vertical-align: middle;
  margin-top: 3px;
  cursor: pointer;
}
html .mask,
body .mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99999;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: none;
}
html .browserBody,
body .browserBody {
  position: fixed;
  top: 0px;
  width: 100%;
  min-width: 1200px;
  z-index: 999;
  height: 52px;
  overflow: hidden;
}
html .browserBody .bcgop,
body .browserBody .bcgop {
  top: 0px;
  width: 100%;
  min-width: 1200px;
  background: #2cb82c;
  z-index: 999;
  overflow: hidden;
  position: absolute;
  height: 52px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
html .browserBody .browserBody-text,
body .browserBody .browserBody-text {
  width: 1200px;
  margin: 0 auto;
  height: 52px;
  overflow: hidden;
  position: absolute;
}
html .browserBody .browserBody-text p,
body .browserBody .browserBody-text p {
  float: left;
  font-size: 14px !important;
  color: #ffffff;
  font-weight: bold;
  line-height: 52px;
}
html .browserBody .browserBody-text a,
body .browserBody .browserBody-text a {
  background-color: #ffffff;
  color: #2cb82c;
  margin-top: 10px;
  width: 80px;
  line-height: 32px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px !important;
}
html .browserBody .browserBody-text img,
body .browserBody .browserBody-text img {
  float: right;
  margin-top: 18px;
  cursor: pointer;
  *margin-top: -21px;
}
html .guanliBody,
body .guanliBody {
  position: absolute;
  top: 0px;
  width: 100%;
  min-width: 1200px;
  z-index: 999;
  height: 48px;
  overflow: hidden;
}
html .guanliBody .glgop,
body .guanliBody .glgop {
  top: 0px;
  width: 100%;
  min-width: 1200px;
  background: #ff4012;
  z-index: 999;
  overflow: hidden;
  position: absolute;
  height: 48px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
html .guanliBody .gl-text,
body .guanliBody .gl-text {
  width: 1200px;
  margin: 0 auto;
  height: 48px;
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  left: 50%;
  margin-left: -600px;
}
html .guanliBody .gl-text p,
body .guanliBody .gl-text p {
  font-size: 14px !important;
  color: #ffffff;
  line-height: 48px;
  width: 100%;
  text-align: center;
}
html .guanliBody .gl-text a,
body .guanliBody .gl-text a {
  background-color: #ffffff;
  color: #2cb82c;
  margin-top: 10px;
  width: 80px;
  line-height: 32px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px !important;
}
html .guanliBody .gl-text img,
body .guanliBody .gl-text img {
  float: right;
  margin-top: 18px;
  cursor: pointer;
  *margin-top: -21px;
}
html header,
body header {
  background: white;
  width: 100%;
  height: 109px;
  border-bottom: 1px solid #ebebeb;
}
html header .header_body,
body header .header_body {
  width: 1200px;
  height: 61px;
  line-height:61px;
  margin: 0 auto;
  position: relative;
}
html header .header_body .header_left,
body header .header_body .header_left {
  float: left;
  margin-left: 75px;
}
html header .header_body .header_left > a,
body header .header_body .header_left > a,
html header .header_body .header_left div > a,
body header .header_body .header_left div > a {
  display: inline-block;
  font-size: 16px;
  color: #333;
  float: left;
  text-decoration: none;
}
html header .header_body .header_left div > a:last-child,
body header .header_body .header_left div > a:last-child{
	    margin-right: -48px;
} 
html header .header_body .header_left > a em,
body header .header_body .header_left > a em,
html header .header_body .header_left div > a em,
body header .header_body .header_left div > a em {
  display: block;
  width: 263px;
  height: 44px;
  margin: 16px 0;
  background-image: url("../images/index.png");
  background-position: -95px 0;
  background-repeat: no-repeat;
}
html header .header_body .header_left a.select,
body header .header_body .header_left a.select {
  color: #2cb82c;
  background: #fff;
}
html header .header_body .header_left .path a,
body header .header_body .header_left .path a {
  margin-right: 40px;
  font-family: "Baskerville Old Face", "Microsoft Yahei", "Hiragino Sans GB", sans-serif !important;
}
html header .header_body .header_left .path .zhongYun,
body header .header_body .header_left .path .zhongYun {
	margin-right:-48px;
}
html header .header_body .header_left img,
body header .header_body .header_left img {
  display: inline-block;
  margin: 12px 0px;
}
html header .header_body .header_left .path,
body header .header_body .header_left .path {
  float: right;
  margin-left: 42px;
}
html header .header_body .header_left .path a,
body header .header_body .header_left .path a {
  background: #fff;
}
html header .header_body .header_left .path a:hover,
body header .header_body .header_left .path a:hover {
  color: #2CB82C;
}
//左右模块调换了
html header .header_body .header_right,
body header .header_body .header_right {
  float: left;
  height: 61px;
  line-height: 61px;
  font-size: 14px;
  /*a:nth-child(2){
          margin-left:46px;
          margin-right:24px;
        }*/
}
html header .header_body .header_right input,
body header .header_body .header_right input {
  padding: 0 16px;
  width: 160px;
  height: 34px;
  border-radius: 18px;
  border: 1px solid #e4e4e4;
}
html header .header_body .header_right a,
body header .header_body .header_right a {
	margin-top:10px;
	float:left;
  	font-size: 14px;
  	color: #333;
}
html header .header_body .header_right .studentCenterBox,
body header .header_body .header_right .studentCenterBox {
  margin-right: 40px;
  vertical-align: middle;
  text-decoration: none;
}
html header .header_body .header_right .studentCenterBox:hover,
body header .header_body .header_right .studentCenterBox:hover {
  color: #2cb82c;
  text-decoration: none;
}
html header .header_body .header_right .studentCenterBox.select,
body header .header_body .header_right .studentCenterBox.select {
  color: #2cb82c;
}
html header .header_body .header_right .shoppingBox,
body header .header_body .header_right .shoppingBox {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}
html header .header_body .header_right .shoppingBox .shoppingCar,
body header .header_body .header_right .shoppingBox .shoppingCar {
  font-size: 14px;
  color: #333;
  vertical-align: middle;
  text-decoration: none;
}
html header .header_body .header_right .shoppingBox .shoppingCar:hover,
body header .header_body .header_right .shoppingBox .shoppingCar:hover {
  color: #2cb82c;
}
html header .header_body .header_right .shoppingBox .shopping,
body header .header_body .header_right .shoppingBox .shopping {
  display: none;
  position: absolute;
  top: 15px;
  left: 42px;
  background-color: #ff4012;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
html header .header_body .header_right .shoppingBox .shopping em,
body header .header_body .header_right .shoppingBox .shopping em {
  color: #fff;
  font-size: 12px!important;
  font-style: normal;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
html header .header_body .header_right .messageBox,
body header .header_body .header_right .messageBox {
  position: relative;
  display: inline-block;
}
html header .header_body .header_right .messageBox .message,
body header .header_body .header_right .messageBox .message {
  font-size: 14px;
  color: #333;
  vertical-align: middle;
  text-decoration: none;
}
html header .header_body .header_right .messageBox .message:hover,
body header .header_body .header_right .messageBox .message:hover {
  color: #2cb82c;
}
html header .header_body .header_right .messageBox .messageCount,
body header .header_body .header_right .messageBox .messageCount {
  display: none;
  position: absolute;
  top: 15px;
  left: 26px;
  background-color: #ff4012;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
html header .header_body .header_right .messageBox .messageCount em,
body header .header_body .header_right .messageBox .messageCount em {
  color: #fff;
  font-size: 12px!important;
  font-style: normal;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
html header .header_body .header_right .lineBetween,
body header .header_body .header_right .lineBetween {
  color: #ebebeb;
  display: inline-block;
  margin: 0 25px 0 35px;
}
html .hr,
body .hr {
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
}
html .loginGroup,
body .loginGroup {
  display: inline-block;
  height: 71px;
  margin-top: -9px;
  margin-left:-15px;
  padding: 5px 0;
  font-size: 12px;
  cursor: default;
  vertical-align: top;
}
html .loginGroup .login,
body .loginGroup .login {
  position: relative;
  display: none;
  cursor: default;
  
}
html .loginGroup .login .userPic,
body .loginGroup .login .userPic {
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  margin-top: 8px;
  cursor: default;
}
html .loginGroup .login .dropdown,
body .loginGroup .login .dropdown {
  z-index: 3;
  max-width: 120px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 46px;
  float: right;
}
html .loginGroup .login .dropdown #dLabel,
body .loginGroup .login .dropdown #dLabel {
  max-width: 85px;
  min-width: 0;
  overflow: hidden;
  height: 50px;
  float: right;
  cursor: default;
}
html .loginGroup .login .dropdown #dLabel .name,
body .loginGroup .login .dropdown #dLabel .name {
  max-width: 60px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  height: 45px;
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
html .loginGroup .login .dropdown #dLabel .select,
body .loginGroup .login .dropdown #dLabel .select {
  color: #2cb82c;
}
html .loginGroup .login .dropdown #dLabel .caret,
body .loginGroup .login .dropdown #dLabel .caret {
  cursor: default;
  display: inline-block;
  float: right;
  margin-top: 20px;
  position: relative;
  -webkit-user-select: none;
}
html .loginGroup .login .dropdown #dLabel .select1,
body .loginGroup .login .dropdown #dLabel .select1 {
  width: 0;
  height: 0;
  margin-left: 2px;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  color: #2cb82c;
  display: inline-block;
  vertical-align: middle;
  /*border-top: 4px dashed;
            border-top: 4px solid \9;*/
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 0px dashed;
}
html .loginGroup .login .dropdown .dropdownmenu,
body .loginGroup .login .dropdown .dropdownmenu {
  height:200px;
  top: 36px;
  right: -20px;
  width: 0px;
  position: absolute;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 140px;
  padding: 8px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.12);
}
html .loginGroup .login .dropdown .dropdownmenu li,
body .loginGroup .login .dropdown .dropdownmenu li {
  width: auto;
  display: block;
  height: 38px;
  line-height: 38px;
  margin-right:0px;
  width: 100%;
   text-align: center
}
html .loginGroup .login .dropdown .dropdownmenu li a,
body .loginGroup .login .dropdown .dropdownmenu li a {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  height: 32px;
  line-height: 38px;
}
html .loginGroup .login .dropdown .dropdownmenu li i,
body .loginGroup .login .dropdown .dropdownmenu li i {
  width: 17px;
  font-size: 14px;
  color: #ccc;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2px;
  height: 38px;
  line-height: 38px;
}
html .loginGroup .login .dropdown .dropdownmenu li:hover,
body .loginGroup .login .dropdown .dropdownmenu li:hover,
html .loginGroup .login .dropdown .dropdownmenu li:hover a,
body .loginGroup .login .dropdown .dropdownmenu li:hover a {
  background-color: #2cb82c;
  color: #fff;
}
html .loginGroup .login .dropdown .dropdownmenu li:hover i,
body .loginGroup .login .dropdown .dropdownmenu li:hover i,
html .loginGroup .login .dropdown .dropdownmenu a,
body .loginGroup .login .dropdown .dropdownmenu a {
  color: #fff;
}
html .loginGroup .login .dropdown:hover .dropdownmenu,
body .loginGroup .login .dropdown:hover .dropdownmenu {
  display: block;
}
html .loginGroup .logout,
body .loginGroup .logout {
  height: 18px;
  display: block;
  margin-top:-8px;
}
html .loginGroup .logout a,
body .loginGroup .logout a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  height: 30px;
  line-height: 63px;
}
html .loginGroup .logout .btn-link,
body .loginGroup .logout .btn-link {
  display: inline-block;
}
html .loginGroup .logout .btn-link.btn-login,
body .loginGroup .logout .btn-link.btn-login {
  color: #000;
  padding: 0 5px;
  font-size: 12px;
  display: inline-block;
}
html .loginGroup .logout .btn-link.btn-register,
body .loginGroup .logout .btn-link.btn-register {
  margin-left: 5px;
  font-size: 12px;
  color: #000;
  display: inline-block;
}
html .loginGroup .logout .btn-link.btn-login:hover,
body .loginGroup .logout .btn-link.btn-login:hover {
  color: #2cb82c;
}
html .loginGroup .logout .btn-link.btn-register:hover,
body .loginGroup .logout .btn-link.btn-register:hover {
  color: #2cb82c;
}
html .loginGroup .logout .line,
body .loginGroup .logout .line {
  color: #CCCCCC;
  height: 12px;
}
html #oldModalBack,
body #oldModalBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1049;
  display: none;
}
html #old,
body #old {
  width: 572px;
  height: 441px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -286px;
  margin-top: -225.5px;
  display: none;
  z-index: 1050;
}
html #old .oldX,
body #old .oldX {
  position: absolute;
  right: 120px;
  top: 100px;
  font-size: 18px;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 2px 9px;
  border-radius: 50%;
  cursor: pointer;
}
html #old .oldBtn,
body #old .oldBtn {
  position: absolute;
  bottom: 105px;
  left: 250px;
  color: #ffffff;
  background-color: #2cb82c;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  /* Internet Explorer */
  -moz-transform: rotate(7deg);
  /* Firefox */
  -webkit-transform: rotate(7deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(7deg);
  /* Opera */
}

body .head-top{
		height: 35px;
		line-height: 35px;
		border-bottom:1px dashed #ccc;
	}
body .head-top ul{
		width: 100%;
		height: 100%;
		font-size: 13px;

	}
body .head-top ul li{
		float: right;
		margin-right: 50px;
	} 
body .head-top ul li:nth-child(2){
	margin-right:0px;
}	

body .head-top ul li a {
		color:#ccc;
}
body .head-top ul li a:hover{
	color:green;
}
body .head-top .first-li{
		float: left;
	}
body .content{
		width: 1200px;
		margin: 0 auto;
	}

body .select{
	color:green;
}
body .shoppingBox .shopping,body .messageBox .messageCount{
	    display: block;
    position: absolute;
    top: 6px;
    right: -18px;
    /*background-color: #ff4012;*/
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
}
body .messageBox,body .shoppingBox {
	position:relative;
}

.common_ljck{
	display: inline-block;
    width: 108px;
    height: 42px;
    background-color: #2cb82c;
    color: #fff;
    font-size: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 30px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}




	

