	/*修改模板开始*/
.layer{
	position: inherit;
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
    margin-top: 0;
    border: 0;
}
.page-pc .player-container{
	width: 100%;
}
.page-pc .doc{
	height: 88%;
}
.page-pc .video{
	width: 100%;
    height: 87.9%;
    z-index: 4;
}
.page-pc .container{
	top: 176px;
}
.header{
	display: none;
}
.chatmsg-box{
	padding-top: 0;
	padding-bottom: 110px;
}
.chatmsg-box, .question-msg-box{
	background: #000;
}
.chitchat{
	width: 300px;
	height: 36px;
	margin: 0 auto;
	margin-top: 64px;
}
.send-box{
	height: 110px;
	border-top: 1px solid #444;
	background: #000;
}
.send-box textarea{
	padding: 0;
    background: #666;
    width: 229px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
}
#sendChat{
	width: 60px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	background: #00BC12;
	border-radius: 0 4px 4px 0;
	margin-top: 0;
	position: unset; /*注意兼容行--定位*/
	float: right;
	margin-right: 11px;
}
.chatmsg li .msg .content{
	width: 226px;
}
/*修改模板开始结束*/
.container{
	padding-left: 10px;
}
.page-pc .container{
	z-index: 99;
	padding-right: 0;
}
.div0{
	display: block !important;
}
.both{
	clear: both;
}
.send-box .face{
	width: 20px;
	height: 20px;
	margin-top: 0;
	left: 12px;
	top: 20px;
	background: url(../images/brow.png) no-repeat;
	background-size: 20px 20px;
	z-index: 9999999;
}
.send-box .face:hover{
	width: 20px;
	height: 20px;
	background: url(../images/img-face1.png) no-repeat;
	background-size: 20px 20px;
}
.facebox-pc{
	top: -243px !important;
}
.lecturer{
	position: absolute;
    right: 70px;
    display: inline-block;
    width: 20px;
    height: 20px;
	margin-top: 0;
	left: 12px;
	top: 20px;
	background: url(../images/img-filter.png) no-repeat;
	background-size: 20px 20px;
}

.lecturer_filter1 {
    position: absolute;
    right: 70px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 0;
    left: 12px;
    top: 20px;
    background: url(../images/img-filter1.png) no-repeat;
    background-size: 20px 20px;
}

.chatmsg li .msg p .tips.host{
	width: 44px;
    height: 20px;
    line-height: 20px;
    background: #00bc12;
    border: 0;
    color: #fff;
}


/*动画开始*/
.animation{
	width: 294px;
	position: absolute;
	top: 65px;
    right: 311px;
    z-index: 4;
}
.animation-cut{
	width: 20px;
	height: 20px;
	background: red;
	float: left;
	background: url(../images/icon.png) no-repeat 0 -48px;
	opacity: 0.6;
	cursor: pointer;
}
.animation-cut:hover{
	opacity: 1;
}
.animation-shrink{
	width: 20px;
	height: 20px;
	background: blue;
	float: right;
}
/*动画结束*/
.doc-pc{
	width: 294px;
    height: 168px;
    right: 0;
    position: absolute;
    z-index: 9;
}
.video-pc{
	width: 294px;
    height: 168px;
    right: 0;
    position: absolute;
    z-index: 9;
}


.video-bottom{
	width: 100%;
	height: 110px;
	background: #444;
	position: absolute;
    bottom: 0;
    right: 310px;
    z-index: 99;
}
.concern{
	min-width: 278px;
	height: 110px;
	float: left;
	margin-left: 324px;
}
.concern-img{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	margin-top: 25px;
	float: left;
	margin-right: 10px;
}
.concern-left{
	float: left;
	margin-right: 12px;
}
.concern-name{
	width: 114px;
	font-size: 16px;
	color: #FFFFFF;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 30px;
}
.concern-number{
	font-size: 12px;
	color: #999999;
	margin-top: 12px;
}
.concern-number span:first-child{
	border-right: 2px solid #999;
    padding-right: 9px;
    margin-right: 5px;
}
.concern-right{
	width: 72px;
	height: 33px;
	line-height: 33px;
	background: #00BC12;
	border-radius: 4px;
	float: right;
	margin-top: 38px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

.surprise{
	height: 100%;
	float: right;
}
.surprise-top .surprise-mouseover-ul{
	margin-top: 10px;
	float: right;
}
.surprise-top .surprise-mouseover-ul li{
	position: relative;
	width: 58px;
	height: 58px;
	padding: 4px 0;
	margin-right: 10px;
	background: rgba(255,255,255,0.10);
	border-radius: 4px;
	float: left;
	cursor: pointer;
}
.li-initial-border{
	border: 2px solid rgba(255,255,255,0.10);
}
.surprise-top-li-border{
	border: 2px solid #00BC12;
}
.surprise-top .surprise-mouseover-ul li img{
	width: 56px;
	height: 48px;
}

.surprise-hide{
	display: none;
    width: 500px;
    height: 136px;
    position: absolute;
    top: -138px;
    left: -114px;
}
.surprise-show{
	width: 278px;
	height: 125px;
	border: 1px solid #575757;
	background: #333;
	border-radius: 4px;
}
.surprise-show-img{
	width: 80px;
    height: 80;
    float: left;
    border-radius: 4px;
    background: #fff;
    margin: 20px 12px 0 20px;
}
.surprise-show-img img
	width: 80px !important;
	height: 64px !important;
	margin-top: 8px;
}
.surprise-show-name{
	width: 150px;
	margin-left: 110px;
}
.surprise-show-title{
	margin: 22px 0 18px 0;
}
.surprise-show-title .show-name{
	font-size: 16px;
	color: #FFFFFF;
	margin-right: 8px;
}
.surprise-show-title .show-number{
	font-size: 12px;
	color: #00BC12;
}
.surprise-presented{
	width: 72px;
	height: 32px;
	line-height: 32px;
	background: #00BC12;
	border-radius: 100px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
}
.aspect-down{ 
	position: absolute;
    bottom: 2px;
	left: 130px;
    width:0px; 
    height:0px; 
    border-left:10px solid transparent; 
    border-right:10px solid transparent; 
    border-top:10px solid #333; 
    font-size:0px; 
    line-height:0px; 
}
.bottom-span{
	font-size: 12px;
	color: #fff;
	margin-top: 10px;
	float: right;
}
.bottom-span span:last-child{
	display: inline-block;
	text-align: center;
	width: 56px;
	height: 20px;
	line-height: 20px;
	background: #00BC12;
	border-radius: 100px;
	margin-right: 10px;
	margin-left: 20px;
	cursor: pointer;
}

.toptenreviews{
	position: absolute;
	top: 0;
	right: 0;
	width: 310px;
	z-index: 100;
}
.toptenreviews-center{
	height: 176px;
	background: #242424;
}
.toptenreviews-title{
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #999;
	text-indent: 10px;
    border-bottom: 1px solid #6c6b6b;
}
.toptenreviews-crew{
	cursor: pointer;
}
.toptenreviews-crew .billboard-float{
 	float: left;
 	position: absolute;
}
.billboard-one{
	top: 43px;
    left: 0;
}
.billboard-two{
	top: 43px;
    left: 105px;
}
.billboard-three{
	top: 43px;
    right: 0;
}
.billboard-one-bg{
	width: 48px;
	height: 58px;
	background: url(../images/two.png) no-repeat;
	background-size: 48px 58px;
	margin: 0 auto;
	margin-top: 18px;
}
.billboard-two-bg{
	width: 58px;
	height: 68px;
	background: url(../images/one.png) no-repeat;
	background-size: 58px 68px;
	margin: 0 auto;
	margin-top: 8px;
}
.billboard-three-bg{
	width: 48px;
	height: 58px;
	background: url(../images/three.png) no-repeat;
	background-size: 48px 58px;
	margin: 0 auto;
	margin-top: 18px;
}
.toptenreviews-crew div img{
	width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 14px;
    margin-left: 4px;
    display: inline-block;
}
.billboard-two img{
	width: 50px !important;
	height: 50px !important;
}
.toptenreviews-crew .billboard-name{
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 12px;
	color: #fff;
	margin: 10px 0 6px 0;
}
.toptenreviews-crew .billboard-number{
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 12px;
	color: #F97B49;
}

.toptenreviews-list{
	position: absolute;
	top: 176px;
	left: 0;
	width: 100%;
	background: #242424;
	max-height: 500px;
	overflow-y: scroll;
	display: none;
}
.toptenreviews-list-center{
	width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding: 0 16px;
}		    
.toptenreviews-list-img{
	float: left;
}
.toptenreviews-list-center .number{
	margin-right: 14px;
}
.toptenreviews-list-center span{
	font-size: 12px;
	color: #999;
	display: inline-block;
	float: left;
}
.toptenreviews-list-img img{
	width: 30px;
	height: 30px;
	border-radius: 60px;
	margin-right: 10px;
}
.toptenreviews-list-size{
	width: 117px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	font-size: 12px;
	color: #FFFFFF;
}
.toptenreviews-list-number{
	float: right;
}
.toptenreviews-list-center:last-child{
	padding-bottom: 50px;
}

.hide {
    display: none !important;
}

/*设置文档和视频的动画切换开始*/
.doc-img{
	top: 0;
    right: -3px;
    width: 294px !important;
    height: 168px !important;
    z-index: 9;
    position: absolute !important;
}
 
.company-introduce-one{
	-webkit-animation: righteaseinAnimate-one 1.5s forwards;
}
@-ms-keyframes righteaseinAnimate-one{
    0%{-webkit-transform: translateX(0px); width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
}
@-moz-keyframes righteaseinAnimate-one{
    0%{-webkit-transform: translateX(0px); width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
}
@-webkit-keyframes righteaseinAnimate-one{
    0%{-webkit-transform: translateX(0px); width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
}
@-o-keyframes righteaseinAnimate-one{
    0%{-webkit-transform: translateX(0px); width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
}

.company-introduces-one{
    -webkit-animation: righteaseinAnimates-one 1.5s forwards;
}
 
@-ms-keyframes righteaseinAnimates-one{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}
@-moz-keyframes righteaseinAnimates-one{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}
@-webkit-keyframes righteaseinAnimates-one{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}
@-o-keyframes righteaseinAnimates-one{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}

.company-introduce-two{
    -webkit-animation: righteaseinAnimate-two 1.5s forwards;
}  
@-ms-keyframes righteaseinAnimate-two{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}
@-moz-keyframes righteaseinAnimate-two{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}
@-webkit-keyframes righteaseinAnimate-two{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}
@-o-keyframes righteaseinAnimate-two{
    0%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
}

.company-introduces-two{
    -webkit-animation: righteaseinAnimates-two 1.5s forwards;
}
@-ms-keyframes righteaseinAnimates-two{
    0%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
} 
@-moz-keyframes righteaseinAnimates-two{
    0%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
} 
@-webkit-keyframes righteaseinAnimates-two{
    0%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
} 
@-o-keyframes righteaseinAnimates-two{
    0%{ -webkit-transform: translateX(0px);width: 294px;height: 168px;position: absolute;right: -3px;}
    100%{ -webkit-transform: translateX(0px);width: 100%;height: 88%;position: absolute;right: -3px;}
} 
/*设置文档和视频的动画切换结束*/

