* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
#tip{
	    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    background-color: #000;
    color: #fff;
    opacity: .5;
    border-radius: 4px;
    z-index: 999;
    font-size: 14px;
}
.borderColor{
	border-color: red !important;
}
.color{
	color: #00bc12 !important;
}
.keshiColor{
	border: 1px solid #00BC12 !important;
	color: #00BC12;
}
.warning{
	font-size: 14px;
    color: #FF4012;
    line-height: 30px;
    text-indent: 20px;
    background: url(../images/icons/tanhao.png) no-repeat left center;
    padding-left: 20px;
}
.container {
  padding: 0;
  width: 1200px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.container .row {
  margin: 0;
}
#doctor_in_inf {
  background-color: #f6f6f6;
  padding-top: 20px;
}
#doctor_in_inf .news_nav {
  width: 220px;
  float: left;
  background-color: #fff;
  position: relative;
}
#doctor_in_inf .news_nav ul .doctor_inf img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#doctor_in_inf .news_nav ul .doctor_inf h4 {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  padding-top: 10px;
}
#doctor_in_inf .news_nav ul .doctor_inf p {
  color: #999999;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}
#doctor_in_inf .news_nav ul li {
  padding: 5px 0px;
  text-align: center;
  line-height: 58px;
}
#doctor_in_inf .news_nav ul li > a > span{
    margin-left: 30px;
    color: #666;
    color: #cacbcb;
    font-size: 14px;
    margin-right: 15px;
} 
#doctor_in_inf .news_nav ul li > div {
	background-color: #e2e2e2;
	padding-left: 65px;
}
#doctor_in_inf .news_nav ul li > div >a{
	color:#666;
}
#doctor_in_inf .news_nav ul li:first-child{
	padding-top: 30px;
}
#doctor_in_inf .news_nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  color: #151515;
}
#doctor_in_inf .news_nav ul li a:hover{
	color: #00bc12;
}
#doctor_in_inf .text-center {
  width: 960px;
  float: right;
  background-color: #fff;
}
#doctor_in_inf .text-center .tab-content >div .topTitle {
  border-bottom: 1px solid #f0f0f0;
}
#doctor_in_inf .text-center .tab-content >div .topTitle h3 {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0 20px;
  text-align: left;
}
#doctor_in_inf .text-center .tab-content #doc_doctor .bottomContent  {
  padding: 20px;
  min-height: 526px;
}
#doctor_in_inf .text-center .tab-content #doc_doctor .bottomContent  .bottomContent_inf {
  margin-bottom: 20px;
  height: 80px;
  line-height: 80px;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 0 20px;
}
#doctor_in_inf .text-center .tab-content #doc_doctor .bottomContent  .bottomContent_inf span {
  font-size: 14px;
  color: #333333;
}
#doctor_in_inf .text-center .tab-content #doc_doctor .bottomContent  .bottomContent_inf button {
  width: 92px;
  font-size: 14px;
  height: 36px;
  background: #00BC12;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  vertical-align: middle;
  line-height: 36px;
  border: none ;
  margin: 0 20px;
}
#doctor_in_inf .text-center .tab-content #doc_doctor .bottomContent  .bottomContent_inf a {
  color: #188EEE;
  font-size: 14px;
}
.news_nav .picModal {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 70px;
  width: 26px;
  height: 26px;
  color: #2CB82C;
  background: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
  -moz-border-radius: 100px;
  /* Firefox */
  -webkit-border-radius: 100px;
  /* Safari 和 Chrome */
  border-radius: 100px;
  /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
  margin: 10px auto 15px;
}
.news_nav .picModal .icon-xiangji {
  font-size: 12px;
}


/*医师认证部分*/
#doc_Distinguish .bottomContent{
	text-align: left;
	padding-top: 30.5px;
	padding-left: 20px;
	padding-right: 20px;
}
#doc_Distinguish .bottomContent > div{
	margin-bottom: 20px;
}
#doc_Distinguish .bottomContent > div > span:first-child{
	  display: inline-block;
    width: 89px;
    text-align: right;
    font-size: 14px;
    color: #2A2A2A;
    line-height: 19px;
    margin-right: 20px;

}


#doc_Distinguish .bottomContent > div > span:first-child em{
	  color: #f40;
    display: inline;
}

#doc_Distinguish .bottomContent > div .doc_Idnum,
#doc_Distinguish .bottomContent > div .doc_name,
#doc_Distinguish .bottomContent > div .doc_zhicheng,
#doc_Distinguish .bottomContent > div .doc_shanchang,
#doc_Distinguish .bottomContent > div .doc_hospital{
	width: 280px;
 	height: 36px;
 	border: 1px solid #f0f0f0;
 	outline: none;
 	text-indent: 1em;
 	margin-right: 10px;
 	font-size: 14px;
}

#AutStatus  > div .doc_name,
#AutStatus  > div .doc_Idnum,
#AutStatus  > div .doc_zhicheng,
#AutStatus  > div .doc_shanchang,
#AutStatus  > div .doc_hospital{
	 border: none !important;
}
#doc_Distinguish .bottomContent >.idCard_pic .idFont_pic,
#doc_Distinguish .bottomContent >.idCard_pic .idBack_pic{
	display: inline-block;
	width: 260px;
	height: 147px;
	background-color: #f0f0f0;
	margin-right: 20px;
	vertical-align: middle;
}
#doc_Distinguish .bottomContent >.idCard_pic .idFont_pic img,
#doc_Distinguish .bottomContent >.idCard_pic .idBack_pic img,
#doc_Distinguish .bottomContent >.teacher_picUpdata .teacher_pic img,
#doc_Distinguish .bottomContent >.zhiye_picUpdata .zhiye_pic img,
#doc_Distinguish .bottomContent >.touxiang_picUpdata .touxiang_pic img,
#doc_Distinguish .bottomContent >.zhicheng_picUpdata .zhicheng_pic img {
	width: 100%;
	height: 100%;
}
#doc_Distinguish .bottomContent >.idCard_pic .idFont_pic:hover,
#doc_Distinguish .bottomContent >.idCard_pic .idBack_pic:hover{
	cursor: pointer;
}

#doc_Distinguish .bottomContent >.idCard_pic .idCard_tip,
#doc_Distinguish .bottomContent >.teacher_picUpdata .teacher_pic_tip,
#doc_Distinguish .bottomContent >.zhiye_picUpdata .zhiiye_pic_tip,
#doc_Distinguish .bottomContent >.zhicheng_picUpdata .zhicheng_pic_tip{
    display: inline-block;
    width: 159px;
    height: 48px;
    color: #999;
}
#doc_Distinguish .bottomContent >.idCard_pic .idCard_tip p,
#doc_Distinguish .bottomContent >.teacher_picUpdata .teacher_pic_tip p,
#doc_Distinguish .bottomContent >.zhiye_picUpdata .zhiiye_pic_tip p,
#doc_Distinguish .bottomContent >.zhicheng_picUpdata .zhicheng_pic_tip p{
	font-size: 14px;
}
#doc_Distinguish .bottomContent >.teacher_picUpdata .teacher_pic,
#doc_Distinguish .bottomContent >.zhiye_picUpdata .zhiye_pic,
#doc_Distinguish .bottomContent >.zhicheng_picUpdata .zhicheng_pic{
	display: inline-block;
	width: 260px;
	height: 147px;
	background-color: #f0f0f0;
	margin-right: 20px;
	vertical-align: middle;
} 
#doc_Distinguish .bottomContent >.teacher_picUpdata .teacher_pic:hover,
#doc_Distinguish .bottomContent >.zhiye_picUpdata .zhiye_pic:hover,
#doc_Distinguish .bottomContent >.zhicheng_picUpdata .zhicheng_pic:hover{
	cursor: pointer;
}
#doc_Distinguish .bottomContent >.touxiang_picUpdata .touxiang_pic{
	width: 120px;
	height: 120px;
	display: inline-block;
	background-color: #f0f0f0;
	vertical-align: middle;
	margin-right: 20px;
}
#doc_Distinguish .bottomContent >.touxiang_picUpdata .touxiang_pic img{
	width: 100%;
	height: 100%;
}
#doc_Distinguish .bottomContent >.touxiang_picUpdata .touxiang_pic:hover{
	cursor: pointer;
}
#doc_Distinguish .bottomContent >.touxiang_picUpdata .touxiang_pic_tip{
	display: inline-block;
	color: #999;
}
#doc_Distinguish .bottomContent >.touxiang_picUpdata .touxiang_pic_tip p{
	font-size: 14px;
}
#doc_Distinguish .bottomContent >.keshi ul{
	width: 540px;
	display: inline-block;
  vertical-align: top;
}
#doc_Distinguish .bottomContent >.keshi ul li{
	width: 92px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #DEDEDE;
	border-radius: 4px;
	margin-right: 20px;
	float: left;
	margin-bottom: 20px;
	font-size: 14px;
}
#doc_Distinguish .bottomContent >.keshi ul li:hover{
	cursor: pointer;
}
#doc_Distinguish .bottomContent >.keshi ul li:nth-child(5n){
	margin-right: 0;
}
#doc_Distinguish .bottomContent .personIntroduct textarea {
	width: 540px;
	height: 160px;
	padding: 10px;
	border: 1px solid #F0F0F0;
	outline: none;
	vertical-align: top;
	font-size: 14px;
}
#doc_Distinguish .bottomContent .doc_address select{
	width: 240px;
  height: 36px;
  border: 1px solid #F0F0F0;
  outline: none;
  font-size: 14px;
  color: #999;
}
#doc_Distinguish .bottomContent .baocun{
	padding-left: 110px;
	padding-bottom: 40px;
}
#doc_Distinguish .bottomContent .baocun #submit{
	  display: inline-block;
    width: 120px;
    height: 36px;
    background: #00BC12;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
}

/*医师认证状态*/
#AutStatus .bottomContent_inf{
	  margin-bottom: 20px;
    height: 80px;
    line-height: 80px;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0 20px;
}
#AutStatus .bottomContent_inf span{
		font-size: 14px;
    color: #333333;
    display: inline !important;
}
#AutStatus .bottomContent_inf button{
	    width: 92px;
    font-size: 14px;
    height: 36px;
    background: #00BC12;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    vertical-align: middle;
    line-height: 36px;
    border: none;
    margin: 0 20px;
}

