<!DOCTYPE html>
	<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<head>
<meta charset="UTF-8">
<title>熊猫中医</title>

<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="stylesheet" type="text/css" href="/xcview/css/buy_prosperity.css" />

<body style="background: #F8F8F8;">
	<!--头部搜索开始-->
	<header>
		<div class="header">
			<div class="header_return">
				<img src="/xcview/images/back icon.png">
				首页
			</div>
			<div class="header_title">购买成功</div>
			<!--<div class="header_share">
				<img src="/xcview/images/share_img.png">
			</div>-->
		</div>
	</header>
	<!--头部搜索结束-->
	
	
	<!--中间内容开始-->
	<div class="prosperity">
		<div class="buy_prosperity">
			<div class="prosperity_title">
				<div class="prosperity_yuan" style="float: left;">
					<img src="../images/dui_img.png" />
				</div>
				购买成功
			</div>
			<div class="purchase_details">
				<div class="purchase_details_main">
					<div class="purchase_details_main_cen">
						<img src="../images/geren.jpg" alt="" id="smallImgPath">
						<div class="purchase_details_left">
							<div class="purchase_details_title">
								<span class="span0"></span>
								<span class="span1"></span>
							</div>
							<div class="both"></div>
							<div class="purchase_details_money"><span></span></div>
							<div class="prosperity_play" onclick="jump()">去播放</div>
						</div>
					</div>
				</div>
			</div>
			<div class="prosperity_border"></div>
			<div class="check_one">查看已购课程，请前往<span>学习中心</span></div>
			<div class="check_two">继续寻找感兴趣的课程，请前往<span>学堂</span></div>
		</div>
		<!--猜你喜欢开始-->
    	<div class="acupuncture">
    		<div class="boutique_title">猜你喜欢</div>
    		<div class="boutique_main">
    			<ul>
    				<!--视频-->
    				<div class="lectures"></div>
    				<script type="text/html" id="lectures">
	                {{each items as item i}}
    				<li>
    					<div class="boutique_main_one">
    						<div class="boutique_one_img" onclick="jump()">
    							<img src="{{item.smallImgPath}}" alt="" />
    						</div>
    						<img src="/xcview/images/tv_auto.png" alt="" class="boutique_main_one_img_type" />
    						<div class="boutique_main_one_title">{{item.name}}{{item.gradeName}}</div>

							     {{if item.type == 1 || item.type == 2}}
								   <div class="boutique_main_one_size">
								 {{else if  item.type == 3 }}
								    <div class="boutique_main_two_size">
								 {{else if   item.type == 4}}
								    <div class="boutique_main_four_size">
		                         {{/if}}	

								{{if item.watchState == 1}}
    							<p><span>1</span>熊猫币</p>
								{{else}}
								<p><span>{{item.currentPrice}}</span>熊猫币</p>
								{{/if}}
    							<p class="p2"><img src="/xcview/images/population.png" alt="" /><span>{{item.learndCount}}</span></p>
    						

	                            {{if item.type == 3}}
								   <p class="p3"><img src="/xcview/images/learn.png" alt="" /><span>{{item.startDateStr}}</span></p>
								{{else if item.type == 4}}
								   <p class="p3"><img src="/xcview/images/location_four.png" alt="" /><span>{{item.city}}</span></p>
		                        {{/if}}							
							</div>
    					</div>
    				</li>
					{{/each}}
					</script>
    			
    				<div class="both"></div>
    			</ul>
    		</div>
    		<div class="both"></div>
    	</div>
    	<!--猜你喜欢结束-->
	</div>
	<!--中间内容结束-->
</body>

<!--这段meta代码需要加上，移动端自适应缩放用-->
<!--这段JS就是自动检测窗口尺寸大小的，动态改变html的font-size的大小-->
<!-- 网页自适应JS代码引入 -->
<script src="/xcviews/js/js.js"></script>
<script src="/xcview/js/common/jquery-1.8.3.min.js"></script><!--滑动引入js-->
<script type="text/javascript" src="/Views/h5/js/mui.min.js"></script>
<script type="text/javascript" src="/Views/h5/js/common.js"></script>
<script type="text/javascript" src="../js/template.js"></script> 
<script type="text/javascript" src="/xcview/js/buy_prosperity.js"></script>

<!--点击更多隐藏显示结束-->
<script type="text/javascript">
	window.onload = function(){
//		点击详情
		$("#li0").click(function(){
			$(".container_main").show();
			$(".course_detaiks_play").hide();
			$(".li0").addClass("ul_li");
			$(".li1").removeClass("ul_li");
		});
//		点击免费试听
		$("#li1").click(function(){
			$(".course_detaiks_play").show();
			$(".container_main").hide();
			$(".li1").addClass("ul_li");
			$(".li0").removeClass("ul_li");
		});
		$("#li0").click();
//		点击分享share
		$(".header_share").click(function(){
			$(".share").show();
		});
		
		$(".share_cancel").click(function(){
			$(".share").hide();
		});
		
	};
</script>




</html>