<!doctype html>
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->

<head>
<meta charset="utf-8">
<!--<title>直播</title>-->
<title>熊猫中医</title>
<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--手机嵌入模板-->
<script type="text/javascript" src="/xcview/js/common/layout.js"></script>

<link rel="stylesheet" href="/xcview/css/my_reservation.css">
<!-- 刷新引入js -->
<script src="/xcview/js/common/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/xcview/js/common/mui.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/common.js"></script>
<script type="text/javascript" src="/xcview/js/common/template.js"></script>

<!-- 渲染js -->
<script type="text/javascript" src="/xcview/js/my_reservation.js"></script>

<script type="text/javascript" src="/xcview/js/common/popups.js"></script>  <!-- 公用弹框 -->
<link rel="stylesheet" type="text/css" href="/xcview/css/popups.css"/> <!-- 公用弹框 -->

<!--刷新 -->
<link rel="stylesheet" href="/xcview/css/minirefresh/minirefresh.css">
<script type="text/javascript" src="/xcview/js/minirefresh/minirefresh.js"></script>

<script>
	// 判断横屏展示时的状态
	window.onorientationchange=function(){
	    if(window.orientation==90||window.orientation==-90){
	        window.location.reload();  /*横屏状态刷新*/
	    }else{
	        window.location.reload();  /*竖屏状态刷新*/
	    }
	}	
</script>
<style>
	body{
		background:#f0f0f0;
	}

	/*处理刷新*/
	.minirefresh-wrap{
		top: 1.1rem;
	}
	.minirefresh-theme-default .minirefresh-downwrap{
		height: 1rem;
		line-height: 1rem;
	}
	.minirefresh-theme-default .downwrap-content{
		padding: 0;
	}
	.minirefresh-theme-default .minirefresh-upwrap{
		height: 1rem;
		max-height: 0.5rem;
		line-height: 0.6rem;
		padding: 0;
		/*margin-top: -0.5rem;*/
	}
	.minirefresh-scroll{
		background: none;
	}
	.more_people{
		/*display: none;*/
	}
</style>
</head>
<body style="">
	<!-- 头部开始 -->
	<header>
		<div class="header">
			<div class="return" id="home_img"></div>
			<div class="header_return" onclick="window.history.go(-1);">
				<img src="/xcview/images/back icon.png" />
			</div>
			<div class="header_title">我的预约</div>
		</div>
	</header>
	<!-- 头部结束 -->

	<!-- 中间内容开始 -->

	<div class="my_bookings">
		<div id="minirefresh" class="minirefresh-wrap">
			<div class="minirefresh-scroll">
		<div class="my_bookings_main">
		<script type="text/html" id="my_bookings">
		{{each items as item i}}
		<div class="main main_{{item.id}}" data-deletes="{{item.id}}">
			<div class="main_center">
				<div class="main_center_auto">
					<!--status  1->待审核 2->预约成功 4->已完成 5->已过期 6->审核不通过-->
					{{if item.status == 1}}
						<div class="audit">审核中</div>
					{{else if item.status == 2}}
						<div class="succeed">预约成功</div>
					{{else if item.status == 6}}
						<div class="not_pass">未通过</div>
					{{else if item.status == 5}}
						<div class="not_pass">已过期</div>
					{{else if item.status == 4}}
						<div class="stocks">已完成</div>
					{{/if}}
					
					<div class="subject">
						<div class="head_portrait" data-id="{{item.id}}" onclick="orders('{{item.id}}')">
							<img src="{{item.avatar}}?imageMogr2/thumbnail/!90x90r|imageMogr2/gravity/Center/crop/90x90" alt="">
						</div>
						<div class="name" data-id="{{item.id}}" onclick="orders('{{item.id}}')">{{item.nickname}}</div>
						<div class="professional_title" data-id="{{item.id}}" onclick="orders('{{item.id}}')">{{item.title}}</div>
						{{if item.status == 2}}
							{{if item.start == true}}
								<div class="starting_treatment">开始诊疗</div>
							{{/if}}
						{{/if}}
						
						<div class="both"></div>
					</div>
					<div class="theme_bottom" >
						<div class="time">{{item.dateText}}</div>

						{{if item.status == 4}}
							<div class="check">查看诊疗视频</div>
						{{else if item.status == 6 || item.status == 5}}
							<div class="delete delete_{{item.id}}" data-id="{{item.id}}">
								<img src="/xcview/images/shanchu.png" alt="">删除
							</div>
						{{/if}}

					</div>

				</div>
			</div>
		</div>
		{{/each}}
		</script>
			</div>
		</div>
		</div>
	</div>
	<!-- 中间内容结束 -->

	<!-- 点击开始诊疗提示框开始 -->
	<div class="tooltip">
		<div class="tooltip_bg"></div>
		<div class="tooltip_main">
			<div class="tooltip_main_title">下载app开启远程诊疗</div>
			<div class="tooltip_bottom">
				<div class="call_off">取消</div>
				<div class="determine">去下载</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
	<!-- 点击开始诊疗提示框结束 -->

	<!-- 默认背景 -->
	<div class="baseimagenumber">
		<img src="/xcview/images/no_deal.png" alt="" />
		<p>暂无预约记录，请前往医师师承页进行预约~</p>
	</div>

</body>
<script>
	
</script>
</html>
