<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!--<title>消费明细</title>-->
<title>熊猫中医</title>
<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--手机嵌入模板-->
<script type="text/javascript" src="/xcview/js/common/layout.js"></script>

<link rel="stylesheet" href="../css/my_study.css" />
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../../Views/h5/js/mui.min.js"></script>
<script type="text/javascript" src="../../Views/h5/js/common.js"></script>

<!--<script src="/xcview/js/common/jquery-1.8.3.min.js"></script><!--滑动引入js-->
<script type="text/javascript" src="/xcview/js/common/template.js"></script>

<script type="text/javascript" src="/xcview/js/my_study.js?wechat_1.1"></script>
	
	
	<!--公用弹框 -->
<!--<link rel="stylesheet" href="/xcview/css/alert/sharecss.css">
<script type="text/javascript" src="/xcview/js/common/alert/alertPopShow.js"></script>-->
</head>
    
<body style="background:#F8F8F8;">
<div class="wp" style="position: relative;">
	<div class="wrap-header">
		<div class="header">		
			<p>学习</p>
			<div class="header_news" style="display: none;">
				<img src="/xcview/images/system_messages.png" alt="">
				<div class="header_news_rudio">1</div>
			</div>
		</div>
	</div>
	<!--播放历史-->
	<div class="wrap-his-play">
		<div class="play-title">
			<span>播放历史</span>
			<p>清除历史</p>
		</div>
		<div class="play_list">
			<ul id="paly_history">
			</ul>
		</div>
	</div>
	<!--是否清除历史-->
	<div class="history_bg">
		
	</div>
	<div class="history_modal">
		<p>确定清除历史?</p>
		<ul>
			<li>取消</li>
			<li>确定</li>
		</ul>
	</div>
<!--我的课程-->
<div id="my_class_box">
	<script type="text/html" id="data_my_class">
		
			<div class="wrap_class">
				<p class="my_class_title">{{items.title}}</p>
					{{each items.courseList as item i}}
					<div class="my_class_text" style="position: relative;">
						{{if item.type == 1 || item.type == 2 }}
						    {{if item.collection == true}}
								<a href="live_select_album.html?course_id={{item.id}}" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>
						    	{{else}}
								<a href="live_audio.html?my_study={{item.id}}" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>
						    {{/if}}
<!--直播状态判断-->				
						{{else if item.type == 3 && item.lineState==1}}  <!--直播中-->
						<a href="javascript:;" data-ppd="{{item.id}}" class="paly_ing_all" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>	  
						{{else if item.type == 3 && item.lineState==2}}	<!--预告-->
						<a href="live_play.html?my_study={{item.id}}" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>
						{{else if item.type == 3 && item.lineState==3}}	<!--结束-->
						<a href="live_play.html?my_study={{item.id}}" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>
						{{else if item.type == 3 && item.lineState==4}}	<!--即将直播-->
						<a href="javascript:;" data-ppdnow="{{item.id}}" class="paly_ing_all_now" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>	  
						{{else if item.type == 3 && item.lineState==5}}	<!--准备直播-->
						<a href="live_play.html?my_study={{item.id}}" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>
						{{else if item.type == 3 && item.lineState==6}}	<!--异常直播-->
						<a href="live_play.html?my_study={{item.id}}" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>
<!--直播状态判断结束-->				
						{{else if item.type == 4}}
						<a href="live_class.html?my_study={{item.id}}" style="position: absolute;width: 100%; height: 100%;left: 0; z-index: 2;"></a>	
						{{/if}}
						<div class="my_class_img z">
							<img src="{{item.smallImgPath}}?imageView2/2/w/212" class="img"/>
							<div class="little_img">
								{{if item.type == 1}}
									<img src="/xcview/images/tv_auto.png" alt="" />
								{{else if item.type == 2}}
									<img src="/xcview/images/frequency.png" alt=""/>
								{{else if item.type == 3}}
									<img src="/xcview/images/Sinatv_auto.png" alt=""/>
								{{else if item.type == 4}}
									<img src="/xcview/images/offline.png" alt=""/>
								{{/if}}
							</div>
						</div>
						<div class="" style="width: 4.5rem; float: left;">
						
						<p class="text_more">{{item.gradeName}}</span></p>
						<p class="text_more"><span class="span">{{item.name}}</span></p>
						
						{{if item.type==1 && item.collection==true}}
						<!--多少集-->
						<p class="my_collection">共{{item.courseNumber}}集&nbsp;&nbsp;<!--<span>已更新16集</span>--></p>
						{{else if item.type==2 && item.collection==true}}
						<!--多少集-->
						<p class="my_collection">共{{item.courseNumber}}集&nbsp;&nbsp;<!--<span>已更新16集</span>--></p>
						{{else if item.lineState==1}}	
						<!--直播中-->				
						<!--<p class="paly_ing" data-id="{{item.id}}" style="position: relative;z-index: 6;"><a href="details.html?courseId={{item.id}}" >直播中</a></p>-->
						<p class="paly_ing" style="position: relative;z-index: 6;"><span style="float: left;">直播时间：{{item.startTime.slice(0,16)}}</span><p class="zhibo_play">直播中</p></p>
						{{else if item.type==4}}
						<!--上课时间-->
						<p class="my_collection">上课时间：<span>{{item.startTime.slice(0,16)}}</span></p>
						<!--直播时间-->
						{{else if item.type==3}}
						<!--<p class="my_collection">直播时间：&nbsp;<span>2017.12.29&nbsp;&nbsp;12:27</span></p>-->	
						<p class="my_collection">直播时间：<span>{{item.startTime.slice(0,16)}}</span></p>	
						{{/if}}
							
						</div>
					</div>
					{{/each}}
			</div>
		
	</script>
</div>	
<!--无课程时显示图片-->	
<div class="wrap_noClass" style="display: none;">
	<div class="noclassInfo">
		
	</div>
	<p>一个课程都没有，快去学堂看看吧~</p>
	<a href="home_page.html">去选课</a>
</div>	
	
<!--关注的主播-->
	<div class="wrap-follow">
		<p class="follow_title">关注的主播</p>
		<div class="follow_people">
			<ul id="all_follow_people">
				<script type="text/html" id="data_follow">
					{{each resultObject as p}}
						<li onclick="location.href='live_personal.html?userLecturerId={{p.userId}}'">
							<div class="img_people">
								<img src="{{p.smallHeadPhoto}}?imageView2/2/w/100"/>
							</div>
							<p>{{p.name}}</p>
						</li>
					{{/each}}
				</script>
			</ul>
		</div>
		<div class="no_follow_uesr">
			<p>您还没有关注的主播~</p>
		</div>
	</div>
	
<!--底部开始-->
	<div class="footer_perch"></div>
	<div class="footer">
		<ul>
			<li>
				<a href="home_page.html" class="footer_one"></a>
				<p>学堂</p>
			</li>
			<li>
				<a href="" class="footer_two" style="margin-top: 0.13rem; margin-bottom: 0.06rem;background: url(../images/learn_twos.png) no-repeat center;background-size: 0.38rem 0.38rem;"></a>
				<p style="color: #00BC12;">学习</p>
			</li>
			<li>
				<a href="discovery.html" class="footer_three" style="height: 0.42rem;margin-top: 0.13rem;background: url(../images/discovery_three.png) no-repeat center;background-size: 0.42rem 0.42rem;margin-bottom: 0.04rem;"></a>
				<p>发现</p>
			</li>
			<li>
				<a href="my_homepage.html" class="footer_four"></a>
				<p>我的</p>
			</li>
		</ul>
	</div>
	<!--底部结束-->
	<!--底部旋转开始-->
	<div class="rotation_bottom" style="display: none;">
		<img src="/xcview/images/120.jpg" />
	</div>
	<!--底部旋转结束-->
















</div>
	

</body>
<script>
//			var kk=document.documentElement.clientWidth;
//			if(kk>750){
//				kk=750
//			}
//			
//			document.documentElement.style.fontSize=kk/7.5+"px";
			
//$(".paly_ing").click(function(event){
//alert("我是小div");
////event.stopPropagation(); // 阻止事件冒泡
//return false;
// });
		</script>
		
		
		<script type="text/javascript">
			/*window.onload = function(){
				
				$(".header_news").click(function(){
					webToast("敬请期待...","middle",1500);
				});
				
			};*/
		</script>

</html>
