<!DOCTYPE html> 
<html>
<head lang="en">
    <!--[if IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IEedge"/>
    <meta charset="UTF-8">
    <title>熊猫中医 - 医馆</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="keywords"
          content="中医教育,中医传承,中医线下教育，海口中医养生，国粹，传承，中医，中药，心承，熊猫中医"/>
    <meta name="description"
          content="熊猫中医学堂为。课程大纲全新优化，内容有广度、有深度，顶尖讲师全程直播授课。专注整合优势教学资源、打造适合在线学习并能保证教学结果的优质教学产品，同时打造和运营一整套教育生态软件体系，为用户提供满足自身成长和发展要求的有效服务。"/>
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="UHaAQAeAQF"/>
    <link rel="stylesheet" href="/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/web/css/mylogin.css"/>
    <link rel="stylesheet" href="/web/css/componet.css"/>
    <link rel="stylesheet" href="/web/css/header.css"/>
    <link rel="stylesheet" href="/web/css/hospital_details.css"/>
    <link rel="stylesheet" href="/web/css/footer.css"/>
    <link rel="stylesheet" href="/web/font/iconfont.css"/>
	<link rel="stylesheet" href="/web/css/style2.css"/>
	
    <script src="/web/js/jquery-1.12.1.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/web/js/artTemplate.js"></script>
    <script src="/web/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/html5.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/jquery.dotdotdot.js" type="text/javascript" charset="utf-8"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/layer-v2.1/layer/layer.js"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/js/helpers.js"></script>
    <script src="/web/js/ajax.js" type="text/javascript" charset="utf-8"></script>

    <script src="/web/js/header.js?v=ipandatcm_1.3" type="text/javascript" charset="utf-8"></script>

    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?9905b58e5fa2d9e2dd20bd22ee8ffe8c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<!--主体-->
<div class="content_box">
    <div class="content clearfix" id="main">
        <!--左侧-->
        <div class="main_left">
            <!--医馆信息-->
            <div class="hospital_detail_inf">
                <h3></h3>
                <div class="hospital_detail_pic clearfix" id="hospital_detail_pic">
                    <!--<div class="hospital_detail_pic_left">
                        <img src="../images/hospital_detail/hospital_pic2.png" alt="暂无图片" class="big_pic">
                    </div>
                    <div class="hospital_detail_pic_right" id="lunbo">
                        <img src="../images/hospital_detail/hospital_pic.png" alt="暂无图片">
                        <img src="../images/hospital_detail/hospital_pic.png" alt="暂无图片">
                        <img src="../images/hospital_detail/hospital_pic.png" alt="暂无图片">
                    </div>-->
                   
                   
          <div class="successlunbo">
        <div class="succesny">
            <div class="control">
                <ul class="change">
                </ul>
            </div>
            <div class="thumbWrap">
                <div class="thumbCont">
                    <ul id="lunbo">
                        <!-- img属性, url=url, text=描述, bigimg=大图, alt=标题  -->
                        <!--<li>
                            <div><img src="../images/1.jpg" url="url" bigImg="../images/1.jpg"></div>
                        </li>
                       -->
                    </ul>
                </div>
            </div>
        </div>
    </div>       
                </div>
                <div class="hospital_detail_con" >
                	<p></p>
                <!--<p>新中国成立后，中医药事业得到了很大的发展，为了进一步发扬中医药的特色和优势，发挥离退休专家的余热，解决群众看病难、看专家更难的问题，留住中医的根，由南京中医药大学、江苏省中医院、省人民医院、省中西医结合医院、南大鼓楼医院、东大中大医院、南京市中医院和江苏省中医药学会部分离退休领导干部、专家，国家、省、市级名老中医于2003年7月29日恢复了江苏省国医馆。</p>-->
                <div id="hos_inf">
                	 <P></P>
                </div>
                
                </div>
                
                
               
                
                
                <div class="hospital_detail_inf_bottom">
                    <p> <span class="hospital_detail_inf_bottom_tel">联系电话：</span><span>地址：<span class="sheng"></span> <span class="shi"></span> <span class="detail"></span></span></p>
                </div>
            </div>

            <!--医馆名家-->
            <div class="hospital_doctor hide clearfix ">
                <div class="hospital_top">
                    <span>医馆名家</span>
                    <a href="/web/html/practitionerListing.html" class="hide" id="more_doc">
                        更多&nbsp;>
                    </a>
                </div>
                <ul class="doctor_inf" id="yiguan_mingjia">
                    <!--<li>
                        <img src="../images/hospital_detail/touxiang.png" alt="">
                        <h5>施小墨</h5>
                        <p>每周二、四</p>
                        <p>广东&nbsp;广州&nbsp;同仁堂国医馆</p>
                    </li>
                   	-->

                </ul>
            </div>
            <!--课程-->
            <!--<div class="class clearfix hide">
                <div class="class_top">
                    <span>课程</span>
                    <a href="javascript:;">
                        更多&nbsp;>
                    </a>
                </div>

                <div class="class_bottom">
                    <div class="class_inf">
                        <div class="class_inf_pic">
                            <img src="../images/hospital_detail/hospital_pic.png" alt="">
                        </div>
                        <div class="class_inf_bottom">
                            <p class="class_title">冯世纶：中医外治四期班第二季</p>
                            <p class="class_address"><em></em>北京</p>
                            <p class="class_pirce_person">
                                <span class="class_pirce">￥400</span>
                                <span class="class_person"><em></em>30</span>
                            </p>
                        </div>
                    </div>


                    <div class="class_inf">
                        <div class="class_inf_pic">
                            <img src="../images/hospital_detail/hospital_pic.png" alt="">
                        </div>
                        <div class="class_inf_bottom">
                            <p class="class_title">冯世纶：中医外治四期班第二季</p>
                            <p class="class_address"><em></em>北京</p>
                            <p class="class_pirce_person">
                                <span class="class_pirce">￥400</span>
                                <span class="class_person"><em></em>30</span>
                            </p>
                        </div>
                    </div>


                    <div class="class_inf">
                        <div class="class_inf_pic">
                            <img src="../images/hospital_detail/hospital_pic.png" alt="">
                        </div>
                        <div class="class_inf_bottom">
                            <p class="class_title">冯世纶：中医外治四期班第二季</p>
                            <p class="class_address"><em></em>北京</p>
                            <p class="class_pirce_person">
                                <span class="class_pirce">￥400</span>
                                <span class="class_person"><em></em>30</span>
                            </p>
                        </div>
                    </div>


                    <div class="class_inf">
                        <div class="class_inf_pic">
                            <img src="../images/hospital_detail/hospital_pic.png" alt="">
                        </div>
                        <div class="class_inf_bottom">
                            <p class="class_title">冯世纶：中医外治四期班第二季</p>
                            <p class="class_address"><em></em>北京</p>
                            <p class="class_pirce_person">
                                <span class="class_pirce">￥400</span>
                                <span class="class_person"><em></em>30</span>
                            </p>
                        </div>
                    </div>


                    <div class="class_inf">
                        <div class="class_inf_pic">
                            <img src="../images/hospital_detail/hospital_pic.png" alt="">
                        </div>
                        <div class="class_inf_bottom">
                            <p class="class_title">冯世纶：中医外治四期班第二季</p>
                            <p class="class_address"><em></em>北京</p>
                            <p class="class_pirce_person">
                                <span class="class_pirce">￥400</span>
                                <span class="class_person"><em></em>30</span>
                            </p>
                        </div>
                    </div>

                    <div class="class_inf">
                        <div class="class_inf_pic">
                            <img src="../images/hospital_detail/hospital_pic.png" alt="">
                        </div>
                        <div class="class_inf_bottom">
                            <p class="class_title">冯世纶：中医外治四期班第二季</p>
                            <p class="class_address"><em></em>北京</p>
                            <p class="class_pirce_person">
                                <span class="class_pirce">￥400</span>
                                <span class="class_person"><em></em>30</span>
                            </p>
                        </div>
                    </div>

                </div>

            </div>-->


			<!--联系方式-->
            <!--<div class="contant_way clearfix hide">
             <h3>联系方式</h3>
                <div class="map">
                    	地图
                </div>
                <p><span>联系电话：17289929373</span><span>邮编：21003</span></p>
                <p><span>电子邮箱：13702283872@163.com</span><span>微信：387289990</span></p>
                <p>地址：<span>江苏省南京市清凉门大街168号</span></p>
       		</div>-->

        </div>


        <!--右侧-->
       <div class="main_right ">
            <!--帐号认领-->
            <div class="import_thing hide">
               <h2>暂无重要通知</h2>
                <!--<p>因我馆医疗系统升级，患者需重新登记资料</p>-->
                <!--<span>2017.11.24</span>-->
            </div>

            <!--招募信息-->
            <div class="employ" id="employ">
                
                <!--<div class="employ_inf">
                    <p>薪资面议    <span>|</span>    江苏南京</p>
                    <p>岗位职责：<span>负责日常咨询工作、诊断工作，能对病患及时作虎医疗诊断意见，并采取合理恰当的临床医疗措施。</span></p>
                    <p>任职要求：<span>年龄45岁以上，有医师资格证书，20年以上从医经验。</span></p>
                </div>

                <div class="employ_inf">
                    <p>薪资面议    <span>|</span>    江苏南京</p>
                    <p>岗位职责：<span>负责日常咨询工作、诊断工作，能对病患及时作虎医疗诊断意见，并采取合理恰当的临床医疗措施。</span></p>
                    <p>任职要求：<span>年龄45岁以上，有医师资格证书，20年以上从医经验。</span></p>
                </div>

                <div class="employ_inf">
                    <p>薪资面议    <span>|</span>    江苏南京</p>
                    <p>岗位职责：<span>负责日常咨询工作、诊断工作，能对病患及时作虎医疗诊断意见，并采取合理恰当的临床医疗措施。</span></p>
                    <p>任职要求：<span>年龄45岁以上，有医师资格证书，20年以上从医经验。</span></p>
                </div>

                <div class="employ_inf">
                    <p>薪资面议    <span>|</span>    江苏南京</p>
                    <p>岗位职责：<span>负责日常咨询工作、诊断工作，能对病患及时作虎医疗诊断意见，并采取合理恰当的临床医疗措施。</span></p>
                    <p>任职要求：<span>年龄45岁以上，有医师资格证书，20年以上从医经验。</span></p>
                </div>-->

            </div>
            
            <!--优秀医馆-->
            <div class="good_hospital hide" id="good_hospital">
            	<span>优秀医馆</span>
            	<ul id="good_hospital_list">
            		<!--<li><a href=""><em class="select">1</em>北京同仁堂</a></li>
            		<li><a href=""><em class="select">1</em>北京同仁堂</a></li>
            		<li><a href=""><em class="select">1</em>北京同仁堂</a></li>-->
            	</ul>
            </div>
            	

       </div>
    </div>
</div>

<!--轮播模板-->
<script type="text/template" id="lunboTpl">
{{if medicalHospitalPictures}}
{{each medicalHospitalPictures as item i}}
{{if item.picture != null}}
 <li>
      <div><img src={{item.picture}} url="javascript:;"  bigImg={{item.picture}}></div>
</li>
{{/if }}
{{/each}}
{{else}}

{{/if}}
</script>

<!--医馆信息-->
<script type="text/template" id="hos_infTpl">

{{if fields.length != 0}}
<p>医疗领域：
	{{each fields}}
	<span>{{$value.name}}&nbsp;</span>
	{{/each}}
</p>
{{else}}
<!--<h3>医疗领域暂无数据</h3>-->
{{/if}}
</script>


<!-- 医馆医师-->
<script type="text/template" id="hos_docTpl"> 
{{each doctor as doctor i}}
	<li>
		<a href="/web/html/practitionerDetails.html?Id={{doctor.id}}" target="_blank"></a>
        <img src={{doctor.headPortrait}} alt="">
        <h5>{{doctor.name}}</h5>
        <p>{{doctor.workTime}}</p>
        <p>
        	{{if doctor.province == doctor.city}}
        		{{doctor.province}}&nbsp;
        	{{else}}
        		{{doctor.province}}&nbsp;{{doctor.city}}&nbsp;
        	{{/if}}
        	
        	{{if doctor.medicalHospitalVo}}
        		{{doctor.medicalHospitalVo.name}}
        	{{/if}}
        </p>
    </li>
 {{/each}}
</script> 


<!--医馆招聘信息-->
<script type="text/template" id="employ_infTpl">
<h3 style="font-size: 16px;font-weight: 400;">招聘信息</h3>
{{each inf as inf i}}
<div class="employ_inf">
    <!--<p>薪资面议    <span>|</span>江苏南京</p>-->
    <h4>招聘岗位：{{inf.position}}</h4>
    <p>岗位职责：<br><span>{{#inf.postDuties}}</span></p>
    <p>任职要求：<br><span>{{#inf.jobRequirements}}</span></p>
</div>
{{/each}}
</script>

<!--优秀医馆模板-->
<script type="text/template" id="good_hospital_list_Tpl">
		{{each item as item i}}
			{{if i+1 < 4}}
            	<li><a href="/web/html/clinicDetails.html?Id={{item.id}}"><em class="select">{{i+1}}</em>{{item.city}}&nbsp;&nbsp;{{item.name}}</a></li>
			{{else}}
            	<li><a href="/web/html/clinicDetails.html?Id={{item.id}}"><em class="">{{i+1}}</em>{{item.city}}&nbsp;&nbsp;{{item.name}}</a></li>
			{{/if}}
		{{/each}}
</script>



</body>
</html>
<script src="/web/js/jquery.pagination.js"></script>
<script src="/web/js/hospital_details.js?v=ipandatcm_1.2.1"></script>
<script type="text/javascript" src="/web/js/footer.js?v=ipandatcm_1.3"></script>
<script src="/web/js/placeHolder.js"></script>
<script src="/web/js/slides-1.1.1-min.js"></script>
<script type="text/javascript">
    $(function () {
        $('input').placeholder();
    });
</script>