<!DOCTYPE html> 
<html>
<head lang="en">
    <!--[if IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IEedge"/>
    <meta charset="UTF-8">
    <title>熊猫中医 - 医馆</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="keywords"
          content="中医教育,中医传承,中医线下教育,海口中医养生,国粹,传承,中医,中药,心承,熊猫中医"/>
    <meta name="description"
          content="熊猫中医是中医药的学习传承平台：学中医、懂中医、用中医，让中医服务于家庭、个人，让中国古代科学瑰宝为现代人类的健康保驾护航。"/>
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="UHaAQAeAQF"/>
    <link rel="stylesheet" href="/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/web/css/mylogin.css"/>
    <link rel="stylesheet" href="/web/css/componet.css"/>
    <link rel="stylesheet" href="/web/css/header.css"/>
    <link rel="stylesheet" href="/web/css/hospital_list.css"/>
    <link rel="stylesheet" href="/web/css/footer.css"/>
    <link rel="stylesheet" href="/web/font/iconfont.css"/>

    <script src="/web/js/jquery-1.12.1.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/web/js/artTemplate.js"></script>
    <script src="/web/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/html5.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/jquery.dotdotdot.js" type="text/javascript" charset="utf-8"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/layer-v2.1/layer/layer.js"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/js/helpers.js"></script>
    <script src="/web/js/ajax.js" type="text/javascript" charset="utf-8"></script>

    <script src="/web/js/header.js?v=ipandatcm_1.3" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div id="forum" class="clearfix">
   
    <div class="forum-content clearfix">
        <div class="forum-content-left">
            <div class="forum-content-info">
				<h3 class="hospital_title">全部医馆</h3>
				<div class="search_hos_box">
                 	<input class="search_hos" type="text" placeholder="请输入名字搜索医馆">
                 	<button class="search_hos_btn">搜索</button>
                </div>
                <div style="border-top: 1px solid #f0f0f0;" class="search_choose">
                	<div class="hos_search_area" style="position: relative;">
                		<span>医疗领域：</span>
                		<ul class="clearfix" id="hos_search_area" style="height: 73px;overflow: hidden;">
                			<!--<li><a href="javascript:;">全部</a></li>
                			<li><a href="javascript:;">高血压</a></li>
                			<li><a href="javascript:;">心肌病</a></li>
                			<li><a href="javascript:;">脑性瘫痪</a></li>
                			<li><a href="javascript:;">闭经</a></li>
                			<li><a href="javascript:;">盆腔炎</a></li>
                			<li><a href="javascript:;">肝硬化</a></li>
                			<li><a href="javascript:;">吡脲病症</a></li>
                			<li><a href="javascript:;">正骨</a></li>
                			<li><a href="javascript:;">偏桃体炎</a></li>
                			<li><a href="javascript:;">不孕不育</a></li>-->
                			
                		</ul>
                		<button class="more_areaBtn" >更多</button>
                	</div>
                	
                	<div class="hos_search_condition">
              		<span>筛选条件：</span>
              		<ul class="clearfix">
              			<li id="hos_search_condition1" class="hide"><div style="display: inline-block;"><span style="color: #00BC12 ;margin-left: 5px;">中医内科</span></div><a href="javascript:;" style="color: #2cb82c;margin: 0 5px;"></a></li>
              			<li id="hos_search_condition3" style="border:none;color: #999;">暂无筛选条件</li>
              		</ul>
              	</div>
                </div>
                <div style="height: 20px;background-color:#f7f7f7 ;"></div>
				<div id="hospital_list">
				
				<!-- TODO -->
					  <!--<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>-->
					
					
				
					
					
				</div>	
				
				
				
            </div>
            <div class="more_hospital hide">
					<button>更多</button>
			</div>
            <div class="pages">
                <div id="Pagination"></div>
            </div>
        </div>
        
    </div>
</div>

<!--医馆搜索结果的模板-->
<script type="text/template" id="hospitalNumTpl"> 
	<div style="border-bottom: 1px solid #ccc;padding: 20px 20px;margin-bottom: 20px;">
		共找到{{total}}家医馆
	</div>
</script>


<!-- 医馆模板 -->
<script type="text/template" id="hospitalTpl"> 
	
{{each hospital as hospital i}}
<div class="hospitals">
	<a href="/web/html/clinicDetails.html?Id={{hospital.id}}" id={{hospital.id}}></a>
	{{if hospital.medicalHospitalPictures.length!=0 && hospital.medicalHospitalPictures[0].picture}}
	<img src={{hospital.medicalHospitalPictures[0].picture}} alt="">
	{{else}}
	<img src="/web/images/hospitalDefault.png" alt="暂无图片">
	{{/if}}
	<div class="hospital_inf">
		<span class="hospital_name">{{hospital.name}}</span>
		{{if hospital.authentication}}
		<span class="hospital_pass">已认证</span>
		{{else}}

		{{/if}}
		<div class="hospital_address"><em></em><span>
			{{if hospital.province == hospital.city}}
				{{hospital.province}}
			{{else}}
			{{hospital.province}}&nbsp;{{hospital.city}}
			{{/if}}
		</span></div>
		<div class="hospital_star">
		{{if 0 < hospital.score && hospital.score <= 0.5}}
			<em class="half_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{else if  0.5 < hospital.score && hospital.score <= 1}}
			<em class="full_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{else if  1 < hospital.score && hospital.score  <= 1.5}}
			<em class="full_star"></em>
			<em class="half_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{else if  1.5 < hospital.score && hospital.score <= 2}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			{{else if  2 < hospital.score && hospital.score <= 2.5}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="half_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			{{else if  2.5 < hospital.score && hospital.score <= 3}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			{{else if  3 < hospital.score && hospital.score <= 3.5}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="half_star"></em>
			<em class="gray_star"></em>
			{{else if  3.5 < hospital.score && hospital.score <= 4}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="gray_star"></em>
			{{else if  4 < hospital.score && hospital.score <= 4.5}}
			<em class="full_star"></em>
			<em class="full_star"></em> 
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="half_star"></em>
			{{else if  4.5 < hospital.score && hospital.score <= 5}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			{{else}}
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{/if}}
		
		
		</div>
	</div>
</div>
 {{/each}}
</script> 




<!--医馆筛选领域部分-->
<script type="text/template" id="hos_search_area_Tpl">
	<li><a href="javascript:;" class="color">全部</a></li>
	{{each item as item i}}
	<li><a href="javascript:;" data-fileid={{item.id}}>{{item.name}}</a></li>
	{{/each}}              			
</script>

</body>
</html>
<script src="/web/js/jquery.pagination.js"></script>
<script src="/web/js/hospital_list.js?v=ipandatcm_1.2.1"></script>
<script type="text/javascript" src="/web/js/footer.js?v=ipandatcm_1.3"></script>
<script src="/web/js/placeHolder.js"></script>
<script type="text/javascript">
    $(function () {
        $('input').placeholder();
    });
</script>