<!DOCTYPE html> 
<html>
<head lang="en">
    <!--[if IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IEedge"/>
    <meta charset="UTF-8">
    <title>熊猫中医 - 医馆</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="keywords"
          content="中医教育,中医传承,中医线下教育，海口中医养生，国粹，传承，中医，中药，心承，熊猫中医"/>
    <meta name="description"
          content="熊猫中医云课堂为。课程大纲全新优化，内容有广度、有深度，顶尖讲师全程直播授课。专注整合优势教学资源、打造适合在线学习并能保证教学结果的优质教学产品，同时打造和运营一整套教育生态软件体系，为用户提供满足自身成长和发展要求的有效服务。"/>
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="UHaAQAeAQF"/>
    <link rel="stylesheet" href="/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/web/css/mylogin.css"/>
    <link rel="stylesheet" href="/web/css/componet.css"/>
    <link rel="stylesheet" href="/web/css/header.css"/>
    <link rel="stylesheet" href="/web/css/hospital.css"/>
    <link rel="stylesheet" href="/web/css/footer.css"/>
    <link rel="stylesheet" href="/web/font/iconfont.css"/>

    <script src="/web/js/jquery-1.12.1.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/web/js/artTemplate.js"></script>
    <script src="/web/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/html5.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/jquery.dotdotdot.js" type="text/javascript" charset="utf-8"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/layer-v2.1/layer/layer.js"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/js/helpers.js"></script>
    <script src="/web/js/ajax.js" type="text/javascript" charset="utf-8"></script>

    <script src="/web/js/header.js" type="text/javascript" charset="utf-8"></script>

    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?9905b58e5fa2d9e2dd20bd22ee8ffe8c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div id="forum" class="clearfix">
    <div class="forum-banner clearfix">
        <div class="banner">
            <ul id="slider" class="slider">

            </ul>
            <div id="left"><em></em></div>
            <div id="right"><em></em></div>
            <div id="selector" class="selector">

            </div>
        </div>
        <div class="hot-article">
            <span class="hot-article-title">优秀医馆</span>
            <ul class="hot-article-list">

            </ul>
        </div>
    </div>
    <div class="forum-content clearfix">
        <div class="forum-content-left">
            <div class="forum-content-info">
				<h3 class="hospital_title">医馆</h3>
				<div id="hospital_list">
				
				<!-- TODO -->
					<!--<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>
					
					<div class="hospitals">
					<a href="javascript:;"></a>
						<img src="../images/hospital/hospital_pic.png" alt="">
						<div class="hospital_inf">
							<span class="hospital_name">和风堂国医馆</span>
							<span class="hospital_pass">已认证</span>
							<div class="hospital_address"><em></em><span>北京</span></div>
							<div class="hospital_star">
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="full_star"></em>
							<em class="half_star"></em>
							</div>
						</div>
					</div>-->
					
					
				</div>	
				
				<div class="more_hospital">
					<button>更多</button>
				</div>
            </div>
            <div class="pages">
                <div id="Pagination"></div>
            </div>
        </div>
        <div class="forum-content-right">
        
        <div class="forum-hosJoin hide">
                <p>期待有志于传承和发展中医药的医馆加入</p>
               <button>医馆入住</button>
            </div>
            
            
            <div class="forum-hot-tag">
                <div class="forum-hot-tag-title">医馆搜索</div>
                <div class="search_hos_box clearfix">
                	<button class="search_hos_btn">搜索</button>
                 	<input class="search_hos" type="text" placeholder="请输入名字搜索医馆">
                </div>
                <p>按擅长领域搜索</p>
                <ul class="forum-hot-tagGround">

                </ul>
            </div>
            <div class="forum-hot-course ">
                <div class="forum-hot-course-title">
                    <span>坐诊医生招募</span>
                </div>
                <div class="hot-course">
                    <div id="box" class="slideBox clearfix">
                        <ul class="course boxContent clearfix" id="doctor_recruit_list">
                            <li>
								<h4>招募治胃病医师</h4>
								<span>北京  同仁堂国医馆</span>
                            </li>
                             <li>
								<h4>招募治胃病医师</h4>
								<span>北京  同仁堂国医馆</span>
                            </li>
                             <li>
								<h4>招募治胃病医师</h4>
								<span>北京  同仁堂国医馆</span>
                            </li>
                             <li>
								<h4>招募治胃病医师</h4>
								<span>北京  同仁堂国医馆</span>
                            </li>
                             <li>
								<h4>招募治胃病医师</h4>
								<span>北京  同仁堂国医馆</span>
                            </li>
                             <li>
								<h4>招募治胃病医师</h4>
								<span>北京  同仁堂国医馆</span>
                            </li>
                             <li>
								<h4>招募治胃病医师</h4>
								<span>北京  同仁堂国医馆</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 医馆模板 -->
<script type="text/template" id="hospitalTpl"> 
{{each hospital as hospital i}}

<div class="hospitals">
	<a href="/web/html/clinicDetails.html?Id={{hospital.id}}" id={{hospital.id}} target="_blank"></a>
	{{if hospital.medicalHospitalPictures.length != 0 && hospital.medicalHospitalPictures[0].picture}}
	<img src={{hospital.medicalHospitalPictures[0].picture}} style="width: 100%;height: 147px;" alt="">
	{{else}}
	<img src="" style="width: 100%;height: 147px;" alt="暂无图片">
	{{/if}}
	<div class="hospital_inf">
		<span class="hospital_name">{{hospital.name}}</span>
		{{if hospital.authentication}}
		<span class="hospital_pass">已认证</span>
		{{else}}

		{{/if}}
		<div class="hospital_address"><em></em><span>
			{{if hospital.province == hospital.city}}
				{{hospital.province}}
			{{else}}
			{{hospital.province}}&nbsp;{{hospital.city}}
			{{/if}}
		</span></div>
		<div class="hospital_star">
		{{if 0 < hospital.score && hospital.score <= 0.5}}
			<em class="half_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{else if  0.5 < hospital.score && hospital.score <= 1}}
			<em class="full_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{else if  1 < hospital.score && hospital.score  <= 1.5}}
			<em class="full_star"></em>
			<em class="half_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{else if  1.5 < hospital.score && hospital.score <= 2}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			{{else if  2 < hospital.score && hospital.score <= 2.5}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="half_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			{{else if  2.5 < hospital.score && hospital.score <= 3}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			{{else if  3 < hospital.score && hospital.score <= 3.5}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="half_star"></em>
			<em class="gray_star"></em>
			{{else if  3.5 < hospital.score && hospital.score <= 4}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="gray_star"></em>
			{{else if  4 < hospital.score && hospital.score <= 4.5}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="half_star"></em>
			{{else if  4.5 < hospital.score && hospital.score <= 5}}
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			<em class="full_star"></em>
			{{else}}
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
			<em class="gray_star"></em>
		{{/if}}
		
		
		</div>
	</div>
</div>
 {{/each}}
</script> 

<!--医馆招募信息-->
<script type="text/templage" id="doctor_recruit">
	{{each doctor as doctor i}}
	<li>
		<h4>招募{{doctor.position}}</h4>
		<a href="/web/html/clinicDetails.html?Id={{doctor.hospitalId}}">{{doctor.city}}&nbsp;&nbsp;{{doctor.hospitalName}}</a>
    </li>
	{{/each}}
</script>


</body>
</html>
<script src="/web/js/jquery.pagination.js"></script>
<script src="/web/js/hospital.js"></script>
<script type="text/javascript" src="/web/js/footer.js"></script>
<script src="/web/js/placeHolder.js"></script>
<script type="text/javascript">
    $(function () {
        $('input').placeholder();
    });
</script>