<!DOCTYPE html>
<html lang="en" xmlns=http://www.w3.org/1999/xhtml xmlns:bd=http://www.baidu.com/2010/xbdml>
<head>
    <!--[if IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IEedge"/>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="../../favicon.ico"/>
    <meta name="keywords"
          content="中医教育,中医传承,中医线下教育，海口中医养生，国粹，传承，中医，中药，心承，熊猫中医"/>
    <meta name="description"
          content="熊猫中医云课堂为。课程大纲全新优化，内容有广度、有深度，顶尖讲师全程直播授课。专注整合优势教学资源、打造适合在线学习并能保证教学结果的优质教学产品，同时打造和运营一整套教育生态软件体系，为用户提供满足自身成长和发展要求的有效服务。"/>
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/mylogin.css"/>
    <link rel="stylesheet" href="../css/myprofile.css"/>
    <link rel="stylesheet" href="../css/componet.css"/>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/freeCourseDetailPage.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.12.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../js/artTemplate.js"></script>
    <script type="text/javascript" src="../js/jquery.dotdotdot.js"></script>
    <script type="text/javascript" src="../layer-v2.1/layer/layer.js"></script>
    <script src="../js/jquery.pagination.js"></script>
    <script src="../js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/helpers.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/html5.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/courseJumpMobile.js?v=ipandatcm_1.3" type="text/javascript" charset="utf-8"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?30ed673100bd4991fb9d20db9e374fb1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div id="course-list">
    <div class="nav" id="NoShowIntroduct">
        <a href="/classroom.html">学堂</a><span> > </span><span class="myClassName" style="margin-left:0px"></span>
    </div>
    <!--<div class="nav" id="showIntroduct">-->
        <!--<a href="../../index.html">云课堂</a><span> > </span><a class="myClassName" href=""></a><span> > </span><span-->
            <!--style="margin-left:0px">课程详情</span>-->
    <!--</div>-->
    <div class="bigpic">

    </div>

    <div class="zhanwei">

    </div>
    <div class="background-big"></div>
    <div id="sign-up-modal">

    </div>
    <div class="table-body">
        <div class="sidebar-body">
            <div class="sidebar-body-details">
                <div class="details-title">
                    <p class="sidebar-body-details-title">推荐课程</p>
                </div>
                
               	<!--右侧新增加的推荐课程的列表部分-->
            	<ul class="RecommendClass_list clearfix">
            		
            		<!--中医学习中的课程样式-->
            		<!--<li>
            			<img style="position:absolute;width: 16%;top:-2px;left:-2px;z-index:999" src="/web/images/recommend2.png">
            			<a href="/course/courses/893" style="display: block;width: 100%;height: 100%;">
            				<div class="class_img">
	            				<img src="/web/images/pandaLogo.jpg" alt="" />
	            				<span class="class_type">视频专辑</span>
            				</div>
	            			<div class="class_inf">
	            				<span class="class_title">点播小客车</span>
	            				<p>讲师：张三</p>
	            				<div class="class_price_count clearfix">
	            					<span class="class_price">免费</span><span class="class_Studycount"><em></em>3</span>
	            				</div>
	            			</div>
            			</a>
            		</li>-->
            		
            		<!--线下课中的课程样式-->
            		<!--<li>
            			<img style="position:absolute;width: 16%;top:-2px;left:-2px;z-index:999" src="/web/images/recommend2.png" class="hide">
            			<a href="/course/courses/893" style="display: block;width: 100%;height: 100%;">
            				<div class="class_img">
	            				<img src="/web/images/pandaLogo.jpg" alt="" />
	            				<span class="class_type hide">视频专辑</span>
            				</div>
	            			<div class="class_inf">
	            				<span class="class_title">点播小客车</span>
	            				<p>讲师：张三</p>
	            				<p>地址：河南省-商丘市 牛逼的线下课程</p>
	            				<p>时间：2018/02/15-2018/02/24</p>
	            			</div>
            			</a>
            		</li>-->
            	</ul>
            	
                <!--<p class="details-body">
                    熊猫中医。整合线下优质课程和纯熟的教学经验，开展在线教育，突破空间、地域、时间、费用的限制，让优质教育资源平等化。
                </p>-->
            </div>
            <div class="relative-course">
                <div class="relative-course-top clearfix"><span>推荐课程</span><span class="by-the-arrow"
                                                                                 style="display: none;"><span
                        class="curCount currentLunbo">1</span><span class="curCount">/</span><span
                        class="curCount allLunbo">1</span><span class="prev" id="prev"></span><span class="next"
                                                                                                    id="next"></span></span>
                </div>
                <div class="relativeAnsNoData"><img src="./脉象解读系列 - 熊猫中医云课堂_files/my_nodata.png">
                    <p>暂无数据</p></div>
                <div class="relative-course-bottom slide-box clearfix" style="display: none;">
                    <div id="box" class="slideBox clearfix">
                        <ul class="course boxContent clearfix"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-title">
            <div class="table-title-inset">
                <span class="cu-shou course-details noClick">课程详情</span>
                <span class="cu-shou collection-course notpointer">选集列表</span>
                <span class="cu-shou course-outline notpointer">课程大纲</span>
                <span class="cu-shou course-teacher notpointer">授课老师</span>
                <span class="cu-shou course-problem notpointer">常见问题</span>
                <span class="cu-shou course-evaluate notpointer">学员评价</span>
                <span class="table-zhanwei"></span>
            </div>
        </div>
        <div class="pagesBox clearfix" style="padding-bottom: 40px;position: relative;width: 890px;">
            <div class="table-modal">
                <div class="pic"><p>
                    <!--江西中医药大学岐黄国医书院院长，江西中医药大学姚荷生研究室主任，江西中医药大学特聘教授，江西省名誉名中医，全国名老中医药专家传承工作室建设项目专家，中医内科学博士生导师。 &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp;-->
                </p>
                </div>   
            </div>
            <!--<div class="pages" style="display: none;">
                <div id="Pagination" style="position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);"></div>
            </div>-->
            
            
			<!--学院评价隐藏部分 从其他位置迁移过来的-->
            
            <div class="videoBody-bottom hide" id="videoBody-bottom">
				<div class="videoBody-bottom-left">
					<div class="videoBody-bottom-left-title">
						<span data-md="pingjia" class="act">评价</span>
					</div>
					<div>
						<div class="pingjia clearfix" data-md="pingjia">
							<div class="videoBody-bottom-left-release">
								<!--<p>视频评分：<em class="releaseStars" style="margin-left:17px;"></em><span class="starText">五星好评！相信品牌的力量！</span></p>-->
								
								<span style="margin-top: 40px;margin-top: 40px;float: left;font-size: 14px;">学习感受：</span>
								<textarea style="resize: none;" class="textStatus" placeholder="写下体验之后的真实感受，帮助我们不断优化课程产品，为大家提供更优质的服务~" maxlength="200" wrap="hard" onkeyup="countChar()"></textarea>
								<span class="tishiText">可以输入<span id="textCounter">200</span>字</span>
								<p><em class="tipRelease">请写下您不满意的地方，我们将努力改进！</em><span class="getRelease">提交评论</span></p>
							</div>
							<div class="videoBody-bottom-left-list">

							</div>
						</div>
						<div class="biji clearfix" data-md="biji">
							<div class="biji-title">
								<span class="act" data-type="0">全部笔记</span><em>|</em><span data-type="1">我的笔记</span>
							</div>
							<div class="tips">
								<p>确定删除此条笔记？</p>
								<div>
									<span class="ok">确定</span>
									<span class="no">取消</span>
								</div>
							</div>
							<div class="biji-content clearfix">
							
							</div>
						</div>
						<div class="wenda clearfix" data-md="wenda">
							<div class="tips">
								<p>确定删除此条问答？</p>
								<div>
									<span class="ok">确定</span>
									<span class="no">取消</span>
								</div>
							</div>
							<div class="wenda-title">
								<span class="act" data-type="1">全部</span><em>|</em><span data-type="2">我的提问</span>
							</div>
							<div class="wenda-content clearfix">
								
							</div>
						</div>
					</div>
					<div class="pages" style="display: none">
						<div id="Pagination"></div>
						<!--<div class="searchPage">
							<span class="page-sum">共<strong class="allPage">0</strong>页</span>
							<span class="page-go">跳转<input type="text">页</span>
							<a href="javascript:;" class="page-btn">确定</a>
						</div>-->
					</div>
				</div>
			</div>
            
        </div>
    </div>
</div>

	<!--中医学习中的课程样式-->
<script type="text/template" id="RecommendClass_list_Tpl">
	{{each item as item i}}
	<li>
		<!--<img style="position:absolute;width: 16%;top:-2px;left:-2px;z-index:999" src={{item.smallImgPath}}>-->
		<a href="/web/html/courseDetail.html?courseId={{item.id}}" target="_blank" style="display: block;width: 100%;height: 100%;">
			<div class="class_img">
				<img src={{item.smallImgPath}} alt="" />
				{{if item.multimediaType == 1}}
					{{if item.collection}}
						<span class="class_type">视频专辑</span>
					{{else}}
						<span class="class_type">视频</span>
					{{/if}}
				{{else if item.multimediaType == 2}}
					{{if item.collection}}
						<span class="class_type">音频专辑</span>
					{{else}}
						<span class="class_type">音频</span>
					{{/if}}
				{{/if}}
			</div>
			<div class="class_inf">
				<span class="class_title">{{item.courseName}}</span>
				<p>讲师：{{item.teacherName}}</p>
				<div class="class_price_count clearfix" style="color: #999;">
					{{if item.free}}
					<span class="class_price">免费</span><span class="class_Studycount"><em></em>{{item.learndCount}}</span>
					{{else}}
						<span class="class_price" style="color:red;font-size: 16px;">{{item.currentPrice}}</span>熊猫币<span class="class_Studycount"><em></em>{{item.learndCount}}</span>
					{{/if}}
				</div>
			</div>
		</a>
	</li>
	{{/each}}
	
</script>


	<!--线下课中的课程样式-->
<script type="text/template" id="RecommendClass_list_Tpl2">
	{{each item as item i}}
	<li>
		<!--<img style="position:absolute;width: 16%;top:-2px;left:-2px;z-index:999" src="/web/images/recommend2.png" class="hide">-->
		<a href="/web/html/courseDetail.html?courseId={{item.id}}"  target="_blank" style="display: block;width: 100%;height: 100%;">
			<div class="class_img">
				<img  src={{item.smallImgPath}} alt="" />
				<!--<span class="class_type">视频专辑</span>-->
			</div>
			<div class="class_inf">
				<span class="class_title">{{item.courseName}}</span>
				<p>讲师：{{item.teacherName}}</p>
				<p>地址：{{item.address}}</p>
				<p>时间：{{item.startTime}}-{{item.endTime}}</p>
			</div>
		</a>
	</li>
	{{/each}}
	
</script>






<script type="text/template" id="course_detail_title_tpl">
    <div class="bigpic-title">
        <div class="bigpic-img"><img src="{{bigImgPath}}"></div>
        {{if recommend}}
            <img style="position:absolute;top:-2px;left:-2px;z-index:2;width: 70px;width: 70px;height: 70px;" src="/web/images/recommend2.png">
        {{/if}}
        <div class="bigpic-body">
            <span class="bigpic-body-title">
                <span class="bigpic-body-title-nav">{{courseName}}</span>
            </span>
            <p class="bigpic-body-text dot-ellipsis" title="" style="word-wrap: break-word;"></p>
            <p class="bigpic-body-list" style="line-height: 24px;">
                <span class="body-list-right">主讲：{{teacherName}}</span>
                {{if collection == false}}
                <!--<span class="body-list-right myTimes" title="课程时长" style="cursor:default">课程时长：{{courseLength}}分钟</span>-->
                	{{if type == 2}}
                		<span title="课程时长" class="myTimes" style="cursor:default;color:#999;" class="">课程时长：{{courseLength}}分钟</span>
                	{{else}}
                		<span title="课程开始时间" class="myTimes" style="cursor:default;color:#999;" class="">课程开始时间：{{start_time}}&nbsp;{{week}}</span>
                	{{/if}}
                {{else}}
                <span class="body-list-right myTimes" title="总集数" style="cursor:default">总集数：{{courseNumber}}</span>
                {{/if}}
                <span title="学习人数" style="cursor:default">学习人数：{{learndCount==null?0:learndCount}}人</span>
                {{if type == 3}}
                <br />
                <span title="地址" style="cursor:default;margin: 10px 0;">地址：{{address}}</span>
                {{/if}}
                <!--{{if type!=3}}-->
                <!--<span title="有效期" style="cursor:default;color:#333;" class="youxiaoqi">有效期：1年-->
                <!--{{else}}-->
                    <!--<br><span title="有效期" style="cursor:default;color:#999;" class="">有效期：{{startTime}}-{{endTime}}-->
                <!--{{/if}}-->

                {{if apply==true}}
                    <span class="yibaoming"><img src="/web/images/130/baoming.png"/></span>
                {{/if}}
                </span>
                {{if type==3}}
                <!--<br><span title="课程开始时间" style="cursor:default;color:#999;" class="">课程开始时间：{{start_time}}&nbsp;{{week}}</span>-->
                {{/if}}
            </p>
             {{if free}}
             <p class="bigpic-body-money">
             <span class="bigpic-body-overmoney">免费</span>
             </p>
             {{else}}
             <p class="bigpic-body-money">
             <span class="bigpic-body-redmoney">{{currentPrice}}</span>
             <span>熊猫币</span>
             </p>
             {{/if}}
             <div class="bigpic-body-btn">
             {{if apply}}               
                 
                 {{if collection == false}}
                 	{{if type ==3}}
	                    <a class="purchase" style="background-color:#ccc;border-radius:4px">已报名</a>
	                {{else}}
	                    {{if type==1}}
	                        <a class="purchase" data-apply="true" data-id="{{id}}" href="/web/livepage/{{id}}" >立即学习</a>
	                    {{else if type==2}}
                        <a class="purchase" data-apply="true" data-id="{{id}}" href="/web/html/video.html?courseId={{id}}" >立即学习</a>
                    	{{/if}}
	                {{/if}}
                 {{else }}
                    <a class="purchase" style="background-color:#ccc;border-radius:4px">您已购成功报名，可直接点击选集列表进行学习</a>
                 {{/if}}
                 
                 
             {{else}}
	             {{if selfCourse}}
	             	{{if collection}}
	             		<a class="purchase" style="background-color:#ccc;border-radius:4px">点击选集列表进行学习</a>
	             	{{else}}
	                     {{if type==1}}
	                        <a class="purchase" data-apply="true" data-id="{{id}}" href="/web/livepage/{{id}}" >立即查看</a>
	                     {{else if type==2}}
	                        <a class="purchase" data-apply="true" data-id="{{id}}" href="/web/html/video.html?courseId={{id}}" >立即查看</a>
	                     {{else if type==3}}
	                    	<a class="purchase" style="background-color:#ccc;border-radius:4px">此课程为自己创建的课程</a>
                    	{{/if}}

	             	{{/if}}
	             {{else if available}}
	                    <a class="sign-up purchase" data-apply="false" data-id="{{id}}" target="_blank">立即报名</a>
	             {{else if available==false}}
	                	{{if status=='0'}}
	                    <a class="purchase" style="background-color:#ccc;border-radius:4px">课程未上架，不可单独购买</a>
						{{else}}
						<a class="purchase" style="background-color:#ccc;border-radius:4px">课程已经停止报名</a>
						{{/if}}
	             {{/if}}
                 
             {{/if}}
             </div>
        </div>
    </div>
</script>

<script type="text/template" id="collection_course_Tpl">
    <ul class="collection_course_List">
        {{each item as item i}}
        <li>
            <a href="/course/courses/{{item.id}}" data-id={{item.id}} target="_bland">
            <span class="playTip"></span>
            <div class="collection_course_inf">
                <span style="font-size:14px;color:#666">{{item.name}}</span>
                <span style="font-size:12px;color:#999;margin-top:9px"><em class="class_search_time"></em>{{item.courseLength}}分钟</span>
            </div>
            </a>
        </li>
        {{/each}}
    </ul>

</script>
<script src="../js/courseDetail.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/footer.js" type="text/javascript"></script>
<script src="/web/js/placeHolder.js"></script>
<script type="text/javascript">
    $(function () {
        $('input').placeholder();
    });
    
    
		function countChar(textareaName, spanName) {
			var num = 200 - $(".textStatus").val().length;
			if(num >= 0) {
				$("#textCounter").html(num);
			} else {
				$("#textCounter").html(0);
			}
		}
</script>
</body>
</html>