<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IEedge"/>
    <meta charset="UTF-8">
    <title>熊猫中医云课堂 - 线上中医教育</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="keywords"
          content="中医教育,中医传承,中医线下教育，海口中医养生，国粹，传承，中医，中药，心承，熊猫中医"/>
    <meta name="description"
          content="熊猫中医云课堂为。课程大纲全新优化，内容有广度、有深度，顶尖讲师全程直播授课。专注整合优势教学资源、打造适合在线学习并能保证教学结果的优质教学产品，同时打造和运营一整套教育生态软件体系，为用户提供满足自身成长和发展要求的有效服务。"/>
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="UHaAQAeAQF"/>
    <link rel="stylesheet" href="/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/web/css/mylogin.css"/>
    <link rel="stylesheet" href="/web/css/componet.css"/>
    <link rel="stylesheet" href="/web/css/index.css"/>
    <link rel="stylesheet" href="/web/css/header.css"/>
    <link rel="stylesheet" href="/web/css/footer.css"/>

    <link rel="stylesheet" href="/web/font/iconfont.css"/>
    <link rel="stylesheet" href="/web/css/ResidentDoctor.css">
    <link rel="stylesheet" href="/web/css/style.css"/>
    <link rel="stylesheet" href="/web/css/index-9a525196fb.css" type="text/css">
	
	
	
    <script src="/web/js/jquery-1.12.1.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/web/js/artTemplate.js"></script>
    <script type="text/javascript" src="/web/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/web/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/md5.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/web/js/html5.js" type="text/javascript" charset="utf-8"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/layer-v2.1/layer/layer.js"></script>
    <!-----引用layer------>
    <script type="text/javascript" src="/web/js/helpers.js"></script>
    <script src="/web/js/ajax.js" type="text/javascript" charset="utf-8"></script>
    <script src="/web/js/header.js" type="text/javascript" charset="utf-8"></script>
    
    
    <!--富文本需要的js-->
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

   </head>
<body>
<div></div>
	<div id="tip" style="display: none;">
		入驻申请信息提交成功！
	</div>
<!-- 医馆入住 -->
	<div id ="doctor_in_inf">
	<div class="container">
		<div class="row">
			<!--左侧按钮部分-->
			<div class="news_nav">
				<div class="picModal" title="上传头像" data-toggle="modal" data-target="#upload">
    						<i class="iconfont icon-xiangji"></i>
    			</div>
    					
				 <ul>
					 <li class="doctor_inf">
						 <img src="" alt="">
						 <!--<div class="pic" style="width: 80px;height: 80px;border-radius: 50%;"></div>-->
						 <h4>橘子柠檬可乐</h4>
						 <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-left: 20px;padding: 0 20px;">说点什么来彰显你的个性...</p>
					 </li>
					 
    				<li class="ImDoc_btn hide" onclick="goDocPage()">
    					<a  aria-controls="doc_doctor" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>我是医师</a>
    				</li>
    				<!--<li><a href="#doc_study" aria-controls="doc_study" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>学习</a></li>
    				<li><a href="#doc_ask" aria-controls="doc_ask" role="tab" data-toggle="tab" class="wenda"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>问答</a>
    					<div class="wenda_list" style="display: none;">
    						<div><a href="javascript:;">我的提问</a></div>
    						<div><a href="javascript:;">我的回答</a></div>
    					</div>
    					
    				</li>
   					<li><a href="#doc_talk" aria-controls="doc_talk" role="tab" data-toggle="tab" class="luntan"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>论坛
   					<div class="luntan_list" style="display: none;">
    						<div><a href="javascript:;">我的帖子</a></div>
    						<div><a href="javascript:;">我的回复</a></div>
    					</div>
   						</a>
   					</li>
   					<li><a href="#doc_money" aria-controls="doc_money" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span>资产</a></li>
   					<li><a href="#doc_idCard" aria-controls="doc_idCard" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>账号</a></li>-->
   					<li class="DocAut_btn hide"><a href="#doc_Distinguish" aria-controls="doc_Distinguish" role="tab" data-toggle="tab" ><span class="glyphicon glyphicon-check left_range ino_color" aria-hidden="true"></span>医师认证</a></li>
  				</ul>
			</div>


			<!--右侧内容部分-->
			<div class=" text-center">
				<div class="tab-content">
					<!--我是医师部分-->
    				<div role="tabpanel" class="tab-pane active" id="doc_doctor">
						<div class="topTitle">
							<h3>欢迎进入熊猫中医</h3>
						</div>
						<div class="bottomContent" id="shouyeStatus">
							<!--TODO-->
							<!--<div class="bottomContent_inf text-left hide" id="docNoPass_tip">
								<span>认证成为医师，可以在线开课</span>
								<button onclick="gotToAut()">医师认证</button>
								<a href="javascript:;">我不是医师，不再提示此消息</a>
							</div>
							
							<div class="bottomContent_inf text-left hide" id="docAut_tip">
								<span>医师认证审核中，3个工作日完成</span>
								<button onclick="seeAutStatus()">查看状态</button>
							</div>

							<div class="bottomContent_inf text-left hide" id="docpass_tip">
								<span>医师认证通过啦，你可以享受医师的权利了</span>
								<button onclick="goDocPage()">去看看</button>
							</div>-->
							<div class="bottomContent_inf text-left hide" id="docNoPass_tip">
								<span>认证成为医师，可以在线开课</span>
								<button onclick="gotToAut()">医师认证</button>
								<!--<a href="javascript:;">我不是医师，不再提示此消息</a>-->
							</div>
						</div>

					</div>

					<!--学习部分-->
    				<div role="tabpanel" class="tab-pane" id="doc_study">
						学习
					</div>

					<!--问答部分-->
    				<div role="tabpanel" class="tab-pane" id="doc_ask">
						问答
					</div>

					<!--论坛部分-->
    				<div role="tabpanel" class="tab-pane" id="doc_talk">
						论坛
					</div>

					<!--资产部分-->
    				<div role="tabpanel" class="tab-pane" id="doc_money">
						资产
					</div>

					<!--账号-->
    				<div role="tabpanel" class="tab-pane" id="doc_idCard">
						账号
					</div>
					
					<!--医师认证-->
    				<div role="tabpanel" class="tab-pane" id="doc_Distinguish">
						<div class="topTitle">
							<h3>医师认证</h3>
						</div>
						
						
						<div class="bottomContent " id="AutList">
							
							<div>
								<span><em>*</em>姓名</span>
								<input type="text" placeholder="真实姓名，需与身份证一致"  maxlength="15" class="doc_name"/>
								<span class="name_warn warning hide">申请人不能为空</span>
							</div>
							
							<div>
								<span ><em>*</em> 身份证号</span>
								<input type="text" placeholder="请输入正确的身份证号"  maxlength="18" class="doc_Idnum"/>
								<span class="idCard_warn warning hide">身份证号不能为空</span>
							</div>
							
							<div class="idCard_pic">
								<span style="vertical-align: top;"><em>*</em> 身份证</span>
								<span class="idFont_pic" onclick="$('#idFont_pic_ipt').click()">
									<p style="font-size: 90px;height: 100px;font-weight: 300;color: #d8d8d8;text-align: center;">+</p>
									<p style="text-align: center;color: #999;font-size: 14px;">点击上传身份证正面图片</p>
								</span>
								<span class="idBack_pic" onclick="$('#idBack_pic_ipt').click()">
									<p style="font-size: 90px;height: 100px;font-weight: 300;color: #d8d8d8;text-align: center;">+</p>
									<p style="text-align: center;color: #999;font-size: 14px;">点击上传身份证背面图片</p>
								</span>
								<span class="idCard_tip">
									<p>文件小于2M</p>
									<p>支持JPG/PNG等格式图片</p>
								</span>
								<input type="file" name="pic" id="idFont_pic_ipt" style="position: absolute;visibility: hidden;"/>
								<input type="file" name="pic" id="idBack_pic_ipt" style="position: absolute;visibility: hidden;"/>
								<span class="warning hide" style="margin-left:110px">请上传身份证图片</span>
							</div>
							
							<div class="teacher_picUpdata">
								<span style="vertical-align: top;"><em>*</em>  医师资格证</span>
								<span class="teacher_pic" onclick="$('#teacher_pic_ipt').click()">
									<p style="font-size: 90px;height: 100px;font-weight: 300;color: #d8d8d8;text-align: center;">+</p>
									<p style="text-align: center;color: #999;font-size: 14px;">点击上传医师资格证图片</p>
								</span>
								<span class="teacher_pic_tip">
									<p>文件小于2M</p>
									<p>支持JPG/PNG等格式图片</p>
								</span>
								<input type="file" name="pic" id="teacher_pic_ipt" style="position: absolute;visibility: hidden;"/>
								<p class="warning hide" style="margin-left:110px;padding-left: 0px;">请上传医师资格证</p>
							</div>
							
							<div class="zhiye_picUpdata">
								<span style="vertical-align: top;"><em>*</em>执业资格证</span>
								<span class="zhiye_pic"  onclick="$('#zhiiye_pic_ipt').click()">
									<p style="font-size: 90px;height: 100px;font-weight: 300;color: #d8d8d8;text-align: center;">+</p>
									<p style="text-align: center;color: #999;font-size: 14px;">点击上执业资格证图片</p>
								</span>
								<span class="zhiiye_pic_tip">
									<p>文件小于2M</p>
									<p>支持JPG/PNG等格式图片</p>
								</span>
								<input type="file" name="pic" id="zhiiye_pic_ipt" style="position: absolute;visibility: hidden;"/>
								<p class="warning hide" style="margin-left:110px;padding-left: 0px;">请上传执业资格证图片</p>
							</div>
							
							<div class="touxiang_picUpdata">
								<span style="vertical-align: top;"><em>*</em> 真实头像</span>
								<span class="touxiang_pic"  onclick="$('#touxiang_pic_ipt').click()">
									<p style="font-size: 90px;height: 80px;font-weight: 300;color: #d8d8d8;text-align: center;line-height: 80px;">+</p>
									<p style="text-align: center;color: #999;font-size: 14px;">求真相</p>
								</span>
								<span class="touxiang_pic_tip">
									<p>请上传清晰头像</p>
									<p>文件小于2M</p>
									<p>支持JPG/PNG等格式图片</p>
								</span>
								<input type="file" name="pic" id="touxiang_pic_ipt" style="position: absolute;visibility: hidden;"/>
								<p class="warning hide" style="margin-left:110px;padding-left: 0px;">请上传真实头像</p>
							</div>
							
							<div class="zhicheng_name">
								<span><em>*</em>职称</span>
								<input type="text" placeholder="请输入您的职称"  maxlength="15" class="doc_zhicheng"/>
								<span class="warning hide">职称不能为空</span>
							</div>
							
							<div class="zhicheng_picUpdata">
								<span style="vertical-align: top;"><em>*</em> 职称证明</span>
								<span class="zhicheng_pic" onclick="$('#zhicheng_pic_ipt').click()">
									<p style="font-size: 90px;height: 100px;font-weight: 300;color: #d8d8d8;text-align: center;">+</p>
									<p style="text-align: center;color: #999;font-size: 14px;">点击上传职称证明图片</p>
								</span>
								<span class="zhicheng_pic_tip"  >
									<p>文件小于2M</p>
									<p>支持JPG/PNG等格式图片</p>
								</span>
								<input type="file" name="pic" id="zhicheng_pic_ipt" style="position: absolute;visibility: hidden;"/>
								<p class="warning hide" style="margin-left:110px;padding-left: 0px;">请上传职称证明</p>
							</div>
							
							<div class="keshi">
								<span><em>*</em>科室</span>
								<ul id="keshiList">
									<!--<li>中医内科</li>
									<li>中医内科</li>
									<li>妇科</li>
									<li>儿科</li>
									<li>小儿科</li>
									<li>胃病</li>
									<li>心脏病</li>
									<li>癌症</li>
									<li>绝症</li>
									<li>肝病</li>-->
								</ul>
								<p class="warning hide" style="margin-left:110px;padding-left: 0px;">请选择科室</p>
							</div>
							
							<div class="shanchang">
								<span><em>*</em>擅长</span>
								<input type="text" placeholder="请输入您的擅长领域"  maxlength="15" class="doc_shanchang"/>
								<span class="warning hide">擅长不能为空</span>
							</div>
							
							<div class="personIntroduct">
								<span><em>*</em> 个人介绍</span>
								<!--<textarea name="" rows="" cols="" maxlength="500" placeholder="请输入500字以内个人简介" style="resize: none;"></textarea>-->
							<div style="display: inline-block;vertical-align: top;">
								<script id="editor" type="text/plain" style="width:540px;height:160px;" ></script>
							</div>
							
								
								
								<p class="warning hide" style="padding-left: 0px;margin-left: 110px;">个人介绍不能为空</p>
							</div>
							
							<!--<div class="work_hos">
								<span><em>*</em>任职医馆</span>
								<input type="text" placeholder="请输入您所在医馆名称"  maxlength="15" class="doc_hospital"/>
								<span class="warning hide">任职医馆不能为空</span>
							</div>-->
							
							<div class="doc_address">
							<span><em>*</em>城市</span>
							<select name="" id="choosePro" onchange="doProvAndCityRelation()">
								
							</select>
							
							<select name="" id="citys">
								
							</select>
							<p class="warning hide" style="margin-left:110px;padding-left: 0px;">所在城市地址不能为空</p>
						</div>
						
						<div class="baocun">
							<input type="submit" value="提交认证" id="submit"/>
						</div>
						</div>
						
						
						<!--认证状态展示的样子重复代码-->
						<div class="bottomContent" id="AutStatus">
							<!--TODO-->
						
						</div>
						
					</div>
  				</div>
			</div>


		</div>
	</div>

	</div>



<div class="mask"></div>
<div id="headImg" class="clearfix">
    <div class="container clearfix">
        <div class="img-title"><p>头像设置</p><i class="iconfont icon-guanbi imgClose"></i></div>
        <div class="img-box1">
            <a href="javascript:void(0)" class="upload-img">
                <p onclick="fileClick()"><span>+</span>选择图片</p>
            </a>

            <p>只支持BMP,PNG,JPEG,JPG,大小不超过1M</p>
        </div>
        <div class="imageBox">
            <div class="thumbBox"></div>
            <div class="spinner" style="display: none"></div>
        </div>
        <div class="action clearfix">
            <div class="upload_pictures_bottom_upload" style="width: 0;height: 0;"></div>
            <div class="new-contentarea tc">
                <div class="bbox clearfix">
                	<span>滚动鼠标可调整头像大小</span>
                    <a href="javascript:void(0)" class="upload-img reclick">
                        <p onclick="fileClick()">重新上传</p>
                    </a>
                </div>
                <input type="file" class="" name="upload-file" id="upload-file" accept=".bmp,.png,.jpeg,.jpg"/>
            </div>
            <span class="btn-upload bbtn">确定</span>
            <a href="javascript:;" class="btn-quit bbtn">取消</a>
        </div>
        <div class="cropped">
            <div class="cropTitle">预览</div>
            <div class="cropped-con"></div>
        </div>
    </div>
</div>
<!--<script id="editor" type="text/plain" style="width:540px;height:160px;"></script>-->


</body>
</html>

<!--首页状态码判断显示内容-->
<script type="text/template" id="shouyeTipTpl">
	{{if status == 0}}
	<div class="bottomContent_inf text-left " id="docNoPass_tip">
		<span>认证成为医师，可以在线开课</span>
		<button onclick="seeAutStatus()">查看状态</button>
		<!--<a href="javascript:;">我不是医师，不再提示此消息</a>-->
	</div>
	{{else if status == 2}}
	<div class="bottomContent_inf text-left " id="docAut_tip">
		<span>医师认证审核中，3个工作日完成</span>
		<button onclick="seeAutStatus()">查看状态</button>
	</div>
	{{else if status == 1}}
	<div class="bottomContent_inf text-left " id="docpass_tip">
		<span>医师认证通过啦，你可以享受医师的权利了</span>
		<button onclick="goDocPage()">去看看</button>
	</div>
	{{/if}}
</script>


<!--科室模板-->
<script type="text/template" id="keshiTpl">
	{{each item as item i}}
		<li data-id={{item.id}}>{{item.name}}</li>
	{{/each}}
</script>


<!--医师认证状态查看模板-->
<script type="text/template" id="docAutStatus_Tpl">
		{{if status == 2}}
		<div class="bottomContent_inf text-left">
			<span>医师认证审核中，3个工作日完成</span><span style="color: red;margin-left: -20px;">（如提交信息有误可重新提交）</span>
			<button class="renzhengAgain" onclick="Autagain()">重新认证</button>
		</div>
		{{else if status == 1}}
		<div class="bottomContent_inf text-left">
			<span>已于{{updateTime}}通过认证</span><span style="color: red;margin-left: -20px;"></span>
			<button class="renzhengAgain" onclick="goDocPage()">去看看</button>
		</div>
		{{else if status == 0}}
		<div class="bottomContent_inf text-left">
			<span>审核未通过</span><span style="color: red;margin-left: -20px;">（提交审核信息有误）</span>
			<button class="renzhengAgain" onclick="Autagain()">重新认证</button>
		</div>
		{{/if}}
		<div>
			<span><em>*</em>姓名</span>
			<span class="doc_name">{{name}}</span>
		</div>
		
		<div>
			<span ><em>*</em> 身份证号</span>
			<span class="doc_Idnum">{{cardNum}}</span>
		</div>
		
		<div class="idCard_pic">
			<span style="vertical-align: top;"><em>*</em> 身份证</span>
			<span class="idFont_pic" >
				<img src={{cardPositive}} alt="">
			</span>
			<span class="idBack_pic" >
				<img src={{cardNegative}} alt="" />
			</span>
		</div>
		
		<div class="teacher_picUpdata">
			<span style="vertical-align: top;"><em>*</em>  医师资格证</span>
			<span class="teacher_pic" >
				<img src={{qualificationCertificate}} alt="" />
			</span>
		</div>
		
		<div class="zhiye_picUpdata">
			<span style="vertical-align: top;"><em>*</em>执业资格证</span>
			<span class="zhiye_pic"  >
				<img src={{professionalCertificate}} alt="" />
		</div>
		
		<div class="touxiang_picUpdata">
			<span style="vertical-align: top;"><em>*</em> 真实头像</span>
			<span class="touxiang_pic"  >
				<img src={{headPortrait}} alt="" />
			</span>
		</div>
		
		<div class="zhicheng_name">
			<span><em>*</em>职称</span>
			<span class="doc_zhicheng">{{title}}</span>
		</div>
		
		<div class="zhicheng_picUpdata">
			<span style="vertical-align: top;"><em>*</em> 职称证明</span>
			<span class="zhicheng_pic" >
				<img src={{titleProve}} alt="" />
			</span>
		</div>
		
		<div class="keshi">
			<span><em>*</em>科室</span>
			<ul id="keshiList2">
				{{if medicalDepartments && medicalDepartments.length > 0}}
				  {{include 'adaptTpl' }}  
				 {{/if}}
			</ul>
		</div>
		
		<div class="shanchang">
			<span><em>*</em>擅长</span>
			<span class="doc_shanchang">{{field}}</span>
		</div>
		
		<div class="personIntroduct">
			<span><em>*</em> 个人介绍</span>
			<p  style="max-width: 540px;max-height: 160;overflow: hidden;display: inline-block;vertical-align: top;font-size: 14px;">{{change(description)}}</p>
		</div>
		
		<!--<div class="work_hos">
			<span><em>*</em>任职医馆</span>
			<span class="doc_hospital">{{hospital}}</span>
		</div>-->
		
		<div class="doc_address">
		<span><em>*</em>城市</span>
		<span style="font-size: 14px;">{{province}}</span>
		<span style="font-size: 14px;">{{city}}</span>
	</div>
</script>


<!--科室部分的小模板-->
<script type="text/template" id="adaptTpl">
{{each medicalDepartments}}
	<li data-id={{$value.id}}>{{$value.name}}</li>
{{/each}}
</script>

<script>
	
	
	
	
	
	 //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor',{
        toolbars:[['source', //源代码
            'undo', //撤销
            'redo', //重做
            'bold', //加粗
            'forecolor', //字体颜色
            'backcolor', //背景色
            'indent', //首行缩进
            'removeformat',//清除格式
            'formatmatch', //格式刷
            'blockquote', //引用
            'fontfamily', //字体
            'fontsize', //字号
            'paragraph', //段落格式
            'italic', //斜体
            'underline', //下划线
            'strikethrough', //删除线
            'superscript', //上标
            'subscript', //下标
            'touppercase', //字母大写
            'tolowercase', //字母小写
            'justifyleft', //居左对齐
            'justifyright', //居右对齐
            'justifycenter', //居中对齐
            'justifyjustify',//两端对齐
            'link', //超链接
            'unlink', //取消链接
            'simpleupload', //单图上传
            // 'insertimage', //多图上传
            'emotion', //表情
        ] ],
            autoHeightEnabled: false,
            autoFloatEnabled: true,
            enableAutoSave:false,
            imagePopup:false
    });

    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }

    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action) {
        var url = '/ueditor/upload'
        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
            return url;
        } else if (action == 'uploadvideo') {//视频上传：
            return url;
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }
    
</script>




<script type="text/javascript" src="/web/js/footer.js"></script>
<script src="/web/js/placeHolder.js"></script>
<script type="text/javascript" src="/web/js/cropbox.js"></script>
<script src="/web/js/provinces.js"></script>
<script src="/web/js/ResidentDoctor.js"></script>
<script src="/web/js/doctorAuthentication.js"></script>
