#doctor_in_inf .news_nav {
    width: 220px;
    float: left;
    background-color: #fff;
    position: relative;
}
#doctor_in_inf .news_nav ul li {
    padding: 5px 0px;
    text-align: center;
    line-height: 58px;
}
#doctor_in_inf .news_nav ul li:first-child {
    padding-top: 30px;
}

#doctor_in_inf .news_nav ul .doctor_inf img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#doctor_in_inf .news_nav ul .doctor_inf h4 {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  padding-top: 10px;
}
#doctor_in_inf .news_nav ul .doctor_inf p {
  color: #999999;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}
.news_nav .picModal {
    cursor: pointer;
    position: absolute;
    left: 60%;
    top: 70px;
    width: 26px;
    height: 26px;
    color: #2CB82C;
    background: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.18);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin: 10px auto 15px;
    }
.news_nav .picModal .icon-xiangji {
    font-size: 12px;
}

    #doctor_in_inf .news_nav ul .doctor_inf h4 {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    padding-top: 10px;
}