*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-size: 0.28rem;
}
span,p{
	font-size: 0.28rem;
	color: #333;
}
.both{
	clear: both;
}
.z{
	float: left;
}
.y{
	float: right;
}
/*头部开始*/
.wp{
	width: 7.5rem;
	margin: 0 auto;
}
.header-wrap{
    width: 7.5rem;
    height: 0.8rem;
}
.header {
  width: 7.5rem;
  height: 0.8rem;
  position: fixed;
  top: 0;
  text-align: center;
  line-height: 0.8rem;
   border-bottom: 1px solid #D8DDE6;
  background: white;
  z-index: 20;
}
.header_return{
	position: absolute;
}
.header_return img {
     width: 0.24rem;
    height: 0.42rem;
    border: 0;
    float: left;
    margin: 0.2rem 0.08rem 0 0.26rem;

}
.header_return span{
	font-size: 0.36rem;
}
.header_title {
    font-size: 0.36rem;
    text-align: center;
    color: #333;

}

/*头部结束*/


/*中间内容开始*/

/*头部开始*/
.buy_prosperity{
	margin-top: 0.2rem;
	background: #fff;
	padding: 0.6rem 0.26rem 0.4rem;
}
.prosperity_title{
    color: #333;
    width: 2.05rem;
    height: 0.6rem;
    line-height: 0.6rem;
    margin: 0 auto;
    font-size: 0.32rem;
}
.prosperity_yuan{
    width: 0.6rem;
    height: 0.6rem;
    background: #F97B49;
    border-radius: 50%;
    text-align: center;
    line-height: 0.6rem;
}
.prosperity_title .msg_bug{
	font-size: 0.32rem;
	float: right;
}


.purchase_details{
	width: 100%;
	background: #fff;
	/*margin-bottom: 0.638rem;*/
	overflow: hidden;
	margin-top: 0.6rem;
}
.purchase_details_main{
	width: 100%;
	padding: 0 0.26rem;
}
/*.purchase_details_main_cen{
	width: 100%;
}*/
.purchase_details_main_cen img{
	width: 2.12rem;
	height:1.2rem;
	float: left;

}
.purchase_details_left{
	float: right;
    width: 4.63rem;
    position: relative;
}
.purchase_details_title{
	width: 2.65rem;
	overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;

}
.purchase_details_title .span0{
	color: #999;
	font-size: 0.22rem;
}
.purchase_details_money{
	font-size: 0.28rem;
	color: #333333;
}
.purchase_details_money span{

	color: #F97B49;
	font-size: 0.36rem;
}
.prosperity_play{
	width: 1.44rem;
	height: 0.56rem;
	background: #00BC12;
	border-radius: 8px;
	font-size: 0.28rem;
	color: #fff;
	position: absolute;
    right: 0rem;
    top: 50%;
    margin-top: -0.28rem;
    right: 0.26rem;
      display: flex;    
    justify-content:center;
    align-items:Center;
}
.prosperity_border{
	border-bottom: 1px solid #D8DDE6;
	margin: 0.4rem 0 0.4rem;
}
.check_one{
	/*width: 100%;*/
	text-align: center;
	font-size: 0.28rem;
	color: #333;
	/*line-height: 1.3rem;*/
	padding-bottom: 0.3rem;
}
.check_one span{
	color: #00BC12;
}
.check_two{
	width: 100%;
	text-align: center;
	font-size: 0.28rem;
	color: #333;
}
.check_two span{
	color: #00BC12;
}




/*猜你喜欢开始*/
.acupuncture {
    width: 100%;
    background: #fff;
	padding: 0 0.26rem;
	box-sizing: border-box;
    margin-top: 0.2rem;
    
}
.boutique_title{
	font-size: 0.32rem;
	color: #333;
	margin-left: 0.26rem;
    padding-bottom: 0.2rem;
    padding-top: 0.3rem;
}
.boutique_main{
	width: 100%;
    /*margin: 0 auto;*/
    /*background: red;*/
}
.boutique_main ul li:nth-child(odd){
	float: left;
	/*margin-left: 0.456rem;*/
	margin-bottom: 0.3rem;
}
.boutique_main ul li:nth-child(even){
	float: right;
	/*margin-left: 0.456rem;*/
	margin-bottom: 0.3rem;
}
/*视频*/
.boutique_main_one{
	width: 3.4rem;
	height: 3.67rem;
	/*height: 4.085rem;*/
	position: relative;
}
.boutique_one_img{
	width: 3.39rem;
	height: 1.9rem;
	margin-bottom: 0.15rem;
}
.boutique_one_img img{
	width: 100%;
	height: 100%;
}
.boutique_main_one_img_type{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
}
.boutique_main_one_title{
	/*width: 7.234rem;
	height: 0.851rem;
    line-height: 0.851rem;*/
	font-size: 0.28rem;
	color: #333;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.1rem;
}
.boutique_main_one_author{
	/*width: 7.234rem;
	height: 0.851rem;
    line-height: 0.851rem;*/
	font-size: 0.22rem;
	color: #999999;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.1rem;
}
/*音频的P*/

.boutique_main_one_size P{
	font-size: 0.24rem;
	color: #999999;
	float: left;
	
}
.boutique_main_two_size P{
	font-size: 0.24rem;
	color: #999999;
	float: left;
	
}
.boutique_main_four_size P{
	font-size: 0.24rem;
	color: #999999;
	float: left;
}

/*音频视频*/
.boutique_main_one_size P span{
	font-size: 0.22rem;
    color: #F97B49;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.boutique_main_one_size .p2{
    margin: 0 0.05rem;

}
.boutique_main_one_size .p2 img{
	width: 0.24rem;
	height: 0.24rem;
	float: left;
	margin-top: 0.04rem;
}
.boutique_main_one_size .p2 span{
	font-size: 0.22rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
	margin-top: 0.03rem;
	float: left;
}
/*直播*/
.boutique_main_two_size P span{
	font-size: 0.22rem;
    color: #F97B49;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-top: 0.01rem;
}
.boutique_main_two_size .p2{
    margin: 0 0.05rem;
}
.boutique_main_two_size .p2 img{
	width: 0.24rem;
	height: 0.24rem;
	float: left;
	margin-top: 0.04rem;
}
.boutique_main_two_size .p2 span{
	font-size: 0.22rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
margin-top: 0.03rem;
}
.boutique_main_two_size .p3 img{
	    width: 0.24rem;
    height: 0.24rem;
       margin: 0.04rem 0.06rem 0 0.03rem;
    float: left;
}
.boutique_main_two_size .p3 span{
		font-size: 0.22rem;
color: #999999;
float: left;
margin-top: 0.03rem;
}
/*线下课*/
.boutique_main_four_size P span{
	font-size: 0.22rem;
    color: #F97B49;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.boutique_main_four_size .p2{
    margin: 0 0.05rem;
}
.boutique_main_four_size .p2 img{
	width: 0.24rem;
	height: 0.24rem;
	float: left;
	margin-top: 0.04rem;
}
.boutique_main_four_size .p2 span{
	font-size: 0.22rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
	margin-top: 0.03rem;
}

.boutique_main_four_size .p3 img{
	    width: 0.2rem;
    height: 0.24rem;
    float: left;
    margin: 0.03rem 0.02rem 0;
}
.boutique_main_four_size .p3 span{
	font-size: 0.22rem;
color: #999999;
float: left;
}
