*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.both{
	clear: both;
}

/*头部开始*/
header {
    width: 100%;
    height: 1.872rem;
    line-height: 1.872rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.header {
    width: 14.851rem;
    height: 100%;
    margin-left: 0.553rem;
    /* padding-top: 0.298rem; */
}
.header_return {
    width: 2.15rem;
    height: 1.8rem;
    /* background: red; */
    margin-right: 0.362rem;
    float: left;
    position: absolute;
    z-index: 10;
}
.header_return img {
    width: 0.511rem;
    height: 0.915rem;
}
.header_title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.766rem;
    text-align: center;
    color: #333;
    z-index: 9;
}
.header_share{
	width: 2.15rem;
    height: 1.8rem;
    /* background: red; */
    margin-right: 0.362rem;
/*    float: right;*/
    position: absolute;
    z-index: 10;
    right: 0.362rem;
    text-align: right;
}
.header_share img {
    width: 0.894rem;
    height: 0.915rem;
}
/*头部结束*/


/*中间内容开始*/
.course_main{
	width: 100%;
	height: 100%;
    margin-top: 1.872rem;
}
.course_video_bg{
	width: 100%;
	height: 9.043rem;
	background: url(../images/video_bg.png) no-repeat;
	background-size: 100% 100%;
}
.course_video{
	width: 100%;
	height: 100%;
}
.course_video_bottom{
	width: 100%;
	min-height: 3.128rem;
	background: #fff;
	padding-top: 0.638rem;
	padding-bottom: 0.638rem;
	/*height: 800px;*/
	margin-bottom: 0.426rem;
}
.course_video_title{
	width: 14.851rem;
    text-align: left;
    font-size: 0.681rem;
    color: #333;
    margin: 0 auto;
    margin-bottom: 0.34rem;

}
.course_video_cen{
	width: 14.851rem;
	text-align: center;
	font-size: 0.553rem;
	color: #666;
	margin: 0 auto;
	margin-bottom: 0.34rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course_video_graded{
	width: 7.4rem;
    height: 20px;
    /*background: #c5c5c5;*/
    margin: 0 auto;
}
.course_video_review{
	font-size: 0.511rem;
	color: #999;
	float: right;
}

.course_video_review span{
	
}
.course_video_review img{
	width: 0.319rem;
	height: 0.531rem;
    vertical-align: middle;
    margin-left: 0.1rem;
}

/*星星css开始*/

.block{ 
	width:118px; 
	/*margin:0 0 20px 0; 
	padding-top:10px; 
	padding-left:50px; 
	line-height:21px;*/
	float: left;
	margin-top: 2px;
}
.block .star_score{ 
	float:left;
}
.star_list{
	height:21px;
	margin:50px; 
	line-height:21px;
}
.block p,.block .attitude{ 
	padding-left:20px; 
	line-height:21px; 
	display:inline-block;
}
.block p span{ 
	color:#C00; 
	font-size:16px; 
}

.star_score { 
	background:url(../images/x1.png); 
	width:160px; 
	height:13px;  
	position:relative; 
	background-size: 24px 13px;
}

.star_score a{ 
	height:13px; 
	display:block; 
	text-indent:-999em; 
	position:absolute;
	left:0;
}

.star_score a:hover{ 
	background:url(../images/x0.png);
	left:0;
	background-size: 24px 13px;
}

.star_score a.clibg{ 
	background:url(../images/x0.png);
	left:0;
	background-size: 24px 13px;
}
/*星星css结束*/


.course_video_time{
	width: 100%;
	height: 100%;
	background: #fff;
	margin-bottom: 0.426rem;
}
.course_video_main_time{
	width: 15.45rem;
    /* height: 800px; */
    float: right;
    /*background: red;*/
}
.course_video_main_time .div:last-child{
	border-bottom: 0;
}
.course_video_main_time_one{
	width: 100%;
	height: 1.489rem;
	border-bottom: 1px solid #D8DDE6;
}
.course_video_main_time_one span{
	font-size: 0.553rem;
	color: #333;
}

.course_video_main_time_one .img0{
	width: 0.511rem;
	height: 0.511rem;
	margin-right: 0.213rem;
	margin-top: 0.56rem;
    float: left;
}
.course_video_main_time_one .img1{
	width: 0.319rem;
    height: 0.532rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.course_video_main_time_two{
	width: 100%;
	height: 1.489rem;
	line-height: 1.489rem;
	border-bottom: 1px solid #D8DDE6;
	font-size: 0.553rem;
	color: #333;
}
.course_video_main_time_two span{
	font-size: 0.553rem;
	color: #333;
}
.course_video_main_time_two .img0{
	width: 0.51rem;
	height: 0.51rem;
	margin-right: 0.213rem;
	margin-top: 0.5rem;
    float: left;
}
.course_video_main_time_three{
	width: 100%;
	height: 1.489rem;
	line-height: 1.489rem;
	border-bottom: 1px solid #D8DDE6;
	font-size: 0.553rem;
	color: #333;
}
.course_video_main_time_three span{
	font-size: 0.553rem;
    color: #333;
    width: 11rem;
    display: block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course_video_main_time_three .img0{
	width: 0.51rem;
	height: 0.51rem;
	margin-right: 0.213rem;
	margin-top: 0.5rem;
    float: left;
}
.course_video_main_time_three .img1{
	width: 0.319rem;
    height: 0.532rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.course_video_main_time_four{
	width: 100%;
	height: 1.489rem;
	line-height: 1.489rem;
	border-bottom: 1px solid #D8DDE6;
	font-size: 0.553rem;
	color: #333;
}
.course_video_main_time_four .span{
	font-size: 0.553rem;
    color: #333;
    width: 11rem;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course_video_main_time_four .span0{
	color: #00BC12;
}
.course_video_main_time_four .img0{
	width: 0.51rem;
	height: 0.51rem;
	margin-right: 0.213rem;
	margin-top: 0.5rem;
    float: left;
}
.course_video_main_time_four .img1{
	width: 0.319rem;
    height: 0.532rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}




.container_main{
	width: 100%;
	height: 100%;
	background: #fff;
	/*display: none;*/
}
.keynote_speaker_can{
	width: 5.5rem;
	height: 100%;
    padding: 0.851rem 0;
    margin: 0 auto;
}
.keynote_speaker_left{
	width: 1.277rem;
	border-bottom: 1px solid #D8DDE6;
	float: left;
}
.keynote_speaker{
	font-size: 0.596rem;
    color: #333;
    text-align: center;
    float: left;
    line-height: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.keynote_speaker_right{
	width: 1.277rem;
	border-bottom: 1px solid #D8DDE6;
	float: left;
}



.container{margin: 0 auto;width: 14.851rem;padding-bottom: 0.5rem;}
.wrap{position: relative;overflow: hidden;font-size: 0.596rem;}
.gradient{width: 100%;height: 35px;background: url() repeat-x;position: absolute;bottom: 0;left: 0;}
.read-more{padding: 5px;background: #fff;color: #333;position: relative;}
.read-more a{
	background: url() no-repeat 100% 50%;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    /*bottom: 0.2rem;*/
    left: 6rem;
    font-size: 0.51rem;
    font-size: 0.51rem;
    color: #666;
}
/*.read-more a: hover{color: #000;}*/

.triangle-down-hovertree {
    width: 0.675rem;
    height: 0.375rem;
    background: url(../images/bot0.png) center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    /*top: -11px;*/
    left: 8.5rem;
    top: 0.3rem;
}
.triangle-up-hovertree {
    width: 0.675rem;
    height: 0.375rem;
    background: url(../images/top0.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 8.5rem;
    top: 0.3rem;
}
.hewenqiToggle {
    height: 2.5rem;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: url(../images/op_bg.png);
    background-size: 100% 100%;
}
.container_border{
	width: 100%;
	/*border-bottom: 1px solid red;*/
	margin-top: 0.638rem;
	border-bottom: 1px solid #D8DDE6;
}



/*简介开始点击隐藏*/
.container1{margin: 0 auto;width: 14.851rem;padding-bottom: 0.5rem;}
.wrap1{position: relative;overflow: hidden;font-size: 0.596rem;}
.gradient1{width: 100%;height: 35px;background: url() repeat-x;position: absolute;bottom: 0;left: 0;}
.read-more1{padding: 5px;background: #fff;color: #333;position: relative;}
.read-more1 a{
	background: url() no-repeat 100% 50%;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    left: 6rem;
    font-size: 0.51rem;
    font-size: 0.51rem;
    color: #666;
}

.triangle-down-hovertree1 {
    width: 0.675rem;
    height: 0.375rem;
    background: url(../images/bot0.png) center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 8.5rem;
    top: 0.3rem;
}
.triangle-up-hovertree1 {
    width: 0.675rem;
    height: 0.375rem;
    background: url(../images/top0.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 8.5rem;
    top: 0.3rem;
}
.hewenqiToggle1 {
    height: 2.5rem;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: url(../images/op_bg.png);
    background-size: 100% 100%;
}
.container_border1{
	width: 100%;
	border-bottom: 1px solid #D8DDE6;
	margin-top: 0.638rem;
}


/*tab选项*/
.course_detaiks_main{
	width: 100%;
	height: 100%;
	background: #fff;
}
.course_detaiks_ul{
	width: 100%;
	height: 1.68rem;
}
.course_detaiks_ul .ul{
	height: 1.68rem;
	line-height: 1.68rem;
	border-bottom: 1px solid #D8DDE6;
	position: relative;
}
.course_detaiks_ul ul li{
	font-size: 0.596rem;
	
    height: 1.58rem;
    
}
.ul_li{
	color: #00BC12;
	border-bottom: 2px solid #00BC12;
}
.course_detaiks_ul ul .li0{
	margin-left: 3.8rem;
	float: left;
}
.course_detaiks_ul ul .li1{
	margin-right: 2.5rem;
	float: right;
}
.ul_border{
	width: 1px;
	height: 0.851rem;
	background: #D8DDE6;
	position: absolute;
	left: 50%;
    top: 0.4rem;
}


/*底部开始*/
.footer_perch{
	width: 100%;
	height: 2.085rem;
	background: red;
}
.footer{
	width: 100%;
	height: 2.085rem;
	line-height: 2.085rem;
	text-align: center;
	font-size: 0.638rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	border-top: 1px solid #D8DDE6;
}
.footer ul li{
	width: 50%;
	float: left;
}
.footer_one{
	color: #333;
}
.footer_one span{
	color: #F97B49;
}
.footer_two{
	background: #00bc12;
    color: #fff;
}



/*试听开始*/
.course_detaiks_play{
	width: 100%;
    height: 100%;
    background: #fff;
    padding-top: 0.68rem;
    display: none;
}
.course_detaiks_play_main{
	margin-left: 0.553rem;
}
.course_play_main_one{
	width: 100%;
	height: 100%;
}
.course_detaiks_play_main ul li{
	border-bottom: 1px solid #D8DDE6;
	padding-bottom: 0.426rem;
    margin-bottom: 0.426rem;
}
.course_detaiks_play_main ul li:last-child{
	border-bottom: 0;
	border-bottom: none;
}
.course_play_main_one .play_img{
	width: 1.702rem;
	height: 1.702rem;
	float: left;
	margin-right: 0.511rem;
}
.course_play_main_one_right .p{
	font-size: 0.596rem;
    color: #333;
    width: 9rem;
    /*height: 0.851rem;
    line-height: 0.851rem;*/
    height: 1rem;
    line-height: 1rem;
    /*background: yellow;*/
    margin-left: 2.05rem;
}
.course_play_main_one_bottom{
	height: 0.685rem;
    /*background: blue;*/
    line-height: 0.685rem;
    position: relative;
    width: 5rem;
    margin-left: 2rem;
}
.course_play_main_one_bottom .img1{
	width: 1.702rem;
    height: 0.681rem;
    position: absolute;
}
.course_play_main_one_bottom span{
	margin-right: 0.34rem;
	color: #999;
}


/*分享开始*/
.share{
	width: 100%;
	height: 100%;
	display: none;
}
.share_bg{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.share_main{
	width: 14.851rem;
	height: 8.426rem;
	/*background: #fff;*/
	margin: 0 auto;
	position: fixed;
    left: 0.56rem;
	bottom: 1.744rem;
	z-index: 11;
}
.share_main_bg{
	width: 100%;
	height: 6.085rem;
	background: rgba(255,255,255,0.60);
	border-radius: 8px;
}
.share_to{
	width: 100%;
	text-align: center;
	font-size: 0.681rem;
	color: #333;
	padding-top: 0.638rem;
    margin-bottom: 0.5rem;
}
.share_cancel{
	width: 100%;
	height: 1.702rem;
	line-height: 1.702rem;
	text-align: center;
	color: #333;
	font-size: 0.638rem;
	background: #fff;
	border-radius: 8px;
	margin-top: 0.638rem;
}
.share_main_bg ul li{
	float: left;
	margin-left: 1.78rem;
}
.share_main_bg ul li img{
	width: 2.553rem;
	height: 2.553rem;
}
.share_main_bg ul li p{
	text-align: center;
	width: 2.553rem;
	font-size: 0.511rem;
	color: #333333;
}
/*分享结束*/



/*试听结束*/
/*底部结束*/
/*中间内容结束*/




