*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.both{
	clear: both;
}

body{
	font-family: "Helvetica";
}

header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.header{
	width: 100%;
    height: 100%;
    /*margin-left: 0.553rem;*/
    /*padding-top: 0.298rem;*/
}
#home_img{
	display: none;
}
.header_return{
	width: 1.15rem;
    height: 0.88rem;
    /* background: red; */
    margin-right: 0.26rem;
    float: left;
    position: absolute;
    z-index: 10;
}
.header_return img{
	width: 0.24rem;
    height: 0.42rem;
    position: absolute;
    left: 0.26rem;
    top: 0.23rem;
}
.header_title{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.36rem;
	text-align: center;
	color: #333;
}

/*列表内容开始*/
.course_list{
	width: 100%;
	height: 100%;
	background: #fff;
}
.course_list_main{
	width: 7rem;
	/*height: 800px;*/
	margin: 0 auto;    
	margin-top: 1.08rem;
    padding-top: 0.3rem;
    overflow: hidden;
}
.course_list_main .div{
	/*margin-left: 0.26rem;
    margin-right: 0.26rem;*/
    float: left;
    margin-bottom: 0.4rem;
    position: relative;
    width: 3.39rem;
    height: 3.25rem;
}

#course_list_main .course_list_main_one:nth-child(even) {
    float: right;
    margin-left: 0;
}
/*第一块*/
.course_list_main_one{
	width: 3.39rem;
	float: left;
	
}
.course_list_one_img{
	width: 3.39rem;
	height: 1.92rem;
	position: relative;
	margin-bottom: 0.16rem;
}
.course_list_one_img .img0{
	position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 0.3rem;
    height: 0.3rem;
}
.course_list_one_img .img1{
	width: 3.39rem;
	height: 1.92rem;
}
.course_list_one_title{
	width: 3.39rem;
    /*height: 0.35rem;
    line-height: 0.35rem;*/
    font-size: 0.28rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	margin-bottom: 0.1rem;
}
.course_list_one_title_name{
	color: #999;
	font-size: 0.22rem;
	margin-bottom: 0.1rem;
	/*height: 0.35rem;
    line-height: 0.35rem;*/
	/*padding: 0.1rem 0;*/
}

.course_list_main_cen_one{
	width: 100%;
    /*height: 0.851rem;*/
}
.course_list_main_cen_one .p0{
	margin-right: 0.15rem;
    min-width: 0.4rem;
    max-width: 3.4rem;
    float: left;
    font-size: 0.24rem;
    color: #999999;
}
.course_list_main_cen_one .p0 span{
	font-size: 0.22rem;
    color: #F97B49;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 1.8rem;
	float:left;
}

.course_list_main_cen_one .span0_span{
	font-size: 0.22rem !important;
    	color: #999 !important;
}

.course_list_main_cen_one .p1{
	/*min-width: 3rem;*/
    float: left;
    /*min-width: 0.5rem;*/
    margin-right: 0.12rem;
}
.zhibo_play{
	    border: 1px solid #F97B49;
    float: left;
    font-size: 0.22rem !important;
    padding: 0rem 0.1rem;
    color: #F97B49 !important;
    margin-left: 0.1rem;
}
.course_list_main_cen_one .p1 img{
	width: 0.24rem;
    	margin-right: 0.02rem;
	float:left;
}
.course_list_main_cen_one .p1 span{
	font-size: 0.22rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    /*max-width: 1.752rem;*/
	float:left;
}
.course_list_main_cen_one .p2{
	float: left;
}
.course_list_main_cen_one .p2 img{
	width: 0.19rem;
	height: 0.24rem;
	margin-right: 0.02rem;
	float: left;
	
}
.course_list_main_cen_one .p2 span{
	font-size: 0.22rem;
	color: #999999;
	vertical-align: bottom;
	float: left;
}
/*列表内容结束*/















