*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.both{
	clear: both;
}

/*头部开始*/
header {
    width: 7.5rem;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -3.75rem;
    z-index: 9;
    border-bottom: 1px solid #d8dde6;
}
.header {
    width: 7.5rem;
    height: 100%;
    /*margin-left: 0.553rem;*/
    /* padding-top: 0.298rem; */
}
.header_return {
    width: 1.24rem;
    height: 0.88rem;
    line-height: 0.5rem;
    /* background: red; */
    margin-right: 0.362rem;
    float: left;
    position: absolute;
    z-index: 10;
    margin-left: 0.26rem;
}
.header_return img {
    width: 0.24rem;
    height: 0.42rem;
}
.header_title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.36rem;
    text-align: center;
    color: #333;
    z-index: 9;
}

/*头部结束*/

/*中间内容开始*/
.outline{
	width: 7.5rem;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    margin-top: 2.398rem;
    margin-top: 1.1rem;
}
.outline_main{
	margin-top: ;
}
.outline_title{
	font-size: 0.32rem;
	color: #333;
	margin-bottom: 0.31rem;
	text-align: center;
    padding-top: 0.36rem;
}
.outline_cen{
	width: 5.5rem;
    margin: 0 auto;
    margin-bottom: 0.32rem;
}
.outline_cen img{
	width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-top: 0.05rem;
    margin-right: 0.1rem;
}
.outline_cen_left{
	float: left;
    font-size: 0.26rem;
    color: #666666;
    margin: 0 auto;
    width: 2.98rem;
}
.outline_cen_right{
	float: right;
    font-size: 0.26rem;
    color: #666666;
}
.outline_cen_border{
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
}
.outline_list{
	width: 6.98rem;
    /* float: right; */
    margin: 0 auto;
}
.outline_list_ul p{
	font-size: 0.26rem;
    color: #333333;
    /*border-bottom: 1px solid #d8dde6;*/
    /*padding: 0.3rem 0;*/
    word-wrap: break-word;
}
.outline_list_ul img{
    /*max-width: 15rem;*/
}
/*中间内容结束*/




