*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
	border: none;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	background: blue;
}
body{
    width: 100%;
    height: 100%;
    background: #F5F5F5;
}
.both{
	clear: both;
}

::-webkit-input-placeholder{
	color: #ccc;
}
:-moz-placeholder{
	color: #ccc;
}
:-ms-placeholder{
	color: #ccc;
}
placeholder{
	color: #ccc;
}

/*报名头部开始*/
header{
	width: 100%;
	height: 0.88rem;
	position: fixed;
	top: 0;
	z-index: 1;
	border-bottom: 1px solid #d8dde6;
}
.header{
	width: 100%;
	height: 0.88rem;
	line-height: 0.88rem;
	position: relative;
    background: #fff;
}
.return{
	width: 0.24rem;
    height: 0.42rem;
    position: absolute;
    left: 0.26rem;
    top: 0.23rem;
}
.return img{
	width: 0.24rem;
    height: 0.42rem;
    position: absolute;
    left: 0rem;
    top: 0rem;
}
.apply_title{
	width: 100%;
	height: 0.88rem;
	line-height: 0.88rem;
	font-size: 0.36rem;
	color: #333333;
	text-align: center;
}
/*报名头部结束*/

/*中间内容开始*/
.main{
	width: 100%;
    height: 100%;
	background: #F5F5F5;
}
.fiexd{
	width: 100%;
	height: 0.88rem;
	opacity: 0;
}
.main_hint{
	width: 100%;
	height: 1.11rem;
	background: #FFF1D0;
	padding: 0.2rem 0.26rem;
}
.main_hint_img{
	float: left;
	margin-right: 0.16rem;
}
.main_hint div img{
	width: 0.3rem;
	height: 0.3rem;
}
.main_hint div{
	font-size: 0.26rem;
	color: #B98015;
	line-height: 0.37rem;
}
.main_hint_size{
	width: 6.52rem;
	float: left;
}
.main_bg{
	width: 100%;
	height: 100%;
	background: #fff;
	margin-bottom: 0.6rem;
}
.name{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	font-size: 0.28rem;
	color: #333333;
	border-bottom: 1px solid #f0f0f0;
	float: right;
}
.name input{
	width: 6rem;
	height: 0.98rem;
	/*background: red;*/
	text-align: right;
	font-size: 0.28rem;
	color: #666;
	border: none;
	float: right;
	margin-right: 0.26rem;
	outline: none;
}

.age{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	font-size: 0.28rem;
	color: #333333;
	border-bottom: 1px solid #f0f0f0;
	float: right;
}
.age input{
	width: 6rem;
	height: 0.98rem;
	/*background: red;*/
	text-align: right;
	font-size: 0.28rem;
	color: #666;
	border: none;
	float: right;
	margin-right: 0.26rem;
	outline: none;
}
.tel input{
	width: 6rem;
	height: 0.98rem;
	/*background: red;*/
	text-align: right;
	font-size: 0.28rem;
	color: #666;
	border: none;
	float: right;
	margin-right: 0.26rem;
	outline: none;
}

.sex{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	font-size: 0.28rem;
	color: #333333;
	border-bottom: 1px solid #f0f0f0;
	float: right;
}
.tel{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	font-size: 0.28rem;
	color: #333333;
	border-bottom: 1px solid #f0f0f0;
	float: right;
}
.sex div{
	float: right;
    text-align: right;
    margin-right: 0.26rem;
    margin-top: 0.03rem;
    width: 0.25rem;
}
.sex div img{
	width: 0.15rem;
	margin-top: 0.3rem;
}
.sex  p{
	font-size: 0.28rem;
	color: #666666;
	float: right;
}

.education{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	font-size: 0.28rem;
	color: #333333;
	border-bottom: 1px solid #f0f0f0;
	float: right;
}
.tel{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	font-size: 0.28rem;
	color: #333333;
	border-bottom: 1px solid #f0f0f0;
	float: right;
}
.education div{
	float: right;
    text-align: right;
    margin-right: 0.26rem;
    margin-top: 0.03rem;
    width: 0.25rem;
}
.education div img{
	width: 0.15rem;
	margin-top: 0.3rem;
}
.education  p{
	font-size: 0.28rem;
	color: #666666;
	float: right;
}

.birthplace{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	font-size: 0.28rem;
	color: #333333;
	float: right;
	border-bottom: 1px solid #f0f0f0;
}
.birthplace input{
	width: 6rem;
	height: 0.98rem;
	/*background: red;*/
	text-align: right;
	font-size: 0.28rem;
	color: #666;
	border: none;
	float: right;
	margin-right: 0.26rem;
	outline: none;
}
.learning_experience{
	width: 7.24rem;
	/*height: 0.98rem;*/
	/*line-height: 0.98rem;*/
	font-size: 0.28rem;
	color: #333333;
	float: right;
	padding: 0.29rem 0;
}
.learning_experience .copyreader{
	width:6.98rem;
    margin-right: 0.26rem;
    outline: none;
    margin-top: 0.2rem;
    min-height: 1.68rem;
    border: none;
    font-size: 0.28rem;
}
/* .learning_experience input{
	width: 5.5rem;
	height: 0.98rem;
	background: red;
	text-align: right;
	font-size: 0.28rem;
	color: #666;
	border: none;
	float: right;
	margin-right: 0.26rem;
	outline: none;
} */

.practice_medicine{
	width: 7.24rem;
	/* height: 0.98rem;
	line-height: 0.98rem; */
	font-size: 0.28rem;
	color: #333333;
	float: right;
	padding: 0.29rem 0;
}
.practice_medicine .copyreader{
	width:6.98rem;
    margin-right: 0.26rem;
    outline: none;
    margin-top: 0.2rem;
    min-height: 1.68rem;
    border: none;
    font-size: 0.28rem;
}
/* .practice_medicine input{
	width: 5.5rem;
	height: 0.98rem;
	background: red;
	text-align: right;
	font-size: 0.28rem;
	color: #666;
	border: none;
	float: right;
	margin-right: 0.26rem;
	outline: none;
} */

.study{
	width: 7.24rem;
	/* height: 0.98rem;
	line-height: 0.98rem; */
	font-size: 0.28rem;
	color: #333333;
	float: right;
	padding: 0.29rem 0;
}
.study .copyreader{
	width:6.98rem;
    margin-right: 0.26rem;
    outline: none;
    margin-top: 0.2rem;
    min-height: 1.68rem;
    border: none;
    font-size: 0.28rem;
}
.copyreader:empty:before{
content: attr(placeholder);
color:#bbb;
}
/* .study input{
	width: 5.5rem;
	height: 0.98rem;
	background: red;
	text-align: right;
	font-size: 0.28rem;
	color: #666;
	border: none;
	float: right;
	margin-right: 0.26rem;
	outline: none;
} */
.buttom{
	width: 6.98rem;
	height: 0.72rem;
	line-height: 0.72rem;
	margin: 0 auto;
	background: #00bc12;
	border-radius: 100px;
	font-size: 0.3rem;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 0.2rem;
}
.opacity{
	opacity: 0.5;
}

/*点击性别出现弹窗开始*/
.popup{
	width: 100%;
	height: 100%;
	display: none;
}
.popup_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	z-index: 1;
}
.popup_sex{
	width: 100%;
	height: 2.4rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.man{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	font-size: 0.3rem;
	color: #333;
}
.she{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	font-size: 0.3rem;
	color: #333;
}
/*点击性别出现弹窗结束*/

/*点击学历出现弹窗开始*/
.education_background{
	width: 100%;
	height: 100%;
	display: none;
}
.education_background_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	z-index: 1;
}
.education_background_sex{
	width: 100%;
	height: 4.8rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.undergraduate{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	font-size: 0.3rem;
	color: #333;
}
.master{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	font-size: 0.3rem;
	color: #333;
}
.doctor{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	font-size: 0.3rem;
	color: #333;
}
.not_have{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	font-size: 0.3rem;
	color: #333;
}
/*点击性别出现弹窗结束*/

/*中间内容结束*/
