.person_img{
    margin-top: 0;
  }
  .sex_pet_name_top{
    padding-bottom:0;
  }
  .pet_name_top{
    padding-bottom:0;
  }
  .attention_left{
    width: 1.6rem;
      height: 1.8rem;
      float: left;
  }
  .call_popup_bg{
    width: 100%;
      height: 100%;
      background: #000;
      position: fixed;
      top: 0;
      opacity: 0.5;
  }
  .my_right_img{
    margin-top: 0.15rem;
    width: 0.5rem;
  }
  .my_right_img img{
    height: 100%;
  }
  #logoBox{
    width: 2rem;
      height: 2rem;
      float: right;
      margin-right: 0.4rem;
      margin-top: 0.2rem;
      padding-top: 0;
  }
  ody {
  font-size: 0.3rem;
  /* padding: 0.25rem; */
}
/*content*/
.plugin-list {
  overflow: hidden;
  width: 100%;
  padding-bottom: 0.2rem;
}

.plugin-list>li {
  width: 100%;
  margin-bottom: 0.6rem;
}

.plugin-list>li>h3 {
  font-size: 0.3rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.plugin-list>li>div.text {
  background: #f1f1f1;
  padding: 0.2rem 0 0.2rem 0.3rem;
  line-height: 0.55rem;
  border-radius: 0.05rem;
}

.plugin-list>li>div.text>p {
  padding: 0.1rem 0;
}

.plugin-list>li>div.text>a {
  display: inline-block;
  text-decoration: underline;
}

.plugin-list>li>div.text>input {
  width: 100%;
  font-size: 0.3rem;
  border: none;
  line-height: 0.55rem;
  background: none;
  color: red;
}

.plugin-list>li>p.btn {
  font-size: 0.3rem;
  width: 100%;
  line-height: 0.9rem;
  margin-bottom: 0.3rem;
  text-align: center;
  background: #333;
  color: white;
  border-radius: 0.1rem;
}

pre {
  position: relative;
  font-size: 0.26rem;
  width: 100%;
  padding: 0.2rem;
  margin: 0 0 0.3rem;
  background: #f1f1f1;
  color: #333;
  border-radius: 0.05rem;
}

pre:after {
  font-size: 0.28rem;
  color: #cccccc;
  content: 'JS';
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
}

.password,.sex,.mailbox{
  display:none;
}

.update_address_return {
    width: 0.5rem;
    height: 0.9rem;
    display: inline-block;
    float: left;
    background: url(../images/return.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
}
.return_delicacy{
  width: 2rem;
    height: 1.5rem;
    position: absolute;
}
.site_bto_right01 span{
  font-size: 0.6rem;
  color: #666;
}
.site_bto_right02 span{
  font-size: 0.6rem;
  color: #666;
}
#pet_sign_right{
    display: inline-block;
    float: right;
    font-size: 0.7rem;
    margin-top: 0rem;
    margin-right: 0.4rem;
}