header{
	height: .72rem;
	border: none;
}
.header_return{
	width: 0.6rem;
    height: 0.6rem;
    background: #000;
    border-radius: 100px;
    margin-top: 0.1rem;
    margin-left: 0.08rem;
}
.history_span{
	height: .72rem;
}
.grabble_left{
	height: .72rem;
}
.details_bottom{
	top: 0;
}
.details_size{
	bottom: -0.65rem;
    right: 0.26rem;
    background: rgba(0,0,0,0.50);
}
.details1{
	display: block !important;
}
.attentions {
    min-width: 2.5rem;
    height: 0.72rem;
    background: #da8e8e;
    position: fixed;
    top: 0rem;
    left: 50%;
    margin-left: -2.75rem;
    z-index: 999;
    background: rgba(0,0,0,0.50);
    border-radius: 100px;
    max-width: 4rem;
}
.attentions .main_title{
	height: 0.72rem;
    line-height: 0.72rem;
    float: left;
}
.add_follow{
	width: 1rem;
	margin-top: 0.09rem;
}
.attentions .main_title .p0{
	margin: 0;
    text-align: left;
    font-size: 0.24rem;
    color: #fff;
    min-width: 0.7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1.2rem;
}
.attentions .main_img{
	background: red;
    width: 0.72rem;
    height: 0.72rem;
    /* margin-top: 0; */
    margin-right: 0.16rem;
    /* margin-left: 0; */
    border-radius: 100px;
    float: left;
}
.attentions .main_img img{
	width: 0.72rem;
    height: 0.72rem;
    border-radius: 100px;
}
#myVideo{
	height: 6.66rem;
}