*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.both{
	clear: both;
}
header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    border-bottom: 1px solid #D8DDE6;
}
.header{
	/*width: 14.851rem;*/
    height: 100%;
    /*margin-left: 0.26rem;*/
    /*padding-top: 0.298rem;*/
}
#home_img{
	display: none;
}
.header_return{
	width: 1.24rem;
    height: 0.88rem;
    /* background: red; */
    margin-right: 0.362rem;
    float: left;
    position: absolute;
    z-index: 10;
}
.header_return img{
	width: 0.24rem;
    height: 0.43rem;
    margin-top: 0.22rem;
    display: block;
    margin-left: 0.26rem;
}
.header_title{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.36rem;
	text-align: center;
	color: #333;
}

/*头部结束*/

/*中间内容开始*/
.set{
	width: 100%;
	height: 100%;
	margin-top: 1.08rem;
}
.set_main{
	width: 100%;
	height: 0.98rem;
	background: #fff;
	margin-bottom: 0.2rem;
}
.set_main_one{
	width: 7.24rem;
	height: 0.98rem;
	line-height: 0.98rem;
	float: right;
	font-size: 0.28rem;
	color: #333333;
}
.set_main_one img{
	width: 0.15rem;
    height: 0.25rem;
    margin-right: 0.2rem;
    margin-top: 0.38rem;
        float: right;
}
.btn{
	width: 6.98rem;
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	margin: 0 auto;
	background: #00BC12;
	border-radius: 8px;
	font-size: 0.30rem;
	color: #FFFFFF;
	margin-top: 0.6rem;
}
/*中间内容结束*/

