*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.both{
	clear: both;
}
/*头部开始*/
header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    /*background: #ccc;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    /*border-bottom: 1px solid #D8DDE6;*/
}
.header{
	/*width: 14.851rem;*/
    height: 100%;
    /*margin-left: 0.26rem;*/
    /*padding-top: 0.298rem;*/
}
#home_img{
	display: none;
}
.header_return{
	width: 1.24rem;
    height: 0.88rem;
    /* background: red; */
    margin-right: 0.362rem;
    float: left;
    position: absolute;
    z-index: 10;
}
.header_return img{
	width: 0.24rem;
    height: 0.43rem;
    margin-top: 0.22rem;
    display: block;
    margin-left: 0.26rem;
}
.header_title{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.36rem;
	text-align: center;
	color: #333;
	z-index: -1;
}
.enroll{
	font-size: 0.28rem;
    color: #00BC12;
    float: right;
    width: 1.1rem;
    text-align: center;
}

/*头部结束*/

/*中间内容开始*/
.forget{
	width: 6.1rem;
	height: 0.99rem;
	line-height: 0.99rem;
	margin: 0 auto;
	border-bottom: 1px solid #D8DDE6;
	margin-top: 1.54rem;
}
.forget input{
	width: 4.5rem;
	height: 0.99rem;
	line-height: 0.99rem;
	font-size: 0.28rem;
	/*color: #CCCCCC;*/
	border: 0;
	outline: none;
	display: -webkit-box;
	float: left;
}
.forget .div0{
	width: 1.6rem;
	height: 0.56rem;
	line-height: 0.56rem;
	text-align: center;
	background: #00BC12;
	border-radius: 8px;
	font-size: 0.24rem;
	color: #FFFFFF;
	float: right;
    margin-top: 0.25rem;
}
.forget .div1{
	width: 1.6rem;
	height: 0.56rem;
	line-height: 0.56rem;
	text-align: center;
	background: #ccc;
	border-radius: 8px;
	font-size: 0.24rem;
	color: #FFFFFF;
    float: right;
    margin-top: 0.25rem;
}
#btn{
	width: 1.6rem;
	height: 0.56rem;
	line-height: 0.56rem;
	text-align: center;
	background: #00BC12;
	border-radius: 8px;
	font-size: 0.24rem;
	float: right;
    margin-top: 0.25rem;
    border: 0;
    background: #00bc12;
	color: #fff;
}

.forget_btn{
	width: 6.1rem;
	height: 0.72rem;
	line-height: 0.72rem;
	margin: 0 auto;
	text-align: center;
	font-size: 0.3rem;
	color: #fff;
	border-radius: 8px;
	opacity: 0.3;
	background: #00BC12;
	margin-top: 0.6rem;
}

.forget .div{
	width: 0.3rem;
	height: 0.18rem;
	background: url(../images/hide.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	margin-top: 0.4rem;
	}
	
	
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
}
/*中间内容结束*/

/*修改密码成功后弹出框提示*/

.success_tip{

    /*padding: 0.04rem 0.05rem;*/
    position: absolute;
    bottom: 7%;
    left: 50%;

    margin-left: -0.8rem;
    margin-top: -1rem;
 border-radius: 4px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
	display: none; 
}
.success_tip p{
padding: 0.15rem 0.2rem;
    font-size: 0.22rem;
    padding: 10px;

}
