<!doctype html>
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<head>
<meta charset="utf-8">
<title>熊猫中医</title>

<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport"
	content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />

<!--手机嵌入模板-->
<script type="text/javascript" src="/xcview/js/common/layout.js?version=e2b9d5cdbd&version=e2b9d5cdbd"></script>
<script>
	// 判断横屏展示时的状态
	window.onorientationchange=function(){
	    if(window.orientation==90||window.orientation==-90){
	        window.location.reload();  /*横屏状态刷新*/
	    }else{
	        window.location.reload();  /*竖屏状态刷新*/
	    }
	}	
</script>
<link rel="stylesheet" href="/xcview/js/shop/big_picture/css/demo.css?version=c94301827a&version=c94301827a">
<link rel="stylesheet" href="/xcview/js/shop/big_picture/css/iconfont.css?version=46473f4fea&version=46473f4fea">
<link rel="stylesheet prefetch" href="/xcview/js/shop/big_picture/css/photoswipe.css?version=7dc0df1071&version=7dc0df1071">
<link rel="stylesheet prefetch" href="/xcview/js/shop/big_picture/css/default-skin/default-skin.css?version=426e8908d7&version=426e8908d7">



<link rel="stylesheet" href="/xcview/css/shop/jquery.spinner.css?version=b93061713f&version=b93061713f" /><!-- 点击数量加减 -->
<link rel="stylesheet" href="/xcview/css/shop/commodity_details.css?version=3199cb3149&version=b7783fd247" />
<!-- 轮播引入 -->
<link rel='stylesheet prefetch' href='/xcview/css/shop/ckg/photoswipe.css?version=9200f216e3&version=9200f216e3'>
<link rel='stylesheet prefetch' href='/xcview/css/shop/ckg/default-skin/default-skin.css?version=c66976ff72&version=c66976ff72'>
<link rel="stylesheet" href="/xcview/css/shop/ckg/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/xcview/css/popups.css?version=274f363430&version=274f363430"/> <!-- 公用弹框 -->
<!-- 轮播引入 -->
<style>
	/*隐藏轮播点击查看大图效果显示的第几张数字*/
	.pswp__counter{
		display: none !important;
	}
	
	.hide{
		display: none!important;
	}
	.spinner .value{
		background: #fff;
	}
	.minirefresh-wrap::-webkit-scrollbar {display: none;}
	.spinner input{
		/*color: #333 !important;*/
	}
	.it_over{
		font-size: .24rem;
		text-align: center;
		color: #868080;
		margin-bottom: .2rem;
		display: none;
	}
	.appraiser_message{
		margin-bottom: .1rem;
	}
	.buy center{
		height: .55rem;
	}
	.spinner button{
		line-height: .55rem;
	}
	.decreases{
		margin-top: -.04rem;
	}
	.spinner .spinnerExample{
		opacity: 1;
		color: #000;
	}
	.spinner_input{
		color: #000 !important;
		opacity: 1 !important;
	}
	.my-gallery{
		background: url(/xcview/images/defaults.png) no-repeat;
		background-size: 100% 100%;
	}
</style>
</head>
<body>
	<!-- 头部区域开始 -->
	<header>
		<div class="header" id="header">
			<!--<img src="/xcview/images/salon_return.png" alt="" class="return" onclick="location.href ='/xcview/html/shop/shop.html'" />-->
			<!--<img src="/xcview/images/salon_return.png" alt="" class="return" onclick="common_share_backs('/xcview/html/shop/shop.html')" />-->
			<img src="/xcview/images/salon_return.png" alt="" class="return" onclick="common_share_backs()" />
			<div class="header_tab">
				<ul>
					<li class="tba_intro li_btn" data-to="li_btn0"><a href="javascript:void(0)">简介</a><div class="border_a"></li>
					<li class="tba_appraise li_btn" data-to="li_btn1"><a href="javascript:void(0)">评价</a><div class="border_a"></li>
					<li class="tba_details li_btn" data-to="li_btn2"><a href="javascript:void(0)">详情</a><div class="border_a"></li>
				</ul>
			</div>
			<div class="advices">
				<img src="/xcview/images/shop/news.png" alt="" class="news" />
				<!-- <span class="advices_number">17</span> -->
			</div>
			<img src="/xcview/images/shop/share.png" alt="" class="share" style="display:none;"/>
		</div>	
	</header>
	<!-- 头部区域结束 -->

	<!-- 轮播区域开始 -->
	<div class="banner">
		<script type="text/html" id="top_details">
		<!--滑动焦点图--> 
		<div class="swiper-container" alt="Image description">
			<div class="my-gallery swiper-wrapper">
				
			    {{each items as item i}}
			    <div class="swiper-slide">			
					<a href="{{item.source}}" data-size="1024x1024">
						<img src="{{item.source}}" alt="" class="surface_plot" />
					</a>   	
			    </div>
			    {{/each}}
			
			</div>
			<div class="swiper-pagination"></div>
		</div>              			

		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="pswp__bg"></div>
		    <div class="pswp__scroll-wrap">
		        <div class="pswp__container">
		            <div class="pswp__item"></div>
		            <div class="pswp__item"></div>
		            <div class="pswp__item"></div>
		        </div>
		        <div class="pswp__ui pswp__ui--hidden">
		            <div class="pswp__top-bar">
		                <div class="pswp__counter"></div>
		                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
		                <!-- <button class="pswp__button pswp__button--share" title="Share"></button> -->
		                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
		                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
		                <div class="pswp__preloader">
		                    <div class="pswp__preloader__icn">
		                      <div class="pswp__preloader__cut">
		                        <div class="pswp__preloader__donut"></div>
		                      </div>
		                    </div>
		                </div>
		            </div>
		            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
		                <div class="pswp__share-tooltip"></div> 
		            </div>

		            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"> </button>
		            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"> </button>

		            <div class="pswp__caption">
		                <div class="pswp__caption__center"></div>
		            </div>
		          </div>
		    </div>
		</div>
		<!-- 滑动焦点图 -->	
		</script>
	</div>
	<!-- 轮播区域结束 -->

	<div class="list_details">
	<script type="text/html" id="list_details">
		<!-- 详情开始 -->
		<div class="details" id="li_btn0">
			<div class="details_main">
				<div class="title">{{items.name}}</div>
				<div class="referral">{{items.caption}}</div>
			</div>
			<div class="price">
				<span class="ruling_price">￥<span>{{items.price}}</span></span>
				<span class="original_price">￥<span>{{items.marketprice}}</span></span>
				<!--{{if items.marketprice > items.price}}
					<span class="original_price">￥<span>{{items.marketprice}}</span></span>
				{{/if}}-->
				<span class="sold_out">已售{{items.sales}}件</span>
				<div class="both"></div>
			</div>
		</div>
		<!-- 详情结束 -->
	</script>
	</div>
		
	<!-- 医师推荐开始 -->
	<div class="physician_recommend">
		<div class="recommend_main">
			<script type="text/html" id="recommend_main">
			<div class="recommend" onclick="listClick()">
				<span class="title">医师推荐</span>
				<span class="view_all">查看全部 <img src="/xcview/images/shop/view_all.png" alt="" /></span>
				<div class="both"></div>
			</div>
			{{each items as item i}}
			<div class="referrer">
				<div class="referrer_message">
					<img src="{{item.doctorHeadImg}}" alt="" class="head_portrait" />
					<span class="name">{{item.doctorName}}</span>
					<span class="recommendation_rate">
						推荐指数
						{{if item.level == 1}}
						<img src="/xcview/images/xing1_0.png" alt="" class="xingxing" />
						{{else if item.level == 2}}
						<img src="/xcview/images/xing2.png" alt="" class="xingxing" />
						{{else if item.level == 3}}
						<img src="/xcview/images/xing3.png" alt="" class="xingxing" />
						{{else if item.level == 4}}
						<img src="/xcview/images/xing4_0.png" alt="" class="xingxing" />
						{{else if item.level == 5}}
						<img src="/xcview/images/xing5.png" alt="" class="xingxing" />
						{{/if}}
					</span>
				</div>
				<div class="center">{{item.content}}</div>
			</div>
			{{/each}}
			</script>
		</div>
		
	</div>
	<!-- 医师推荐结束 -->

	<!-- 评价开始 -->
	<div class="evaluate" id="li_btn1">
		<div class="evaluate_main">
			<script type="text/html" id="evaluate_main">
			<div class="evaluate_top" onclick="evaluation()">
				<span class="title">评价</span>
				<span class="evaluate_view_all">查看全部 <img src="/xcview/images/shop/view_all.png" alt="" /></span>
				<div class="both"></div>
			</div>

			<div class="appraiser">
				<div class="appraiser_message">
					<img src="{{items.user.headPhoto}}" alt="" class="head_portrait" />
					<span class="name">{{items.user.username}}</span>
				</div>
				<div class="center" style="font-size: .26rem;color: #999999;margin-bottom: .2rem;">
					<span >{{items.createdDate}}</span>
					<span>{{items.specifications}}</span>
				</div>
				<div class="center">{{items.content}}</div>
				{{if items.reviewImage != null && items.reviewImage.length > 0}}
				<div class="save-list-img">
					<ul>
						{{each items.reviewImage as item i}}
						<li>
							<img src="{{item}}"/>
						</li>
						{{/each}}
					</ul>
				</div>
				{{/if}}
				<!-- <div class="referrer_img">
					<img src="/xcview/images/frog.jpg" alt="" />
				</div> -->
				<!--<div class="contain">
				    <ul>
				        <li>
				            <div class="body">
				                <div class="text">
				                    <div class="my-gallery" data-pswp-uid="2">
					                    <figure class="figure_big">
					                        <div><a href="/xcview/images/frog.jpg" data-size="286x220"><img style="height:100%;" src="/xcview/images/frog.jpg"></a></div>
					                    </figure>
					                    <figure class="figure_big">
					                        <div><a href="/xcview/images/anchorbg.png" data-size="286x220"><img style="height:100%;" src="/xcview/images/anchorbg.png"></a></div>
					                    </figure>
					                    <figure class="figure_big">
					                        <div><a href="/xcview/images/frog.jpg" data-size="286x220"><img style="height:100%;" src="/xcview/images/frog.jpg"></a></div>
					                    </figure>
				                    </div>
				                </div>
				            </div>
				        </li>
				        
				    </ul>
				</div>-->
			</div>

			</script>
		</div>
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	    <!-- Background of PhotoSwipe. 
	         It's a separate element as animating opacity is faster than rgba(). -->
	    <div class="pswp__bg"></div>

	    <!-- Slides wrapper with overflow:hidden. -->
	    <div class="pswp__scroll-wrap">

	        <!-- Container that holds slides. 
	            PhotoSwipe keeps only 3 of them in the DOM to save memory.
	            Don't modify these 3 pswp__item elements, data is added later on. -->
	        <div class="pswp__container">
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	        </div>

	        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
	        <div class="pswp__ui pswp__ui--hidden">

	            <div class="pswp__top-bar">

	                <!--  Controls are self-explanatory. Order can be changed. -->

	                <div class="pswp__counter"></div>

	                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

	                <button class="pswp__button pswp__button--share" title="Share"></button>

	                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

	                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

	                <!-- element will get class pswp__preloader--active when preloader is running -->
	                <div class="pswp__preloader">
	                    <div class="pswp__preloader__icn">
	                      <div class="pswp__preloader__cut">
	                        <div class="pswp__preloader__donut"></div>
	                      </div>
	                    </div>
	                </div>
	            </div>

	            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
	                <div class="pswp__share-tooltip"></div> 
	            </div>

	            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
	            </button>

	            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
	            </button>

	            <div class="pswp__caption">
	                <div class="pswp__caption__center"></div>
	            </div>

	        </div>

	    </div>
	</div>
	<div class="no_evaluation">暂无评价</div>
	</div>
	<!-- 评价结束 -->

	<!-- 商品详情开始 -->
	<div class="commodity_details" id="li_btn2">
		<div class="commodity_details_main">
			<div class="title">商品详情</div>
			<div class="commodity_details_center">
				<img src="/xcview/images/topTwo_doc.png" alt="" />
				
			</div>
		</div>
	</div>
	<!-- 商品详情结束 -->
	<div class="it_over">已经到底了</div>

	<!-- 常见问题开始 -->
	<!-- <div class="FAQ">
		<div class="issue">
			<div class="title">常见问题</div>
			<div class="issue_main">
				<ul>
					<li>
						<span class="yuan"></span>
						划线价格
						<div class="center">商品的专柜商品的专柜商品的专柜商品的专柜商品的专柜</div>
					</li>
					<li>
						<span class="yuan"></span>
						划线价格
						<div class="center">商品的专柜商品的专柜商品的专柜商品的专柜商品的专柜</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	 -->
	<!-- 常见问题结束 -->
	<div class="hide_hide"></div>
	<!-- 底部开始 -->
	<div class="footer">
		<div class="center">
			<div class="service">
				<img src="/xcview/images/shop/service.png" alt="" />
				客服
			</div>
			<!--<div class="shopping_cart" onclick="location.href ='/xcview/html/shop/shopping_trolley.html '">-->
			<div class="shopping_cart">
			<!--<div class="shopping_cart" onclick="trolley()">-->
				<img src="/xcview/images/shop/shopping_cart.png" alt="" />
				购物车
				<span class="shopping_quantity"></span>
			</div>
			<div class="deal">
				<div class="add_cart">加入购物车</div>
				<div class="buy_now">立即购买</div>
			</div>
		</div>
	</div>
	<!-- 底部结束 -->
	<div class="main">
		<script type="text/html" id="main">
		<div class="">1111</div>
		</script>
	</div>

	<!-- 点击购物车出现提示开始 -->
	<div class="shopping_trolley">
		<div class="shopping_trolley_bg"></div>
		<div class="shopping_trolley_main" style="height:8.28rem;">
			<div class="shopping_trolley_center">
				<div class="message">
					<script type="text/html" id="message">
					<img src="{{items.picture}}" alt="" class="surface_plot" />
					<div class="information">
						<span style="font-size: .28rem;color: #F97215;">
							￥<span class="price"><span>{{items.sales}}</span></span>
						</span>
						
						<div class="repertory">库存120件</div>
						<!--<div class="category">
							<span class="choice">选择</span>
							<span class="specification fl1_{{items.id}}">包装规格</span>
							<span class="kind">产品包装</span>
						</div>-->
					</div>
					</script>
				</div>
				<div class="category">
					<script type="text/html" id="category">
					<span class="choice">选择</span>
					{{each item as items i}}
						<span class="specification_name"  title="{{items.name}}">{{items.name}}</span>	
  						{{each items.entries as itemss i}}
						   <span class="specification hide"  title="{{items.name}}" data-id="{{itemss.id}}" >{{itemss.value}}</span>
						{{/each}}
					{{/each}}
					</script>
				</div>
				<div class="specifications">
					<script type="text/html" id="specifications">
					{{each item as items i}}
					<span class="">{{items.name}}</span>
					<ul class="specifications_ul" >
						{{each items.entries as itemss i}}
						    {{if itemss.isSelected}}					
								<li class="casing include" title="{{items.name}}" data-id="{{itemss.id}}" data-ids="{{items.id}}">{{itemss.value}}</li>
						    {{/if}}	
						{{/each}}
					</ul>
					{{/each}}
					</script>
				</div>

				<!-- <div class="classify">
					<span class="">分类</span>
					<ul class="classify_ul">
						<li class="hue include">红色</li>
						<li class="hue include">白色</li>
						<li class="hue include">黄色</li>
					</ul>
				</div> -->
				<div class="buy">
					<div class="purchase_quantity">购买数量</div>
					<center>
						<input type="text" class="spinnerExample"/>
					</center>
				</div>
				<div class="bottom_fiexd">
					
					<div class="determine">确定</div>
				</div>
			</div>
			<div class="close">×</div>
		</div>
	</div>
	<!-- 点击购物车出现提示结束 -->

		<!-- 点击分享提示开始 -->
		<div class="weixin_ceng">
			<div class="weixin_ceng_bg"></div>
			<div class="weixin_img"><img src="/xcview/images/fenxiang1.png" data-bd-imgshare-binded="1"></div>
		</div>
		<!-- 点击分享提示结束 -->
	
</body>
<script type="text/javascript" src="/xcview/js/common/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/mui.min.js"></script> 
<script type="text/JavaScript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<!--<script type="text/javascript" src="/xcview/js/shop/token_save.js"></script>-->
<script type="text/javascript" src="/xcview/js/common/common.js?version=ed749a7870&version=276907c86a"></script> 

<script type="text/javascript" src="/xcview/js/common/template.js?version=dd622e58c9"></script>   <!--模板引入-->

<!-- 滑动焦点图引入-->	
<script src='/xcview/js/shop/ckg/big_img.js?version=35a3532c5b&version=35a3532c5b'></script>
<script src='/xcview/js/shop/ckg/photoswipe.min.js'></script>
<script src='/xcview/js/shop/ckg/photoswipe-ui-default.min.js'></script>
<script src="/xcview/js/shop/ckg/bigImg.js?version=ca4b805048"></script>
<script src="/xcview/js/shop/ckg/swiper.min.js"></script>

<script type="text/javascript" src="/xcview/js/shop/commodity_details.js?version=21a43862ba"></script>
<script type="text/javascript" src="/xcview/js/share/share.js?version=82d2bc907e"></script>
<!-- 滑动焦点图引入-->	
<script>  
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationType: 'fraction'
    });
</script>
<!-- 滑动焦点图end-->
<script type="text/javascript" src="/xcview/js/common/popups.js?version=ac575e6012&version=ac575e6012"></script>  <!-- 公用弹框 -->
<script type="text/javascript" src="/xcview/js/shop/jquery.spinner.js?version=a3e4e4c603&version=a3e4e4c603"></script><!-- 点击数量引入 -->
<script type="text/javascript" src="/xcview/js/shop/common/commodity_details_bottom.js?version=21a43862ba"></script>

<!-- 简介、评价、详情固定头部区域 -->
<script>
	$(window).bind("scroll", function() {
		// var t = 200,if(top < 140){
	    var $header = $("#header");
	    var t = 200,
	        m = Math.min(document.documentElement.scrollTop || document.body.scrollTop, t) / t;
	    $header.css("background", "rgba(255, 255, 255, " + m + ")");

	    // 判断滚动条显示隐藏title
		var top = $(document).scrollTop();
	    if(top < 140){
	    	// 之前
	    	$(".return").attr("src","/xcview/images/salon_return.png");
	    	$(".share").attr("src","/xcview/images/shop/share.png");
	    	$(".news").attr("src","/xcview/images/shop/news.png");
	    	$(".return").removeClass("return_class");
	    	$(".share").removeClass("share_class");
	    	$(".news").removeClass("news_class");
	    	$(".header_tab").hide();
	    	$("#header").css("border-bottom","none");
	    }else if(top > 140){
	    	// 改变后
	    	$(".return").addClass("return_class");
	    	$(".share").addClass("share_class");
	    	$(".news").addClass("news_class");
	    	$(".return").attr("src","/xcview/images/backicon.png");
	    	$(".share").attr("src","/xcview/images/share_img.png");
	    	$(".news").attr("src","/xcview/images/shop/newsbg.png");
	    	$(".header_tab").show();
	    	$("#header").css("border-bottom","1px solid #f0f0f0");
	    }

	    // 点击简介
	    $(".tba_intro").click(function(){
	    	$(this).find("a").addClass("li_a");
	    	$(this).find(".border_a").show();
	    	$(".tba_appraise").find("a").removeClass("li_a");
	    	$(".tba_appraise").find(".border_a").hide();
	    	$(".tba_details").find("a").removeClass("li_a");
	    	$(".tba_details").find(".border_a").hide();
	    });

	    // 点击评价
	    $(".tba_appraise").click(function(){
	    	$(this).find("a").addClass("li_a");
	    	$(this).find(".border_a").show();
	    	$(".tba_intro").find("a").removeClass("li_a");
	    	$(".tba_intro").find(".border_a").hide();
	    	$(".tba_details").find("a").removeClass("li_a");
	    	$(".tba_details").find(".border_a").hide();
	    });

	    // 点击详情
	    $(".tba_details").click(function(){
	    	$(this).find("a").addClass("li_a");
	    	$(this).find(".border_a").show();
	    	$(".tba_intro").find("a").removeClass("li_a");
	    	$(".tba_intro").find(".border_a").hide();
	    	$(".tba_appraise").find("a").removeClass("li_a");
	    	$(".tba_appraise").find(".border_a").hide();
	    });
	   

	}); 
</script>

<script src="/xcview/js/shop/big_picture/js/jquery.min.js"></script>
<script src="/xcview/js/shop/big_picture/js/photoswipe.js?version=a8d26ff349&version=a8d26ff349"></script>
<script src="/xcview/js/shop/big_picture/js/photoswipe-ui-default.min.js"></script>
<script type="text/javascript">
	var initPhotoSwipeFromDOM = function(gallerySelector) {

    // 解析来自DOM元素幻灯片数据（URL，标题，大小...）
    // (children of gallerySelector)
    var parseThumbnailElements = function(el) {
        var thumbElements = el.childNodes,
            numNodes = thumbElements.length,
            items = [],
            figureEl,
            linkEl,
            size,
            item,
			divEl;

        for(var i = 0; i < numNodes; i++) {

            figureEl = thumbElements[i]; // <figure> element

            // 仅包括元素节点
            if(figureEl.nodeType !== 1) {
                continue;
            }
			divEl = figureEl.children[0];
            linkEl = divEl.children[0]; // <a> element
			
            size = linkEl.getAttribute('data-size').split('x');

            // 创建幻灯片对象
            item = {
                src: linkEl.getAttribute('href'),
                w: parseInt(size[0], 10),
                h: parseInt(size[1], 10)
            };



            if(figureEl.children.length > 1) {
                // <figcaption> content
                item.title = figureEl.children[1].innerHTML; 
            }

            if(linkEl.children.length > 0) {
                // <img> 缩略图节点, 检索缩略图网址
                item.msrc = linkEl.children[0].getAttribute('src');
            } 

            item.el = figureEl; // 保存链接元素 for getThumbBoundsFn
            items.push(item);
        }

        return items;
    };

    // 查找最近的父节点
    var closest = function closest(el, fn) {
        return el && ( fn(el) ? el : closest(el.parentNode, fn) );
    };

    // 当用户点击缩略图触发
    var onThumbnailsClick = function(e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        var eTarget = e.target || e.srcElement;

        // find root element of slide
        var clickedListItem = closest(eTarget, function(el) {
            return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
        });

        if(!clickedListItem) {
            return;
        }

        // find index of clicked item by looping through all child nodes
        // alternatively, you may define index via data- attribute
        var clickedGallery = clickedListItem.parentNode,
            childNodes = clickedListItem.parentNode.childNodes,
            numChildNodes = childNodes.length,
            nodeIndex = 0,
            index;

        for (var i = 0; i < numChildNodes; i++) {
            if(childNodes[i].nodeType !== 1) { 
                continue; 
            }

            if(childNodes[i] === clickedListItem) {
                index = nodeIndex;
                break;
            }
            nodeIndex++;
        }



        if(index >= 0) {
            // open PhotoSwipe if valid index found
            openPhotoSwipe( index, clickedGallery );
        }
        return false;
    };

    // parse picture index and gallery index from URL (#&pid=1&gid=2)
    var photoswipeParseHash = function() {
        var hash = window.location.hash.substring(1),
        params = {};

        if(hash.length < 5) {
            return params;
        }

        var vars = hash.split('&');
        for (var i = 0; i < vars.length; i++) {
            if(!vars[i]) {
                continue;
            }
            var pair = vars[i].split('=');  
            if(pair.length < 2) {
                continue;
            }           
            params[pair[0]] = pair[1];
        }

        if(params.gid) {
            params.gid = parseInt(params.gid, 10);
        }

        return params;
    };

    var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
        var pswpElement = document.querySelectorAll('.pswp')[0],
            gallery,
            options,
            items;

        items = parseThumbnailElements(galleryElement);

        // 这里可以定义参数
        options = {
          barsSize: { 
            top: 100,
            bottom: 100
          }, 
		   fullscreenEl : false,
			shareButtons: [
			{id:'wechat', label:'分享微信', url:'#'},
			{id:'weibo', label:'新浪微博', url:'#'},
			{id:'download', label:'保存图片', url:'{{raw_image_url}}', download:true}
			],

            // define gallery index (for URL)
            galleryUID: galleryElement.getAttribute('data-pswp-uid'),

            getThumbBoundsFn: function(index) {
                // See Options -> getThumbBoundsFn section of documentation for more info
                var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                    pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                    rect = thumbnail.getBoundingClientRect(); 

                return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
            }

        };

        // PhotoSwipe opened from URL
        if(fromURL) {
            if(options.galleryPIDs) {
                // parse real index when custom PIDs are used 
                for(var j = 0; j < items.length; j++) {
                    if(items[j].pid == index) {
                        options.index = j;
                        break;
                    }
                }
            } else {
                // in URL indexes start from 1
                options.index = parseInt(index, 10) - 1;
            }
        } else {
            options.index = parseInt(index, 10);
        }

        // exit if index not found
        if( isNaN(options.index) ) {
            return;
        }

        if(disableAnimation) {
            options.showAnimationDuration = 0;
        }

        // Pass data to PhotoSwipe and initialize it
        gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };

    // loop through all gallery elements and bind events
    var galleryElements = document.querySelectorAll( gallerySelector );

    for(var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute('data-pswp-uid', i+1);
        galleryElements[i].onclick = onThumbnailsClick;
    }

    // Parse URL and open gallery if it contains #&pid=3&gid=1
    var hashData = photoswipeParseHash();
    if(hashData.pid && hashData.gid) {
        openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
    }
	};

	// execute above function
	initPhotoSwipeFromDOM('.my-gallery');

	
	$(".my-gallery>figure>div").each(function(){
		$(this).height($(this).width());
	});
	function more(obj,id) {
 		if ($('#txt'+id).is(":hidden")) {
 			$('#p'+id).hide();
 	 		$('#txt'+id).show();
 	 		obj.innerHTML='收起';
 		} else {
 			$('#p'+id).show();
 	 		$('#txt'+id).hide();
 	 		obj.innerHTML='全文';
 		}
 	}
</script>

<script>
//	 $('.spinnerExample').addClass('disabled');
	$('.spinnerExample').attr("disabled",true);
	$('.spinnerExample').attr("disabled","disabled");
	//点击简介、评价、详情定位到具体内容
    var lis = document.getElementsByClassName("li_btn");
    for(var i = 0; i < lis.length; i++) {
        lis[i].onclick = function() {
            //获取当前li的data-to属性值，用来匹配目标div
            var attr = this.getAttribute("data-to");
            //获取与当前li想匹配的div距离页面顶端的距离
            var div_top = document.getElementById(attr).offsetTop;
            window.scrollTo(0, div_top - 50);
        }
    }
    if(localStorage.getItem("wv") == null){
        $(".share").show();
    }
</script>

<script>
	$(function () {
	    var u = navigator.userAgent, app = navigator.appVersion;
	    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
	    var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
	    if (isAndroid) {
//	        alert("安卓机！")
			$(".spinner .decrease").removeClass("decreases");
	    }
	    if (isIOS) {
//	        alert("苹果果机！")
			$(".spinner .decrease").addClass("decreases");
			$(".spinner input").addClass("spinner_input");
	    }
	}); 
</script>
</html>


