<!doctype html>
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<head>
<meta charset="utf-8">
<title>熊猫中医</title>

<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport"
	content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />

<!--手机嵌入模板-->
<script type="text/javascript" src="/xcview/js/common/layout.js"></script>
	<script type="text/javascript" src="/xcview/js/common/template.js"></script>
<link type="text/css" rel="stylesheet" href="/xcview/css/shop/line_item.css" />
<link rel="stylesheet" type="text/css" href="/xcview/css/popups.css"/> <!-- 公用弹框 -->
<script>
	// 判断横屏展示时的状态
	window.onorientationchange=function(){
	    if(window.orientation==90||window.orientation==-90){
	        window.location.reload();  /*横屏状态刷新*/
	    }else{
	        window.location.reload();  /*竖屏状态刷新*/
	    }
	}	
</script>
</head>

<body style="background: #f0f0f0;">
	<!-- 头部区域开始 -->
	<header>
		<div class="header">
			<div class="return" onclick="location.href ='/xcview/html/shop/shop.html'">
				<img src="/xcview/images/backicon.png" alt="" class="">
			</div>
			<div class="title">订单详情</div>
			<div class="advices">
				<img src="/xcview/images/shop/newsbg.png" alt="" class="news news_class">
				<!--<span class="advices_number">17</span>-->
			</div>
		</div>
	</header>
	<div class="header_hidden_field"></div>
	<!-- 头部区域结束 -->
	<div class="orderDetails"></div>
	<script type="text/html" id="order_details">
		<!-- 中间内容开始 -->
	<!-- 交易状态开始 -->
	<div class="trading_status">
		{{if status == 'PENDING_PAYMENT'}}
		<div class="payment_status">等待买家付款</div>
		{{else if status == 'PENDING_REVIEW'}}
		<div class="payment_status">买家已付款</div>
		{{else if status == 'PENDING_SHIPMENT'}}
		<div class="payment_status">买家已付款</div>
		{{else if status == 'SHIPPED'}}
		<div class="payment_status">卖家已发货</div>
		{{else if status == 'RECEIVED'}}
		<div class="payment_status">交易成功</div>
		{{else if status == 'COMPLETED'}}
		<div class="payment_status">交易成功</div>
		{{else if status == 'FAILED'}}
		<div class="payment_status">关闭交易</div>
		{{else if status == 'CANCELED'}}
		<div class="payment_status">关闭交易</div>
		{{else if status == 'DENIED'}}
		<div class="payment_status">关闭交易</div>
		{{/if}}

		<div class="orderid">订单编号：{{sn}}</div>
		<div class="orderid">下单时间：{{createdDate}}</div>
	</div>
	<!-- 交易状态结束 -->

	<!-- 物流信息开始=====等待卖家已发货-显示 -->
	{{if status =='SHIPPED' || status =='RECEIVED' || status =='COMPLETED'}}
	<div class="logistics" >
		<div class="logistics_main">
			<div class="trucks">
				<img src="/xcview/images/shop/trucks.png" alt="" />
			</div>
			<div class="logistics_site">
				<div class="logistics_sites"></div>
				<div class="data"></div>
			</div>
			<div class="arrows">
				<img src="/xcview/images/account05.png" alt="" />
			</div>
		</div>
	</div>
	{{/if}}
	<!-- 物流信息结束 -->

	<!-- 收件人开始 -->
	<div class="recipients">
		<div class="recipients_main">
			<div class="name"><strong>收件人：{{consignee}}</strong></div>
			<div class="number"><strong>{{phone}}</strong></div>
		</div>
		<div class="address">{{areaName}}{{address}}</div>
	</div>
	<!-- 收件人结束 -->
	
	<div class="indent">

		<div class="indent_list">
			{{if doctor !=null}}
			<div class="indent_list_title">
				<div class="tilte">
					<img src="{{doctor.avatar}}" alt="" class="head_portrait" />
					{{doctor.name}}医师推荐
				</div>
				<!-- 多种状态 -->
				<!--<div class="payment_operation">等待买家付款</div>
				<div class="payment_operation" style="display: none;">买家已付款</div>
				<div class="payment_operation" style="display: none;">卖家已发货</div>
				<div class="payment_operation" style="display: none;">交易成功</div>
				<div class="payment_operation" style="display: none;">交易关闭</div>-->
			</div>
			{{/if}}
			<div class="main_product_details">
				{{each orderItems as orderItem }}
				<div class="product_details">
					<img src="{{orderItem.thumbnail}}" alt="" class="surface_plot" />
					<div class="product_details_center">
						<div class="title"><span>{{orderItem.name}}</span></div>
						<div class="pack">
							{{if orderItem.sku != null}}
							{{orderItem.sku.specifications}}（库存{{orderItem.sku.stock}}件）
							{{/if}}
						</div>
						<div class="total_prices">
							<div class="price_yuan" >
								<div class="yuan">￥<span>{{orderItem.price}}</span></div>
								<div class="number">x<span>{{orderItem.quantity}}</span></div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<!-- <div class="zongjia"></div> -->
			<div class="fund">
				<div class="fund_main">
					<div class="payment_details total_price">
						<div class="total fund_title">商品总价</div>
						<div class="yuan">￥<span>{{price}}</span></div>
					</div>
					<div class="payment_details freight">
						<div class="fund_title">运费</div>
						<div class="yuan">+￥<span>{{freight}}</span></div>
					</div>
					<!--<div class="payment_details">
						<div class="fund_title">优惠金额</div>
						<div class="yuan">-￥{{preferentialAmount}}</div>
					</div>-->
					<div class="payment_details PAYG">
						<div class="fund_title">需付款（含运费）</div>
						<div class="yuans">￥<span>{{amount}}</span></div>
					</div>
				</div>
			</div>
			<div class="notescontact" id="notescontact">
				<img src="/xcview/images/shop/notescontact.png" alt="" />联系客服
			</div>
			

			<div class="payment_method">
				<div class="waiting_payment">
					<!-- 等待买家付款 -->
					{{if status == 'PENDING_PAYMENT'}}
					<div class="immediate_payment">立即付款</div>
					<div class="cancel_order" data-sn="{{sn}}">取消订单</div>
					
					<!-- 买家已付款 -->
					{{else if status == 'PENDING_REVIEW' || status == 'PENDING_SHIPMENT'}}
					<div class="buy_again" onclick='againBuy("{{sn}}")'>再次购买</div>

					<!-- 卖家已发货 -->
					{{else if status == 'SHIPPED'}}
					
					<div class="confirm_receipt" onclick='confirmReceipt("{{sn}}")'>确认收货</div>
					<div class="shipped_cancel_order" onclick='againBuy("{{sn}}")'>再次购买</div>
					<div class="check_logistics" onclick='getTransitSteps("{{sn}}","{{id}}")' style="border: 1px solid #DEDEDE;color: #333333;">查看物流</div>

					<!-- 交易成功 -->
					{{else if status == 'COMPLETED'  || status == 'RECEIVED'}}
					{{if !isReviewed}}
					<div class="win_evaluate">评价</div>   <!-- 交易成功后评价后-评价按钮隐藏 -->
					{{/if}}
					<div class="win_shipped_cancel_order" onclick='againBuy("{{sn}}")'>再次购买</div>
					<div class="win_check_logistics" onclick='getTransitSteps("{{sn}}","{{id}}")' style="border: 1px solid #DEDEDE;color: #333333;">查看物流</div>
					
					
					<!-- 交易关闭 -->
					{{else if status == 'CANCELED' || status == 'FAILED' || status == 'DENIED'}}
					
					<div class="fack_shipped_cancel_order" onclick='againBuy("{{sn}}")'>再次购买</div>
					<div class="delete_order" data-id="{{id}}" style="border: 1px solid #DEDEDE;color: #333333;">删除订单</div>
					{{/if}}
				</div>
			</div>
		</div>

	</div>
	</script>
	</div>
	<!-- 中间内容结束 -->
	<div class="main_height"></div>

	<!-- 取消订单提示开始 -->
	<div class="removeitem cancelOrder">
		<div class="removeitembg"></div>
		<div class="removeitem-main">
			<div class="reminder"><strong>提示</strong></div>
			<div class="reminder-main">确认取消该订单？</div>
			<div class="removeitem-choice">
				<div class="countermand countermandCancel">取消</div>
				<div class="affirm" onclick="cancelOrder()">确认</div>
			</div>
		</div>
	</div>
	<!-- 取消订单提示结束 -->

	<!-- 取消订单提示开始 -->
	<div class="removeitem deleteOrder" >
		<div class="removeitembg"></div>
		<div class="removeitem-main">
			<div class="reminder"><strong>提示</strong></div>
			<div class="reminder-main">确认删除该订单？</div>
			<div class="removeitem-choice">
				<div class="countermand countermandDelete">取消</div>
				<div class="affirm" onclick="deleteOrder()">确认</div>
			</div>
		</div>
	</div>
	<!-- 取消订单提示结束 -->

	
</body>
<script type="text/javascript" src="/xcview/js/common/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/mui.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/common.js"></script>

<script type="text/javascript" src="/xcview/js/shop/order_details.js"></script>

<script type="text/javascript" src="/xcview/js/common/popups.js"></script>  <!-- 公用弹框 -->

<script>

</script>

</html>
