<!doctype html>
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<head>
<meta charset="utf-8">
<title>熊猫中医</title>

<!--这段meta代码需要加上，移动端自适应缩放用-->
<meta name="viewport"
	content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />

<!--手机嵌入模板-->
<script type="text/javascript" src="/xcview/js/common/layout.js"></script>
<script type="text/javascript" src="/xcview/js/common/template.js"></script>

<script type="text/javascript" src="/xcview/js/common/jquery.min-2.1.1.js"></script>
<script type="text/javascript" src="/xcview/js/common/mui.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/common.js"></script>
<!--刷新 -->
<link rel="stylesheet" href="/xcview/css/minirefresh/minirefresh.css">
<script type="text/javascript" src="/xcview/js/minirefresh/minirefresh.js"></script>

<link type="text/css" rel="stylesheet" href="/xcview/css/shop/order_center.css" />

<script>
	// 判断横屏展示时的状态
	window.onorientationchange=function(){
	    if(window.orientation==90||window.orientation==-90){
	        window.location.reload();  /*横屏状态刷新*/
	    }else{
	        window.location.reload();  /*竖屏状态刷新*/
	    }
	}
</script>
<style>
	/*处理刷新*/
	.minirefresh-wrap{
		top: 1.1rem;
	}
	.minirefresh-theme-default .minirefresh-downwrap{
		height: 1rem;
		line-height: 1rem;
	}
	.minirefresh-theme-default .downwrap-content{
		padding: 0;
	}
	.minirefresh-theme-default .minirefresh-upwrap{
		height: 1rem;
		max-height: 0.5rem;
		line-height: 0.6rem;
		padding: 0;
		/*margin-top: -0.5rem;*/
	}
	.minirefresh-scroll{
		background: none;
	}
</style>
</head>

<body style="background: #f0f0f0;">
	<!-- 头部区域开始 -->
	<header>
		<div class="header">
			<div class="return" onclick="location.href ='/xcview/html/my_homepage.html'">
				<img src="/xcview/images/backicon.png" alt="" class="">
			</div>
			<div class="title">好货订单</div>
			<div class="advices">
				<img src="/xcview/images/shop/newsbg.png" alt="" class="news news_class">
				<span class="advices_number">17</span>
			</div>
		</div>
	</header>
	<div class="header_hidden_field"></div>
	<!-- 头部区域结束 -->
	
	<!-- 中间内容开始 -->
	<div id="minirefresh" class="minirefresh-wrap">
		<div class="minirefresh-scroll">
	<div class="indent">

		<script type="text/html" id="order_list">
			{{each items as item i}}
		<div class="indent_list">
			<div class="indent_list_title">
				{{if item.doctorId != null}}
				<div class="tilte">
					<img src="{{item.doctorHeadPortrait}}" alt="" class="head_portrait" />
					{{item.doctorName}}医师推荐
				</div>
				{{/if}}
				<!-- 多种状态 -->
				{{if item.status == 'PENDING_PAYMENT'}}
				<div class="payment_operation">等待付款</div>
				{{else if item.status == 'PENDING_REVIEW'}}
				<div class="payment_operation">等待审核</div>
				{{else if item.status == 'PENDING_SHIPMENT'}}
				<div class="payment_operation">等待发货</div>
				{{else if item.status == 'SHIPPED'}}
				<div class="payment_operation">已发货</div>
				{{else if item.status == 'RECEIVED'}}
				<div class="payment_operation">已收货</div>
				{{else if item.status == 'COMPLETED'}}
				<div class="payment_operation">已完成</div>
				{{else if item.status == 'FAILED'}}
				<div class="payment_operation">已失败</div>
				{{else if item.status == 'CANCELED'}}
				<div class="payment_operation">已取消</div>
				{{else if item.status == 'DENIED'}}
				<div class="payment_operation">已拒绝</div>
				{{/if}}
			</div>
			<div class="main_product_details">
				{{each item.orderItems as orderItem }}
				<div class="product_details">
					<img src="{{orderItem.thumbnail}}" alt="" class="surface_plot" />
					<div class="product_details_center">
						<div class="title"><span>{{orderItem.name}}</span></div>
						<div class="pack">
							{{orderItem.sku.specifications}}（库存{{orderItem.sku.stock}}件）
						</div>
						<div class="total_prices">
							<div class="price_yuan" >
								<div class="yuan">￥<span>{{orderItem.price}}</span></div>
								<div class="number">x<span>{{orderItem.quantity}}</span></div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<div class="zongjia"></div>

			<div class="express">
				<div class="express_price">共{{item.quantity}}件商品&nbsp;&nbsp;&nbsp;&nbsp;需付款&nbsp;<span>￥{{item.amount}}</span></div>
			</div>

			<div class="payment_method">
				<div class="waiting_payment">
					<!-- 等待买家付款 -->
					{{if item.status == 'PENDING_PAYMENT'}}
					<div class="immediate_payment" data-sn="{{item.sn}}" onclick='payment("{{item.sn}}")'\>立即付款</div>
					<div class="cancel_order" data-sn="{{item.sn}}">取消订单</div>
					
					<!-- 买家已付款 -->
					{{else if item.status == 'PENDING_REVIEW'}}
					<div class="buy_again">再次购买</div>

					<!-- 卖家已发货 -->
					{{else if item.status == 'SHIPPED'}}
					<div class="check_logistics" >查看物流</div>
					<div class="shipped_cancel_order" >再次购买</div>
					<div class="confirm_receipt" >确认收货</div>

					<!-- 交易成功 -->
					{{else if item.status == 'COMPLETED'}}
					<div class="win_check_logistics" >查看物流</div>
					<div class="win_shipped_cancel_order" >再次购买</div>
					<div class="win_evaluate" >评价</div>   <!-- 交易成功后评价后-评价按钮隐藏 -->
					
					<!-- 交易关闭 -->
					{{else if item.status == 'CANCELED'}}
					<div class="delete_order" >删除订单</div>
					<div class="fack_shipped_cancel_order" >再次购买</div>
					{{/if}}
				</div>
			</div>
		</div>
			{{/each}}
		</script>
			</div>
		</div>
	</div>
	<!-- 中间内容结束 -->

	<!-- 取消订单提示开始 -->
	<div class="removeitem">
		<div class="removeitembg"></div>
		<div class="removeitem-main">
			<div class="reminder"><strong>提示</strong></div>
			<div class="reminder-main">确认删除该订单？</div>
			<div class="removeitem-choice">
				<div class="countermand">取消</div>
				<div class="affirm" onclick="cancelOrder()">确认</div>
			</div>
		</div>
	</div>
	<!-- 取消订单提示结束 -->

	
</body>


<script type="text/javascript" src="/xcview/js/shop/confirm_order.js"></script>
<script type="text/javascript" src="/xcview/js/shop/order_center.js"></script>


</html>
