<!doctype html>
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<html lang="en" style="font-size: 84.3125px;">
<!--html标签中需要先设定font-size的值，后面改变窗口尺寸大小的时候，JS会动态改变这个值，实现rem相对值的改变。-->
<head>
    <meta charset="utf-8">
    <title>熊猫中医</title>

    <!--这段meta代码需要加上，移动端自适应缩放用-->
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <!--手机嵌入模板-->
    <script type="text/javascript" src="/xcview/js/common/layout.js"></script>

    <link type="text/css" rel="stylesheet" href="/xcview/css/shop/base.css"/>
    <link rel="stylesheet" href="/xcview/css/shop/jquery.spinner.css"/><!-- 提示框=点击数量加减 -->
    <link type="text/css" rel="stylesheet" href="/xcview/css/shop/module.css"/><!-- 点击数量加减 -->
    <link rel="stylesheet" href="/xcview/css/shop/shopping_trolley.css"/><!-- 点击数量加减 -->

    <script type="text/javascript" src="/xcview/js/common/popups.js"></script>  <!-- 公用弹框 -->
    <link rel="stylesheet" type="text/css" href="/xcview/css/popups.css"/> <!-- 公用弹框 -->
    <script>
        // 判断横屏展示时的状态
        window.onorientationchange = function () {
            if (window.orientation == 90 || window.orientation == -90) {
                window.location.reload();
                /*横屏状态刷新*/
            } else {
                window.location.reload();
                /*竖屏状态刷新*/
            }
        }
    </script>
    <style>
        .shopping {
            width: 7.5rem;
            height: 100%;
            margin: 0 auto;
            display: none;
        }
        .shop-info .shop-info-text .shop-arithmetic{
        	width: 1.7rem;
        }
    </style>
</head>

<body>
<!-- 头部区域开始 -->
<header>
    <div class="header">
        <!--<div class="return" onclick="location.href ='/xcview/html/shop/commodity_details.html?productId=' + id +'">-->
        <div class="return" onclick="javascript:history.go(-1);">
            <img src="/xcview/images/backicon.png" alt="" class="">
        </div>
        <div class="title">购物车</div>
        <div class="message">
            <img src="/xcview/images/shop/newsbg.png" alt=""/>
            <span class="advices_number"></span>
        </div>
        <div class="compile" style="displays: none;">编辑</div>
        <div class="finish">完成</div>
    </div>
</header>
<div class="header_hidden_field"></div>
<!-- 头部区域结束 -->

<!-- 中间内容开始 -->
<div id="shop_cart_div">

</div>
<!-- 中间内容结束 -->

<!-- 底部开始 -->
<div class="hidden_field" style="display:none;"></div>
<div class="payment-bar">
    <div class="all-checkbox"><input type="checkbox" class="check goods-check" id="AllCheck"
                                     style="margin-left:.26rem;"/>全选
    </div>

    <div class="pick-compile">

        <div class="shop-total">
            <span class="exclude-freight">不含运费</span>
            总价：<span>￥</span><span class="total" id="AllTotal">0.00</span>
            <a href="#" class="settlement">结算</a>
        </div>
        <div class="itemdelete">删除商品</div>
    </div>
</div>
<!-- 底部结束 -->

<!-- 点击选中按钮后==点击规格显示框开始 -->
<div class="shopping_trolley" id="choice_product">
    <div class="shopping_trolley_bg"></div>
    <div class="shopping_trolley_main">

    </div>
</div>
<!-- 点击选中按钮后==点击规格显示框结束 -->

<!-- 删除所选商品提示开始 -->
<div class="removeitem">
    <div class="removeitembg"></div>
    <div class="removeitem-main">
        <div class="reminder"><strong>提示</strong></div>
        <div class="reminder-main">确认删除所选商品？</div>
        <div class="removeitem-choice">
            <div class="countermand">取消</div>
            <div class="affirm">确认</div>
        </div>
    </div>
</div>
<!-- 删除所选商品提示结束 -->

<!-- 购物车为空的时候===编辑compile隐藏  shopping中间内容隐藏 底部隐藏payment-bar  hidden_field底部开始隐藏  -->
<!-- 购物车空的状态开始 -->
<div class="vacancy-main" style="display: none;">
    <div class="vacancy">
        <img src="/xcview/images/soldout.png" alt=""/>
        <div class="vacancy-cen">您的购物车空空如也，先去挑选心爱的好货吧~</div>
        <div class="vacancy-btn" onclick="location.href ='/xcview/html/shop/shop.html'">挑好货</div>
    </div>
    <div class="main_center" id="shop_recommend_product_ul">
    </div>
</div>

<!-- 购物车空的状态结束 -->

</body>
<script type="text/javascript" src="/xcview/js/common/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/mui.min.js"></script>
<script type="text/javascript" src="/xcview/js/common/common.js"></script>
<script type="text/javascript" src="/xcview/js/shop/shopping_trolley.js"></script>  <!-- 选中点击按钮 -->
<script type="text/javascript" src="/xcview/js/common/template.js"></script>   <!--模板引入-->

<script type="text/javascript" src="/xcview/js/shop/jquery.spinner.js"></script><!-- 提示框=点击数量引入 -->

<script type="text/html" id="shop_recommend_product_tmpl">
    <div class="hot_sale">猜你喜欢</div>
    <ul class="list">
        {{ each resultObject as product i }}
        <li data-id="{{product.id}}">
            <img src="{{product.picture}}" alt="" class="surface_plots">
            <div class="title">{{product.name}}</div>
            <div class="price">{{product.price}}</div>
            {{ if product.doctor }}
            <div class="referrer">
                <img src="{{product.doctor.avatar}}" alt="">{{product.doctor.name}}
            </div>
            {{/if }}
        </li>
        {{/each}}
    </ul>
</script>

<script type="text/html" id="shop_cart_tmpl">
    <div class="shopping" style="display:block;">
        {{each storeCartItems as item i}}
        <div class="shop-group-item">
            <div class="shop-name">
                <input type="checkbox" class="check goods-check shopCheck" style="margin-left:.26rem;">
                <h4>
                    <img src="{{item.logo}}" alt="" class="head_portrait"/>
                    <a href="#" class="shop-names">{{item.name}}</a>
                </h4>
                <!-- <div class="coupons"><span>领券</span><em>|</em><span>编辑</span></div> -->
            </div>
            <ul>
                {{each item.cartItems as cartItem i}}
                <li class="product-li product-li-{{i}} product-sku-{{cartItem.sku.id}}">
                    <div class="shop-info">
                        <input type="checkbox" class="check goods-check goodsCheck" data-sid="{{cartItem.sku.id}}" data-cid="{{cartItem.id}}">
                        <div class="shop-info-img"><a href="#"><img src="{{cartItem.sku.image}}"/></a></div>
                        <div class="shop-info-text">
                            <h4 class="">{{cartItem.sku.name}}</h4>
                            <div class="inventory"><span
                                    class="packaging">{{cartItem.sku.specifications}}</span>（库存<span
                                    class="number_packages">{{cartItem.sku.stock}}</span>件）<img
                                    src="/xcview/images/bot.png" alt="" class="select" style="display: inline"
                                    data-pid="{{cartItem.sku.productId}}" data-sid="{{cartItem.sku.id}}"/>
                                <div class="selectbg"></div>
                            </div>
                            <div class="shop-price">
                                <div class="shop-pices">￥<b class="price">{{cartItem.sku.price}}</b></div>
                                <div class="shop-arithmetic">
                                    {{if cartItem.quantity > 1 }}
                                    <a href="javascript:;" class="minus">-</a>
                                    {{else}}
                                    <a href="javascript:;" class="minus minus-class">-</a>
                                    {{/if}}
                                    <span class="num" data-sid="{{cartItem.sku.id}}">{{cartItem.quantity}}</span>
                                    <a href="javascript:;" class="plus">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>

            <div class="shopPrice" style="display: none;">本店总计：￥<span class="shop-total-amount ShopTotal">0.00</span>
            </div>
        </div>
        {{/each}}
    </div>
</script>

<script type="text/html" id="shop_product_choice">
    <div class="shopping_trolley_center">
        <div class="message">
            <img src="/xcview/images/xianxia_03.jpg" alt="" class="surface_plot">
            <div class="information">
                <div class="price"></div>
                <div class="repertory"></div><!--  -->
                <div class="category">
                    <span class="choice">选择</span>
                    {{ each specificationItemvs as specificationItem i}}
                    <span class="specification spec-index-{{i}}">{{specificationItem.name}}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        {{ each specificationItemvs as specificationItem i }}
        <div class="specifications">
            <span class="">{{specificationItem.name}}</span>
            <ul class="specifications_ul">
                {{ each specificationItem.entries as entry e}}
                {{if entry.isSelected }}
                <li class="casing include spec-{{entry.id}}" data-eid="{{entry.id}}" data-index="{{i}}"
                    data-name="{{entry.value}}">{{entry.value}}
                </li>
                {{/if}}
                {{ /each }}
            </ul>
        </div>
        {{/each}}
        <div class="bottom_fiexd">
        	<div class="buy">
	            <div class="purchase_quantity">购买数量</div>
	            <center>
	                <div class="spinner">
	                    <input type="text" class="spinnerExample value passive"/>
	                </div>
	            </center>
	        </div>
	        <div class="determine">确定</div>
        </div>
    </div>
</script>

</html>
