<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.anchor.mapper.CourseApplyResourceMapper">

	<select id="selectAllCourseResources" resultType="com.xczhihui.medical.anchor.vo.CourseApplyResourceVO">
		SELECT
		*
		FROM
		`course_apply_resource` car
		WHERE car.`user_id` =  #{userId}
		AND car.`is_delete` = 0
		ORDER BY car.`create_time` DESC
	</select>

	<select id="selectCourseResourceByPage" resultType="com.xczhihui.medical.anchor.vo.CourseApplyResourceVO">
		SELECT
		*
		FROM
		`course_apply_resource` car
		WHERE car.`user_id` =  #{userId}
		AND car.`is_delete` = 0
		ORDER BY car.`create_time` DESC
	</select>

	<select id="selectAllCourseResourcesForUpdateDuration" resultType="com.xczhihui.medical.anchor.model.CourseApplyResource">
		SELECT
		  car.id,car.`resource`
		FROM
		  `course_apply_resource` car
		WHERE car.`is_delete` = 0
		AND car.`length` IS NULL
		ORDER BY car.`create_time` ASC
	</select>

</mapper>