<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.hospital.mapper.MedicalHospitalAccountMapper">

     <select id="getByUserId" parameterType="string" resultType="com.xczhihui.medical.hospital.model.MedicalHospitalAccount">
        SELECT id, doctor_id, account_id
		FROM medical_hospital_account
		WHERE account_id = #{userId}
     </select>
</mapper>