<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.doctor.mapper.MedicalDoctorMapper">

	<resultMap type="com.xczhihui.medical.doctor.vo.MedicalWritingsVO" id="MedicalWritingsResult">
		<id column="id" property="id" />
		<id column="articleId" property="articleId" />
		<id column="title" property="title" />
		<id column="author" property="author" />
		<id column="buyLink" property="buyLink" />
		<id column="imgPath" property="imgPath" />
		<id column="content" property="content" />

		<collection property="medicalDoctors" ofType="com.xczhihui.medical.doctor.vo.MedicalDoctorVO">
			<id column="did" property="id"/>
			<id column="dname" property="name"/>
			<id column="headPortrait" property="headPortrait"/>
			<id column="province" property="province"/>
			<id column="city" property="city"/>
		</collection>
	</resultMap>


	<select id="selectDoctorList" resultType="com.xczhihui.medical.doctor.vo.MedicalDoctorVO">
		SELECT
		  md.*,
		  md.`work_time` workTime,
		  mdai.head_portrait headPortrait,
		  mh.`name` hospitalName

		FROM
		  medical_doctor md
		<if test="field != null and field!=''">
			join medical_doctor_field mdf on md.id = mdf.doctor_id and mdf.`field_id`=#{field}
		</if>
		  LEFT JOIN `medical_doctor_authentication_information` mdai
			ON md.`authentication_information_id` = mdai.`id`
		  LEFT JOIN `medical_hospital_doctor` mhd
			ON mhd.`doctor_id` = md.`id`
		  LEFT JOIN `medical_hospital` mh
			ON mhd.`hospital_id` = mh.`id`
		WHERE md.deleted = 0
		  AND md.status = 1
		<if test="type != null and type != ''">
			and md.type = #{type}
		</if>
		<if test="hospitalId != null and hospitalId!=''">
			and mh.id = #{hospitalId}
		</if>
		<if test="name != null and name!=''">
			and md.name like concat('%',#{name},'%')
		</if>
		ORDER BY CONVERT(md.`name` USING gbk) ASC
	</select>

	<select id="selectDoctorById" resultType="com.xczhihui.medical.doctor.vo.MedicalDoctorVO">
		SELECT
		md.*,
		md.`work_time` workTime,
		mdai.head_portrait headPortrait,
		mh.`id` hospitalId,
		md.detailed_address detailedAddress
		FROM
		medical_doctor md
		LEFT JOIN `medical_doctor_authentication_information` mdai
		ON md.`authentication_information_id` = mdai.`id`
		LEFT JOIN `medical_hospital_doctor` mhd
		ON mhd.`doctor_id` = md.`id`
		LEFT JOIN `medical_hospital` mh
		ON mhd.`hospital_id` = mh.`id`
		WHERE md.deleted = 0
		AND md.status = 1
		AND md.id = #{id}
	</select>

	<select id="getHotField" resultType="com.xczhihui.medical.field.vo.MedicalFieldVO">
		SELECT
		mf.id,mf.name
		FROM
		`medical_field` mf
		LEFT JOIN `medical_doctor_field` mdf
		ON mf.`id` = mdf.`field_id`
		GROUP BY mdf.`field_id`
		ORDER BY COUNT(mdf.`field_id`) DESC
		LIMIT 0, 8
	</select>

	<select id="selectRecDoctor" resultType="com.xczhihui.medical.doctor.vo.MedicalDoctorVO">
		select
		md.*,
		mdai.head_portrait headPortrait,
		mda.account_id as userId
		from
		medical_doctor md
		inner join medical_doctor_account as mda
		    on md.id =  mda.doctor_id 
		LEFT JOIN `medical_doctor_authentication_information` mdai
			ON md.`authentication_information_id` = mdai.`id`
		where md.deleted = 0
		and md.status = 1
		and md.recommend = 1
		order by md.recommend_sort desc
		limit 0, 10
	</select>

	<select id="getHotSpecialColumnAuthor" resultType="com.xczhihui.medical.doctor.vo.MedicalDoctorVO">
		SELECT
		  SUM(oba.`browse_sum`) sbs,
		  COUNT(oba.`id`) ci,
		  md.`name`,
		  md.`id`,
		  mdai.`head_portrait` headPortrait,
		  md.`signature`
		FROM
		  `oe_bxs_article` oba
		  JOIN `article_type` art
			ON oba.type_id = art.`id`
		  JOIN `medical_doctor_author_article` mdaa
			ON mdaa.`article_id` = oba.`id`
		  JOIN `medical_doctor` md
			ON mdaa.`doctor_id` = md.`id`
		  JOIN `medical_doctor_authentication_information` mdai
			ON mdai.id = md.`authentication_information_id`
		WHERE art.id = #{specialColumn}
		AND oba.`is_delete`=0 AND oba.`status`=1
		GROUP BY md.`id`
		ORDER BY sbs DESC ,ci DESC,CONVERT(md.`name` USING gbk) ASC
		limit 0,5
	</select>

	<select id="selectMedicalFieldsByDoctorId" resultType="com.xczhihui.medical.field.vo.MedicalFieldVO">
		SELECT
		  mf.name,
		  mf.id
		FROM
		  `medical_field` mf,
		  `medical_doctor_field` mdf
		WHERE mf.`id` = mdf.`field_id`
		and mdf.doctor_id = #{doctorId}
	</select>

	<select id="getWritingsByDoctorId" resultType="com.xczhihui.medical.doctor.vo.MedicalWritingsVO">
		SELECT
		  mw.id,
		  mw.`title`,
		  mw.`author`,
		  oba.`img_path` imgPath
		FROM
		  `medical_writings` mw
		  LEFT JOIN `oe_bxs_article` oba
			ON mw.`article_id` = oba.id
		  LEFT JOIN `medical_doctor_writings` mdw
			ON mdw.`writings_id` = mw.`id`
		  LEFT JOIN `medical_doctor` md
			ON md.id = mdw.`doctor_id`
			WHERE md.id = #{doctorId}
			AND mw.`deleted`=0 AND mw.`status`=1
			GROUP BY oba.id
	ORDER BY mw.`create_time` desc
	</select>

	<select id="getRecentlyWritings" resultType="com.xczhihui.medical.doctor.vo.MedicalWritingsVO">
		SELECT
		  mw.id,
		  mw.`title`,
		  mw.`author`,
		  oba.`img_path` imgPath
		FROM
		  `medical_writings` mw
		  LEFT JOIN `oe_bxs_article` oba
			ON mw.`article_id` = oba.id
		  LEFT JOIN `medical_doctor_writings` mdw
			ON mdw.`writings_id` = mw.`id`
		  LEFT JOIN `medical_doctor` md
			ON md.id = mdw.`doctor_id`
		WHERE mw.`deleted` = 0
		  AND mw.`status` = 1
		  GROUP BY oba.id
	ORDER BY mw.`create_time` desc
	limit 0, 5
	</select>

	<select id="getWritingsByPage" resultType="com.xczhihui.medical.doctor.vo.MedicalWritingsVO">
		SELECT
		  mw.id,
		  mw.`title`,
		  mw.`author`,
		  oba.`img_path` imgPath,
		  oba.content
		FROM
		  `medical_writings` mw
		  LEFT JOIN `oe_bxs_article` oba
			ON mw.`article_id` = oba.id
		  LEFT JOIN `medical_doctor_writings` mdw
			ON mdw.`writings_id` = mw.`id`
		  LEFT JOIN `medical_doctor` md
			ON md.id = mdw.`doctor_id`
		WHERE mw.`deleted` = 0
		  AND mw.`status` = 1
		  GROUP BY oba.id
	ORDER BY mw.`create_time` desc
	</select>

	<select id="getWritingsDetailsById" resultMap="MedicalWritingsResult">
		SELECT
		  mw.id,
		  mw.`article_id` articleId,
		  mw.`title`,
		  mw.`author`,
		  mw.`buy_link` buyLink,
		  oba.`img_path` imgPath,
		  oba.`content` ,
		  md.id did,
		  md.`name` dname,
		  md.`province`,
		  md.`city`,
		  mdai.`head_portrait` headPortrait
		FROM
		  `medical_writings` mw
		  LEFT JOIN `oe_bxs_article` oba
			ON mw.`article_id` = oba.id
		  LEFT JOIN `medical_doctor_writings` mdw
			ON mdw.`writings_id` = mw.`id`
		  LEFT JOIN `medical_doctor` md
			ON md.id = mdw.`doctor_id`
		  LEFT JOIN `medical_doctor_authentication_information` mdai
			ON md.`authentication_information_id` = mdai.`id`
			WHERE mw.id = #{writingsId}
	</select>

	<insert id="insertSelective" parameterType="com.xczhihui.medical.doctor.model.MedicalDoctor">
		INSERT INTO medical_doctor
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="medicalDoctor.id != null">
				id,
			</if>
			<if test="medicalDoctor.name != null">
				name,
			</if>
			<if test="medicalDoctor.title != null">
				title,
			</if>
			<if test="medicalDoctor.description != null">
				description,
			</if>
			<if test="medicalDoctor.deleted != null">
				deleted,
			</if>
			<if test="medicalDoctor.status != null">
				status,
			</if>
			<if test="medicalDoctor.authenticationInformationId != null">
				authentication_information_id,
			</if>
			<if test="medicalDoctor.createTime != null">
				create_time,
			</if>
			<if test="medicalDoctor.createPerson != null">
				create_person,
			</if>
			<if test="medicalDoctor.fieldText != null">
				field_text,
			</if>
			<if test="medicalDoctor.workTime != null">
				work_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="medicalDoctor.id != null">
				#{medicalDoctor.id},
			</if>
			<if test="medicalDoctor.name != null">
				#{medicalDoctor.name},
			</if>
			<if test="medicalDoctor.title != null">
				#{medicalDoctor.title},
			</if>
			<if test="medicalDoctor.description != null">
				#{medicalDoctor.description},
			</if>
			<if test="medicalDoctor.deleted != null">
				#{medicalDoctor.deleted},
			</if>
			<if test="medicalDoctor.status != null">
				#{medicalDoctor.status},
			</if>
			<if test="medicalDoctor.authenticationInformationId != null">
				#{medicalDoctor.authenticationInformationId},
			</if>
			<if test="medicalDoctor.createTime != null">
				#{medicalDoctor.createTime},
			</if>
			<if test="medicalDoctor.createPerson != null">
				#{medicalDoctor.createPerson},
			</if>
			<if test="medicalDoctor.fieldText != null">
				#{medicalDoctor.fieldText},
			</if>
			<if test="medicalDoctor.workTime != null">
				#{medicalDoctor.workTime},
			</if>
		</trim>
	</insert>

	<select id="getWorkTimeById" parameterType="string" resultType="string">
		SELECT work_time
		FROM medical_doctor
		WHERE id = #{doctorId}
	</select>

	<update id="updateSelective" parameterType="com.xczhihui.medical.doctor.model.MedicalDoctor">
		UPDATE medical_doctor
		<set>
			<if test="medicalDoctor.name != null">
				name = #{medicalDoctor.name},
			</if>
			<if test="medicalDoctor.title != null">
				title = #{medicalDoctor.title},
			</if>
			<if test="medicalDoctor.description != null">
				description = #{medicalDoctor.description},
			</if>
			<if test="medicalDoctor.deleted != null">
				deleted = #{medicalDoctor.deleted},
			</if>
			<if test="medicalDoctor.status != null">
				status = #{medicalDoctor.status},
			</if>
			<if test="medicalDoctor.authenticationInformationId != null">
				authenticationInformationId = #{medicalDoctor.authenticationInformationId},
			</if>
			<if test="medicalDoctor.createTime != null">
				createTime = #{medicalDoctor.createTime},
			</if>
			<if test="medicalDoctor.createPerson != null">
				createPerson = #{medicalDoctor.createPerson},
			</if>
			<if test="medicalDoctor.fieldText != null">
				fieldText = #{medicalDoctor.fieldText},
			</if>
			<if test="medicalDoctor.fieldText != null">
				fieldText = #{medicalDoctor.fieldText},
			</if>
			<if test="medicalDoctor.workTime != null">
				work_time = #{medicalDoctor.workTime}
			</if>
			where id = #{medicalDoctor.id}
		</set>
	</update>

</mapper>