<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.hospital.mapper.MedicalHospitalAccountMapper">

     <select id="getByUserId" parameterType="string" resultType="com.xczhihui.medical.hospital.model.MedicalHospitalAccount">
        SELECT id, doctor_id, account_id
		FROM medical_hospital_account
		WHERE account_id = #{userId}
     </select>
     
     
     <!-- 通过用户id查找得到医师id根据医师id查找医馆信息  -->
     <select id="getMedicalHospitalByMiddleUserId" parameterType="string" resultType="com.xczhihui.medical.hospital.model.MedicalHospital">
       select * from 
         medical_hospital where id =
  			 ( select hospital_id from medical_hospital_doctor 
   	   			 where doctor_id = 
   	   			   (select doctor_id from medical_doctor_account where account_id =#{userId} ))
     </select>
     
     <select id="getMedicalHospitalByUserId" parameterType="string" resultType="com.xczhihui.medical.hospital.model.MedicalHospital">
       select mh.* from 
         medical_hospital mh inner join 
          	medical_hospital_account mha on  mh.id = mha.doctor_id
          	  where account_id = #{userId}
     </select>
</mapper>