<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.department.mapper.MedicalDepartmentMapper">

	<select id="page" resultType="com.xczhihui.medical.department.model.MedicalDepartment">
		SELECT
		  md.id,
		  md.name,
		  COUNT(mdd.id) mc
		FROM
		  medical_department md
		  LEFT JOIN `medical_doctor_department` mdd
			ON md.id = mdd.`department_id`
		  LEFT JOIN `medical_doctor` mdo
			ON mdo.id = mdd.`doctor_id`
		GROUP BY md.`id`
		ORDER BY mc DESC
	</select>
</mapper>