<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.medical.hospital.mapper.MedicalHospitalMapper">

	<!-- 通用查询结果列-->
	<!--<sql id="Base_Column_List">-->
		<!--id, name, age-->
	<!--</sql>-->
	<select id="selectHospitalList" resultType="com.xczhihui.medical.hospital.model.MedicalHospital">
		select * from medical_hospital where deleted = 0 and status = 1
		<if test="name != null">
			and name like concat('%',#{name},'%')
		</if>
		order by score desc
	</select>

	<select id="selectRecHospital" resultType="com.xczhihui.medical.hospital.model.MedicalHospital">
		select
		  *
		from
		  medical_hospital
		where deleted = 0
		  and status = 1
		  and recommend = 1
		order by recommend_sort desc
		limit 0, 10
	</select>

	<select id="selectHospitalById" resultType="com.xczhihui.medical.hospital.model.MedicalHospital">
		select * from medical_hospital where deleted = 0 and status = 1 and id = #{id}
	</select>

</mapper>