*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	border: 0px;
	border: none;
}
.both{
	clear: both;
}

body{
	margin: 0 auto;
	width: 7.5rem;
	height: 100%;
	background: #F0F0F0;
}
/*头部区域开始*/
header{
	width: 7.5rem;
	height: .88rem;
	position: fixed;
	top: 0;
	z-index: 2;
}
.header{
	width: 7.5rem;
	height: 0.88rem;
	margin: 0 auto;
	/*background: #fff;*/
}
.return{
	width: .6rem;
	height: .6rem;
	float: left;
	margin-top: .15rem;
    margin-left: .26rem;
}
.return_class{
	width: .24rem;
    height: .36rem;
    margin-top: .24rem;
}
.share{
	width: .6rem;
	height: .6rem;
	float: right;
	margin-top: .15rem;
    margin-right: .2rem;
}
.share_class{
	width: .36rem;
    height: .36rem;
    margin-top: .25rem;
}
.advices{
	width: .6rem;
	height: .6rem;
	float: right;
	margin-top: .15rem;
    margin-right: .26rem;
    position: relative;
}
.advices_number{
	position: absolute;
	top: 0;
	right: -.1rem;
	background: #F97215;
	border-radius: 100px;
	font-size: .22rem;
	color: #FFFFFF;
	text-align: center;
	padding: 0 .08rem;
}
.news{
	width: .6rem;
	height: .6rem;
	float: right;
}
.news_class{
	width: .42rem;
    height: .42rem;
    margin-top: .09rem;
    /*background: url(/xcview/images/shop/newsbg.png) no-repeat;*/
}
.header_tab{
	overflow: hidden;
    /*background: red;*/
    width: 3rem;
    float: left;
    /* margin: 0 auto; */
    margin-left: 1.8rem;
    display: none;
}
.header_tab ul li{
	width: 0.6rem;
    height: .88rem;
    margin-left: .2rem;
    margin-right: .2rem;
    float: left;
    text-align: center;
}
.header_tab ul li a{
	width: 0.6rem;
    height: .88rem;
    line-height: .88rem;
    float: left;
    font-size: .28rem;
    color: #333333;
    margin: 0 auto;
    /* margin-left: .2rem; */
    /* margin-right: .2rem; */
    /* background: blue; */
    /* margin-left: .2rem; */
    /* margin-right: .2rem; */
    text-align: center;
}
.border_a{
	width: .6rem;
    height: .04rem;
    background: #F97215;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    display: none;
}
.li_a{
	color: #F97215 !important;
}

/*头部区域结束*/

/*轮播区域开始*/
.banner{
	width: 7.5rem;
	height: 7.5rem;
	margin: 0 auto;
	/*background: red;*/
}
.banner img{
	width: 7.5rem;
	height: 7.5rem;
}
.my-gallery {
	width: 100%;
	float: left;
}
.swiper-slide a{
	height: 7.5rem;
}
.my-gallery img {
	width: 100%;
	/*height: auto;*/
}
.my-gallery figure {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	width: 150px;
}
.my-gallery figcaption {
	display: none;
}

/****/
.swiper-container {
	width:100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size:1.0625rem;
	/*background:red;*/
	/* Center slide text vertically*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-pagination {
	/* height:50px;
	line-height:50px; */
	font-size: .2rem;
	color:#333;
	background:#fff;
	border: 1px solid #DEDEDE;
}
/*轮播区域结束*/

/*详情开始*/
.details{
	width: 7.5rem;
	margin: 0 auto;
	margin-bottom: .2rem;
	padding: .2rem 0;
	background: #fff;
}
.details_main{
	width: 6.98rem;
	margin: 0 auto;
}
.details_main .title{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .32rem;
	color: #333333;
}
.referral{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .24rem;
	color: #666666;
	margin-top: .06rem;
}
.price{
	margin-top: .15rem;
}
.ruling_price{
	font-size: .4rem;
	color: #F97215;
	float: left;
	margin-left: .26rem;
}
.original_price{
	font-size: .26rem;
	color: #999999;
	float: left;
	margin-top: .1rem;
	margin-left: .19rem;
	text-decoration: line-through;
}
.sold_out{
	font-size: .26rem;
	color: #999999;
	float: right;
	margin-top: .1rem;
	margin-right: .26rem;
}
/*详情结束*/

/*医师推荐开始*/
.physician_recommend{
	width: 7.5rem;
	margin: 0 auto;
	background: #fff;
	margin-bottom: .2rem;
	padding: .2rem 0;
	display: none;
}
.recommend_main{
	width: 6.98rem;
	margin: 0 auto;
}
.recommend{
	margin-bottom: .2rem;
}
.recommend span{
	float: left;
}
.recommend .title{
	font-size: .28rem;
	color: #333333;
}
.view_all{
	font-size: .26rem;
	color: #F97215;
	float: right !important;
}
.view_all img{
	width: .12rem;
	height: .24rem;
	vertical-align:middle;
}
.referrer{
	margin-bottom: .2rem;
}
.referrer:last-child{
	margin-bottom: 0;
}
.referrer_message{
	height: .8rem;
	line-height: .8rem;
	margin-bottom: .2rem;
}
.referrer_message .head_portrait{
	width: .8rem;
	height: .8rem;
	border-radius: 100px;
	margin-right: .2rem;
	float: left;
}
.referrer_message .name{
	font-size: .28rem;
	color: #666666;
	float: left;
	margin-right: .04rem;
	margin-left: .1rem;
}
.referrer_img{
	width: 6.98rem;
	height: 100%;
	margin: 0 auto;
}
.referrer_img img{
	width: 1.2rem;
	height: 1.2rem;
}
.recommendation_rate{
	font-size: .24rem;
	color: #999999;
	float: left;
}
.recommendation_rate .xingxing{
	width: 1.62rem;
	height: .24rem;
}
.referrer .center{
	font-size: .28rem;
	color: #333333;
}

/*医师推荐结束*/


/*评价开始*/
.evaluate{
	width: 7.5rem;
	margin: 0 auto;
	background: #fff;
	margin-bottom: .2rem;
	padding: .2rem 0;
	display: none;
}
.evaluate_main{
	width: 6.98rem;
	margin: 0 auto;
}
.evaluate_top{
	margin-bottom: .2rem;
}
.evaluate_top span{
	float: left;
}
.evaluate_top .title{
	font-size: .28rem;
	color: #333333;
}
.evaluate_view_all{
	font-size: .26rem;
	color: #F97215;
	float: right !important;
}
.evaluate_view_all img{
	width: .12rem;
	height: .24rem;
	vertical-align:middle;
}
.appraiser{
	margin-bottom: .2rem;
}
.appraiser:last-child{
	margin-bottom: 0;
}
.appraiser_message{
	height: .8rem;
	line-height: .8rem;
	margin-bottom: .2rem;
}
.appraiser_message .head_portrait{
	width: .8rem;
	height: .8rem;
	border-radius: 100px;
	margin-right: .2rem;
	float: left;
}
.appraiser_message .name{
	font-size: .28rem;
	color: #666666;
	float: left;
	margin-right: .04rem;
	margin-left: .1rem;
}
.appraiser .center{
	font-size: .28rem;
	color: #333333;
}
/*评价结束*/
/*商品详情开始*/
.commodity_details{
	width: 7.5rem;
	margin: 0 auto;
	background: #fff;
	padding: .2rem 0;
	margin-bottom: .2rem;
	display: none;
}
.commodity_details_main{
	width: 6.98rem;
	margin: 0 auto;
	overflow: hidden;
}
.commodity_details_main .title{
	font-size: .28rem;
	color: #333333;
	margin-bottom: .2rem;
}
.commodity_details_center{
	font-size: .28rem;
}
.commodity_details_center img{
	max-width: 6.98rem;
}
/*商品详情结束*/

/*常见问题开始*/
.FAQ{
	width: 7.5rem;
	margin: 0 auto;
	margin-bottom: .2rem;
	padding: .2rem 0;
	background: #fff;
}
.issue{
	width: 6.98rem;
	margin: 0 auto;
}
.issue .title{
	font-size: .28rem;
	color: #666666;
	margin-bottom: .2rem;
}
.issue_main ul li{
	font-size: .26rem;
	margin-bottom: 0.2rem;
}
.issue_main ul li:last-child{
	margin-bottom: 0;
}
.issue_main ul li .yuan{
	width: 6px;
    height: 6px;
    background: #F97215;
    display: -webkit-box;
    border-radius: 100px;
    float: left;
    margin-top: 0.13rem;
    margin-right: 0.1rem;
}
.issue_main ul li .center{
	margin-left: .2rem;
}
.hide_hide{
	width: 100%;
	height: .98rem;
}
/*常见问题结束*/

/*底部开始*/
.footer{
	position: fixed;
    bottom: 0;
	width: 7.5rem;
	height: .98rem;
	margin: 0 auto;
	background: rgba(250,250,250,0.98);
	box-shadow: 0 -1px 1px 0 #DEDEDE;
}
.footer .center{
	width: 6.98rem;
	height: 100%;
	margin: 0 auto;
}
.footer .service{
	width: 0.5rem;
    font-size: .2rem;
    color: #999999;
    float: left;
    text-align: center;
    margin-top: .12rem;
    margin-right: .6rem;
}
.footer .service img{
	width: .42rem;
	height: .42rem;
	display: block;
	margin: 0 auto;
	margin-bottom: .08rem;
}
.footer .shopping_cart{
	position: relative;
	width: .7rem;
    font-size: .2rem;
    color: #999999;
    float: left;
    text-align: center;
    margin-top: .12rem;
}
.footer .shopping_cart img{
	width: .42rem;
	height: .42rem;
	display: block;
	margin: 0 auto;
	margin-bottom: .08rem;
}
.footer .shopping_quantity{
	position: absolute;
    right: -.15rem;
    top: 0;
    background: #F97215;
    border-radius: 100px;
    font-size: .18rem;
    color: #fff;
    padding: 0 .1rem;
}
.footer .deal{
	width: 4.6rem;
	height: .72rem;
	line-height: .72rem;
	float: right;
	margin-top: 0.13rem;
}
.footer .add_cart{
	width: 50%;
	height: .72rem;
	text-align: center;
	font-size: .3rem;
	color: #FFFFFF;
	background: #F97215;
	border-radius: 36px 0 0 36px;
    float: left;
}
.footer .buy_now{
	width: 50%;
	height: .72rem;
	text-align: center;
	font-size: .3rem;
	color: #FFFFFF;
	background: #FF4012;
	border-radius: 0 36px 36px 0;
    float: right;
}
/*底部结束*/

/*点击购物车出现提示开始*/
.shopping_trolley{
	width: 100%;
	height: 100%;
	display: none;
}
.shopping_trolley_bg{
	position: fixed;
	top: 0;
	width: 7.5rem;
	height: 100%;
	background: #000;
	opacity: 0.3;
	z-index: 2;
}
.shopping_trolley_main{
	position: fixed;
    bottom: 0;
    z-index: 2;
    width: 7.5rem;
    /*height: 8.28rem;*/
    height: 7.68rem;
    margin: 0 auto;
    padding: .3rem 0;
    background: #FFFFFF;
    border-radius: 16px 16px 0 0;
}
.shopping_trolley_center{
	width: 7.5rem;
    height: 100%;
    margin: 0 auto;
    /*background: darkseagreen;*/
    position: relative;
}
.shopping_trolley .message{
	width: 6.98rem;
    height: 2rem;
    margin: 0 auto;
    margin-bottom: .3rem;
}
.surface_plot{
	float: left;
	width: 2rem;
	height: 2rem;
	display: inline-block;
	margin-right: .2rem;
}
.shopping_trolley_center .message .price{
	font-size: .28rem;
	color: #F97215;
	margin-top: 0;
	margin-bottom: 0.1rem;
	padding-top: 0.75rem;
}
.shopping_trolley_center .message .repertory{
	font-size: .26rem;
	color: #666666;
	margin-bottom: 0.1rem;
}
.shopping_trolley_center .message .category{
	overflow: hidden;
}
.shopping_trolley_center .message .category span{
	font-size: .26rem;
	color: #666666;
	display: inherit;
    float: left;
    margin-right: .2rem;
}
.category{
	overflow: hidden;
	position: absolute;
    top: 1.6rem;
    left: 2.45rem;
}
.category span{
	font-size: .26rem;
	color: #666666;
	display: inherit;
    float: left;
    margin-right: .2rem;
}
.shopping_trolley_center .specifications{
	width: 100%;
    overflow: hidden;
    margin-bottom: .2rem;
}
.shopping_trolley_center .specifications span{
	width: 6.98rem;
    margin: 0 auto;
	font-size: .26rem;
	color: #666666;
	margin-top: .2rem;
	margin-bottom: .2rem;
	display: inherit;
}
.shopping_trolley_center .specifications span:first-child{
	margin-top: 0;
}
.specifications_ul{
	width: 7.5rem;
	margin: 0 auto;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}
.specifications_ul li{
	padding: .1rem .24rem;
	border-radius: 100px;
    display: inline-block;
    float: left;
    margin: 0 .04rem .2rem .26rem;
    font-size: .24rem;
}
.specifications_ul .casing{
    color: #333333;
    background: #F0F0F0;
}
.public{
	color: #FFFFFF !important;
	background: #F97215 !important;
}
/* .casing_li{
	color: #FFFFFF !important;
	background: #F97215 !important;
} */
/*分类*/
.shopping_trolley_center .classify{
	width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: .28rem;
}
.shopping_trolley_center .classify span{
	width: 6.98rem;
    margin: 0 auto;
	font-size: .26rem;
	color: #666666;
	margin-bottom: .2rem;
	display: inherit;
}
.classify_ul{
	width: 6.98rem;
	margin: 0 auto;
}
.classify_ul li{
	font-size: .24rem;
	padding: .1rem .28rem;
	border-radius: 100px;
    display: inline-block;
    float: left;
    margin-right: .3rem;
    margin-bottom: .2rem;
}
.classify_ul .hue{
    color: #333333;
    background: #F0F0F0;
}
/* .hue_li{
	color: #FFFFFF !important;
    background: #F97215 !important;
} */
/*购买数量*/
.bottom_fiexd{
	width: 7.5rem;
	position: fixed;
	bottom: .2rem;
}
.shopping_trolley_center .buy{
	width: 6.98rem;
    height: .55rem;
    /*height: 1.52rem;*/
    line-height: .55rem;
    margin: 0 auto;
    overflow: hidden;
    /*background: #ddc2c2;*/
    margin-bottom: .33rem;
}
.shopping_trolley_center .purchase_quantity{
	font-size: .26rem;
	color: #666666;
	float: left;
}
.shopping_trolley_center .determine{
	width: 6.98rem;
	height: .72rem;
	line-height: .72rem;
	margin: 0 auto;
	background: #F97215;
	border-radius: 100px;
	font-size: .3rem;
	color: #FFFFFF;
	text-align: center;
}
/*点击购物车出现提示开始*/

/*点击分享提示开始*/
.weixin_ceng {
    width: 100%;
    height: 100%;
    display: none;
}
.weixin_ceng_bg {
    width: 7.5rem;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 999999999999999;
    margin-left: -3.75rem;
}
.weixin_img {
    position: fixed;
    z-index: 99999999999;
    top: 0rem;
    left: 50%;
    width: 7.5rem;
    height: 100%;
    margin-left: -3.75rem;
}
.weixin_img img {
    position: absolute;
    top: 0rem;
    right: 0.26rem;
    width: 3rem;
    z-index: 99999999999;
}
/*点击分享提示结束*/


/*评价查看大图开始*/
.figure_big{
	width: 1.2rem !important;
	height: 1.2rem !important;
}
.figure_big div{
	width: 1.2rem !important;
	height: 1.2rem !important;
}
/*评价查看大图开始*/

/*暂无推荐*/
/*.no_recommendation{
	width: 100%;
	font-size: .26rem;
	color: #666666;
	text-align: center;
	display: none;
}*/
/*暂无评价*/
.no_evaluation{
	width: 100%;
	font-size: .26rem;
	color: #666666;
	text-align: left;
    text-indent: .26rem;
	display: none;
}
