*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	border: 0px;
	border: none;
}
.both{
	clear: both;
}

body{
	margin: 0 auto;
	width: 7.5rem;
	height: 100%;
	background: #F0F0F0;
}
/*头部区域开始*/
header{
	margin: 0 auto;
    padding-top: .14rem;
    width: 7.5rem;
    height: .74rem;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 21;
    background: rgba(250,250,250,0.98);
}
.header{
	/*margin: 0 auto;*/
	/*margin-top: .14rem;*/
	width: 6.26rem;
	height: .6rem;
	background: #F0F0F0;
	border-radius: 100px;
	margin-left: 0.26rem;
	float: left;
}
.header img{
	width: .36rem;
	height: .36rem;
	float: left;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
}
.header span{
	float: left;
	height: .6rem;
    line-height: .6rem;
	font-size: .26rem;
	color: #999999;
	margin-left: .18rem;
}
.header_hidden_field{
	width: 100%;
	height: 0.88rem;
}
.advices{
	width: .36rem;
	height: .36rem;
	float: right;
	margin-top: .15rem;
    margin-right: .26rem;
    position: relative;
    float: right;
}
.news{
	width: .36rem;
	height: .36rem;
	float: right;
}
.advices_number{
	position: absolute;
	top: -.18rem;
    right: -.1rem;
	background: #F97215;
	border-radius: 100px;
	font-size: .22rem;
	color: #FFFFFF;
	text-align: center;
	padding: 0 .08rem;
}
/*头部区域结束*/
/*轮播区域开始*/
.banner{
	margin: 0 auto;
	width: 7.5rem;
	height: 3.02rem;
	/*background: red;*/
    position: relative;
    overflow: hidden;
}
/*轮播开始*/
.swiper-container{
	width: 7.5rem !important;
	height: 3.02rem !important;
}
.swiper-slide{
	 width: 7.5rem !important;
}
.swiper-slide img{
	 width: 7.5rem;
}
.swiper-pagination {
	text-align: right;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
	margin-right: 0.26rem;
	width: 0.22rem !important;
    border-radius: 8px !important;
    height: 0.06rem !important;
}
.swiper-slide img{
	width: 100%;
    height: 100%;
}
.swiper-pagination-bullet-active{
	background: #00bc12;
    width: 0.22rem;
    height: .06rem;
    border-radius: 10px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
} 
.pagination {
	position: absolute;
	z-index: 20;
	bottom: -.1rem;
	text-align: center;
	width: 3rem;
	left: 50%;
	margin-left: -1.5rem;
}
.swiper-pagination-bullet{
	width: 0.22rem;
    height: .06rem;
    margin-right: 0.08rem;
}
/*轮播结束*/

/*tab选项开始*/
#mainMenuBar {
	width:100%;
	background-color:white;
	z-index:100;
}
.stick {
	position:fixed;
	top: .88rem;
	margin-bottom: 0;
}
.default_click{
	color: #F97215 !important;
}
.option{
	width: 7.5rem;
	height: .9rem;
	line-height: .9rem;
    background: #fff;
    /*margin-bottom: .14rem;*/
}
.option ul li{
	float: left;
    /* margin-left: .11rem;
    margin-right: .1rem;
    width: 1.6rem; */
    width: 1.85rem;
    font-size: .28rem;
    /* color: #F97215; */
    color: #666;
    text-align: center;
}
.option ul li img{
	width: .32rem;
	height: .32rem;
	vertical-align:middle;
    margin-right: 0.08rem;
    margin-top: -.01rem;
}
.low_to_high{
	display: none;
}
.down{
	display: none;
}
.option_newest_width{
	/*width: 1.6rem !important;*/
}
.option_recommend_width{
	/*width: 1.7rem !important;*/
}
.option_hottest_width{
	/*width: 1.7rem !important;*/
}
.option_price_width{
	/*width: 2.2rem !important;*/
}
.down_width{
	/*width: 2.2rem !important;*/
}
.low_to_high_width{
	/*width: 2.2rem !important;*/
}
/*tab选项结束*/

/*中间内容开始*/
.main_center{
	width: 7.5rem;
	height: 100%;
	margin: 0 auto;
	margin-top: .14rem;
	overflow: hidden;
}
.main_center ul li{
	width: 3.68rem;
	height: 5.94rem;
	float: left;
	background: #fff;
	margin-bottom: .14rem;
}
.main_center ul li:nth-child(even) {
    float: right;
}
.surface_plot{
	width: 3.68rem;
	height: 3.68rem;
	margin-bottom: .2rem;
	display: block;
}
.list .title{
	width: 3.3rem;
	height: 0.4rem;
	line-height: .74rem;
	margin: 0 auto;
	margin-bottom: .2rem;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .26rem;
	color: #333333;
}
.list .price{
	width: 3.3rem;
	margin: 0 auto;
	margin-bottom: 0.1rem;
	font-size: .3rem;
	color: #F97215;
	font-family: "Helvetica";
}
.list .price span{
	font-family: "Helvetica";
}
.referrer{
	width: 3.3rem;
	height: .4rem;
	line-height: .4rem;
	margin: 0 auto;
	font-size: .24rem;
	color: #999999;
}
.referrer img{
	width: .4rem;
	height: .4rem;
	border-radius: 100px;
	margin-right: 0.1rem;
	vertical-align:middle;
}
.hidden_field{
	width: 100%;
	height: .98rem;
}
/*中间内容结束*/

/*底部区域开始*/
.footer {
    width: 7.5rem;
    height: 1rem;
    background: #fff;
    /* background: red; */
    position: fixed;
    bottom: 0;
    border-top: 1px solid #d8dde6;
    left: 50%;
    margin-left: -3.75rem;
}
.footer ul li {
    width: 0.78rem;
    float: left;
    text-align: center;
    margin-left: 0.6rem;
}
.footer ul li a {
    display: block;
    width: 0.486rem;
    height: 0.42rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.06rem;
    margin-top: 0.14rem;
}
.footer ul li p {
    width: 100%;
    color: #999; 
    font-size: 0.2rem;
    text-align: center;
}
.footer_one {
    background: url(/xcview/images/school_one.png) no-repeat center;
    background-size: 0.48rem 0.37rem;
}
.footer_two {
    background: url(/xcview/images/shop/shops.png) no-repeat center;
    background-size: 0.4rem 0.4rem;
}
/*底部区域结束*/
