<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.course.mapper.LineApplyMapper">

	
    <select id="findLineApplyByUserId" resultType="com.xczhihui.course.model.LineApply" >
		SELECT
		   *
		FROM
		  oe_line_apply ola 
		where ola.user_id = #{userId}  and ola.is_delete = 0
	</select>
	
</mapper>