<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xczhihui.course.mapper.MobileProjectMapper">
	<resultMap type="com.xczhihui.course.model.MobileProject" id="MobileProjectBaseResult">
		<id column="id" property="id" />
		<id column="create_person" property="createPerson" />
		<id column="create_time" property="createTime" />
		<id column="is_delete" property="isDelete" />
		<id column="name" property="name" />
		<id column="icon" property="icon" />
		<id column="sort" property="sort" />
		<id column="status" property="status" />
		<id column="remark" property="remark" />
		<id column="link_type" property="linkType" />
		<id column="link_condition" property="linkCondition" />
		<id column="type" property="type" />
		<id column="start_time" property="startTime" />
		<id column="end_time" property="endTime" />
		<id column="click_num" property="clickNum" />
	</resultMap>
	<select id="selectMobileProjectPage" resultMap="MobileProjectBaseResult">
		SELECT
		  op.*
		FROM
		  oe_project op
		WHERE op.status = 1
		AND op.is_delete = 0
		<if test="type != null and type != ''">
			and op.type = #{type}
		</if>
		ORDER BY op.sort ASC

	</select>		  
</mapper>