*{margin: 0; padding: 0;}
body{ 
	font-family: "Baskerville Old Face", "Microsoft Yahei", "Hiragino Sans GB", sans-serif !important; 
	font-size: 14px;
	background: #F8F8F8;
	color: #333;
}
ul{margin: 0;}
p{margin: 0;}
a:hover{text-decoration: none;}
.z{float: left;}
.y{float: right;}
.wp{width: 1200px; margin: 0 auto;}
.wrap-screen{
	width: 100%;
	background: white;
	margin-top: 20px;
}
.class-title{
	font-size: 16px;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #f0f0f0;
}
/*课程列表*/
.wrap-list{
	padding: 0 20px;
}
.select-all li{
	overflow: hidden;
	height: 50px;
	border-bottom: 1px dashed #f0f0f0;
}
.select-all dl{
	float: left;
	line-height: 50px;
	margin-bottom: 0;
}
.select-all dt{
	float: left;
		width: 65px;
	text-align: right;
	margin-right: 20px;
	color: #999999;
	font-weight: normal;
	line-height: 50px;
}
.select-all dd{
	float: left;
	margin-right: 50px;
	line-height: 50px;
	cursor: pointer;
}
.selected{
	color: #00BC12;
}
#select-condition span{
	float: left;
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}
#select-condition dd{
	    width: 113px;
}
#select-condition dd .wrap-border{
    border: 1px solid #dedede;
    width: 113px;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    box-sizing: border-box;
    margin-top: 15px;
}
#select-condition .select-text{
	width: 60px;
	display: inline-block;
	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
 	margin-left: 3px;
 	color: #00BC12;
}
#select-condition .select-close{
	color: #00BC12;
	float: right;
	margin-right: 3px;
	margin-top: -1px;
	cursor: pointer;
}
#select-condition dd{
	cursor:default;
	margin-right: 20px;
}
#select-condition .select-close:hover{
	transform: scale(1.3);
}
.author-search{
	border: 1px solid #dedede;
    width: 113px;
    height: 22px;
    margin-top: 15px;
}
#search-text{
	outline: none;
	 width: 87px;
    height: 20px;
    border: 0;
    padding-left: 3px;
    font-size: 12px;
}
.author-search button{
	background: transparent;
	width: 22px;
	height: 20px;
	border: 0;
	outline: none;
	float: right;
	background: url(../../images/search.png) no-repeat center;
	background-color: #D8D8D8;
}
/*综合排序,最新,人气价格*/
.wrap-tab{
	width: 100%;
	height: 40px;
	background: white;
	line-height: 39px;
	padding: 0 20px;
	margin-top: 20px;
	border-bottom: 1px solid #F0F0F0;
}
.wrap-tab ul li{
	float: left;
	margin-right: 60px;
	cursor: pointer;
}
.tab-price{
	width: 50px;
	height: 39px;
	background: #dedede;
	position: relative;
	cursor: pointer;
}
/*视频样式*/
.wrap-video{
	width: 100%;
	padding: 0 0 60px 30px;
	background: white;
	overflow: hidden;
}
.main .wrap-video .course {
    margin: 25px 33px 0 0;
    position: relative;
    width: 260px;
    float: left;
    height: 253px;
    margin-top: 25px;
}
.main .wrap-video .course:nth-child(4n){
    margin-right: 0px;
}
.main .wrap-video > div > a {
    background: white;
    width: 260px;
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
    -webkit-box-shadow: 1px 1px 2px 1px #ECECEC;
    -moz-box-shadow: 1px 1px 2px 1px #ECECEC;
    box-shadow: 1px 1px 2px 1px #ECECEC;
}
.main .wrap-video .course .img{
	text-align: center;
    line-height: 161px;
    width: 260px;
    height: 161px;
    background-color: #f0f0f0;
    background-image: url(../images/load26.gif);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}	  
.main .wrap-video .course .img img{
	 -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
.main .wrap-video .course .img img:hover{
	transform: scale(1.2);
}
.main .wrap-video .course .img img{
	width: 100%;
	height: 100%;
}
.main .wrap-video .course .classCategory {
    height: 22px;
    padding: 0 5px;
    text-align: center;
    line-height: 22px;
    color: white;
    background: #2cb82c url(../images/index/label.png) no-repeat left top;
    position: absolute;
    right: 18px;
    font-size: 12px;
    top: -2px;
}
.main .wrap-video > div > a .detail {
    width: 261px;
    height: 90px;
    padding: 10px 10px 15px;
    border: 1px solid #e4e4e4;
    border-top: none;
    box-sizing: border-box;
    overflow: hidden;
}
.main .wrap-video > div > a .detail .title {
    max-width: 260px;
    /* height: 30px; */
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main .wrap-video > div > a .detail .timeAndTeac {
    display: block;
    margin: 2px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main .wrap-video > div > a .detail .timeAndTeac span {
    font-size: 12px;
    color: #999;
}
.main .wrap-video > div > a .detail .timeAndTeac span {
    font-size: 12px;
    color: #999;
}
.main .wrap-video > div > a .detail .info > span:nth-child(1) {
    float: left;
}
.main .wrap-video > div > a .detail .info .price {
    display: inline-block;
    margin: 0 3px 0 0;
    font-size: 16px;
    color: #F97B49;
}
.main .wrap-video > div > a .detail span {
    color: #999;
}
.main .wrap-video > div > a .detail .info > span:nth-child(2) {
    float: right;
}
/*视频样式结束*/
