*{margin: 0; padding: 0;}
body{ 
	font-family:"Microsoft Yahei", "Hiragino Sans GB", sans-serif !important; 
	font-size: 14px;
	background: #F8F8F8;
	
}
a:link{text-decoration:none; } 
a:hover{text-decoration: none;}

p{margin-bottom: 0;}
.cl{clear: both;}
.z{float: left;}
.y{float: right;}
.wp{width: 1200px; margin: 0 auto; color: #999999;}
.main-top{
	width: 100%;
	background: white;
	padding: 30px;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 20px;
}
.main-top h4{
	color: #333333;
	margin-top: 0;
}
.order-number{
	margin: 20px 0;
}
.class-details{
	margin-bottom: 20px;
	overflow: hidden;
}
.class-details li{
	float: left;
	height: 60px;
	line-height: 60px;
	
}
.class-details li img{
	width: 106px;
	height: 60px;
	margin-right: 8px;
}
.pay-money span{
	font-size: 20px;
	color: #F97B49;	
	margin-right: 5px;
}
.main-bottom{
	width: 100%;
	background: white;
	padding: 30px;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 20px;
}
.main-bottom h4{
	color: #333333;	
	margin: 0 0 20px;
}
.select-pay li{
	width: 120px;
	height: 50px;
	border: 1px solid #DEDEDE;
	color: #666666;
	line-height: 50px;
	position: relative;
	float: left;
	cursor: pointer;
	margin-right: 20px;
}
.select-pay .pay-logo{
	width: 30px;
	height: 30px;
	position: absolute;
}
.select-pay .pay-logo img{
	width: 30px;
	height: 30px;
	display: block;
	margin: 10px 0 0 18px;
}
.select-pay p{
	text-align: center;
	float: right;
	margin-right: 18px;
}
.icon-sure {
	width: 22px;
	height: 22px;
	background: url(../../images/sanjiao.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;

}

.select-pay .select-confirm{
	border: 1px solid #F97B49;
}
.main-bottom .balance{
	padding-top: 20px;
}
.recharge-box button{
	padding: 10px;
	color: white;
	background: #F97B49;
	border: 0;
	outline: none;
	font-size: 20px;
	margin-top: 30px;
	
}
.pay-box button{
	padding: 10px 50px;
	color: white;
	background: #F97B49;
	border: 0;
	outline: none;
	font-size: 20px;
	margin-top: 30px;
}
.agreement-box{
	margin-top: 20px;
}
.agreement-box p {
	display: inline-block;
}
.agreement-box p span{
	display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    cursor: pointer;
    margin-left: 5px;
}
   
.agreement-box p em{
	    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url(../../images/130/select14_click.png) no-repeat;
}   
.agreement-box .agreement-content{
	vertical-align: middle;
    margin-top: -7px;
    display: inline-block;
    display: -webkit-inline-box;

}
.agreement-box .agreement-content a{
	color: #00a7ff;
}
    