*{margin: 0; padding: 0;}
body{ 
	font-family:"Microsoft Yahei", "Hiragino Sans GB", sans-serif !important; 
	font-size: 14px;
	background: #F8F8F8;
	
}
a:link{text-decoration:none; } 
a:hover{text-decoration: none;}

p{margin-bottom: 0;}
.cl{clear: both;}
.z{float: left;}
.y{float: right;}
.wp{width: 1200px; margin: 0 auto; color: #333333;}
.main-top{
	width: 100%;
	background: white;
	overflow: hidden;
	margin-top: 20px;
	padding-bottom: 30px;
}
.buy-icon{
	width: 100%;
	height: 70px;
	background: #fff6f3;
}
.buy-icon img{
	widows: 30px;
	margin: 20px 10px 0 20px;
	float: left;
}
.buy-icon span{
	float: left;
	margin-top: 27px;
	font-size: 16px;
}
.buy-information{
	width: 1060px;
	height: 70px;
	line-height: 70px;
	margin: 20px auto;
	position: relative;
	overflow: hidden;

}
.cover-img{
	width: 124px;
	height: 70px;
	margin-right: 20px;
	
}
.cover-img img{
	width: 124px;
	height: 70px;
	display: block;

}
.go-play {
	position: absolute;
	top: 0px;
	right: 0;
}
.go-play button{
	width: 82px;
	height: 36px;
	line-height: 36px;
	border-radius: 4px;
	background: #00BC12;
	color: white;
	outline: none;
	border: 0;
}
.study-core{
	margin: 0 70px;
}
.study-core a{
	color: #20c530;

}
.class-list a{
	color: #20c530;	
}
