@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dwnx8s');
  src:  url('fonts/icomoon.eot?dwnx8s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dwnx8s') format('truetype'),
    url('fonts/icomoon.woff?dwnx8s') format('woff'),
    url('fonts/icomoon.svg?dwnx8s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-icon-"], [class*=" icomoon-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-icon-dingdan:before {
  content: "\e900";
}
.icomoon-icon-dongtai:before {
  content: "\e901";
}
.icomoon-icon-gonggao:before {
  content: "\e902";
}
.icomoon-icon-healthy:before {
  content: "\e903";
}
.icomoon-icon-huifu:before {
  content: "\e904";
}
.icomoon-icon-meiti:before {
  content: "\e905";
}
.icomoon-icon-shang:before {
  content: "\e906";
}
.icomoon-icon-shipin:before {
  content: "\e907";
}
.icomoon-icon-shoutu:before {
  content: "\e908";
}
.icomoon-icon-wenda:before {
  content: "\e909";
}
.icomoon-icon-woshiyishi:before {
  content: "\e90a";
}
.icomoon-icon-xia:before {
  content: "\e90b";
}
.icomoon-icon-xuetang:before {
  content: "\e90c";
}
.icomoon-icon-xuexi:before {
  content: "\e90d";
}
.icomoon-icon-yazhuanlan:before {
  content: "\e90e";
}
.icomoon-icon-yiguan:before {
  content: "\e90f";
}
.icomoon-icon-yishirenzheng:before {
  content: "\e910";
}
.icomoon-icon-zan:before {
  content: "\e911";
}
.icomoon-icon-zhaopian:before {
  content: "\e912";
}
.icomoon-icon-zhaopin:before {
  content: "\e913";
}
.icomoon-icon-zhuanlan:before {
  content: "\e914";
}
.icomoon-icon-zhuzuo:before {
  content: "\e915";
}
.icomoon-icon-zichan:before {
  content: "\e916";
}
.icomoon-icon-ziliao:before {
  content: "\e917";
}
